WmFIN/config/schemas/camt/camt_046_001_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.046.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.046.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AccountIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="IBAN" type="IBANIdentifier"/>
<xs:element name="BBAN" type="BBANIdentifier"/>
<xs:element name="UPIC" type="UPICIdentifier"/>
<xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="BBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CashClearingSystem1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ABE"/>
<xs:enumeration value="ART"/>
<xs:enumeration value="AVP"/>
<xs:enumeration value="AZM"/>
<xs:enumeration value="BAP"/>
<xs:enumeration value="BEL"/>
<xs:enumeration value="BOF"/>
<xs:enumeration value="BRL"/>
<xs:enumeration value="CAD"/>
<xs:enumeration value="CAM"/>
<xs:enumeration value="CBJ"/>
<xs:enumeration value="CHP"/>
<xs:enumeration value="DKC"/>
<xs:enumeration value="RTP"/>
<xs:enumeration value="EBA"/>
<xs:enumeration value="ELS"/>
<xs:enumeration value="ERP"/>
<xs:enumeration value="XCT"/>
<xs:enumeration value="HRK"/>
<xs:enumeration value="HRM"/>
<xs:enumeration value="HUF"/>
<xs:enumeration value="LGS"/>
<xs:enumeration value="LVL"/>
<xs:enumeration value="MOS"/>
<xs:enumeration value="MUP"/>
<xs:enumeration value="NOC"/>
<xs:enumeration value="PCH"/>
<xs:enumeration value="PDS"/>
<xs:enumeration value="PEG"/>
<xs:enumeration value="PNS"/>
<xs:enumeration value="PVE"/>
<xs:enumeration value="SEC"/>
<xs:enumeration value="SIT"/>
<xs:enumeration value="SLB"/>
<xs:enumeration value="SPG"/>
<xs:enumeration value="SSK"/>
<xs:enumeration value="TBF"/>
<xs:enumeration value="TGT"/>
<xs:enumeration value="TOP"/>
<xs:enumeration value="FDW"/>
<xs:enumeration value="BOJ"/>
<xs:enumeration value="FEY"/>
<xs:enumeration value="ZEN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.046.001.01" type="camt.046.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="IBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="QueryType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ALLL"/>
<xs:enumeration value="CHNG"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RequestedIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="ReservationCriteria1">
<xs:sequence>
<xs:element name="NewQryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SchCrit" type="ReservationSearchCriteria1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RtrCrit" type="ReservationReturnCriteria" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReservationCriteriaDefinition1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="QryNm" type="Max35Text"/>
<xs:element name="NewCrit" type="ReservationCriteria1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReservationQueryDefinition1">
<xs:sequence>
<xs:element name="QryTp" type="QueryType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="RsvatnCrit" type="ReservationCriteriaDefinition1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReservationReturnCriteria">
<xs:sequence>
<xs:element name="StartDtTmInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="StsInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReservationSearchCriteria1">
<xs:sequence>
<xs:element name="SysId" type="SystemIdentificationChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="DfltRsvatnTp" type="ReservationType1Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CurRsvatnTp" type="ReservationType1Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="AcctOwnr" type="BICIdentifier" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctId" type="AccountIdentification1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ReservationType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CARE"/>
<xs:enumeration value="UPAR"/>
<xs:enumeration value="NSSR"/>
<xs:enumeration value="HPAR"/>
<xs:enumeration value="THRE"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SystemIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="ClrSysId" type="CashClearingSystem1Code"/>
<xs:element name="Ctry" type="CountryCode"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="UPICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{8,17}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="camt.046.001.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="RsvatnQryDef" type="ReservationQueryDefinition1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
