WmFIN/config/schemas/camt/camt_007_001_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.007.001.02" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.007.001.02">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateTimePeriodChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
<xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateTimePeriodDetails">
<xs:sequence>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.007.001.02" type="camt.007.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="ImpliedCurrencyAndAmount">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Instruction1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="PBEN"/>
<xs:enumeration value="TTIL"/>
<xs:enumeration value="TFRO"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max3NumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max4AlphaNumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentDetails4">
<xs:sequence>
<xs:element name="Instr" type="Instruction1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtTp" type="PaymentType2Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="Prty" type="PriorityCodeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrcgVldtyTm" type="DateTimePeriodChoice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentIdentification2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="PmtInstrRef" type="Max35Text"/>
<xs:element name="QId" type="QueueTransactionIdentificationDetails"/>
<xs:element name="LngBizId" type="PaymentInstructionReferenceDetails3"/>
<xs:element name="ShrtBizId" type="PaymentInstructionReferenceDetails2"/>
<xs:element name="PrtryRef" type="Max70Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentInstructionReferenceDetails2">
<xs:sequence>
<xs:element name="PmtInstrRef" type="Max35Text"/>
<xs:element name="IntrBkValDt" type="ISODate"/>
<xs:element name="InstgAgtId" type="BICIdentifier"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentInstructionReferenceDetails3">
<xs:sequence>
<xs:element name="PmtInstrRef" type="Max35Text"/>
<xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
<xs:element name="IntrBkValDt" type="ISODate"/>
<xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="InstgAgtId" type="BICIdentifier"/>
<xs:element name="InstdAgtId" type="BICIdentifier"/>
<xs:element name="RltdRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PaymentInstrument1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BDT"/>
<xs:enumeration value="BCT"/>
<xs:enumeration value="CDT"/>
<xs:enumeration value="CCT"/>
<xs:enumeration value="CHK"/>
<xs:enumeration value="BKT"/>
<xs:enumeration value="DCP"/>
<xs:enumeration value="CCP"/>
<xs:enumeration value="RTI"/>
<xs:enumeration value="CAN"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PaymentOrigin1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="FINMT" type="Max3NumericText"/>
<xs:element name="XMLMsgNm" type="Max35Text"/>
<xs:element name="Prtry" type="Max35Text"/>
<xs:element name="Instrm" type="PaymentInstrument1Code"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentType2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="PmtTp" type="PaymentType3Code"/>
<xs:element name="PrtryPmtTp" type="Max4AlphaNumericText"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PaymentType3Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CBS"/>
<xs:enumeration value="BCK"/>
<xs:enumeration value="BAL"/>
<xs:enumeration value="CLS"/>
<xs:enumeration value="CTR"/>
<xs:enumeration value="CBH"/>
<xs:enumeration value="CBP"/>
<xs:enumeration value="DPG"/>
<xs:enumeration value="DPN"/>
<xs:enumeration value="EXP"/>
<xs:enumeration value="TCH"/>
<xs:enumeration value="LMT"/>
<xs:enumeration value="LIQ"/>
<xs:enumeration value="DPP"/>
<xs:enumeration value="DPH"/>
<xs:enumeration value="DPS"/>
<xs:enumeration value="STF"/>
<xs:enumeration value="TRP"/>
<xs:enumeration value="TCS"/>
<xs:enumeration value="LOA"/>
<xs:enumeration value="LOR"/>
<xs:enumeration value="TCP"/>
<xs:enumeration value="OND"/>
<xs:enumeration value="MGL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Priority1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="HIGH"/>
<xs:enumeration value="NORM"/>
<xs:enumeration value="LOWW"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PriorityCodeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Cd" type="Priority1Code"/>
<xs:element name="PrtryCd" type="Max4AlphaNumericText"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueueTransactionIdentificationDetails">
<xs:sequence>
<xs:element name="QId" type="Max16Text"/>
<xs:element name="PosInQ" type="Max16Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="camt.007.001.02">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="InstrRef" type="PaymentIdentification2Choice"/>
<xs:element name="NewPmtValSet" type="PaymentDetails4"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
