WmFIN/config/schemas/camt/camt_013_001_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.013.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.013.001.01">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="AustrianBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AT[0-9]{5,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSParticipantIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CP[0-9]{4,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSUniversalIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CH[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CanadianPaymentsARNIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CA[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ClearingSystemMemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
<xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
<xs:element name="IENSC" type="IrishNSCIdentifier"/>
<xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
<xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
<xs:element name="CHBC" type="SwissBCIdentifier"/>
<xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
<xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
<xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
<xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
<xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
<xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
<xs:element name="CHSIC" type="SwissSICIdentifier"/>
<xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
<xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
<xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
<xs:element name="HKNCC" type="HongKongBankIdentifier"/>
<xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
<xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.013.001.01" type="camt.013.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ExtensiveBranchNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FedwireRoutingNumberIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="FW[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="GermanBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="BL[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="HongKongBankIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="HK[0-9]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IrishNSCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IE[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ItalianDomesticIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IT[0-9]{10,10}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MemberCriteria">
<xs:sequence>
<xs:element name="NewQryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SchCrit" type="MemberSearchCriteria" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RtrCrit" type="MemberReturnCriteria" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MemberCriteriaDefinitionChoice">
<xs:sequence>
<xs:choice>
<xs:element name="QryNm" type="Max35Text"/>
<xs:element name="NewCrit" type="MemberCriteria"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="BIC" type="BICIdentifier"/>
<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MemberQueryDefinition">
<xs:sequence>
<xs:element name="QryTp" type="QueryType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="MmbCrit" type="MemberCriteriaDefinitionChoice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MemberReturnCriteria">
<xs:sequence>
<xs:element name="NmInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="MmbRtrAdrInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="TpInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="StsInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="CtctRefInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="ComAdrInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MemberSearchCriteria">
<xs:sequence>
<xs:element name="Id" type="MemberIdentificationChoice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Tp" type="MemberType1Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Sts" type="MemberStatus1Code" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="MemberStatus1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ENBL"/>
<xs:enumeration value="DSBL"/>
<xs:enumeration value="DLTD"/>
<xs:enumeration value="JOIN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="MemberType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DRCT"/>
<xs:enumeration value="IDRT"/>
<xs:enumeration value="RMTE"/>
<xs:enumeration value="EURO"/>
<xs:enumeration value="STEP"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NewZealandNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="NZ[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PortugueseNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="PT[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="QueryType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ALLL"/>
<xs:enumeration value="CHNG"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RequestedIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="RU[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SmallNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SouthAfricanNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ZA[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SpanishDomesticInterbankingIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ES[0-9]{8,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissBCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{3,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissSICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UKDomesticSortCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SC[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="camt.013.001.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="MmbQryDef" type="MemberQueryDefinition" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
