WmFIN/config/schemas/camt/camt_021_001_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.021.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.021.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="BusinessInformation">
<xs:sequence>
<xs:element name="GnlBizRpt" type="GeneralBusinessReport" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.021.001.01" type="camt.021.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ErrorHandling2">
<xs:sequence>
<xs:element name="ErrCd" type="Max4AlphaNumericText"/>
<xs:element name="Desc" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GeneralBusinessInformation">
<xs:sequence>
<xs:element name="Qlfr" type="InformationQualifierType" minOccurs="0" maxOccurs="1"/>
<xs:element name="Sbjt" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SbjtDtls" type="Max350Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GeneralBusinessReport">
<xs:sequence>
<xs:element name="BizInfRef" type="Max35Text"/>
<xs:choice>
<xs:element name="BizErr" type="ErrorHandling2"/>
<xs:element name="GnlBizInf" type="GeneralBusinessInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InformationQualifierType">
<xs:sequence>
<xs:element name="IsFrmtd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="Prty" type="Priority1Code" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max350Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="350"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max4AlphaNumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Priority1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="HIGH"/>
<xs:enumeration value="NORM"/>
<xs:enumeration value="LOWW"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="QueryReference">
<xs:sequence>
<xs:element name="QryRef" type="Max35Text"/>
<xs:element name="QryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.021.001.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="BizQryRef" type="QueryReference" minOccurs="0" maxOccurs="1"/>
<xs:choice>
<xs:element name="OprlErr" type="ErrorHandling2"/>
<xs:element name="BizRpt" type="BusinessInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:schema>
