WmFIN/config/schemas/camt/camt_025_001_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.025.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.025.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="AdditionalReferences">
<xs:sequence>
<xs:element name="Ref" type="Max35Text"/>
<xs:element name="MsgNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="RefIssr" type="PartyIdentification" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.025.001.01" type="camt.025.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max4AlphaNumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification">
<xs:sequence>
<xs:element name="Nm" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RequestHandling">
<xs:sequence>
<xs:element name="StsCd" type="Max4AlphaNumericText"/>
<xs:element name="Desc" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="camt.025.001.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="RltdRef" type="AdditionalReferences"/>
<xs:element name="ReqHdlg" type="RequestHandling" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
