WmFIN/config/schemas/camt/camt_003_002_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Schema version 4.1 - Generated by SWIFTStandards Workstation (build:R4.1.2.16) on 2004 Mar 19 11:40:58-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:service.name$camt.003.002.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:service.name$camt.003.002.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.003.002.01" type="camt.003.002.01"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="camt.003.002.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="AcctQryDef" type="AccountQueryDefinition1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountQueryDefinition1">
<xs:sequence>
<xs:element name="QryTp" type="QueryType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctCrit" type="AccountCriteriaDefinition1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountCriteriaDefinition1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="QryNm" type="Max35Text"/>
<xs:element name="NewCrit" type="AccountCriteria1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="QueryType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ALLL"/>
<xs:enumeration value="CHNG"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AccountCriteria1">
<xs:sequence>
<xs:element name="NewQryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SchCrit" type="CashAccountSearchCriteria1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashAccountSearchCriteria1">
<xs:sequence>
<xs:element name="AcctId" type="AccountIdentification1Choice" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="Tp" type="CashAccountType1Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Ccy" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Bal" type="BalanceDetails1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BalanceDetails1">
<xs:sequence>
<xs:element name="BalTp" type="BalanceType1Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="BalValDt" type="DateAndDateTimeSearchChoice" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateAndDateTimeSearchChoice">
<xs:sequence>
<xs:choice>
<xs:element name="DtTmSch" type="DateTimePeriodChoice"/>
<xs:element name="DtSch" type="DateSearchChoice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateSearchChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDt" type="ISODate"/>
<xs:element name="ToDt" type="ISODate"/>
<xs:element name="FrToDt" type="DatePeriodDetails"/>
<xs:element name="EQDt" type="ISODate"/>
<xs:element name="NEQDt" type="ISODate"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DatePeriodDetails">
<xs:sequence>
<xs:element name="FrDt" type="ISODate"/>
<xs:element name="ToDt" type="ISODate"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:complexType name="DateTimePeriodChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
<xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateTimePeriodDetails">
<xs:sequence>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="BalanceType1Code">
<xs:restriction base="BalanceTypeCode">
<xs:enumeration value="BOOK"/>
<xs:enumeration value="AVLB"/>
<xs:enumeration value="XPCD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BalanceTypeCode">
<xs:restriction base="xs:string">
<xs:enumeration value="OPNG"/>
<xs:enumeration value="INTM"/>
<xs:enumeration value="CLSG"/>
<xs:enumeration value="BOOK"/>
<xs:enumeration value="CRRT"/>
<xs:enumeration value="PDNG"/>
<xs:enumeration value="LRLD"/>
<xs:enumeration value="AVLB"/>
<xs:enumeration value="LTSF"/>
<xs:enumeration value="CRDT"/>
<xs:enumeration value="EAST"/>
<xs:enumeration value="PYMT"/>
<xs:enumeration value="BLCK"/>
<xs:enumeration value="XPCD"/>
<xs:enumeration value="DLOD"/>
<xs:enumeration value="XCRD"/>
<xs:enumeration value="XDBT"/>
<xs:enumeration value="ADJT"/>
<xs:enumeration value="PRAV"/>
<xs:enumeration value="DBIT"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BalanceType2Code">
<xs:restriction base="BalanceTypeCode">
<xs:enumeration value="OPNG"/>
<xs:enumeration value="INTM"/>
<xs:enumeration value="CLSG"/>
<xs:enumeration value="BOOK"/>
<xs:enumeration value="CRRT"/>
<xs:enumeration value="PDNG"/>
<xs:enumeration value="LRLD"/>
<xs:enumeration value="AVLB"/>
<xs:enumeration value="LTSF"/>
<xs:enumeration value="CRDT"/>
<xs:enumeration value="EAST"/>
<xs:enumeration value="PYMT"/>
<xs:enumeration value="BLCK"/>
<xs:enumeration value="XPCD"/>
<xs:enumeration value="DLOD"/>
<xs:enumeration value="XCRD"/>
<xs:enumeration value="XDBT"/>
<xs:enumeration value="ADJT"/>
<xs:enumeration value="PRAV"/>
<xs:enumeration value="DBIT"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BalanceType3Code">
<xs:restriction base="BalanceTypeCode">
<xs:enumeration value="OPNG"/>
<xs:enumeration value="INTM"/>
<xs:enumeration value="CLSG"/>
<xs:enumeration value="BOOK"/>
<xs:enumeration value="AVLB"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="CashAccountType1Code">
<xs:restriction base="CashAccountTypeCode">
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CashAccountTypeCode">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="COMM"/>
<xs:enumeration value="TAXE"/>
<xs:enumeration value="CISH"/>
<xs:enumeration value="TRAS"/>
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
<xs:enumeration value="ONDP"/>
<xs:enumeration value="MGLD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CashAccountType2Code">
<xs:restriction base="CashAccountTypeCode">
<xs:enumeration value="CASH"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="COMM"/>
<xs:enumeration value="TAXE"/>
<xs:enumeration value="CISH"/>
<xs:enumeration value="TRAS"/>
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
<xs:enumeration value="ONDP"/>
<xs:enumeration value="MGLD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AccountIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="IBAN" type="IBANIdentifier"/>
<xs:element name="BBAN" type="BBANIdentifier"/>
<xs:element name="UPIC" type="UPICIdentifier"/>
<xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="UPICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{8,17}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
