WmFIN/config/schemas/camt/camt_008_001_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.008.001.02" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.008.001.02">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.008.001.02" type="camt.008.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ImpliedCurrencyAndAmount">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max3NumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentIdentification2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="PmtInstrRef" type="Max35Text"/>
<xs:element name="QId" type="QueueTransactionIdentificationDetails"/>
<xs:element name="LngBizId" type="PaymentInstructionReferenceDetails3"/>
<xs:element name="ShrtBizId" type="PaymentInstructionReferenceDetails2"/>
<xs:element name="PrtryRef" type="Max70Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentInstructionReferenceDetails2">
<xs:sequence>
<xs:element name="PmtInstrRef" type="Max35Text"/>
<xs:element name="IntrBkValDt" type="ISODate"/>
<xs:element name="InstgAgtId" type="BICIdentifier"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentInstructionReferenceDetails3">
<xs:sequence>
<xs:element name="PmtInstrRef" type="Max35Text"/>
<xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount"/>
<xs:element name="IntrBkValDt" type="ISODate"/>
<xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="InstgAgtId" type="BICIdentifier"/>
<xs:element name="InstdAgtId" type="BICIdentifier"/>
<xs:element name="RltdRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PaymentInstrument1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BDT"/>
<xs:enumeration value="BCT"/>
<xs:enumeration value="CDT"/>
<xs:enumeration value="CCT"/>
<xs:enumeration value="CHK"/>
<xs:enumeration value="BKT"/>
<xs:enumeration value="DCP"/>
<xs:enumeration value="CCP"/>
<xs:enumeration value="RTI"/>
<xs:enumeration value="CAN"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PaymentOrigin1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="FINMT" type="Max3NumericText"/>
<xs:element name="XMLMsgNm" type="Max35Text"/>
<xs:element name="Prtry" type="Max35Text"/>
<xs:element name="Instrm" type="PaymentInstrument1Code"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueueTransactionIdentificationDetails">
<xs:sequence>
<xs:element name="QId" type="Max16Text"/>
<xs:element name="PosInQ" type="Max16Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="camt.008.001.02">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="InstrRef" type="PaymentIdentification2Choice"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
