WmFIN/config/schemas/camt/camt_020_001_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.020.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.020.001.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="BusinessInformationCriteria">
<xs:sequence>
<xs:element name="NewQryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SchCrit" type="GeneralBusinessInformationSearchCriteria" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="RtrCrit" type="GeneralBusinessInformationReturnCriteria" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BusinessInformationQueryDefinition">
<xs:sequence>
<xs:element name="QryTp" type="QueryType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="GnlBizInfCrit" type="GeneralBusinessInformationCriteriaDefinitionChoice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CharacterSearchChoice">
<xs:sequence>
<xs:choice>
<xs:element name="EQ" type="Max35Text"/>
<xs:element name="NEQ" type="Max35Text"/>
<xs:element name="CT" type="Max35Text"/>
<xs:element name="NCT" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.020.001.01" type="camt.020.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GeneralBusinessInformationCriteriaDefinitionChoice">
<xs:sequence>
<xs:choice>
<xs:element name="QryNm" type="Max35Text"/>
<xs:element name="NewCrit" type="BusinessInformationCriteria"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GeneralBusinessInformationReturnCriteria">
<xs:sequence>
<xs:element name="QlfrInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="SbjtInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="SbjtDtlsInd" type="RequestedIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GeneralBusinessInformationSearchCriteria">
<xs:sequence>
<xs:element name="Ref" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Sbjt" type="CharacterSearchChoice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Qlfr" type="InformationQualifierType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="InformationQualifierType">
<xs:sequence>
<xs:element name="IsFrmtd" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element name="Prty" type="Priority1Code" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Priority1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="HIGH"/>
<xs:enumeration value="NORM"/>
<xs:enumeration value="LOWW"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="QueryType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ALLL"/>
<xs:enumeration value="CHNG"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RequestedIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.020.001.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="GnlBizInfQryDef" type="BusinessInformationQueryDefinition" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
