WmFIN/config/schemas/camt/camt_017_001_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.017.001.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.017.001.01">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="BaseOneRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyExchangeDetails">
<xs:sequence>
<xs:element name="XchgRate" type="BaseOneRate"/>
<xs:element name="QtdCcy" type="CurrencyCode"/>
<xs:element name="QtnDt" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CurrencyExchangeInformation">
<xs:sequence>
<xs:element name="CcyXchgRpt" type="CurrencyExchangeReport" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CurrencyExchangeReport">
<xs:sequence>
<xs:element name="CcyRef" type="CurrencyReferenceDetails"/>
<xs:choice>
<xs:element name="BizErr" type="ErrorHandling2"/>
<xs:element name="CcyXchgInf" type="CurrencyExchangeDetails"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CurrencyReferenceDetails">
<xs:sequence>
<xs:element name="SrcCcy" type="CurrencyCode"/>
<xs:element name="TrgtCcy" type="CurrencyCode"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.017.001.01" type="camt.017.001.01"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ErrorHandling2">
<xs:sequence>
<xs:element name="ErrCd" type="Max4AlphaNumericText"/>
<xs:element name="Desc" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max4AlphaNumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryReference">
<xs:sequence>
<xs:element name="QryRef" type="Max35Text"/>
<xs:element name="QryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="camt.017.001.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="BizQryRef" type="QueryReference" minOccurs="0" maxOccurs="1"/>
<xs:choice>
<xs:element name="OprlErr" type="ErrorHandling2"/>
<xs:element name="BizRpt" type="CurrencyExchangeInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:schema>
