WmFIN/config/schemas/camt/camt_005_002_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Schema version 4.1 - Generated by SWIFTStandards Workstation (build:R4.1.2.16) on 2004 Mar 19 11:40:58-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:service.name$camt.005.002.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:service.name$camt.005.002.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.005.002.01" type="camt.005.002.01"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="camt.005.002.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="TxQryDef" type="TransactionQueryDefinition1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransactionQueryDefinition1">
<xs:sequence>
<xs:element name="QryTp" type="QueryType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="TxCrit" type="TransactionCriteriaDefinition1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransactionCriteriaDefinition1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="QryNm" type="Max35Text"/>
<xs:element name="NewCrit" type="TransactionCriteria1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransactionCriteria1">
<xs:sequence>
<xs:element name="NewQryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="SchCrit" type="TransactionSearchCriteria1" minOccurs="1" maxOccurs="unbounded"/>
<xs:element name="StmtRpt" type="ReportIndicator1Code"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransactionSearchCriteria1">
<xs:sequence>
<xs:element name="PmtTo" type="SystemSearch" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PmtFr" type="SystemSearch" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PmtSch" type="PaymentSearch1" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctNtrySch" type="AccountCashEntrySearch1" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountCashEntrySearch1">
<xs:sequence>
<xs:element name="AcctId" type="AccountIdentification1Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NtryAmt" type="CurrencyAndAmountRange" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NtryAmtCcy" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="NtrySts" type="EntryStatus1Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="NtryDt" type="DateAndDateTimeSearchChoice" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EntryStatus1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BOOK"/>
<xs:enumeration value="PDNG"/>
<xs:enumeration value="FUTR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PaymentSearch1">
<xs:sequence>
<xs:element name="TxRef" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="TrfValDt" type="DateAndDateTimeSearchChoice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="InstrRef" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="InstrSts" type="PaymentStatusCode1Choice" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrBkSttlmAmt" type="CurrencyAndAmountRange" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="IntrBkSttlmAmtCcy" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentOrigin1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="FINMT" type="Max3NumericText"/>
<xs:element name="XMLMsgNm" type="Max35Text"/>
<xs:element name="Prtry" type="Max35Text"/>
<xs:element name="Instrm" type="PaymentInstrument1Code"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PaymentInstrument1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BDT"/>
<xs:enumeration value="BCT"/>
<xs:enumeration value="CDT"/>
<xs:enumeration value="CCT"/>
<xs:enumeration value="CHK"/>
<xs:enumeration value="BKT"/>
<xs:enumeration value="DCP"/>
<xs:enumeration value="CCP"/>
<xs:enumeration value="RTI"/>
<xs:enumeration value="CAN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max3NumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmountRange">
<xs:sequence>
<xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice"/>
<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="Ccy" type="CurrencyCode"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="CreditDebitCode">
<xs:restriction base="AmountDirectionCode">
<xs:enumeration value="CRDT"/>
<xs:enumeration value="DBIT"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AmountDirectionCode">
<xs:restriction base="xs:string">
<xs:enumeration value="DBIT"/>
<xs:enumeration value="CRDT"/>
<xs:enumeration value="RVDB"/>
<xs:enumeration value="RVCD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CreditDebit1Code">
<xs:restriction base="AmountDirectionCode">
<xs:enumeration value="DBIT"/>
<xs:enumeration value="CRDT"/>
<xs:enumeration value="RVDB"/>
<xs:enumeration value="RVCD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeSearchChoice">
<xs:sequence>
<xs:choice>
<xs:element name="DtTmSch" type="DateTimePeriodChoice"/>
<xs:element name="DtSch" type="DateSearchChoice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateSearchChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDt" type="ISODate"/>
<xs:element name="ToDt" type="ISODate"/>
<xs:element name="FrToDt" type="DatePeriodDetails"/>
<xs:element name="EQDt" type="ISODate"/>
<xs:element name="NEQDt" type="ISODate"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DatePeriodDetails">
<xs:sequence>
<xs:element name="FrDt" type="ISODate"/>
<xs:element name="ToDt" type="ISODate"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:complexType name="SystemSearch">
<xs:sequence>
<xs:element name="SysId" type="CashClearingSystem1Code" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="MmbId" type="MemberIdentificationChoice" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="BIC" type="BICIdentifier"/>
<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ClearingSystemMemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
<xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
<xs:element name="IENSC" type="IrishNSCIdentifier"/>
<xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
<xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
<xs:element name="CHBC" type="SwissBCIdentifier"/>
<xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
<xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
<xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
<xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
<xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
<xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
<xs:element name="CHSIC" type="SwissSICIdentifier"/>
<xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
<xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
<xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
<xs:element name="HKNCC" type="HongKongBankIdentifier"/>
<xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
<xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SmallNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExtensiveBranchNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="HongKongBankIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="HK[0-9]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SpanishDomesticInterbankingIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ES[0-9]{8,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="GermanBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="BL[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CanadianPaymentsARNIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CA[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AustrianBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AT[0-9]{5,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ItalianDomesticIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IT[0-9]{10,10}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissBCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{3,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSParticipantIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CP[0-9]{4,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IrishNSCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IE[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NewZealandNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="NZ[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSUniversalIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CH[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CashClearingSystem1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ABE"/>
<xs:enumeration value="ART"/>
<xs:enumeration value="AVP"/>
<xs:enumeration value="AZM"/>
<xs:enumeration value="BAP"/>
<xs:enumeration value="BEL"/>
<xs:enumeration value="BOF"/>
<xs:enumeration value="BRL"/>
<xs:enumeration value="CAD"/>
<xs:enumeration value="CAM"/>
<xs:enumeration value="CBJ"/>
<xs:enumeration value="CHP"/>
<xs:enumeration value="DKC"/>
<xs:enumeration value="RTP"/>
<xs:enumeration value="EBA"/>
<xs:enumeration value="ELS"/>
<xs:enumeration value="ERP"/>
<xs:enumeration value="XCT"/>
<xs:enumeration value="HRK"/>
<xs:enumeration value="HRM"/>
<xs:enumeration value="HUF"/>
<xs:enumeration value="LGS"/>
<xs:enumeration value="LVL"/>
<xs:enumeration value="MOS"/>
<xs:enumeration value="MUP"/>
<xs:enumeration value="NOC"/>
<xs:enumeration value="PCH"/>
<xs:enumeration value="PDS"/>
<xs:enumeration value="PEG"/>
<xs:enumeration value="PNS"/>
<xs:enumeration value="PVE"/>
<xs:enumeration value="SEC"/>
<xs:enumeration value="SIT"/>
<xs:enumeration value="SLB"/>
<xs:enumeration value="SPG"/>
<xs:enumeration value="SSK"/>
<xs:enumeration value="TBF"/>
<xs:enumeration value="TGT"/>
<xs:enumeration value="TOP"/>
<xs:enumeration value="FDW"/>
<xs:enumeration value="BOJ"/>
<xs:enumeration value="FEY"/>
<xs:enumeration value="ZEN"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PaymentStatusCode1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="PdgSts" type="PendingStatus2Code"/>
<xs:element name="FnlSts" type="FinalStatusCode"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SwissSICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UKDomesticSortCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SC[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateTimePeriodChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
<xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateTimePeriodDetails">
<xs:sequence>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="SouthAfricanNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ZA[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="QueryType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ALLL"/>
<xs:enumeration value="CHNG"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentInstructionStatusCode">
<xs:restriction base="xs:string">
<xs:enumeration value="ACPD"/>
<xs:enumeration value="VALD"/>
<xs:enumeration value="AUTD"/>
<xs:enumeration value="INVD"/>
<xs:enumeration value="MATD"/>
<xs:enumeration value="UMAC"/>
<xs:enumeration value="MMTD"/>
<xs:enumeration value="STLE"/>
<xs:enumeration value="STLM"/>
<xs:enumeration value="SSPD"/>
<xs:enumeration value="PCAN"/>
<xs:enumeration value="PSTL"/>
<xs:enumeration value="PFST"/>
<xs:enumeration value="SMLR"/>
<xs:enumeration value="RMLR"/>
<xs:enumeration value="SRBL"/>
<xs:enumeration value="STLD"/>
<xs:enumeration value="RJTD"/>
<xs:enumeration value="CAND"/>
<xs:enumeration value="FNLD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentInstructionStatus1Code">
<xs:restriction base="PaymentInstructionStatusCode">
<xs:enumeration value="ACPD"/>
<xs:enumeration value="VALD"/>
<xs:enumeration value="AUTD"/>
<xs:enumeration value="INVD"/>
<xs:enumeration value="MATD"/>
<xs:enumeration value="UMAC"/>
<xs:enumeration value="MMTD"/>
<xs:enumeration value="STLE"/>
<xs:enumeration value="STLM"/>
<xs:enumeration value="SSPD"/>
<xs:enumeration value="PCAN"/>
<xs:enumeration value="PSTL"/>
<xs:enumeration value="PFST"/>
<xs:enumeration value="SMLR"/>
<xs:enumeration value="RMLR"/>
<xs:enumeration value="SRBL"/>
<xs:enumeration value="STLD"/>
<xs:enumeration value="RJTD"/>
<xs:enumeration value="CAND"/>
<xs:enumeration value="FNLD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PendingStatus2Code">
<xs:restriction base="PaymentInstructionStatusCode">
<xs:enumeration value="PSTL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PendingStatus1Code">
<xs:restriction base="PaymentInstructionStatusCode">
<xs:enumeration value="ACPD"/>
<xs:enumeration value="VALD"/>
<xs:enumeration value="MATD"/>
<xs:enumeration value="AUTD"/>
<xs:enumeration value="INVD"/>
<xs:enumeration value="UMAC"/>
<xs:enumeration value="STLE"/>
<xs:enumeration value="STLM"/>
<xs:enumeration value="SSPD"/>
<xs:enumeration value="PCAN"/>
<xs:enumeration value="PSTL"/>
<xs:enumeration value="PFST"/>
<xs:enumeration value="SMLR"/>
<xs:enumeration value="RMLR"/>
<xs:enumeration value="SRBL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FinalStatusCode">
<xs:restriction base="PaymentInstructionStatusCode">
<xs:enumeration value="STLD"/>
<xs:enumeration value="RJTD"/>
<xs:enumeration value="CAND"/>
<xs:enumeration value="FNLD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PortugueseNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="PT[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AccountIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="IBAN" type="IBANIdentifier"/>
<xs:element name="BBAN" type="BBANIdentifier"/>
<xs:element name="UPIC" type="UPICIdentifier"/>
<xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UPICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{8,17}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="RU[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ImpliedCurrencyAmountRangeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrAmt" type="AmountRangeBoundary1"/>
<xs:element name="ToAmt" type="AmountRangeBoundary1"/>
<xs:element name="FrToAmt" type="FromToAmountRange"/>
<xs:element name="EQAmt" type="ImpliedCurrencyAndAmount"/>
<xs:element name="NEQAmt" type="ImpliedCurrencyAndAmount"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FromToAmountRange">
<xs:sequence>
<xs:element name="FrAmt" type="AmountRangeBoundary1"/>
<xs:element name="ToAmt" type="AmountRangeBoundary1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AmountRangeBoundary1">
<xs:sequence>
<xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount"/>
<xs:element name="Incl" type="YesNoIndicator"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:simpleType name="ImpliedCurrencyAndAmount">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FedwireRoutingNumberIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="FW[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ReportIndicator1Code">
<xs:restriction base="ReportIndicatorCode">
<xs:enumeration value="STND"/>
<xs:enumeration value="PRPR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ReportIndicatorCode">
<xs:restriction base="xs:string">
<xs:enumeration value="STND"/>
<xs:enumeration value="PRPR"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
