WmFIN/config/schemas/camt/camt_006_002_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Schema version 4.1 - Generated by SWIFTStandards Workstation (build:R4.1.2.16) on 2004 Mar 19 11:40:58-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:service.name$camt.006.002.01" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:service.name$camt.006.002.01">
<xs:element name="Document" type="Document"/>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.006.002.01" type="camt.006.002.01"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="camt.006.002.01">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="BizQryRef" type="QueryReference"/>
<xs:choice>
<xs:element name="BizRpt" type="Transactions"/>
<xs:element name="OprlErr" type="ErrorHandling2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Transactions">
<xs:sequence>
<xs:element name="PmtCmonInf" type="PaymentCommonDetails" minOccurs="0" maxOccurs="1"/>
<xs:element name="TxRpt" type="TransactionReportDetails2" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TransactionReportDetails2">
<xs:sequence>
<xs:element name="InstrRef" type="Max35Text"/>
<xs:choice>
<xs:element name="Tx" type="Transaction2"/>
<xs:element name="BizErr" type="ErrorHandling2"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ErrorHandling2">
<xs:sequence>
<xs:element name="ErrCd" type="Max4AlphaNumericText"/>
<xs:element name="Desc" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max4AlphaNumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Transaction2">
<xs:sequence>
<xs:element name="PmtTo" type="SystemDetails" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtFr" type="SystemDetails" minOccurs="0" maxOccurs="1"/>
<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="Pmt" type="PaymentDetails3" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctNtry" type="AccountCashEntryDetails2" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentDetails3">
<xs:sequence>
<xs:element name="TxRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="TrfValDt" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="Purp" type="Max10Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="InstrSts" type="PaymentStatusDetails2" minOccurs="0" maxOccurs="1"/>
<xs:element name="InstdAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="IntrBkSttlmAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="Prty" type="Priority1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="PrcgVldtyTm" type="DateTimePeriodChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtTp" type="PaymentType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="InstrCpy" type="Max2000Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max2000Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="2000"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateTimePeriodChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
<xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentStatusDetails2">
<xs:sequence>
<xs:element name="PmtInstrSts" type="PaymentStatusCode1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtInstrStsDtTm" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtInstrStsRsn" type="PaymentStatusReasonCodes2Choice" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max10Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AccountCashEntryDetails2">
<xs:sequence>
<xs:element name="AcctId" type="AccountIdentification1Choice"/>
<xs:element name="AcctCcy" type="CurrencyCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="AcctTp" type="CashAccountType1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="NtryRef" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="NtryAmt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="NtryDt" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="NtrySts" type="EntryStatus1Code" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="EntryStatus1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BOOK"/>
<xs:enumeration value="PDNG"/>
<xs:enumeration value="FUTR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="CurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="CashAccountType1Code">
<xs:restriction base="CashAccountTypeCode">
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CashAccountTypeCode">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="COMM"/>
<xs:enumeration value="TAXE"/>
<xs:enumeration value="CISH"/>
<xs:enumeration value="TRAS"/>
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
<xs:enumeration value="ONDP"/>
<xs:enumeration value="MGLD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CashAccountType2Code">
<xs:restriction base="CashAccountTypeCode">
<xs:enumeration value="CASH"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="COMM"/>
<xs:enumeration value="TAXE"/>
<xs:enumeration value="CISH"/>
<xs:enumeration value="TRAS"/>
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
<xs:enumeration value="ONDP"/>
<xs:enumeration value="MGLD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AccountIdentification1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="IBAN" type="IBANIdentifier"/>
<xs:element name="BBAN" type="BBANIdentifier"/>
<xs:element name="UPIC" type="UPICIdentifier"/>
<xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SimpleIdentificationInformation">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="UPICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{8,17}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IBANIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateTimePeriodDetails">
<xs:sequence>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentStatusReasonCodes2Choice">
<xs:sequence>
<xs:choice>
<xs:element name="UmtchdStsRsn" type="UnmatchedStatusReason1Code"/>
<xs:element name="CancStsRsn" type="CancelledStatusReason1Code"/>
<xs:element name="SspdStsRsn" type="SuspendedStatusReason1Code"/>
<xs:element name="PdgFlngSttlm" type="PendingFailingSettlement1Code"/>
<xs:element name="PdgSttlm" type="PendingSettlement2Code"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PendingFailingSettlement1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="AWMO"/>
<xs:enumeration value="AWSH"/>
<xs:enumeration value="LAAW"/>
<xs:enumeration value="DOCY"/>
<xs:enumeration value="CLAT"/>
<xs:enumeration value="CERT"/>
<xs:enumeration value="MINO"/>
<xs:enumeration value="PHSE"/>
<xs:enumeration value="SBLO"/>
<xs:enumeration value="DKNY"/>
<xs:enumeration value="STCD"/>
<xs:enumeration value="BENO"/>
<xs:enumeration value="LACK"/>
<xs:enumeration value="LATE"/>
<xs:enumeration value="CANR"/>
<xs:enumeration value="MLAT"/>
<xs:enumeration value="OBJT"/>
<xs:enumeration value="DOCC"/>
<xs:enumeration value="BLOC"/>
<xs:enumeration value="CHAS"/>
<xs:enumeration value="NEWI"/>
<xs:enumeration value="CLAC"/>
<xs:enumeration value="PART"/>
<xs:enumeration value="CMON"/>
<xs:enumeration value="COLL"/>
<xs:enumeration value="DEPO"/>
<xs:enumeration value="FLIM"/>
<xs:enumeration value="NOFX"/>
<xs:enumeration value="INCA"/>
<xs:enumeration value="LINK"/>
<xs:enumeration value="BYIY"/>
<xs:enumeration value="CAIS"/>
<xs:enumeration value="LALO"/>
<xs:enumeration value="MONY"/>
<xs:enumeration value="NCON"/>
<xs:enumeration value="YCOL"/>
<xs:enumeration value="REFS"/>
<xs:enumeration value="SDUT"/>
<xs:enumeration value="CYCL"/>
<xs:enumeration value="BATC"/>
<xs:enumeration value="GUAD"/>
<xs:enumeration value="PREA"/>
<xs:enumeration value="GLOB"/>
<xs:enumeration value="CPEC"/>
<xs:enumeration value="MUNO"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CancelledStatusReason1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CANI"/>
<xs:enumeration value="CANS"/>
<xs:enumeration value="CSUB"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnmatchedStatusReason1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CMIS"/>
<xs:enumeration value="DDAT"/>
<xs:enumeration value="DELN"/>
<xs:enumeration value="DEPT"/>
<xs:enumeration value="DMON"/>
<xs:enumeration value="DDEA"/>
<xs:enumeration value="DQUA"/>
<xs:enumeration value="CADE"/>
<xs:enumeration value="SETR"/>
<xs:enumeration value="DSEC"/>
<xs:enumeration value="VASU"/>
<xs:enumeration value="DTRA"/>
<xs:enumeration value="RSPR"/>
<xs:enumeration value="REPO"/>
<xs:enumeration value="CLAT"/>
<xs:enumeration value="RERT"/>
<xs:enumeration value="REPA"/>
<xs:enumeration value="REPP"/>
<xs:enumeration value="PHYS"/>
<xs:enumeration value="IIND"/>
<xs:enumeration value="FRAP"/>
<xs:enumeration value="PLCE"/>
<xs:enumeration value="PODU"/>
<xs:enumeration value="FORF"/>
<xs:enumeration value="REGD"/>
<xs:enumeration value="RTGS"/>
<xs:enumeration value="ICAG"/>
<xs:enumeration value="CPCA"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="IEXE"/>
<xs:enumeration value="NCRR"/>
<xs:enumeration value="NMAS"/>
<xs:enumeration value="SAFE"/>
<xs:enumeration value="DTRD"/>
<xs:enumeration value="LATE"/>
<xs:enumeration value="TERM"/>
<xs:enumeration value="ICUS"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryReference">
<xs:sequence>
<xs:element name="QryRef" type="Max35Text"/>
<xs:element name="QryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentCommonDetails">
<xs:sequence>
<xs:element name="PmtFr" type="SystemDetails" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtTo" type="SystemDetails" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtInstrSts" type="PaymentStatusCode1Choice" minOccurs="0" maxOccurs="1"/>
<xs:element name="TrfValDt" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="NtryDt" type="DateAndDateTimeChoice" minOccurs="0" maxOccurs="1"/>
<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0" maxOccurs="1"/>
<xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentOrigin1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="FINMT" type="Max3NumericText"/>
<xs:element name="XMLMsgNm" type="Max35Text"/>
<xs:element name="Prtry" type="Max35Text"/>
<xs:element name="Instrm" type="PaymentInstrument1Code"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PaymentInstrument1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BDT"/>
<xs:enumeration value="BCT"/>
<xs:enumeration value="CDT"/>
<xs:enumeration value="CCT"/>
<xs:enumeration value="CHK"/>
<xs:enumeration value="BKT"/>
<xs:enumeration value="DCP"/>
<xs:enumeration value="CCP"/>
<xs:enumeration value="RTI"/>
<xs:enumeration value="CAN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max3NumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CreditDebitCode">
<xs:restriction base="AmountDirectionCode">
<xs:enumeration value="CRDT"/>
<xs:enumeration value="DBIT"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AmountDirectionCode">
<xs:restriction base="xs:string">
<xs:enumeration value="DBIT"/>
<xs:enumeration value="CRDT"/>
<xs:enumeration value="RVDB"/>
<xs:enumeration value="RVCD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CreditDebit1Code">
<xs:restriction base="AmountDirectionCode">
<xs:enumeration value="DBIT"/>
<xs:enumeration value="CRDT"/>
<xs:enumeration value="RVDB"/>
<xs:enumeration value="RVCD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateAndDateTimeChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Dt" type="ISODate"/>
<xs:element name="DtTm" type="ISODateTime"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:complexType name="PaymentStatusCode1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="PdgSts" type="PendingStatus2Code"/>
<xs:element name="FnlSts" type="FinalStatusCode"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PendingStatus2Code">
<xs:restriction base="PaymentInstructionStatusCode">
<xs:enumeration value="PSTL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentInstructionStatusCode">
<xs:restriction base="xs:string">
<xs:enumeration value="ACPD"/>
<xs:enumeration value="VALD"/>
<xs:enumeration value="AUTD"/>
<xs:enumeration value="INVD"/>
<xs:enumeration value="MATD"/>
<xs:enumeration value="UMAC"/>
<xs:enumeration value="MMTD"/>
<xs:enumeration value="STLE"/>
<xs:enumeration value="STLM"/>
<xs:enumeration value="SSPD"/>
<xs:enumeration value="PCAN"/>
<xs:enumeration value="PSTL"/>
<xs:enumeration value="PFST"/>
<xs:enumeration value="SMLR"/>
<xs:enumeration value="RMLR"/>
<xs:enumeration value="SRBL"/>
<xs:enumeration value="STLD"/>
<xs:enumeration value="RJTD"/>
<xs:enumeration value="CAND"/>
<xs:enumeration value="FNLD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentInstructionStatus1Code">
<xs:restriction base="PaymentInstructionStatusCode">
<xs:enumeration value="ACPD"/>
<xs:enumeration value="VALD"/>
<xs:enumeration value="AUTD"/>
<xs:enumeration value="INVD"/>
<xs:enumeration value="MATD"/>
<xs:enumeration value="UMAC"/>
<xs:enumeration value="MMTD"/>
<xs:enumeration value="STLE"/>
<xs:enumeration value="STLM"/>
<xs:enumeration value="SSPD"/>
<xs:enumeration value="PCAN"/>
<xs:enumeration value="PSTL"/>
<xs:enumeration value="PFST"/>
<xs:enumeration value="SMLR"/>
<xs:enumeration value="RMLR"/>
<xs:enumeration value="SRBL"/>
<xs:enumeration value="STLD"/>
<xs:enumeration value="RJTD"/>
<xs:enumeration value="CAND"/>
<xs:enumeration value="FNLD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PendingStatus1Code">
<xs:restriction base="PaymentInstructionStatusCode">
<xs:enumeration value="ACPD"/>
<xs:enumeration value="VALD"/>
<xs:enumeration value="MATD"/>
<xs:enumeration value="AUTD"/>
<xs:enumeration value="INVD"/>
<xs:enumeration value="UMAC"/>
<xs:enumeration value="STLE"/>
<xs:enumeration value="STLM"/>
<xs:enumeration value="SSPD"/>
<xs:enumeration value="PCAN"/>
<xs:enumeration value="PSTL"/>
<xs:enumeration value="PFST"/>
<xs:enumeration value="SMLR"/>
<xs:enumeration value="RMLR"/>
<xs:enumeration value="SRBL"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FinalStatusCode">
<xs:restriction base="PaymentInstructionStatusCode">
<xs:enumeration value="STLD"/>
<xs:enumeration value="RJTD"/>
<xs:enumeration value="CAND"/>
<xs:enumeration value="FNLD"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SystemDetails">
<xs:sequence>
<xs:element name="SysId" type="CashClearingSystem1Code" minOccurs="0" maxOccurs="1"/>
<xs:element name="MmbId" type="MemberIdentificationChoice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="MemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="BIC" type="BICIdentifier"/>
<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ClearingSystemMemberIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
<xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
<xs:element name="IENSC" type="IrishNSCIdentifier"/>
<xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
<xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
<xs:element name="CHBC" type="SwissBCIdentifier"/>
<xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
<xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
<xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
<xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
<xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
<xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
<xs:element name="CHSIC" type="SwissSICIdentifier"/>
<xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
<xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
<xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
<xs:element name="HKNCC" type="HongKongBankIdentifier"/>
<xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
<xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SmallNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExtensiveBranchNetworkIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AU[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="HongKongBankIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="HK[0-9]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SouthAfricanNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ZA[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SpanishDomesticInterbankingIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="ES[0-9]{8,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="GermanBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="BL[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AustrianBankleitzahlIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="AT[0-9]{5,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ItalianDomesticIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IT[0-9]{10,10}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="RU[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PortugueseNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="PT[0-9]{8,8}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="FedwireRoutingNumberIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="FW[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SwissBCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{3,5}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSParticipantIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CP[0-9]{4,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UKDomesticSortCodeIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SC[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IrishNSCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="IE[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NewZealandNCCIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="NZ[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CHIPSUniversalIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CH[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CashClearingSystem1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ABE"/>
<xs:enumeration value="ART"/>
<xs:enumeration value="AVP"/>
<xs:enumeration value="AZM"/>
<xs:enumeration value="BAP"/>
<xs:enumeration value="BEL"/>
<xs:enumeration value="BOF"/>
<xs:enumeration value="BRL"/>
<xs:enumeration value="CAD"/>
<xs:enumeration value="CAM"/>
<xs:enumeration value="CBJ"/>
<xs:enumeration value="CHP"/>
<xs:enumeration value="DKC"/>
<xs:enumeration value="RTP"/>
<xs:enumeration value="EBA"/>
<xs:enumeration value="ELS"/>
<xs:enumeration value="ERP"/>
<xs:enumeration value="XCT"/>
<xs:enumeration value="HRK"/>
<xs:enumeration value="HRM"/>
<xs:enumeration value="HUF"/>
<xs:enumeration value="LGS"/>
<xs:enumeration value="LVL"/>
<xs:enumeration value="MOS"/>
<xs:enumeration value="MUP"/>
<xs:enumeration value="NOC"/>
<xs:enumeration value="PCH"/>
<xs:enumeration value="PDS"/>
<xs:enumeration value="PEG"/>
<xs:enumeration value="PNS"/>
<xs:enumeration value="PVE"/>
<xs:enumeration value="SEC"/>
<xs:enumeration value="SIT"/>
<xs:enumeration value="SLB"/>
<xs:enumeration value="SPG"/>
<xs:enumeration value="SSK"/>
<xs:enumeration value="TBF"/>
<xs:enumeration value="TGT"/>
<xs:enumeration value="TOP"/>
<xs:enumeration value="FDW"/>
<xs:enumeration value="BOJ"/>
<xs:enumeration value="FEY"/>
<xs:enumeration value="ZEN"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PendingSettlementCode">
<xs:restriction base="xs:string">
<xs:enumeration value="AWMO"/>
<xs:enumeration value="CAIS"/>
<xs:enumeration value="REFU"/>
<xs:enumeration value="AWSH"/>
<xs:enumeration value="PHSE"/>
<xs:enumeration value="TAMM"/>
<xs:enumeration value="DOCY"/>
<xs:enumeration value="DOCC"/>
<xs:enumeration value="BLOC"/>
<xs:enumeration value="CHAS"/>
<xs:enumeration value="NEWI"/>
<xs:enumeration value="CLAC"/>
<xs:enumeration value="MUNO"/>
<xs:enumeration value="GLOB"/>
<xs:enumeration value="PREA"/>
<xs:enumeration value="GUAD"/>
<xs:enumeration value="PART"/>
<xs:enumeration value="NMAS"/>
<xs:enumeration value="CMON"/>
<xs:enumeration value="YCOL"/>
<xs:enumeration value="COLL"/>
<xs:enumeration value="DEPO"/>
<xs:enumeration value="FLIM"/>
<xs:enumeration value="NOFX"/>
<xs:enumeration value="INCA"/>
<xs:enumeration value="LINK"/>
<xs:enumeration value="FUTU"/>
<xs:enumeration value="LACK"/>
<xs:enumeration value="LALO"/>
<xs:enumeration value="MONY"/>
<xs:enumeration value="NCON"/>
<xs:enumeration value="REFS"/>
<xs:enumeration value="SDUT"/>
<xs:enumeration value="BATC"/>
<xs:enumeration value="CYCL"/>
<xs:enumeration value="SBLO"/>
<xs:enumeration value="CPEC"/>
<xs:enumeration value="MINO"/>
<xs:enumeration value="PCAP"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PendingSettlement2Code">
<xs:restriction base="PendingSettlementCode">
<xs:enumeration value="AWMO"/>
<xs:enumeration value="CAIS"/>
<xs:enumeration value="REFU"/>
<xs:enumeration value="AWSH"/>
<xs:enumeration value="PHSE"/>
<xs:enumeration value="TAMM"/>
<xs:enumeration value="DOCY"/>
<xs:enumeration value="DOCC"/>
<xs:enumeration value="BLOC"/>
<xs:enumeration value="CHAS"/>
<xs:enumeration value="NEWI"/>
<xs:enumeration value="CLAC"/>
<xs:enumeration value="MUNO"/>
<xs:enumeration value="GLOB"/>
<xs:enumeration value="PREA"/>
<xs:enumeration value="GUAD"/>
<xs:enumeration value="PART"/>
<xs:enumeration value="NMAS"/>
<xs:enumeration value="CMON"/>
<xs:enumeration value="YCOL"/>
<xs:enumeration value="COLL"/>
<xs:enumeration value="DEPO"/>
<xs:enumeration value="FLIM"/>
<xs:enumeration value="NOFX"/>
<xs:enumeration value="INCA"/>
<xs:enumeration value="LINK"/>
<xs:enumeration value="FUTU"/>
<xs:enumeration value="LACK"/>
<xs:enumeration value="LALO"/>
<xs:enumeration value="MONY"/>
<xs:enumeration value="NCON"/>
<xs:enumeration value="REFS"/>
<xs:enumeration value="SDUT"/>
<xs:enumeration value="BATC"/>
<xs:enumeration value="CYCL"/>
<xs:enumeration value="SBLO"/>
<xs:enumeration value="CPEC"/>
<xs:enumeration value="MINO"/>
<xs:enumeration value="PCAP"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PendingSettlement1Code">
<xs:restriction base="PendingSettlementCode">
<xs:enumeration value="AWMO"/>
<xs:enumeration value="CAIS"/>
<xs:enumeration value="REFU"/>
<xs:enumeration value="AWSH"/>
<xs:enumeration value="PHSE"/>
<xs:enumeration value="TAMM"/>
<xs:enumeration value="DOCY"/>
<xs:enumeration value="DOCC"/>
<xs:enumeration value="BLOC"/>
<xs:enumeration value="CHAS"/>
<xs:enumeration value="NEWI"/>
<xs:enumeration value="CLAC"/>
<xs:enumeration value="MUNO"/>
<xs:enumeration value="GLOB"/>
<xs:enumeration value="PREA"/>
<xs:enumeration value="GUAD"/>
<xs:enumeration value="PART"/>
<xs:enumeration value="NMAS"/>
<xs:enumeration value="CMON"/>
<xs:enumeration value="YCOL"/>
<xs:enumeration value="COLL"/>
<xs:enumeration value="DEPO"/>
<xs:enumeration value="FLIM"/>
<xs:enumeration value="NOFX"/>
<xs:enumeration value="INCA"/>
<xs:enumeration value="LINK"/>
<xs:enumeration value="FUTU"/>
<xs:enumeration value="LACK"/>
<xs:enumeration value="LALO"/>
<xs:enumeration value="MONY"/>
<xs:enumeration value="NCON"/>
<xs:enumeration value="REFS"/>
<xs:enumeration value="SDUT"/>
<xs:enumeration value="BATC"/>
<xs:enumeration value="CYCL"/>
<xs:enumeration value="SBLO"/>
<xs:enumeration value="CPEC"/>
<xs:enumeration value="MINO"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SuspendedStatusReasonCode">
<xs:restriction base="xs:string">
<xs:enumeration value="PRIC"/>
<xs:enumeration value="FLOW"/>
<xs:enumeration value="SUBY"/>
<xs:enumeration value="SUBS"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SuspendedStatusReason2Code">
<xs:restriction base="SuspendedStatusReasonCode">
<xs:enumeration value="PRIC"/>
<xs:enumeration value="FLOW"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="SuspendedStatusReason1Code">
<xs:restriction base="SuspendedStatusReasonCode">
<xs:enumeration value="SUBY"/>
<xs:enumeration value="SUBS"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:simpleType name="SwissSICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="SW[0-9]{6,6}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CanadianPaymentsARNIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="CA[0-9]{9,9}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PriorityCode">
<xs:restriction base="xs:string">
<xs:enumeration value="HIGH"/>
<xs:enumeration value="NORM"/>
<xs:enumeration value="LOWW"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Priority2Code">
<xs:restriction base="PriorityCode">
<xs:enumeration value="HIGH"/>
<xs:enumeration value="NORM"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Priority1Code">
<xs:restriction base="PriorityCode">
<xs:enumeration value="HIGH"/>
<xs:enumeration value="NORM"/>
<xs:enumeration value="LOWW"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentTypeCode">
<xs:restriction base="xs:string">
<xs:enumeration value="CSH"/>
<xs:enumeration value="DPS"/>
<xs:enumeration value="DPH"/>
<xs:enumeration value="DPP"/>
<xs:enumeration value="CBS"/>
<xs:enumeration value="CBP"/>
<xs:enumeration value="CBH"/>
<xs:enumeration value="TCS"/>
<xs:enumeration value="TCH"/>
<xs:enumeration value="TCP"/>
<xs:enumeration value="COR"/>
<xs:enumeration value="FEX"/>
<xs:enumeration value="EQA"/>
<xs:enumeration value="LOA"/>
<xs:enumeration value="LOR"/>
<xs:enumeration value="SEC"/>
<xs:enumeration value="LBX"/>
<xs:enumeration value="DIV"/>
<xs:enumeration value="CSQ"/>
<xs:enumeration value="OCQ"/>
<xs:enumeration value="ODC"/>
<xs:enumeration value="CCQ"/>
<xs:enumeration value="TCK"/>
<xs:enumeration value="BKD"/>
<xs:enumeration value="CLR"/>
<xs:enumeration value="DCR"/>
<xs:enumeration value="BOE"/>
<xs:enumeration value="COL"/>
<xs:enumeration value="CMT"/>
<xs:enumeration value="CSW"/>
<xs:enumeration value="CTO"/>
<xs:enumeration value="CZB"/>
<xs:enumeration value="STF"/>
<xs:enumeration value="PAY"/>
<xs:enumeration value="PRI"/>
<xs:enumeration value="STD"/>
<xs:enumeration value="LIQ"/>
<xs:enumeration value="ADV"/>
<xs:enumeration value="VDA"/>
<xs:enumeration value="DPG"/>
<xs:enumeration value="DPN"/>
<xs:enumeration value="NET"/>
<xs:enumeration value="LMT"/>
<xs:enumeration value="BCK"/>
<xs:enumeration value="EXP"/>
<xs:enumeration value="CTR"/>
<xs:enumeration value="CLS"/>
<xs:enumeration value="EUP"/>
<xs:enumeration value="AGT"/>
<xs:enumeration value="AMY"/>
<xs:enumeration value="BAL"/>
<xs:enumeration value="BON"/>
<xs:enumeration value="BRF"/>
<xs:enumeration value="CBF"/>
<xs:enumeration value="CHR"/>
<xs:enumeration value="BEC"/>
<xs:enumeration value="COC"/>
<xs:enumeration value="COM"/>
<xs:enumeration value="CDT"/>
<xs:enumeration value="COS"/>
<xs:enumeration value="CPY"/>
<xs:enumeration value="GVT"/>
<xs:enumeration value="IHP"/>
<xs:enumeration value="INS"/>
<xs:enumeration value="INC"/>
<xs:enumeration value="INT"/>
<xs:enumeration value="LCF"/>
<xs:enumeration value="MET"/>
<xs:enumeration value="PEN"/>
<xs:enumeration value="GDS"/>
<xs:enumeration value="REF"/>
<xs:enumeration value="REN"/>
<xs:enumeration value="ROY"/>
<xs:enumeration value="SCV"/>
<xs:enumeration value="SAL"/>
<xs:enumeration value="SSB"/>
<xs:enumeration value="STO"/>
<xs:enumeration value="SBS"/>
<xs:enumeration value="TRP"/>
<xs:enumeration value="BEN"/>
<xs:enumeration value="VAT"/>
<xs:enumeration value="WHT"/>
<xs:enumeration value="TAX"/>
<xs:enumeration value="MSC"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentType2Code">
<xs:restriction base="PaymentTypeCode">
<xs:enumeration value="CBS"/>
<xs:enumeration value="BCK"/>
<xs:enumeration value="BAL"/>
<xs:enumeration value="CLS"/>
<xs:enumeration value="CTR"/>
<xs:enumeration value="CBH"/>
<xs:enumeration value="CBP"/>
<xs:enumeration value="DPG"/>
<xs:enumeration value="DPN"/>
<xs:enumeration value="EXP"/>
<xs:enumeration value="TCH"/>
<xs:enumeration value="LMT"/>
<xs:enumeration value="LIQ"/>
<xs:enumeration value="DPP"/>
<xs:enumeration value="DPH"/>
<xs:enumeration value="DPS"/>
<xs:enumeration value="STF"/>
<xs:enumeration value="TRP"/>
<xs:enumeration value="TCS"/>
<xs:enumeration value="LOA"/>
<xs:enumeration value="LOR"/>
<xs:enumeration value="TCP"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PaymentType1Code">
<xs:restriction base="PaymentTypeCode">
<xs:enumeration value="CBS"/>
<xs:enumeration value="BCK"/>
<xs:enumeration value="CLS"/>
<xs:enumeration value="CTR"/>
<xs:enumeration value="CBH"/>
<xs:enumeration value="CBP"/>
<xs:enumeration value="EXP"/>
<xs:enumeration value="TCH"/>
<xs:enumeration value="LIQ"/>
<xs:enumeration value="DPP"/>
<xs:enumeration value="DPH"/>
<xs:enumeration value="DPS"/>
<xs:enumeration value="TCS"/>
<xs:enumeration value="TCP"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
