WmFIN/config/schemas/camt/camt_019_001_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Nov 20 13:38:51-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:$camt.019.001.02" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$camt.019.001.02">
<xs:element name="Document" type="Document"/>
<xs:complexType name="BusinessDayInformation1">
<xs:sequence>
<xs:element name="BizDayInfRpt" type="BusinessDayInformationReport1" minOccurs="1" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BusinessDayInformationDetails1">
<xs:sequence>
<xs:element name="SysSts" type="SystemStatusDetails1" minOccurs="0" maxOccurs="1"/>
<xs:element name="SysInfPerCcy" type="SystemAvailabilityAndEventsDetails1" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BusinessDayInformationReport1">
<xs:sequence>
<xs:element name="SysId" type="SystemIdentificationChoice" minOccurs="1" maxOccurs="unbounded"/>
<xs:choice>
<xs:element name="BizErr" type="ErrorHandling2"/>
<xs:element name="BizDayInf" type="BusinessDayInformationDetails1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CashClearingSystem1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ABE"/>
<xs:enumeration value="ART"/>
<xs:enumeration value="AVP"/>
<xs:enumeration value="AZM"/>
<xs:enumeration value="BAP"/>
<xs:enumeration value="BEL"/>
<xs:enumeration value="BOF"/>
<xs:enumeration value="BRL"/>
<xs:enumeration value="CAD"/>
<xs:enumeration value="CAM"/>
<xs:enumeration value="CBJ"/>
<xs:enumeration value="CHP"/>
<xs:enumeration value="DKC"/>
<xs:enumeration value="RTP"/>
<xs:enumeration value="EBA"/>
<xs:enumeration value="ELS"/>
<xs:enumeration value="ERP"/>
<xs:enumeration value="XCT"/>
<xs:enumeration value="HRK"/>
<xs:enumeration value="HRM"/>
<xs:enumeration value="HUF"/>
<xs:enumeration value="LGS"/>
<xs:enumeration value="LVL"/>
<xs:enumeration value="MOS"/>
<xs:enumeration value="MUP"/>
<xs:enumeration value="NOC"/>
<xs:enumeration value="PCH"/>
<xs:enumeration value="PDS"/>
<xs:enumeration value="PEG"/>
<xs:enumeration value="PNS"/>
<xs:enumeration value="PVE"/>
<xs:enumeration value="SEC"/>
<xs:enumeration value="SIT"/>
<xs:enumeration value="SLB"/>
<xs:enumeration value="SPG"/>
<xs:enumeration value="SSK"/>
<xs:enumeration value="TBF"/>
<xs:enumeration value="TGT"/>
<xs:enumeration value="TOP"/>
<xs:enumeration value="FDW"/>
<xs:enumeration value="BOJ"/>
<xs:enumeration value="FEY"/>
<xs:enumeration value="ZEN"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ClosureReasonChoice">
<xs:sequence>
<xs:choice>
<xs:element name="Cd" type="SystemClosureReason1Code"/>
<xs:element name="PrtryRsn" type="Max35Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DateTimePeriodChoice">
<xs:sequence>
<xs:choice>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
<xs:element name="DtTmRg" type="DateTimePeriodDetails"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateTimePeriodDetails">
<xs:sequence>
<xs:element name="FrDtTm" type="ISODateTime"/>
<xs:element name="ToDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.019.001.02" type="camt.019.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ErrorHandling2">
<xs:sequence>
<xs:element name="ErrCd" type="Max4AlphaNumericText"/>
<xs:element name="Desc" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="ISOTime">
<xs:restriction base="xs:time"/>
</xs:simpleType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max4AlphaNumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="MessageIdentification">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryReference">
<xs:sequence>
<xs:element name="QryRef" type="Max35Text"/>
<xs:element name="QryNm" type="Max35Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SystemAvailabilityAndEventsDetails1">
<xs:sequence>
<xs:element name="SysCcy" type="CurrencyCode"/>
<xs:element name="SsnPrd" type="TimePeriodDetails" minOccurs="0" maxOccurs="1"/>
<xs:element name="Evt" type="SystemEvent1" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ClsrInf" type="SystemClosureDetails" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SystemClosureDetails">
<xs:sequence>
<xs:element name="Prd" type="DateTimePeriodChoice"/>
<xs:element name="Rsn" type="ClosureReasonChoice"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SystemClosureReason1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="BHOL"/>
<xs:enumeration value="SMTN"/>
<xs:enumeration value="NOOP"/>
<xs:enumeration value="RCVR"/>
<xs:enumeration value="ADTW"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SystemEvent1">
<xs:sequence>
<xs:element name="Tp" type="SystemEventType1Choice"/>
<xs:element name="SchdldTm" type="ISODateTime"/>
<xs:element name="FctvTm" type="ISODateTime" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SystemEventType1Choice">
<xs:sequence>
<xs:choice>
<xs:element name="Cd" type="SystemEventType2Code"/>
<xs:element name="PrtryEvt" type="Max140Text"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SystemEventType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="LVCO"/>
<xs:enumeration value="LVCC"/>
<xs:enumeration value="LVRT"/>
<xs:enumeration value="EUSU"/>
<xs:enumeration value="STSU"/>
<xs:enumeration value="LWSU"/>
<xs:enumeration value="EUCO"/>
<xs:enumeration value="FIRE"/>
<xs:enumeration value="STDY"/>
<xs:enumeration value="LTNC"/>
<xs:enumeration value="CRCO"/>
<xs:enumeration value="RECC"/>
<xs:enumeration value="LTGC"/>
<xs:enumeration value="LTDC"/>
<xs:enumeration value="CUSC"/>
<xs:enumeration value="IBKC"/>
<xs:enumeration value="SYSC"/>
<xs:enumeration value="SSSC"/>
<xs:enumeration value="REOP"/>
<xs:enumeration value="PCOT"/>
<xs:enumeration value="NPCT"/>
<xs:enumeration value="ESTF"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SystemIdentificationChoice">
<xs:sequence>
<xs:choice>
<xs:element name="ClrSysId" type="CashClearingSystem1Code"/>
<xs:element name="Ctry" type="CountryCode"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="SystemStatus2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="SUSP"/>
<xs:enumeration value="ACTV"/>
<xs:enumeration value="CLSD"/>
<xs:enumeration value="CLSG"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="SystemStatusDetails1">
<xs:sequence>
<xs:element name="Sts" type="SystemStatus2Code"/>
<xs:element name="VldtyTm" type="DateTimePeriodChoice" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TimePeriodDetails">
<xs:sequence>
<xs:element name="FrTm" type="ISOTime"/>
<xs:element name="ToTm" type="ISOTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="camt.019.001.02">
<xs:sequence>
<xs:element name="MsgId" type="MessageIdentification"/>
<xs:element name="BizQryRef" type="QueryReference" minOccurs="0" maxOccurs="1"/>
<xs:choice>
<xs:element name="OprlErr" type="ErrorHandling2"/>
<xs:element name="BizRpt" type="BusinessDayInformation1"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
</xs:schema>
