WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2015/fin.517.2015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. 
-->
<!--Generated by Standards Editor (build:R1.7.0.25_DEV) on 2015 Jan 20 17:02:01-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.517.2015" targetNamespace="urn:swift:xsd:fin.517.2015" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="Xor" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT517" type="MT517_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Trade Confirmation Affirmation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by an instructing party, for example, client, or its authorised representative, to a financial institution which had previously sent a trade confirmation/contract note, for example, broker-dealer.
This message is used to positively affirm the details of a previously received confirmation/contract note. This message binds the Sender and the Receiver of the message to the trade details contained in the confirmation being affirmed.
This message may be sent directly between the parties to the trade or via an ETC service provider.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT517_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Message">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Function of the Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98a" type="SeqA_F98a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date/Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqA_F95a_Type" maxOccurs="5">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F25a" type="SeqA_F25a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Status Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqA1" type="SeqA1_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_GENL_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeginBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_GENL_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SEME" type="SeqA_F20a_SEME_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23G" type="F23G_69_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Function - Subfunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F98a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PREP" type="SeqA_F98a_PREP_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Preparation Date/Time</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Date/time at which the message was prepared.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="AFFM" type="SeqA_F95a_AFFM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Affirming Party</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that affirms the details of a previously confirmed transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BUYR" type="SeqA_F95a_BUYR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Buyer</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that receives the financial instrument.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SELL" type="SeqA_F95a_SELL_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Seller</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that delivers the financial instrument.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DEAG" type="SeqA_F95a_DEAG_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivering Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Delivering party that interacts with the place of settlement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="REAG" type="SeqA_F95a_REAG_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiving Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Receiving agent that interacts with the place of settlement.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F25a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="AFFM" type="SeqA_F25a_AFFM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Affirmation Status</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies the affirmation status of the trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F13a" type="SeqA1_F13a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA1_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_LINK_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_LINK_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F20a_SEME_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F23G_69_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Function" type="Code_4Ec_307_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Subfunction" type="Code_4Ec_279_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Subfunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F98a_PREP_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98C" type="F98C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98E" type="F98E_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Time - Decimals - UTC Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_AFFM_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Proprietary Code specifies a local national code or market segment code identifying the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_BUYR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Proprietary Code specifies a local national code or market segment code identifying the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_SELL_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Proprietary Code specifies a local national code or market segment code identifying the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_DEAG_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Proprietary Code specifies a local national code or market segment code identifying the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_REAG_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Proprietary Code specifies a local national code or market segment code identifying the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F25a_AFFM_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F25D" type="F25D_63_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="25D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme - Status Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F13a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="LINK" type="SeqA1_F13a_LINK_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Linked Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message type number/message identifier of the message referenced in the linkage sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="RELA" type="SeqA1_F20a_RELA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message reference of the linked message which was previously received.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PREV" type="SeqA1_F20a_PREV_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Previous Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message reference of the linked message which was previously sent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MAST" type="SeqA1_F20a_MAST_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Master Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier used to link a group of individual transactions together.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BASK" type="SeqA1_F20a_BASK_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Basket Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference identifying a basket trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="INDX" type="SeqA1_F20a_INDX_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Index Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference identifying an index trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LIST" type="SeqA1_F20a_LIST_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">List Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference identifying a list trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PROG" type="SeqA1_F20a_PROG_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Program Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Program reference which identifies a program trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TRRF" type="SeqA1_F20a_TRRF_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Deal Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference assigned to the trade by the Investment Manager OR the Broker/Dealer. This reference will be used throughout the trade life cycle to access/update the trade details.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="COMM" type="SeqA1_F20a_COMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Common Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Unique reference agreed upon by the two counterparties to identify the trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="COLR" type="SeqA1_F20a_COLR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Collateral Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference assigned to a collateral transaction linked to the settlement transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ISSU" type="SeqA1_F20a_ISSU_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Issuer Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference that an issuer attributes to a fund (funds industry).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F20C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Reference" type="Text_FIN_16x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_307_Type">
		<xs:restriction base="Text_4Ec_1_Type">
			<xs:enumeration value="CANC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Cancellation Request</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message requesting the cancellation of a previously sent message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NEWM">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">New</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">New message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_279_Type">
		<xs:restriction base="Text_4Ec_1_Type">
			<xs:enumeration value="CODU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is a copy to a party other than the account owner/account servicer, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPY">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is a copy to a party other than the account owner/account servicer, for information purposes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F98A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Time" type="DateTime_HHMMSS_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98E_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Time" type="DateTime_HHMMSS_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Decimals" type="Quantity_FIN_3n_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value=","/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Decimals</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTCIndicator" type="DateTime_UTCIndicator_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">UTC Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95P_12_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95Q_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95R_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProprietaryCode" type="Text_FIN_34x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Proprietary Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F25D_63_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StatusCode" type="OptionalCode_4Ec_555_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Status Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F13a_LINK_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F13A" type="F13A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="13A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F13B" type="F13B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="13B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme - Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_RELA_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_PREV_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_MAST_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_BASK_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_INDX_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_LIST_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_PROG_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_TRRF_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_COMM_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_COLR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_ISSU_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ec_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYYYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYYYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_HHMMSS_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="HHMMSS"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_3n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="3n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_UTCIndicator_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="[N]HH[MM]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="(N)?[0-9]{2}([0-9]{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalCode_4Ec_555_Type">
		<xs:restriction base="Text_4Ec_1_Type"/>
	</xs:simpleType>
	<xs:complexType name="F13A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="NumberId" type="Identifier_FIN_3Ec_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number Id</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F13B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Number" type="Identifier_FIN_30x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_3Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
