WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2015/fin.700.2015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. 
-->
<!--Generated by Standards Editor (build:R1.7.0.25_DEV) on 2015 Jan 20 17:02:01-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.700.2015" targetNamespace="urn:swift:xsd:fin.700.2015" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="Xor" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT700" type="MT700_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Issue of a Documentary Credit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by the issuing bank to the advising bank.
It is used to indicate the terms and conditions of a documentary credit which has been originated by the Sender (issuing bank).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT700_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F27a" type="MT700_F27a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sequence of Total</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the number of this message in the series of messages sent for a documentary credit, and the total number of messages in the series.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F40a_1" type="MT700_F40a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Form of Documentary Credit</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the type of credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="MT700_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Documentary Credit Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the documentary credit number which has been assigned by the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="MT700_F23a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference to Pre-Advice</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies if the documentary credit has been pre-advised.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F31a_1" type="MT700_F31a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date of Issue</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date on which the issuing bank (Sender) considers the documentary credit as being issued.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F40a_2" type="MT700_F40a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Applicable Rules</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the rules the credit is subject to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F31a_2" type="MT700_F31a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date and Place of Expiry</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the latest date for presentation under the documentary credit and the place where documents may be presented.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51a" type="MT700_F51a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Applicant Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the bank of the applicant customer, if different from the issuing bank.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a" type="MT700_F50a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Applicant</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the party on behalf of which the documentary credit is being issued.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F59a" type="MT700_F59a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the party in favour of which the documentary credit is being issued.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="MT700_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency Code, Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the currency code and amount of the documentary credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F39a_1" type="MT700_F39a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Percentage Credit Amount Tolerance</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the tolerance relative to the documentary credit amount as a percentage plus and/or minus that amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F39a_2" type="MT700_F39a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Maximum Credit Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field further qualifies the documentary credit amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F39a_3" type="MT700_F39a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Amounts Covered</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies any additional amounts available to the beneficiary under the terms of the credit, such as insurance, freight, interest, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F41a" type="MT700_F41a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Available With ... By ...</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the bank with which the credit is available (the place for presentation) and an indication of how the credit is available.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F42a_1" type="MT700_F42a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Drafts at ...</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the tenor of drafts to be drawn under the documentary credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F42a_2" type="MT700_F42a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Drawee</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the drawee of the drafts to be drawn under the documentary credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F42a_3" type="MT700_F42a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Mixed Payment Details</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the payment dates, amounts and/or method for their determination in a documentary credit which is available by mixed payment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F42a_4" type="MT700_F42a_4_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Deferred Payment Details</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the payment date or method for its determination in a documentary credit which is available by deferred payment only.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F43a_1" type="MT700_F43a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Partial Shipments</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether or not partial shipments are allowed under the documentary credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F43a_2" type="MT700_F43a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transshipment</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether or not transshipment is allowed under the documentary credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F44a_1" type="MT700_F44a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Place of Taking in Charge/Dispatch from .../Place of Receipt</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the place of taking in charge (in case of a multimodal transport document), the place of receipt (in case of a road, rail or inland waterway transport document or a courier or expedited delivery service document), the place of dispatch or the place of shipment to be indicated on the transport document.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F44a_2" type="MT700_F44a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Port of Loading/Airport of Departure</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the port of loading or airport of departure to be indicated on the transport document.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F44a_3" type="MT700_F44a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Port of Discharge/Airport of Destination</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the port of discharge or airport of destination to be indicated on the transport document.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F44a_4" type="MT700_F44a_4_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Place of Final Destination/For Transportation to .../Place of Delivery</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the final destination or place of delivery to be indicated on the transport document.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F44a_5" type="MT700_F44a_5_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Latest Date of Shipment</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the latest date for loading on board/dispatch/taking in charge.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F44a_6" type="MT700_F44a_6_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Shipment Period</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the period of time during which the goods are to be loaded on board/despatched/taken in charge.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F45a" type="MT700_F45a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Description of Goods and/or Services</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains a description of the goods and/or services.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F46a" type="MT700_F46a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Documents Required</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains a description of any documents required.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F47a" type="MT700_F47a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Conditions</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains a description of further conditions of the documentary credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="MT700_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field may be used only to specify charges to be borne by the beneficiary.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F48a" type="MT700_F48a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Period for Presentation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the period of time after the date of shipment within which the documents must be presented for payment, acceptance or negotiation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F49a" type="MT700_F49a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Confirmation Instructions</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains confirmation instructions for the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="MT700_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reimbursing Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the name of the bank which has been authorised by the Sender to reimburse drawings under the documentary credit. This may be a branch of the Sender or the Receiver, or an entirely different bank.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F78a" type="MT700_F78a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instructions to the Paying/Accepting/Negotiating Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies instructions to the paying, accepting or negotiating bank. It may also indicate if pre-notification of a reimbursement claim or pre-debit notification to the issuing bank is required.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="MT700_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">'Advise Through' Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the bank, if different from the Receiver, through which the documentary credit is to be advised/confirmed to the beneficiary.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="MT700_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F27a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F27" type="F27_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="27"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number - Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F40a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F40A" type="F40A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="40A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Documentary Credit Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23" type="F23_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference to Pre-Advice</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F31a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31C" type="F31C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F40a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F40E" type="F40E_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="40E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Applicable Rules - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F31a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31D" type="F31D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Place</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F51a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F51A" type="F51A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51D" type="F51D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F50a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50" type="F50_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F59a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F59" type="F59_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="59"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F39a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F39A" type="F39A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="39A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Tolerance 1 - Tolerance 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F39a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F39B" type="F39B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="39B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Maximum Credit Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F39a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F39C" type="F39C_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="39C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F41a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F41A" type="F41A_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="41A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code - Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F41D" type="F41D_3_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="41D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address - Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F42a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F42C" type="F42C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="42C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F42a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F42A" type="F42A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="42A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F42D" type="F42D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="42D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F42a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F42M" type="F42M_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="42M"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F42a_4_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F42P" type="F42P_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="42P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F43a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F43P" type="F43P_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="43P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F43a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F43T" type="F43T_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="43T"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F44a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F44A" type="F44A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="44A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F44a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F44E" type="F44E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="44E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F44a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F44F" type="F44F_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="44F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F44a_4_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F44B" type="F44B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="44B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F44a_5_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F44C" type="F44C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="44C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F44a_6_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F44D" type="F44D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="44D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F45a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F45A" type="F45A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="45A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F46a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F46A" type="F46A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="46A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F47a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F47A" type="F47A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="47A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71B" type="F71B_32_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F48a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F48" type="F48_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="48"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F49a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F49" type="F49_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="49"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Instruction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F78a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F78" type="F78_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="78"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57B" type="F57B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT700_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_148_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F27_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Number" type="Quantity_FIN_1En_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total" type="Quantity_FIN_1En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F40A_1_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code_24x_8_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F23_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F31C_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F40E_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="ApplicableRules" type="Code_30x_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="(/)?"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Applicable Rules</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F31D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Place" type="Text_FIN_29x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Place</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F51A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F51D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F50_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F59_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F39A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Tolerance1" type="Quantity_FIN_2n_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Tolerance 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Tolerance2" type="Quantity_FIN_2n_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Tolerance 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F39B_Type">
		<xs:restriction base="Code_13x_2_Type"/>
	</xs:simpleType>
	<xs:complexType name="F39C_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F41A_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Code" type="Code_14x_5_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F41D_3_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Code" type="Code_14x_5_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F42C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_3M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F42A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F42D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F42M_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F42P_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F43P_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F43T_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F44A_1_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_65x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F44E_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_65x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F44F_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_65x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F44B_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_65x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F44C_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F44D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F45A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_100M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F46A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_100M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F47A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_100M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71B_32_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F48_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F49_2_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Instruction</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code_7Ex_3_Type"/>
	</xs:simpleType>
	<xs:complexType name="F53A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F78_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_12M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_148_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Quantity_FIN_1En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="1!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_24x_8_Type">
		<xs:restriction base="Text_24x_Type">
			<xs:enumeration value="IRREVOCABLE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The documentary credit is irrevocable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REVOCABLE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The documentary credit is revocable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IRREVOCABLE TRANSFERABLE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The documentary credit is irrevocable and transferable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REVOCABLE TRANSFERABLE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The documentary credit is revocable and transferable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IRREVOCABLE STANDBY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The standby letter of credit is irrevocable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REVOCABLE STANDBY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The standby letter of credit is revocable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IRREVOC TRANS STANDBY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The standby letter of credit is irrevocable and transferable</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_30x_5_Type">
		<xs:restriction base="Text_30x_Type">
			<xs:enumeration value="EUCP LATEST VERSION">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The credit is subject to the version of the Supplement of the ICC Uniform Customs and Practice for Documentary Credits for Electronic Presentations, International Chamber of Commerce, Paris, France, which is in effect on the date of issue.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EUCPURR LATEST VERSION">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The credit is subject to the version of the Supplement of the ICC Uniform Customs and Practice for Documentary Credits for Electronic Presentations, International Chamber of Commerce, Paris, France, which is in effect on the date of issue. The reimbursement is subject to the version of the Uniform Rules for Bank-to-Bank Reimbursements, International Chamber of Commerce, Paris, France, which is in effect on the date of issue.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ISP LATEST VERSION">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The standby letter of credit is subject to the version of the ICC International Standby Practices, International Chamber of Commerce, Paris, France, which is in effect on the date of issue.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The credit is subject to any other rules.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UCP LATEST VERSION">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The credit is subject to the version of the ICC Uniform Customs and Practice for Documentary Credits, International Chamber of Commerce, Paris, France, which is in effect on the date of issue.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UCPURR LATEST VERSION">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The credit is subject to the version of the ICC Uniform Customs and Practice for Documentary Credits, International Chamber of Commerce, Paris, France, which is in effect on the date of issue. The reimbursement is subject to the version of the Uniform Rules for Bank-to-Bank Reimbursements under documentary credits, International Chamber of Commerce, Paris, France, which is in effect on the date of issue.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_29x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="29x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="29"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,29}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_2n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="2n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_13x_2_Type">
		<xs:restriction base="Text_13x_Type">
			<xs:enumeration value="NOT EXCEEDING">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Qualifies the documentary credit amount</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_14x_5_Type">
		<xs:restriction base="Text_14x_Type">
			<xs:enumeration value="BY ACCEPTANCE"/>
			<xs:enumeration value="BY DEF PAYMENT"/>
			<xs:enumeration value="BY MIXED PYMT"/>
			<xs:enumeration value="BY NEGOTIATION"/>
			<xs:enumeration value="BY PAYMENT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Text_FIN_3M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="3">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_65x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="65x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="65"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,65}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M65x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_65x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Text_FIN_100M65x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_65x_Type" maxOccurs="100">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_7Ex_3_Type">
		<xs:restriction base="Text_7Ex_Type">
			<xs:enumeration value="CONFIRM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The Receiver is requested to confirm the credit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAY ADD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The Receiver may add its confirmation to the credit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WITHOUT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The Receiver is not requested to confirm the credit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_12M65x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_65x_Type" maxOccurs="12">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_24x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="24x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="24"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,24}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_13x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="13x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="13"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_14x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="14x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="14"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_7Ex_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="7!x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="7"/>
			<xs:maxLength value="7"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{7}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
