WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2015/fin.526.2015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. 
-->
<!--Generated by Standards Editor (build:R1.7.0.25_DEV) on 2015 Jan 20 17:02:01-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.526.2015" targetNamespace="urn:swift:xsd:fin.526.2015" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="Xor" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT526" type="MT526_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">General Securities Lending/Borrowing Message</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message type is sent from one financial institution to another, both of which are involved in the lending of securities.
It is used to:
list specified securities available for lending by the lender or its agent
list specified securities no longer available for lending by the lender or its agent
request the borrowing of a specified security from the lender or its agent
notify the borrower or its agent of a partial or total return of the securities out on loan
notify the lender or its agent of a partial or total return of the securities borrowed
request the potential lender to hold the specified securities until further notice
confirm that specified securities are being held
request the potential borrower to confirm a securities loan or cancel a request to hold securities until further notice.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT526_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type"/>
					<xs:element name="SeqB" type="SeqB_Type" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the related reference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Further Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F83a" type="SeqA_F83a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Safekeeping Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the account serviced by the Receiver for the Sender to/from which securities are to be delivered/received, when there is an account relationship between the Sender and the Receiver which is to be used.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F29a_1" type="SeqA_F29a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the specific location from which the message has been sent within the sending financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F29a_2" type="SeqA_F29a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">To the Attention of</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the specific location for which this message is intended within the receiving financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F35a_1" type="SeqB_F35a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification of Securities</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the security to be made available for lending, no longer to be made available for lending, to be borrowed, recalled or returned.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F35a_2" type="SeqB_F35a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Quantity of Securities</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains a specification of the type of securities, followed by the quantity of securities</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="SeqB_F30a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Effective Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the effective date on which the securities will be available for lending, are no longer available for lending, are to be borrowed or recalled, or will be/have been returned.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F31a" type="SeqB_F31a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Expiry/Option Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the effective date and end date of the loan.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87a" type="SeqB_F87a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiver/Deliverer of Securities</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the receiver or deliverer of securities.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqB_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field provides additional information about the securities loan.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23" type="F23_61_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F83a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F83C" type="F83C_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="83C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F29a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F29A" type="F29A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="29A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F29a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F29B" type="F29B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="29B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F35a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F35B" type="F35B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="35B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identification of Security - Description of Security</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F35a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F35A" type="F35A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="35A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type - Quantity</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F31a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31F" type="F31F_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Period Date - Period Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F87a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F87A" type="F87A_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87D" type="F87D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_122_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F23_61_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F83C_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F29A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F29B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F35B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentificationOfSecurity" type="Identifier_Isin_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification of Security</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DescriptionOfSecurity" type="Text_FIN_4M35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Description of Security</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F35A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Type" type="Code_3Ea_30_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Quantity" type="Quantity_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F30_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F31F_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PeriodDate" type="DateTime_YYMMDD_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Period Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PeriodDetails" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Period Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87A_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_122_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_Isin_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="ISIN1!e12!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="17"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="ISIN [0-9A-Z]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ea_30_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="BON">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Bonds (when not traded by face amount)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CER">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Representative Certificates</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CPN">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Coupons</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FMT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Face or Principal or Nominal Amount</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MSC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Miscellaneous</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Option Contracts</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Option Shares</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Premium Contracts</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Premium Shares</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RTE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Rentes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RTS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Rights</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SHS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Shares</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Units, for example, consisting of a bond and a warrant</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="WTS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Warrants</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
