WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2015/fin.800.2015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. 
-->
<!--Generated by Standards Editor (build:R1.7.0.25_DEV) on 2015 Jan 20 17:02:01-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.800.2015" targetNamespace="urn:swift:xsd:fin.800.2015" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="Xor" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT800" type="MT800_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">T/C Sales and Settlement Advice [Single]</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by, or on behalf of, a remitting agent to the issuer of travellers cheques.
It is used to account for (that is, sale and settlement details) one or several sales of travellers cheques by a single selling agent, as specified by the purchase agreement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT800_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F20a" type="MT800_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference which has been assigned by the Sender of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51a" type="MT800_F51a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Selling Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the selling agent, which may also be the remitting agent and Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqA" type="SeqA_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Purchase Agreement Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Settlement Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT800_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT800_F51a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F51A" type="F51A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51C" type="F51C_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Purchase Agreement ID</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the selling agent's identification of the purchase agreement to which the message is related.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="SeqA_F30a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sales Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date, when available, on which the travellers cheques were delivered to the purchaser.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a" type="SeqA_F26a_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Serial Numbers</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the serial number sequences of the T/Cs sold relative to the referenced purchase agreement (field 23).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="SeqA_F33a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Face Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency code and total face value of all the T/Cs identified in the referenced purchase agreement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F73a" type="SeqA_F73a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Amounts</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies any amounts which have been added to or deducted from the face value of the purchase agreement.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F34a" type="SeqB_F34a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Selling Agent Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency code and amount being remitted on behalf of the selling agent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a" type="SeqB_F16a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Selling Agent's No. of PAs</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the total number of purchase agreements included in the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqB_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Settlement Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the value date, currency code and total settlement amount to be remitted by the Sender to the Receiver (issuer).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a" type="SeqB_F52a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Remitting Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the remitting agent, when other than the Sender (for example, the remitting agent is not connected to SWIFT).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="SeqB_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Correspondent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the financial institution (when different from the Sender), branch or account through which reimbursement of the settlement amount will take place.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F54a" type="SeqB_F54a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiver's Correspondent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the financial institution (if different from the Receiver), or branch, servicing the account at which the settlement amount will be made available to the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqB_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F51A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F51C_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23" type="F23_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Purchase Agreement ID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26A" type="F26A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number 1 - Number 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33B" type="F33B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F73a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F73" type="F73_23_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="73"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F34a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F34B" type="F34B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F16a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16A" type="F16A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32A" type="F32A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F52a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52A" type="F52A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52D" type="F52D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53B" type="F53B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F54a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F54A" type="F54A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="54A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F54B" type="F54B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="54B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F54D" type="F54D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="54D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_122_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="F23_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F30_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F26A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Number1" type="Text_FIN_16x_noSlash_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Number2" type="Text_FIN_4Ex_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F73_23_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F34B_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16A_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Quantity_FIN_5n_Type"/>
	</xs:simpleType>
	<xs:complexType name="F32A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F54A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F54B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F54D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_122_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_noSlash_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_4Ex_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4!x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Quantity_FIN_5n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="5n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
