WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2015/fin.207.2015.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. 
-->
<!--Generated by Standards Editor (build:R1.7.0.25_DEV) on 2015 Jan 20 17:02:01-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.207.2015" targetNamespace="urn:swift:xsd:fin.207.2015" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="Xor" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT207" type="MT207_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Request For Financial Institution Transfer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is used to move funds from the ordering financial institution's account, serviced at the receiving financial institution or at the account servicing institution, or from an account(s) owned by the ordering institution for which the initiating institution has explicit authority to debit, for example, a subsidiary account.
It can be used to order the movement of funds:
between the ordering institution's accounts, or
in favour of a third party, either domestically or internationally.
The message is sent by a financial institution on behalf of the ordering financial institution, that is, the account owning financial institution, or on behalf of the initiating financial institution. It is subsequently received by a financial institution and processed by this receiving financial institution or another account servicing financial institution.
The complete chain of parties and the transaction flow is illustrated by the following figure:
The parties mentioned in the chain are not necessarily different entities. The first column of the table below shows the parties that can be omitted in an MT 207. The second column specifies the party which assumes the role of the party in the first column, when it is not present:
If the following party is missing ...
Its function is assumed by ...
Initiating institution
Ordering institution
Account servicing institution
Receiver
Intermediary
Account with institution
Account with institution
Receiver</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT207_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Specified Reference of the Ordering Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference to the entire message assigned by either the:
initiating institution, when present or
ordering institution, when the initiating institution is not present.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F28a" type="SeqA_F28a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Index/Total</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field chains different messages by specifying the sequence number in the total number of messages.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="SeqA_F30a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Requested Execution Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date on which all subsequent transactions should be initiated by the executing bank.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51a" type="SeqA_F51a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Initiating Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the institution which is authorised by the ordering institution/account servicing institution to order all the transactions in the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a_1" type="SeqA_F52a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Ordering Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the account owning financial institution whose account is to be debited with all transactions in sequence(s) B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a_2" type="SeqA_F52a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account Servicing Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the account servicing institution - when other than the Receiver - which services the account of the ordering institution to be debited.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqA_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver, that is, Sender of the original message regarding the reason for a return, that is, reversal, rejection or revocal.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F21a" type="SeqB_F21a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the unambiguous reference for the individual transaction contained in a particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqB_F23a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instruction Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies instructions for the subsequent parties in the transaction chain.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqB_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency/Transaction Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount of the subsequent transfer to be executed by the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56a" type="SeqB_F56a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the financial institution through which the transaction must pass to reach the account with institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqB_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the financial institution - when other than the Receiver - which services the account for the beneficiary institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58a" type="SeqB_F58a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the beneficiary financial institution of the subsequent operation from the particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21R" type="F21R_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Specified Reference of the Ordering Institution</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F28a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F28D" type="F28D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="28D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Message Index - Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F51a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F51A" type="F51A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F52a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52G" type="F52G_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F52a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52A" type="F52A_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52C" type="F52C_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_104_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative Structured Format</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23E" type="F23E_20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Instruction Code - Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F56a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F56A" type="F56A_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56D" type="F56D_15_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_14_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57C" type="F57C_17_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_16_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F58a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F58A" type="F58A_7_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58D" type="F58D_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21R_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F28D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="MessageIndex" type="Quantity_FIN_5n_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Message Index</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total" type="Quantity_FIN_5n_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F30_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F51A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52G_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52A_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F52C_8_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F72_104_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="NarrativeStructuredFormat" type="F72_104_NarrativeStructuredFormat_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative Structured Format</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F21_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F23E_20_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="InstructionCode" type="Code_4Ec_217_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instruction Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalInformation" type="Text_FIN_30x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56A_12_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56D_15_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_14_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F57C_17_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F57D_16_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58A_7_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58D_6_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_5n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="5n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F72_104_NarrativeStructuredFormat_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line 1 - Lines 2-6</xs:documentation>
					</xs:annotation>
					<xs:element name="Line1" type="Complex_Code_Narrative_53_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Lines2to6" type="Choice_Narrative_Code_Narrative_Type" minOccurs="0" maxOccurs="5">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Lines 2-6</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_217_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="CMSW">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Sweep the account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a cash management instruction, requesting to sweep the account of the ordering institution.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CMTO">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Top the account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a cash management instruction, requesting to top the account of the ordering institution above a certain floor amount. The floor amount, if not pre-agreed by the parties involved, may be specified after the code.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CMZB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Zero balance the account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a cash management instruction, requesting to zero balance the account of the ordering institution.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Corporate trade</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Payment is made in settlement of a trade, for example, foreign exchange deal, securities transaction.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NETS">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Net Settlement System</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a payment that should be settled via a net settlement system, if available.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Used for bilaterally agreed codes/information. The actual bilateral code/information needs to be specified in Additional Information.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PHON">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Telephone</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction requires the beneficiary to be contacted by telephone and should be followed by the appropriate telephone number. This code is meant for the institution closest to the beneficiary institution.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RTGS">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RTGS payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a payment that should be settled via a real time gross settlement system, if available.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="URGP">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Urgent Payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a time-sensitive payment which should be executed in an expeditious manner.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Complex_Code_Narrative_53_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Code - Narrative</xs:documentation>
					</xs:annotation>
					<xs:element name="Code" type="Code_8c_3_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="Text_Unlimited_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice_Narrative_Code_Narrative_Type">
		<xs:complexContent>
			<xs:extension base="ChoiceDataType">
				<xs:choice>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative1</xs:documentation>
						</xs:annotation>
						<xs:element name="Narrative1" type="Text_Unlimited_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Narrative1</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Code - Narrative2</xs:documentation>
						</xs:annotation>
						<xs:element name="Code" type="Text_FIN_8c_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="/"/>
									<info:SepSuffix value="/"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Narrative2" type="Text_Unlimited_1_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Narrative2</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_8c_3_Type">
		<xs:restriction base="Text_8c_Type">
			<xs:enumeration value="REJT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Instruction rejected.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RETN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Return</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Return.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Unlimited_1_Type">
		<xs:annotation>
			<xs:documentation source="Definition" xml:lang="EN">To represent Narrative parts described as 'Additional information', 'Continuation of additional information' etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,32})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Unlimited_Type">
		<xs:annotation>
			<xs:documentation source="Definition" xml:lang="EN">To represent Narrative parts described as 'Additional information', 'Continuation of additional information' etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="33"/>
			<xs:pattern value="([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,33})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
