WmHL7/data/xsd/wm.ip.hl7.docType/v24/EAN_U09.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v24  - EAN_U09    Copyright (c) 1999-2003, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v24xml"  targetNamespace="urn:hl7-org:v24xml">  <!-- include segment definitions for version v24 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE EAN_U09-->  <!-- .. groups used in message EAN_U09 -->  <xsd:complexType name="EAN_U09.NOTIFICATION.CONTENT">    <xsd:sequence>      <xsd:element ref="NDS" minOccurs="1" maxOccurs="1" />      <xsd:element ref="NTE" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="EAN_U09.NOTIFICATION" type="EAN_U09.NOTIFICATION.CONTENT"/>  <!-- .. message definition EAN_U09 -->  <xsd:complexType name="EAN_U09.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="EQU" minOccurs="1" maxOccurs="1" />      <xsd:element ref="EAN_U09.NOTIFICATION" minOccurs="1" maxOccurs="unbounded" />      <xsd:element ref="ROL" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="EAN_U09" type="EAN_U09.CONTENT"/></xsd:schema>