WmHL7/data/xsd/wm.ip.hl7.docType/v24/EAR_U08.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v24  - EAR_U08    Copyright (c) 1999-2003, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v24xml"  targetNamespace="urn:hl7-org:v24xml">  <!-- include segment definitions for version v24 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE EAR_U08-->  <!-- .. groups used in message EAR_U08 -->  <xsd:complexType name="EAR_U08.COMMAND_RESPONSE.CONTENT">    <xsd:sequence>      <xsd:element ref="ECD" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SAC" minOccurs="0" maxOccurs="1" />      <xsd:element ref="ECR" minOccurs="1" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="EAR_U08.COMMAND_RESPONSE" type="EAR_U08.COMMAND_RESPONSE.CONTENT"/>  <!-- .. message definition EAR_U08 -->  <xsd:complexType name="EAR_U08.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="EQU" minOccurs="1" maxOccurs="1" />      <xsd:element ref="EAR_U08.COMMAND_RESPONSE" minOccurs="1" maxOccurs="unbounded" />      <xsd:element ref="ROL" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="EAR_U08" type="EAR_U08.CONTENT"/></xsd:schema>