WmHL7/data/xsd/wm.ip.hl7.docType/v24/RSP_K22.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v24  - RSP_K22    Copyright (c) 1999-2003, Health Level Seven. All rights reserved.--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v24xml" targetNamespace="urn:hl7-org:v24xml">	<!-- include segment definitions for version v24 -->	<xsd:include schemaLocation="segments.xsd"/>	<!--    MESSAGE RSP_K22-->	<!-- .. groups used in message RSP_K22 -->	<xsd:complexType name="RSP_K22.QUERY_RESPONSE.CONTENT">		<xsd:sequence>			<xsd:element ref="PID" minOccurs="1" maxOccurs="1" />			<xsd:element ref="PD1" minOccurs="0" maxOccurs="1" />			<xsd:element ref="QRI" minOccurs="0" maxOccurs="1" />		</xsd:sequence>	</xsd:complexType>	<xsd:element name="RSP_K22.QUERY_RESPONSE" type="RSP_K22.QUERY_RESPONSE.CONTENT"/>	<!-- .. message definition RSP_K22 -->	<xsd:complexType name="RSP_K22.CONTENT">		<xsd:sequence>			<xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />			<xsd:element ref="MSA" minOccurs="1" maxOccurs="1" />			<xsd:element ref="ERR" minOccurs="0" maxOccurs="1" />			<xsd:element ref="QAK" minOccurs="1" maxOccurs="1" />			<xsd:element ref="QPD" minOccurs="1" maxOccurs="1" />			<xsd:element ref="RSP_K22.QUERY_RESPONSE" minOccurs="0" maxOccurs="unbounded" />			<xsd:element ref="DSC" minOccurs="0" maxOccurs="1" />		</xsd:sequence>	</xsd:complexType>	<xsd:element name="RSP_K22" type="RSP_K22.CONTENT"/></xsd:schema>