WmHL7/data/xsd/wm.ip.hl7.docType/v24/SUR_P09.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v24  - SUR_P09    Copyright (c) 1999-2003, Health Level Seven. All rights reserved.--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v24xml" targetNamespace="urn:hl7-org:v24xml">	<!-- include segment definitions for version v24 -->	<xsd:include schemaLocation="segments.xsd"/>	<!--    MESSAGE SUR_P09-->	<!-- .. groups used in message SUR_P09 -->	<xsd:complexType name="SUR_P09.PRODUCT.CONTENT">		<xsd:sequence>			<xsd:element ref="PSH" minOccurs="1" maxOccurs="1" />			<xsd:element ref="PDC" minOccurs="1" maxOccurs="1" />		</xsd:sequence>	</xsd:complexType>	<xsd:element name="SUR_P09.PRODUCT" type="SUR_P09.PRODUCT.CONTENT"/>	<xsd:complexType name="SUR_P09.FACILITY_DETAIL.CONTENT">		<xsd:sequence>			<xsd:element ref="FAC" minOccurs="1" maxOccurs="1" />			<xsd:element ref="PDC" minOccurs="1" maxOccurs="1" />			<xsd:element ref="NTE" minOccurs="1" maxOccurs="1" />		</xsd:sequence>	</xsd:complexType>	<xsd:element name="SUR_P09.FACILITY_DETAIL" type="SUR_P09.FACILITY_DETAIL.CONTENT"/>	<xsd:complexType name="SUR_P09.FACILITY.CONTENT">		<xsd:sequence>			<xsd:element ref="FAC" minOccurs="1" maxOccurs="1" />			<xsd:element ref="SUR_P09.PRODUCT" minOccurs="1" maxOccurs="unbounded"/>			<xsd:element ref="PSH" minOccurs="1" maxOccurs="1" />			<xsd:element ref="SUR_P09.FACILITY_DETAIL" minOccurs="1" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="SUR_P09.FACILITY" type="SUR_P09.FACILITY.CONTENT"/>	<!-- .. message definition SUR_P09 -->	<xsd:complexType name="SUR_P09.CONTENT">		<xsd:sequence>			<xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />			<xsd:element ref="SUR_P09.FACILITY" minOccurs="1" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="SUR_P09" type="SUR_P09.CONTENT"/></xsd:schema>