WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2011/fin.300.2011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.11.1_DEV) on 2011 Mar 25 16:48:30-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.300.2011" targetNamespace="urn:swift:xsd:fin.300.2011" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT300" type="MT300_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Foreign Exchange Confirmation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
The MT 300 is used to:
confirm the details of a new contract between the parties
confirm an exercised foreign currency option
confirm the details of an amendment to a previously sent confirmation
cancel a previously sent confirmation.
This message is exchanged by or on behalf of the institutions or corporates, party A and party B, which have agreed to a foreign exchange contract.
This message may also be sent by a money broker to the two parties (party A and party B) for which the broker arranged the deal.
Where there are two money brokers involved in arranging a deal between party A and party B, this message is also exchanged between these money brokers.
This message is also used when one of the trading parties is a fund manager as the fund manager has to specify the fund for which he is dealing.
Party A and party B are the legal entities which have agreed to the transaction.
Party A is either:
the Sender, or
the institution/corporate on behalf of which the message is sent, or
one of the institutions for which the broker arranged the deal and to whom it is sending the confirmation, or
when a money broker confirms to another money broker, the party for which the sending broker arranged the deal.
Party B is either:
the Receiver, or
the institution/corporate on behalf of which the message is received, or
the other institution for which the broker arranged the deal, that is, party A's counterparty, or
when a money broker confirms to another money broker, party A's counterparty.
This message allows:
the specification of the legal counterparties
the inclusion of a beneficiary
a split settlement
the inclusion of the underlying legal agreement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT300_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Optional General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqD" type="SeqD_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Split Settlement Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqA_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of mandatory sequence A General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference number assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the identification of the message to which the current message is related, that is, the sender's reference in field 20 of the previous message which is to be amended or cancelled by this message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a_1" type="SeqA_F22a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type of Operation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F94a" type="SeqA_F94a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Scope of Operation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the role of the Sender and the Receiver of the message in the execution of the confirmed trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a_2" type="SeqA_F22a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Common Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains a reference common to both the Sender and the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a_1" type="SeqA_F17a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Block Trade Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether the confirmed deal is a block trade and whether an MT 303 Forex/Currency Option Allocation Instruction, will be sent by the fund manager.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a_2" type="SeqA_F17a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Split Settlement Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether the amount is to be settled as a whole or in several parts.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F82a" type="SeqA_F82a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party A</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies party A.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87a" type="SeqA_F87a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party B</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies party B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F83a" type="SeqA_F83a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Fund or Beneficiary Customer</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the fund or beneficiary customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F77a" type="SeqA_F77a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Terms and Conditions</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the underlying legal agreement.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15A" type="F15A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15A"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15A_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:simpleType name="NULL_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqB_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of mandatory sequence B Transaction Details.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a_1" type="SeqB_F30a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Trade Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date the transaction was agreed between party A and party B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a_2" type="SeqB_F30a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Value Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the value date of the transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F36a" type="SeqB_F36a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Exchange Rate</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the agreed exchange rate of the transaction. It is the rate as the deal was struck.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB1" type="SeqB1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount Bought</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB2" type="SeqB2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount Sold</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15B" type="F15B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15B"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15B_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqC_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of optional sequence C Optional General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F29a" type="SeqC_F29a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Contact Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the name and/or telephone number of the person the Receiver may contact for any queries concerning this transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F24a" type="SeqC_F24a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Dealing Method</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies how the deal was agreed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F84a" type="SeqC_F84a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Dealing Branch Party A</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the branch of party A with which the deal was done.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F85a" type="SeqC_F85a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Dealing Branch Party B</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the branch of party B with which the deal was done.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F88a" type="SeqC_F88a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Broker Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the broker which arranged the deal between party A and party B or, when two money brokers are involved, between party A and the other money broker.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="SeqC_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Broker's Commission</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the brokerage fee for a broker confirmation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a" type="SeqC_F26a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Counterparty's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the counterparty's reference, if known.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqC_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Broker's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the broker's reference of the trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqC_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver and applies to the whole message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15C" type="F15C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15C"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15C_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqD_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqD_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of optional sequence D Split Settlement Details.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Loop1" type="Loop1_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Loop1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a" type="SeqD_F16a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number of Settlements</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the total number of settlements to be done and serves as an end-of-split settlements to indicate the end of the repetitions.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqD_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15D" type="F15D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15D"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15D_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F22a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F22A" type="F22A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F94a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F94A" type="F94A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Scope</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F22a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F22C" type="F22C_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Bank Code 1 - Location Code 1 - Reference Code - Bank Code 2 - Location Code 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F17a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F17T" type="F17T_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17T"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F17a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F17U" type="F17U_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17U"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F82a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F82A" type="F82A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="82A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F82D" type="F82D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="82D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F82J" type="F82J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="82J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F87a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F87A" type="F87A_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87D" type="F87D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87J" type="F87J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F83a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F83A" type="F83A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="83A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F83D" type="F83D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="83D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F83J" type="F83J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="83J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F77a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F77D" type="F77D_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="77D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F30a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30T" type="F30T_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30T"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F30a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30V" type="F30V_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30V"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F36a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F36" type="F36_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="36"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F32a" type="SeqB1_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency, Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount bought by party A.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="SeqB1_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivery Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution from which the payer will transfer the amount bought.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56a" type="SeqB1_F56a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the intermediary institution for the transfer of the funds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqB1_F57a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiving Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution and account where the payee will receive the amount bought.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F33a" type="SeqB2_F33a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency, Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount sold by party A.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="SeqB2_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivery Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution from which the payer will transfer the amount sold.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56a" type="SeqB2_F56a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the intermediary institution for the transfer of the funds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqB2_F57a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiving Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution and account where the payee will receive the amount sold.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58a" type="SeqB2_F58a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the institution in favour of which the payment is made.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F29a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F29A" type="F29A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="29A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F24a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F24D" type="F24D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="24D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Method - Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F84a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F84A" type="F84A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="84A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F84B" type="F84B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="84B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F84D" type="F84D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="84D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F84J" type="F84J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="84J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F85a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F85A" type="F85A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="85A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F85B" type="F85B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="85B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F85D" type="F85D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="85D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F85J" type="F85J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="85J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F88a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F88A" type="F88A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="88A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F88D" type="F88D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="88D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F88J" type="F88J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="88J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71F" type="F71F_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26H" type="F26H_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26H"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21G" type="F21G_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21G"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_26_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F17a" type="Loop1_F17a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Buy (Sell) Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether party A receives or pays the amount specified in field 32B Currency, Amount of sequence D.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="Loop1_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency, Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies an amount to be settled when there is a split settlement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="Loop1_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivery Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution from which the payer will transfer the amount specified in field 32B Currency, Amount of sequence D.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56a" type="Loop1_F56a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the intermediary institution for the transfer of the funds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="Loop1_F57a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiving Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution and account where the payee will receive the amount specified in field 32B Currency, Amount in sequence D.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58a" type="Loop1_F58a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the institution or corporate in favour of which the payment is made.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqD_F16a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16A" type="F16A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F22A_Type">
		<xs:restriction base="Code_4Ec_29_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F94A_Type">
		<xs:restriction base="Code_4Ec_30_Type"/>
	</xs:simpleType>
	<xs:complexType name="F22C_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="BankCode1" type="Identifier_FIN_4Ea_Type"/>
					<xs:element name="LocationCode1" type="Identifier_FIN_2Ec_Type"/>
					<xs:element name="ReferenceCode" type="Text_4En_Type"/>
					<xs:element name="BankCode2" type="Identifier_FIN_4Ea_Type"/>
					<xs:element name="LocationCode2" type="Identifier_FIN_2Ec_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F17T_Type">
		<xs:restriction base="Indicator_1Ea_2_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F17U_1_Type">
		<xs:restriction base="Indicator_1Ea_7_Type"/>
	</xs:simpleType>
	<xs:complexType name="F82A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F82D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F82J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87A_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F83A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F83D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F83J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F77D_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F30T_Type">
		<xs:restriction base="DateTime_YYYYMMDD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F30V_Type">
		<xs:restriction base="DateTime_YYYYMMDD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F36_Type">
		<xs:restriction base="Rate_FIN_12d_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqB1_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53J" type="F53J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F56a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F56A" type="F56A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56D" type="F56D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56J" type="F56J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57J" type="F57J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33B" type="F33B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53J" type="F53J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F56a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F56A" type="F56A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56D" type="F56D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56J" type="F56J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57J" type="F57J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F58a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F58A" type="F58A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58D" type="F58D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58J" type="F58J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F29A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F24D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Method" type="Code_4Ec_31_Type"/>
					<xs:element name="AdditionalInformation" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F84A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F84B_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0"/>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F84D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F84J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F85A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F85B_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0"/>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F85D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F85J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F88A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F88D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F88J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71F_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type"/>
					<xs:element name="Amount" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F26H_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21G_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F72_26_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="F72_26_Narrative_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F17a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F17A" type="F17A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53J" type="F53J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F56a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F56A" type="F56A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56D" type="F56D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56J" type="F56J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57J" type="F57J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F58a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F58A" type="F58A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58D" type="F58D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58J" type="F58J_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16A_Type">
		<xs:restriction base="Quantity_FIN_5n_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_29_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="AMND">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Replaces a previously sent confirmation with the amended one contained in this message.
Used to add settlement agents to an MT 300 previously sent or to correct error(s) in an MT 300 previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Cancels a previously sent confirmation.
Used to cancel an MT 300 previously sent or to cancel an MT 300 which contains erroneous information.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Duplicates a previously sent confirmation.
Used to inform the Receiver that a confirmation was already sent by telex, fax or SWIFT</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXOP">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Option Exercise</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Confirms the mutually agreed exercise of an option.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NEWT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">New Confirmation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Used to send a confirmation for the first time or to send a corrected MT 300 when the erroneous one was cancelled using an MT 300 with function CANC.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_30_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="AGNT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Sender/Receiver is sending/receiving the message on behalf of a third party.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BILA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Bilateral confirmation, that is, the Sender and the Receiver are the principals.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BROK">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The confirmation is sent by a money broker.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_4Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_2Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="2!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_2_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">If a normal trade, no MT303 will be sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">If a block trade, an MT303 will be sent by the fund manager.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_7_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The settlement of the amount as a whole</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Split settlements</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Complex_5M40x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_40x_Type" maxOccurs="5"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DateTime_YYYYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYYYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rate_FIN_12d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Rate"/>
				<info:FinFormat value="12d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type"/>
					<xs:element name="Amount" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57D_6_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type"/>
					<xs:element name="Amount" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58A_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58J_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_31_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="BROK">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Deal arranged by a voice broker</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ELEC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Deal made via an electronic system (Reuters, EBS etc.)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAXT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Deal agreed by fax</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PHON">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Deal agreed on the phone</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TELX">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Deal agreed by telex</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F72_26_Narrative_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line1" type="Complex_Code_Narrative_10_Type"/>
					<xs:element name="Line2to6" type="Choice_Narrative_Code_Narrative_8_Type" minOccurs="0" maxOccurs="5"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F17A_2_Type">
		<xs:restriction base="Indicator_1Ea_8_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_5n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="5n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Indicator"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_40x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="40x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,40}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Complex_Code_Narrative_10_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:element name="Code" type="Text_FIN_8c_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="Text_Unlimited_1_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice_Narrative_Code_Narrative_8_Type">
		<xs:complexContent>
			<xs:extension base="ChoiceDataType">
				<xs:choice>
					<xs:sequence>
						<xs:element name="Narrative1" type="Text_Unlimited_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="Code" type="Text_FIN_8c_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="/"/>
									<info:SepSuffix value="/"/>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="Narrative2" type="Text_Unlimited_1_Type" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Indicator_1Ea_8_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Party A pays the amount</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Party A receives the amount</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Unlimited_1_Type">
		<xs:annotation>
			<xs:documentation source="Definition" xml:lang="EN">To represent Narrative parts described as 'Additional information', 'Continuation of additional information' etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,32})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Unlimited_Type">
		<xs:annotation>
			<xs:documentation source="Definition" xml:lang="EN">To represent Narrative parts described as 'Additional information', 'Continuation of additional information' etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="33"/>
			<xs:pattern value="([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,33})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
