WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2011/fin.381.2011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.11.1_DEV) on 2011 Mar 25 16:48:37-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.381.2011" targetNamespace="urn:swift:xsd:fin.381.2011" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT381" type="MT381_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Foreign Exchange Order Confirmation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message type is sent:
by a custodian bank to a fund manager to confirm the execution of an FX Order previously sent by the fund manager
by a sub custodian to a custodian bank when the fund account's custodian uses a sub custodian in the local market to execute the foreign exchange order received from a fund manager
This message type is used as:
a foreign exchange confirmation of an MT541/3 message
a foreign exchange confirmation of multiple MT541/3 messages
a foreign exchange confirmation of a combination of multiple MT380 and MT541/3 messages
It may also be used to:
cancel a previously sent foreign exchange order confirmation
duplicate a foreign exchange order confirmation sent by other means, for example, fax or telex
provide a third party with a copy of the message being sent</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT381_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Message">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">FX Order Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Underlying Transaction Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Function of the Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a" type="SeqA_F22a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqA1" type="SeqA1_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_GENL_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeginBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_GENL_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98a" type="SeqB_F98a_Type" minOccurs="3" maxOccurs="3">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date/Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F19a" type="SeqB_F19a_Type" minOccurs="2" maxOccurs="2">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F92a" type="SeqB_F92a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB1" type="SeqB1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">FX Order Parties</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB2" type="SeqB2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_FXORDER_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_FXORDER_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="FXORDER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_FXORDER_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_FXORDER_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="FXORDER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqC_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F35a" type="SeqC_F35a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification of the Financial Instrument</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial instrument.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F36a" type="SeqC_F36a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Quantity of Financial Instrument</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqC_F70a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqC_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_UNDE_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_UNDE_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="UNDE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqC_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_UNDE_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_UNDE_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="UNDE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SEME" type="SeqA_F20a_SEME_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23G" type="F23G_33_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Function - Subfunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F22a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="FXTR" type="SeqA_F22a_FXTR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">FX Order Transaction Type Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Type of FX Order transaction contained in the FX Order details of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F13a" type="SeqA1_F13a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA1_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_LINK_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_LINK_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_F98a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="ORDR" type="SeqB_F98a_ORDR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date/Time of Order</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Date/time at which the order was placed by the instructing party with the custodian.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TRAD" type="SeqB_F98a_TRAD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Trade Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Date/time at which the order was carried out by the custodian.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VALU" type="SeqB_F98a_VALU_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Value Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Date/time at which the cash movement is to take place.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F19a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="BUYE" type="SeqB_F19a_BUYE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Buy Currency and Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">These are the currency and amount that have been bought.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SELL" type="SeqB_F19a_SELL_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sell Currency and Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">These are the currency and amount that have been sold.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F92a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="EXCH" type="SeqB_F92a_EXCH_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Exchange Rate</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Exchange rate between the amount and the resulting amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqB1_F95a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F97a" type="SeqB1_F97a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_ORDRPRTY_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_ORDRPRTY_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="ORDRPRTY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_ORDRPRTY_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_ORDRPRTY_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="ORDRPRTY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB2_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F24a" type="SeqB2_F24a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reason Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqB2_F70a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB2_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_REAS_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_REAS_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="REAS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB2_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_REAS_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_REAS_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="REAS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqC_F35a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F35B" type="F35B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="35B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identification of Security - Description of Security</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F36a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="ESTT" type="SeqC_F36a_ESTT_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Quantity of Financial Instrument Settled</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument settled.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F70a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="TRDE" type="SeqC_F70a_TRDE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Details Narrative</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Additional information about the underlying securities transaction in narrative form.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_SEME_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F23G_33_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Function" type="Code_4Ec_168_Type"/>
					<xs:element name="Subfunction" type="Code_4Ec_4_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F22a_FXTR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22H" type="F22H_14_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22H"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F13a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="LINK" type="SeqA1_F13a_LINK_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Linked Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message type number or name of the message referenced in the linkage sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="RELA" type="SeqA1_F20a_RELA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference of the linked message which was previously received.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PREV" type="SeqA1_F20a_PREV_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Previous Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference of the linked message which was previously sent.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_ORDR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98C" type="F98C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date - Time</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_TRAD_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_VALU_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F19a_BUYE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F19B" type="F19B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="19B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Currency Code - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F19a_SELL_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F19B" type="F19B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="19B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Currency Code - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F92a_EXCH_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F92B" type="F92B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="92B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - First Currency Code - Second Currency Code - Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="INVE" type="SeqB1_F95a_INVE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Investor</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Investor.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F97a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SAFE" type="SeqB1_F97a_SAFE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Safekeeping Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Safekeeping account.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F24a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="REAS" type="SeqB2_F24a_REAS_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reason Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Underlying reason for the FX transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F70a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="REAS" type="SeqB2_F70a_REAS_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reason Narrative</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Additional information about the reason for the FX transaction in narrative form.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F35B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentificationOfSecurity" type="Identifier_Isin_Type" minOccurs="0"/>
					<xs:element name="DescriptionOfSecurity" type="Text_FIN_4M35x_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F36a_ESTT_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F36B" type="F36B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="36B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Quantity Type Code - Quantity</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F70a_TRDE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F70E" type="F70E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F20C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Reference" type="Text_FIN_16x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_168_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="CANC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This is a request to cancel a previously sent confirmation of the execution of an order to buy or sell.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NEWM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This is a new confirmation of the execution of an order to buy or sell.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_4_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="CODU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This message is being sent as a copy, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The message is being sent as a copy, for information purposes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F22H_14_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Indicator" type="Code_4Ec_65_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F13a_LINK_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F13A" type="F13A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="13A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Number Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F13B" type="F13B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="13B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_RELA_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_PREV_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Time" type="DateTime_HHMMSS_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F19B_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="CurrencyCode" type="Currency_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F92B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="FirstCurrencyCode" type="Currency_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecondCurrencyCode" type="Currency_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Rate" type="Rate_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_INVE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies either a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Proprietary Code specifies a local national code or market segment code identifying the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F97a_SAFE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F97A" type="F97A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="97A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F24a_REAS_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F24B" type="F24B_62_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="24B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Reason Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F70a_REAS_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F70D" type="F70D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_Isin_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="ISIN1!e12!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="17"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="ISIN [0-9A-Z]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F36B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="QuantityTypeCode" type="Code_4Ec_11_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Quantity" type="Quantity_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F70E_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Narrative" type="Text_FIN_10M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_65_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="REVS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Reverse Indicator</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F13A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="NumberId" type="Identifier_FIN_3Ec_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F13B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0"/>
					<xs:element name="Number" type="Identifier_FIN_30x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DateTime_YYYYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYYYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_HHMMSS_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="HHMMSS"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rate_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Rate"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F95P_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95Q_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95R_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProprietaryCode" type="Text_FIN_34x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F97A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="AccountNumber" type="Identifier_FIN_35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F24B_62_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0"/>
					<xs:element name="ReasonCode" type="OptionalCode_4Ec_347_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F70D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_11_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="AMOR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amortised Value</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAMT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Face Amount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, that is, the principal, of a debt instrument.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNIT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Unit Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, for example, a number of shares.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_10M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_FIN_3Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalCode_4Ec_347_Type">
		<xs:restriction base="Text_4Ec_Type"/>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
