WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2011/fin.670.2011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.11.1_DEV) on 2011 Mar 25 16:49:21-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.670.2011" targetNamespace="urn:swift:xsd:fin.670.2011" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT670" type="MT670_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Standing Settlement Instruction Update Notification Request</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
The MT 670 Standing Settlement Instruction (SSI) Update Notification Request message is sent by a financial institution to SWIFT. It is an instruction to SWIFT to create the MT 671 Standing Settlement Instruction Update Notification for forwarding to: 
one or more financial institutions (up to 100 institutions) or
all SWIFT MT users in one or more countries (up to 80 countries) or
all SWIFT MT users specified in the request
The MT 670 is used to specify standing cash settlement information for the Sender's own account or on behalf of another party. The party and account information in the SSI is then used in FX confirmations, payments messages, etc.
The MT 670 is sent by a financial institution to SWIFT. SWIFT forwards the SSI notification to the intended recipients as an MT 671:</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT670_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Message">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Standing Settlement Instruction Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Other Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Function of the Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqA1" type="SeqA1_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqA2" type="SeqA2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Distribution Parameter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqA_F95a_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a" type="SeqA_F22a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F97a" type="SeqA_F97a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_GENL_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeginBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_GENL_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a_1" type="SeqB_F22a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqB_F20a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F11a" type="SeqB_F11a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98a" type="SeqB_F98a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a_2" type="SeqB_F22a_2_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB1" type="SeqB1_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Cash Parties</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB2" type="SeqB2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Other Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_SSIDET_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_SSIDET_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="SSIDET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_SSIDET_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_SSIDET_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="SSIDET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqC_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqC_F70a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a" type="SeqC_F22a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqC_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_OTHRDET_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_OTHRDET_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="OTHRDET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqC_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_OTHRDET_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_OTHRDET_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="OTHRDET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SEME" type="SeqA_F20a_SEME_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23G" type="F23G_56_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Function - Subfunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA1_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_LINK_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_LINK_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA2_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqA2_F95a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F94a" type="SeqA2_F94a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Place</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a" type="SeqA2_F22a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA2_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA2_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_DISPAR_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_DISPAR_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="DISPAR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA2_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_DISPAR_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_DISPAR_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="DISPAR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SUBM" type="SeqA_F95a_SUBM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Submitting Party</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that is the Sender of the SSI update notification. In many situations this party is also the beneficiary.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CONT" type="SeqA_F95a_CONT_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Contact Person</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Person at the institution that sends the SSI update notification to be contacted if there should be problems with the SSI.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TRAD" type="SeqA_F95a_TRAD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Trade Party</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Trade party, when different from the party identified as the submitting party and the beneficiary. In some cases, this may be the fund manager.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F22a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="UDTP" type="SeqA_F22a_UDTP_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SSI Update Type </xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies the type of SSI update notification.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F97a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SAFE" type="SeqA_F97a_SAFE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Safekeeping Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Master account of the currency accounts within the SSI update notification.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_1_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SSIP" type="SeqB_F22a_1_SSIP_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SSI Purpose</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies the purpose of the individual SSI.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SSIR" type="SeqB_F20a_SSIR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SSI Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference of the individual SSI.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F11a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SETT" type="SeqB_F11a_SETT_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SSI Currency</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Currency for which the SSI update is specified.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="EFFD" type="SeqB_F98a_EFFD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Effective Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Date on which the SSI update is to be effected. Date may be further qualified by Effective Date Indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_2_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="EFFD" type="SeqB_F22a_2_EFFD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Effective Date Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies how the SSI update effective date is to be applied.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MARK" type="SeqB_F22a_2_MARK_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Market Area Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies the market to which the SSI relates.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqB1_F95a_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F97a" type="SeqB1_F97a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_CSHPRTY_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_CSHPRTY_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="CSHPRTY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_CSHPRTY_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_CSHPRTY_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="CSHPRTY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB2_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqB2_F70a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a" type="SeqB2_F22a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB2_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_OTHRDET_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_OTHRDET_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F70a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="ADTX" type="SeqC_F70a_ADTX_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Text Narrative</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding the SSI update.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F22a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PMTH" type="SeqC_F22a_PMTH_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Payment Method Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies what kind of payment method is permitted.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_SEME_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F23G_56_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Function" type="Code_4Ec_207_Type"/>
					<xs:element name="Subfunction" type="Code_4Ec_174_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="RELA" type="SeqA1_F20a_RELA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message reference of a related message which was previously received.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PREV" type="SeqA1_F20a_PREV_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Previous Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message reference of a previously sent SSI update notification message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA2_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SSIR" type="SeqA2_F95a_SSIR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SSI Recipient</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Institution to which the SSI update notification (MT 671) message must be sent. This field may be present up to 100 times, identifying a distribution list for the SSI update notification.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA2_F94a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SSIR" type="SeqA2_F94a_SSIR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SSI Recipient Country</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Country to which the SSI update notification (MT 671) message must be sent. This field may be present up to 80 times.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA2_F22a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SSIR" type="SeqA2_F22a_SSIR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SSI Recipient </xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies the distribution of the SSI update notification.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_SUBM_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_CONT_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_TRAD_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F22a_UDTP_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22F" type="F22F_258_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F97a_SAFE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F97A" type="F97A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="97A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_1_SSIP_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22H" type="F22H_56_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22H"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F20a_SSIR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F11a_SETT_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F11A" type="F11A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="11A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Currency Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_EFFD_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_2_EFFD_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22F" type="F22F_259_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_2_MARK_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22F" type="F22F_260_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="BENM" type="SeqB1_F95a_BENM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party to which the payment amount must be ultimately delivered. In some cases, this may be a fund.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ACCW" type="SeqB1_F95a_ACCW_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Financial institution that services the cash account of the beneficiary. Also known as receiving agent. Party where the payment amount must be ultimately delivered on behalf of the beneficiary, that is, the party where the beneficiary has its account.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="INT1" type="SeqB1_F95a_INT1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Intermediary.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="INT2" type="SeqB1_F95a_INT2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Second Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Second intermediary.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ALTE" type="SeqB1_F95a_ALTE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Alternate ID</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Alternate identification of the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F97a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="CASH" type="SeqB1_F97a_CASH_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Cash Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Account in which cash is maintained.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F70a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="ADTX" type="SeqB2_F70a_ADTX_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Text Narrative</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding the SSI update.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F22a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PMTH" type="SeqB2_F22a_PMTH_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Payment Method Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies what kind of payment method is permitted.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F70a_ADTX_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F70E" type="F70E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F22a_PMTH_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22F" type="F22F_261_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F20C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Reference" type="Text_FIN_16x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_207_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="NEWM">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">New</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">New SSI update notification message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_174_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="CODU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is a copy to a party other than the account owner/account servicer, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPY">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is a copy to a party other than the account owner/account servicer, for information purposes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA1_F20a_RELA_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_PREV_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA2_F95a_SSIR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA2_F94a_SSIR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F94C" type="F94C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Country Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA2_F22a_SSIR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22H" type="F22H_55_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22H"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95P_6_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95Q_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22F_258_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0"/>
					<xs:element name="Indicator" type="OptionalCode_4Ec_427_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F97A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="AccountNumber" type="Identifier_FIN_35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22H_56_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Indicator" type="Code_4Ec_209_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F11A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="CurrencyCode" type="Currency_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22F_259_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0"/>
					<xs:element name="Indicator" type="OptionalCode_4Ec_428_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22F_260_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0"/>
					<xs:element name="Indicator" type="OptionalCode_4Ec_429_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_BENM_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Data Source Scheme represents a clearing system. Proprietary Code specifies a local national code identifying the party at that clearing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_ACCW_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Data Source Scheme represents a clearing system. Proprietary Code specifies a local national code identifying the party at that clearing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_INT1_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Data Source Scheme represents a clearing system. Proprietary Code specifies a local national code identifying the party at that clearing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_INT2_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Data Source Scheme represents a clearing system. Proprietary Code specifies a local national code identifying the party at that clearing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_ALTE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95S" type="F95S_15_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95S"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Type of ID - Country Code - Alternate ID</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Type of ID specifies the type of alternate identification that can be used to give an alternate identification of the party identified in this sequence.
Country Code specifies the country for which the alternate identification is relevant.
Alternate ID specifies an alternate identification of the party identified in this sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F97a_CASH_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F97A" type="F97A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="97A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F70a_ADTX_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F70E" type="F70E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F22a_PMTH_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22F" type="F22F_261_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F70E_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Narrative" type="Text_FIN_10M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22F_261_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0"/>
					<xs:element name="Indicator" type="OptionalCode_4Ec_430_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F94C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="CountryCode" type="Country_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22H_55_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Indicator" type="Code_4Ec_208_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalCode_4Ec_427_Type">
		<xs:restriction base="Text_4Ec_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_209_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="NEWS">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">New</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Individual SSI is new.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RECO">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Re-confirmation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Individual SSI is re-confirmed.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYYYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYYYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalCode_4Ec_428_Type">
		<xs:restriction base="Text_4Ec_Type"/>
	</xs:simpleType>
	<xs:simpleType name="OptionalCode_4Ec_429_Type">
		<xs:restriction base="Text_4Ec_Type"/>
	</xs:simpleType>
	<xs:complexType name="F95P_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95R_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProprietaryCode" type="Text_FIN_34x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95P_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95S_15_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0"/>
					<xs:element name="TypeOfID" type="OptionalCode_4Ec_66_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="CountryCode" type="Country_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="AlternateID" type="Text_FIN_30x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Text_FIN_10M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="OptionalCode_4Ec_430_Type">
		<xs:restriction base="Text_4Ec_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Country_Type">
		<xs:restriction base="Text_2Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_208_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="ALLL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">SSI update notification is to be distributed to all SWIFT users.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalCode_4Ec_66_Type">
		<xs:restriction base="Text_4Ec_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_2Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="2!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
