WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2011/fin.416.2011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.11.1_DEV) on 2011 Mar 25 16:48:37-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.416.2011" targetNamespace="urn:swift:xsd:fin.416.2011" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT416" type="MT416_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Advice of Non-Payment/Non-Acceptance</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message type is sent by the collecting bank to the remitting bank.
It may also be sent:
to the remitting bank via another financial institution.
by a presenting bank to a collecting bank.
It is used to advise of non-payment or non-acceptance under a previously received collection or part thereof.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT416_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Non-Payment/Non-Acceptance Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference to the entire message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference to the original collection.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Advice Type</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the type of advice for all transactions contained in this message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51a" type="SeqA_F51a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sending Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the Sender of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="SeqA_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Correspondent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies, where required, the account or branch of the Sender through which the Sender wants non-payment or non-acceptance charges to be reimbursed by the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="SeqA_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount of the total charges due to the Sender for the individual transaction contained in this message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F77a" type="SeqA_F77a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reason for Non-Payment/Non-Acceptance</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the reason for non-payment/non-acceptance for all transactions contained in this message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F21a_1" type="SeqB_F21a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Sequence Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference to the related individual transaction in the original collection.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqB_F23a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Advice Type</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the type of advice for the individual transaction in this occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_2" type="SeqB_F21a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Principal's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference allocated by the principal in the original collection.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqB_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Face Amount of Document(s)</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the maturity date of the individual document(s) which failed to be collected from the drawee. This field should therefore not include any charges.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a" type="SeqB_F50a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Principal</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the principal which requested the collection of the transaction in this occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F59a" type="SeqB_F59a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Drawee</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the drawee of the individual transaction in this occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="SeqB_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount of the charges due to the Sender for the individual transaction in this occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F77a" type="SeqB_F77a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reason for Non-Payment/Non-Acceptance</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the reason for non-payment/non-acceptance for the individual transaction in this occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23E" type="F23E_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F51a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F51A" type="F51A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53B" type="F53B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71F" type="F71F_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F77a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F77A" type="F77A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="77A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21A" type="F21A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21A"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23E" type="F23E_13_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21C" type="F21C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21C"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32A" type="F32A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32K" type="F32K_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32K"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Day/Month - Number of Days/Months - Code - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F50a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50D" type="F50D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F59a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F59" type="F59_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="59"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71F" type="F71F_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F77a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F77A" type="F77A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="77A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F23E_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Type" type="Code_4Ec_74_Type"/>
					<xs:element name="Narrative" type="Text_FIN_30x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F51A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BIC_Format_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0"/>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71F_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type"/>
					<xs:element name="Amount" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F77A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_20M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F21A_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F23E_13_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Type" type="Code_4Ec_169_Type"/>
					<xs:element name="Narrative" type="Text_FIN_30x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F21C_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F32A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type"/>
					<xs:element name="Currency" type="Currency_Type"/>
					<xs:element name="Amount" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type"/>
					<xs:element name="Amount" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32K_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DayMonth" type="Code_1Ea_24_Type"/>
					<xs:element name="NumberOfDaysMonths" type="Quantity_FIN_3En_Type"/>
					<xs:element name="Code" type="Code_2Ea_2_Type"/>
					<xs:element name="Currency" type="Currency_Type"/>
					<xs:element name="Amount" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F50D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F59_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_74_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="NACC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This message contains an advice of non-acceptance.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NPAY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This message contains an advice of non-payment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Used for bilaterally agreed codes and/or information when no other code exists for the advice type to be specified. The actual bilateral code and/or information must be specified in Narrative.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BIC_Format_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_20M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="20"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_169_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="NACC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains an advice of non-acceptance.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NPAY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains an advice of non-payment.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Used for bilaterally agreed codes and/or information when no other code exists for the advice type to be specified. The actual bilateral code and/or information must be specified in Narrative.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_24_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Number of Days</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Number of Months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_3En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="3!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_2Ea_2_Type">
		<xs:restriction base="Text_2Ea_Type">
			<xs:enumeration value="BE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After the date of the bill of exchange</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After site</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_2Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="2!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
