WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2011/fin.609.2011.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.11.1_DEV) on 2011 Mar 25 16:49:20-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.609.2011" targetNamespace="urn:swift:xsd:fin.609.2011" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT609" type="MT609_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Statement of Commodity Contracts</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by a commodity trader to its counterparty.
It is a listing of all undelivered spots and/or outstanding forward contracts, and/or unexercised options, as at a specified date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT609_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F27a" type="MT609_F27a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sequence of Total</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the number of this message in the total sequence of messages sent to the Receiver to convey the information about the commodity contracts outstanding at the date specified in field 31C.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="MT609_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the Sender's reference to the statement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F31a" type="MT609_F31a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Statement Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date on which the contracts listed in this statement message remain outstanding.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="MT609_F30a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date Prepared</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date the statement was prepared, if different from the date the message was sent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Loop1" type="Loop1_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Loop1</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT609_F27a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F27" type="F27_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="27"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number - Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT609_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT609_F31a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31C" type="F31C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT609_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F23a" type="Loop1_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Further Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the type of contract listed in the sequence of fields 26C and 68a immediately following it.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Loop2" type="Loop2_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Loop2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="Loop1_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F27_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Number" type="Quantity_FIN_1En_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total" type="Quantity_FIN_1En_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F31C_Type">
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F30_Type">
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="Loop1_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23" type="F23_21_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F26a" type="Loop2_F26a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification of the Commodity</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the commodity to which this statement relates.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F68a" type="Loop2_F68a_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Details</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field provides transaction details on undelivered SPOTS or outstanding FORWARDS (option B) or pending OPTIONS (option C) as specified in the immediately preceding field 23.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_58_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Quantity_FIN_1En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="1!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="F23_21_Type">
		<xs:restriction base="Code_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="Loop2_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26C" type="F26C_3_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Delivery Details - Delivery Location - Allocation - Type - Denomination - Form</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop2_F68a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F68B" type="F68B_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="68B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Trade Date - Maturity Date - Contract Number - Indicator - Unit - Quantity of the Commodity - Currency1 - Price Per Unit - Value Date of the Consideration - Currency2 - Consideration</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F68C" type="F68C_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="68C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Buy/Sell Indicator - Call/Put indicator - Style Indicator - Date Contract Agreed - Unit - Amount of the Underlying Commodity - Currency1 - Strike Price Per Unit - Currency2 - Premium Price Per Unit - Currency3 - Premium Payment</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_58_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_16x_Type">
		<xs:restriction base="Text_16x_Type">
			<xs:enumeration value="FORWARDS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The following is a list of all outstanding forward contracts as at a specified date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OPTIONS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The following is a list of all unexercised options as at a specified date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPOTS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The following is a list of all undelivered spots as at a specified date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F26C_3_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DeliveryDetails" type="Code_3Ea_19_Type" minOccurs="0"/>
					<xs:element name="DeliveryLocation" type="Text_FIN_15x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="/[A-Z]{5}[A-Z]{4}([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,4})?(//[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8})?$"/>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Allocation" type="Code_5Ea_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="DTRestriction_26C_3_Type"/>
					<xs:element name="Denomination" type="Text_FIN_4x_noDoubleSlash_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="(//[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8})?$"/>
								<info:MatchUntilPattern value="//|$"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Form" type="Text_FIN_8x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F68B_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="TradeDate" type="DateTime_YYMMDD_Type"/>
					<xs:element name="MaturityDate" type="DateTime_YYMMDD_Type"/>
					<xs:element name="ContractNumber" type="Text_FIN_16x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="/[A-Z][A-Z]{3}[0-9]+,[0-9]*&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Indicator" type="Code_1Ea_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unit" type="Code_3Ea_21_Type"/>
					<xs:element name="QuantityOfTheCommodity" type="Quantity_FIN_15d_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency1" type="Currency_Type"/>
					<xs:element name="PricePerUnit" type="Amount_FIN_15d_Type"/>
					<xs:element name="ValueDateOfTheConsideration" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency2" type="Currency_Type"/>
					<xs:element name="Consideration" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F68C_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="BuySellIndicator" type="Text_FIN_4a_Type"/>
					<xs:element name="CallPutIndicator" type="Text_FIN_4a_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="StyleIndicator" type="Code_1Ea_30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateContractAgreed" type="DateTime_YYMMDD_Type" minOccurs="0"/>
					<xs:element name="Unit" type="Code_3Ea_21_Type"/>
					<xs:element name="AmountOfTheUnderlyingCommodity" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency1" type="Currency_Type"/>
					<xs:element name="StrikePricePerUnit" type="Amount_FIN_15d_Type"/>
					<xs:element name="Currency2" type="Currency_Type"/>
					<xs:element name="PremiumPricePerUnit" type="Amount_FIN_15d_Type"/>
					<xs:element name="Currency3" type="Currency_Type"/>
					<xs:element name="PremiumPayment" type="Amount_FIN_15d_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ea_19_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="CFR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Cost and Freight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Cost, Insurance, and Freight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Carriage and Insurance Paid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CPT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Carriage Paid To</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DAF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered At Frontier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DDP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Duty Paid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DDU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Duty Unpaid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEQ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Ex Quay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DES">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Ex Ship</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DTD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Door To Door</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXW">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">EX Works</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free Alongside Ship</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FCA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free Carrier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOB">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free On Board</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">LOCO London</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_15x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="15x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_5Ea_1_Type">
		<xs:restriction base="Text_5Ea_Type">
			<xs:enumeration value="ALLOC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the commodity is allocated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNALL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the commodity is unallocated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DTRestriction_26C_3_Type">
		<xs:restriction base="Text_4Ea_Type">
			<xs:enumeration value="ALUM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Aluminium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Copper</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GOLD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gold</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IRID">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Iridium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEAD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Lead</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NICK">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Nickel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OSMI">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Osmium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PALL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Palladium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLAT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Platinum</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POIL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Palm Oil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RHOD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Rhodium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RUTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Ruthenium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SILV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Silver</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STEE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Steel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TINA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TITA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Titanium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZINC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Zinc</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AMEG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AMERICAN EAGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANUG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AUSTRALIAN NUGGET</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BRIT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">BRITANNIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COIN">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">OTHER COINS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORO">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AUSTRIAN CORONA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUCA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">DUCAT FOURFOLD SINGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FRFR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">FRENCH FRANCS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GECU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">GOLDEN ECU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KRUG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">KRUGER RAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LBTY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">LIBERTY DOLLAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAPL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">MAPLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MEXP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">MEXICAN PESO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NBUF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NEW BUFFALO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOBL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NOBLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NSOV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NEW SOVEREIGN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OSOV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">OLD SOVEREIGN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAEG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">SILVER AMERICAN EAGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SECU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">SILVER ECU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STAT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">STATUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VREN">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">VRENELI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_4x_noDoubleSlash_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,4}(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{1,2})?(/)?[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_8x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="8x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_9_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The Sender bought the commodity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The Sender sold the commodity</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ea_21_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="FOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Fine Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gross Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GRM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gramme</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KLO">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Kilo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Litre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Lot</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PND">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Pound</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tael</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tola</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TON">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Metric Tonne</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Troy Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_4a_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Z]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_30_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This is an American style option</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This is a European style option</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">This is an Asian style option</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_5Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="5!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[A-Z]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
