WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.secl.007.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:17, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:secl.007.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:secl.007.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAnd13DecimalAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217. The number of fractional digits (or minor unit of currency) is not checked as per ISO 4217: It must be lesser than or equal to 13.
Note: The decimal separator is a dot.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternatePartyIdentification4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Alternate identification for a party using an identification type, a country code and a text field.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of alternate identification of the party identified.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country in which a person resides (the place of a person's home). In the case of a company, it is the country from which the affairs of that company are directed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AltrnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternateIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Alternate identification for a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection27">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountAndDirection27</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amount of money debited or credited on the books of an account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether an entry is a credit or a debit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalCurrencyAndOrderedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Posting/settlement amount in its original currency when conversion from/into another currency has occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FXDtls" type="ForeignExchangeTerms17">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information needed to process a currency exchange or conversion.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaseOneRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a decimal, eg, 0.7 is 7/10 and 70%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BuyIn1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BuyIn1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies elements related to the notification (or warn) sent by the central counterparty to the clearing member in the context of the buy in process.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="WrngInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WarningIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is a warning only or a notification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XpctdBuyInDt" type="DateFormat15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpectedBuyInDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the date at which the buy will occur.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BuyInNotificationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BuyInNotificationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The BuyInNotification message is sent by the central counterparty (CCP) to a clearing member to notify the start of the buy in process.&#13;
The ISO 20022 Business Application Header must be used.&#13;
Usage&#13;
The buy in process is a process by which the CCP buys in stocks to cover failed transactions; the clearing member is notified that this process has started. Depending on each CCP internal rules, this message can also be sent, as a warning, by the central counterparty to the clearing member some days before the buy in process starts.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClrMmb" type="PartyIdentification35Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingMember</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the clearing member (individual clearing member or general clearing member).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnDtls" type="BuyIn1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the message is a notification or a warning and gives the option to specify the buy in date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlSttlmOblgtn" type="SettlementObligation6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalSettlementObligation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details about the original settlement obligation that did not settle and for which the buy in process will be launched.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClearingAccountType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingAccountType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing account type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">House</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to register trades executed for either the clearing member or its subsidiaries.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLIE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Client</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to register trades executed for the clearing member's customers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityProvider</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to register trades executed for liquidity providers (also known as market maker) activities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateCode3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateCode3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a proprietary code for a date code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to indicate the date is unknown.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification20">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the type of date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat15Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat15Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtCd" type="DateCode3Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date is expressed using a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies when date is unknown</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date is unknown by the sender or has not been established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BuyInNtfctn" type="BuyInNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTerms17">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForeignExchangeTerms17</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the terms of the foreign exchange transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="UnitCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxUSD, the unit currency is GBP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QtdCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuotedCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency into which the base currency is converted, in a currency exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgRate" type="BaseOneRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Factor used for the conversion of an amount from one currency into another. This reflects the price at which one currency was bought with another currency.
Usage: ExchangeRate expresses the ratio between UnitCurrency and QuotedCurrency (ExchangeRate = UnitCurrency/QuotedCurrency).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RsltgAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResultingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Counter value of a foreign exchange conversion.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification29">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification29</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification30</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificationType6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationType6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code and a data source scheme to specify the type of alternate identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TypeOfIdentification1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of identification is defined using an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification30">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of identification is defined using a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name and address of an institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adr" type="PostalAddress2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification33Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification29">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress6">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification34Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification34Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation using a choice between a BIC or the name and addres or the country code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation, using the name and address.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation using the country code, using the country code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification35Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification35Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by giving a BIC or a proprietary code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification29">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount31">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentificationAndAccount31</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Party and account details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternateIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Alternate identification for a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information to a party identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrAcct" type="SecuritiesAccount18">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the clearing member account at the Central counterparty through which the trade must be cleared (sometimes called position account).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyTextInformation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding the party, eg, the contact unit or person responsible for the transaction identified in the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeclarationDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides declaration details narrative relative to the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyContactDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding the party, eg, the contact unit or person responsible for the transaction identified in the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information required for the registration.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Price4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the value and optionaly the type of price.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Val" type="PriceRateOrAmountChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the price.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PriceValueType7Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the price type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriceRateOrAmountChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the price.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Price expressed as a rate, ie, percentage.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Price expressed as a currency and value.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceValueType7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriceValueType7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a type of value of the price.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Discount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a number of percentage points below par, eg, a discount price of 2.0% equals a price of 98 when par is 100.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PREM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Premium</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a number of percentage points above par, eg, a premium price of 2.0% equals a price of 102 when par is 100.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Par</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is the face amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="YIEL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Yield</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a yield.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Spread</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Difference between a market maker's bid and asked price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEUN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PerUnit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed per unit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABSO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Absolute</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is expressed as absolute.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TEDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TEDPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is expressed as Treasury Euro Dollar price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TEDY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TEDYield</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is expressed as Treasury Euro Dollar yield.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FICT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FixedCabinetTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cabinet trades are used to indicate prices that trade at a price lower than that available on an exchange and they can be fixed or variable (primarily used for listed futures and options).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VACT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VariableCabinetTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cabinet trades are used to indicate prices that trade at a price lower than that available on an exchange and they can be fixed or variable (primarily used for listed futures and options).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Percentage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a percentage of par.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACTU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActualAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a currency and amount per unit or per share.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount18">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount18</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="ClearingAccountType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the account is a House, a Client or a Liquidity Provider (Market Maker) account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementObligation6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementObligation6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details about the settlement obligation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CSDTxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Last reference given by the settlement platform (this is the central securities depository)  to the transaction (non settled instruction).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CntrlCtrPtyTxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralCounterpartyTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the transaction (non settled instruction) given by the central counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryAcct" type="SecuritiesAccount19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An account opened by the central counterparty in the name of the clearing member within the account structure, for settlement purposes (gives information about the clearing member account at central counterparty).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing member account at the central securities depository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSgmt" type="PartyIdentification35Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSegment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing organisation that will clear the trade.&#13;
&#13;
Note: This field allows clearing member firm to segregate flows coming from clearing counterparty's clearing system. Indeed, clearing member firms receive messages from the same system (same sender) and this field allows them to know if the message is related to equities or derivatives.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NonClrMmb" type="PartyIdentificationAndAccount31">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonClearingMember</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification for the non-clearing member and account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntnddSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntendedSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the intended settlement date of the position.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details about the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the trade date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealPric" type="Price4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the price of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the quantity of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification34Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Depository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place where settlement of the securities takes place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngQtyToBeSttld" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RemainingQuantityToBeSettled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the remaining quantity to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmAmt" type="AmountAndDirection27">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the amount to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngAmtToBeSttld" type="AmountAndDirection27">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RemainingAmountToBeSettled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the remaining amount to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TypeOfIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of alternate identification which can be used to give an alternate identification of the party identified.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlienRegistrationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a government agency to identify foreign nationals.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PassportNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a passport authority.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHTY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxExemptIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned to a tax exempt entity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned to a corporate entity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRLC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DriverLicenseNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned to a driver's license.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FIIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignInvestmentIdentityNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned to a foreign investor (other than the alien number).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TXID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a tax authority to an entity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
