WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.069.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:34, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.069.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.069.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBAN2007Identifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Othr" type="GenericAccountIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountSchemeName1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the identification scheme</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalAccountIdentification1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BranchIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a specific branch of a financial institution.

Usage: This component should be used in case the identification information in the financial institution component does not provide identification up to branch level.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchData2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a branch of a financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount24">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount24</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the currency in which the account is held. 

Usage: Currency should only be used in case one and the same account number covers several currencies
and the initiating party needs to identify which currency needs to be used for settlement on the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account, as assigned by the account servicing institution, in agreement with the account owner in order to provide an additional means of identification of the account.

Usage: The account name is different from the account owner name. The account name is used in certain user communities to provide a means of identifying the account, in addition to the account owner's identity and the account number.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalCashAccountType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account type, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification code for a clearing system, that has not yet been identified in the list of clearing systems.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToDt" type="DatePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and an end date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetStgOrdr" type="GetStandingOrderV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalAccountIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external account identification scheme name code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalCashAccountType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use, of the cash account in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing system identification code, as published in an external clearing system identification code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstitutionIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial institution identification scheme name code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialIdentificationSchemeName1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the organisation identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericFinancialIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetStandingOrderV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetStandingOrderV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope
The GetStandingOrder message is sent by a member to the transaction administrator.
It is used to request information on the details of one or more standing orders, based on specific request criteria, especially to query the amount of the overall liquidity available. It will allow to query both reserved liquidity and liquidity available for normal operations.
Usage
The member can request information based on the following elements:
- individual standing orders (predefined or  standing liquidity transfer orders)
- amount
- account to be credited
- account to be debited
- account owner (for on behalf scenario)
- frequency of payment
- daytime or overnight processing
- dates when the standing order begins and ceases to be effective
This message will be answered by a ReturnStandingOrder message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StgOrdrQryDef" type="StandingOrderQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the account query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBAN2007Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616:2007 - "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender,, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Department</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a division of a large organisation or building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubDepartment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a sub-division of a large organisation or building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country such as state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifyies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that all matching items be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Changed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only new matching items since the last similar query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Modified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only items that have changed since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that items that have been deleted since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StandingOrderQueryType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer request type, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer request type, in a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RequestedIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestedIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates if requested or not.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="StandingOrderCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria which are used to search for a standing order and to report on standing orders. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewQueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query defined by the search criteria and return criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="StandingOrderSearchCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract the standing order information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="StandingOrderReturnCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the expected standing order report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderCriteria1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderCriteria1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="QryNm" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NewCrit" type="StandingOrderCriteria1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Explicitly defines the query criteria.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specification of the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of matching items to be returned in the response to the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StgOrdrCrit" type="StandingOrderCriteria1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Definition of the standing order query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StandingOrderQueryType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderQueryType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the query type for standing orders queries, that identifies the predefined key attributes expected in the response to the query.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderList</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used to query the list of liquidity transfer standing orders defined in the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SDTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used to query a specific liquidity transfer standing order based on a set of search criteria.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TAPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalAmountPerStandingOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used to query the total amounts of predefined and user defined liquidity transfer standing orders for both defined and not yet executed orders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLSL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderLinkSetList</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used to query the list of liquidity transfer standing orders defined in a specific link set of sequenced standing orders. The link set is a collection of standing order defined in a specific sequence.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SWLS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderDetailsWithinLinkSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used to query a specific standing order within a link set of sequenced liquidity transfer standing orders. The link set is a collection of standing order defined in a specific sequence.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StandingOrderReturnCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderReturnCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on standing orders.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StgOrdrIdInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderIdentificationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on a multilateral balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TpInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the standing order type is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysMmbInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemMemberIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the system member identification is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the responsible party identification is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrencyIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account currency is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAcctInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebtorAccountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account type is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAcctInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAccountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the multilateral limit is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AssoctdPoolAcct" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssociatedPoolAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the associated pool account is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FrqcyInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FrequencyIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the frequency is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnTpInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionTypeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the execution type is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyFrInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidityFromIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account standing order is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldToInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidToIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account owner information is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSetIdInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSetIdentificationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the link set identification is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSetOrdrIdInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSetOrderIdentificationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the identification of a standing order within a link set is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSetOrdrSeqInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSetOrderSequenceIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the sequence of a standing order within a link set is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlAmtInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalAmountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the total amount per standing order type is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ZeroSweepInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ZeroSweepIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the zero sweeping indicator is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderSearchCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderSearchCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria which are used to search for standing orders defined within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyAttrbtsInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyAttributesIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the key fields or business attributes defined within the system must be returned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StgOrdrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the standing order used to initiate the liquidity transfer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="StandingOrderType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="CashAccount24">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer origin or destination account within the pool of accounts under management of the requestor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for a standing order, as assigned by the account servicer or the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyPrd" type="DatePeriodDetails2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidityPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dates during which the standing order is in effect. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysMmb" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemMember</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the account is debited or credited by the standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPty" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsibleParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AssoctdPoolAcct" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssociatedPoolAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer origin or destination account within the pool of accounts under management of the requestor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSetId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSetIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identiy the link set in which the standing order is defined. The link set is a collection of standing order defined in a specific sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSetOrdrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSetOrderIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify liquidity transfer standing order within the link set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSetOrdrSeq" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSetOrderSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the sequence in which the system will execute the liquidity transfers standing order within the link set when additional liquidity is required.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ZeroSweepInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ZeroSweepIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the query shall return all liquidity transfer standing orders defined as zero sweeping orders.&#13;
When the indicator is set to true, the liquidity transfer standing order will transfer all amount of money out of the account so the resulting balance is  zero.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of liquidity transfer standing order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StandingOrderType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer standing order type, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer standing order type, in a free text form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StandingOrderType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of standing order, such as a user defined standing order or a predefined liquidity transfer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="USTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UserDefinedStandingOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer standing order type, that has been customised or defined to the specific need of the user.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PSTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PredefinedStandingOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer standing order type, as predefined in the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
