WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.029.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:38, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.029.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.029.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Case">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information identifying a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique id assigned by the case creator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cretr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Creator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that created the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReopCaseIndctn" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReopenCaseIndication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set to yes if the case was closed and needs to be re-opened.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CaseAssignment">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CaseAssignment</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Represents the assignment of a case to a party. Assignment is a step in the overall process of managing a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an assignment within a case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgnr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assigner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that assigns the case to another party. This is also the sender of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgne" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that the case is assigned to. This is also the receiver of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the assignment was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClearingChannel2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingChannel2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing channel for the routing of the transaction, as part of the payment type identification.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RTGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RealTimeGrossSettlementSystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing channel is a real-time gross settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RealTimeNetSettlementSystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing channel is a real-time net settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MPNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MassPaymentNetSystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing channel is a mass payment net settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BookTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment through internal book transfer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorrectivePaymentInstructionExtract">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorrectivePaymentInstructionExtract</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of a correction of a payment instruction. The information contained in this component is sufficient to retrieve a payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="InstrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the corrective payment instruction (eg, field 20 of an MT 103) sent to resolve the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="InstdAmt" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InstructedAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntrBkSttlmAmt" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InterbankSettlementAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:choice>
                <xs:element name="ReqdExctnDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RequestedExecutionDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date the debtor requests the clearing agent to process the payment instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntrBkSttlmDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InterbankSettlementDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.029.001.02" type="camt.029.001.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="InvestigationExecutionConfirmation2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestigationExecutionConfirmation2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the result of an investigation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledAsPerRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a requested cancellation is successful.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ModifiedAsPerRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a requested modification is successful.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IPAY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when the result of an investigation is, or will be, the initiation of a payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICOV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CoverInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a transfer of funds has been initiated (a cover payment) to resolve a case.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCOV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CoverModified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a transfer of funds has been modified (a cover payment) to resolve a case.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformationSent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when additional information has been sent to the beneficiary of a payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmationOfPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a payment has been checked and was correctly executed without any intervention.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CWFW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationWillFollow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a payment will be cancelled to solve an investigation case.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MWFW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ModificationWillFollow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when the payment will be modified to solve an investigation case.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UWFW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToApplyWillFollow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when sender wants to respond to an assignment with an Unable To Apply workflow.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestigationStatus">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestigationStatus</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different statuses of an investigation case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Conf" type="InvestigationExecutionConfirmation2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Confirmation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates the status of an investigation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AssgnmtCxlConf" type="YesNoIndicator">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AssignmentCancellationConfirmation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">If yes, it means the cancellation of the assignment is confirmed.
If no, it means the cancellation of the assignment is rejected and the investigation process will continue.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="14" minOccurs="1" name="RjctdMod" type="PaymentModificationRejection1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RejectedModification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the rejection of a modification request, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RjctdCxl" type="RejectedCancellationJustification">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RejectedCancellation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Explains the reason for rejecting a payment cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DplctOf" type="Case">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DuplicateOf</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifies a duplicated case. When present, the case identified in the message must be closed. The case identified as duplicated (in this component) will be pursued.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrInf" type="ReturnInformation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details on the returns expected by the debtor side after cancellation or modification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PaymentCancellationRejection1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentCancellationRejection1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Returned when a request for cancellation cannot be executed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LEGL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegalDecision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reported when the cancellation cannot be accepted because of regulatory rules.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgentDecision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reported when the cancellation cannot be accepted because of an agent refuses to cancel.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CUST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerDecision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reported when the cancellation cannot be accepted because of a customer decision (Creditor).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PaymentModificationRejection1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentModificationRejection1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the reason for rejecting a modification.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UM01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyRelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RelatedReference cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyBankOperationCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">BankOperationCode cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM03">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyInstructionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">InstructionCode  cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM04">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyRequestedExecutionDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RequestedExecutionDate  cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM05">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ValueDate  cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM06">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyInterbankSettlementAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">InterbankSettlementAccount cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM07">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyDebtor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debtor cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM08">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyDebtorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DebtorAccount cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM09">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyReceiverCorrespondent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ReceiverCorrespondent cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyThirdReimbursementInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ThirdReimbursementInstitution cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyPaymentScheme</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PaymentScheme cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyAccountofBeneficiaryInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AccountOfBeneficiaryInstitution cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyCreditor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Creditor cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyCreditorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CreditorAccount cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyRemittanceInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RemittanceInformation cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM16">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyPaymentPurpose</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PaymentPurpose cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM17">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyDetailsOfCharges</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DetailsOfCharges cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM18">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifySenderToReceiverInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SenderToReceiver cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifyInstructionForFinalAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">InstructionForFinalAgent cannot be modified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM20">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionCancelledSubmitNewInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used to inform of cancellation and request a new payment instruction. This should only be used if an agent does not want to modify a pending payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UM21">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToModifySubmitCancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Modification is not possible and the cancellation is requested.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectedCancellationJustification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectedCancellationJustification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the reason for rejecting a RequestToCancelPayment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RsnCd" type="PaymentCancellationRejection1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Justification for the rejection of the cancellation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Free text justification for rejecting a cancellation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnInformation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnInformation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details on the returns expected by the debtor side after cancellation or modification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrdIntrBkSttlmAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnedInterbankSettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Returned amount of money moved between the instructing agent and the instructed agent in the return transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrChanl" type="ClearingChannel2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingChannel</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing channel to be used to process the payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="camt.029.001.02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResolutionOfInvestigationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The Resolution Of Investigation message is sent by a case assignee to a case creator/case assigner.&#13;
This message is used to inform of the resolution of a case, and optionally provides details about .&#13;
- the corrective action undertaken by the case assignee&#13;
- information on the return where applicable&#13;
Usage&#13;
The Resolution Of Investigation message is used by the case assignee to inform a case creator or case assigner about the resolution of a:&#13;
- request to cancel payment case&#13;
- request to modify payment case&#13;
- unable to apply case&#13;
- claim non receipt case&#13;
The Resolution Of Investigation message covers one and only one case at a time. If the case assignee needs to communicate about several cases, then several Resolution Of Investigation messages must be sent.&#13;
The Resolution Of Investigation message provides:&#13;
- the final outcome of the case, whether positive or negative&#13;
- optionally, the details of the corrective action undertaken by the case assignee and the information of the return&#13;
Whenever a payment instruction has been generated to solve the case under investigation, the optional CorrectionTransaction component present in the message must be completed.&#13;
Whenever the action of modifying or cancelling a payment results in funds being returned, an investigating agent may attached some details in this message. These details facilitates the account reconciliations at the initiating bank and the intermediaries. It must be stressed that returning of funds is outside the scope of this Exceptions and Investigation service. The features given here is only meant to transmit the information of returns when it is available.&#13;
The Resolution Of Investigation message must&#13;
- be forwarded by all subsequent case assignee(s) until it reaches the case creator&#13;
- not be used in place of a Reject Case Assignment or Case Status Report or Notification Of Case Assignment message.&#13;
Take note of an exceptional rule that allows the use of Resolution Of Investigation in lieu of a Case Status Report. Case Status Report is a response-message to a Case Status Report Request. The latter which is sent when the assigner has waited too long (by his standard) for an answer. However it may happen that when the Request arrives, the investigating agent has just obtained a resolution. In such a situation, it would be redundant to send a Case Status Report when then followed immediately by a Resolution Of Investigation. It is therefore quite acceptable for the investigating agent, the assignee, to skip the Case Status Report and send the Resolution Of Investigation message directly.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Assgnmt" type="CaseAssignment">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the case assignment.

Note: the Assigner must be the sender of this confirmation and the Assignee must be the receiver.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RslvdCase" type="Case">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResolvedCase</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a resolved case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sts" type="InvestigationStatus">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the status of the investigation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CrrctnTx" type="CorrectivePaymentInstructionExtract">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorrectionTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">References a transaction intitiated to fix the case under investigation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
