WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.004.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:04, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.004.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.004.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CustodianAction1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CustodianAction1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies custodian activity codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RSCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Research</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian is researching pending issues raised by the validation service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SendInfo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian is expected to send updated information.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Disagrees</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian disagrees with the validation service and will take no further action.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No action required by the custodian.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CustodianDetailsSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CustodianDetailsSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information regarding custodian service record.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtdnCorpActnRcrdId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianCorporateActionRecordIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a custodian corporate action record. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AgrInd" type="CustodianRecordAgreementType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgreeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the state of the agreement of the custodian record when compared to composite record. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CmpltnsInd" type="CustodianRecordCompletenessType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompletenessIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates state of the details of the custodian record on the system. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnActnInd" type="CustodianAction1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianActionIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the status of custodian activity when applicable.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GCAActnInd" type="GCAActionType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GCAActionIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates what action needs to be taken by the GCA (Global Corporate Action) validation service for this particular record. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcvgBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">BIC which is configured as a recipient of the custodian record. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgtgBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">BIC which is configured as a sender of the custodian record. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CmpsitNotInSbcptFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompositeNotInSubscriptionFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the event security of the  corresponding composite record is on SOI (security of interest) subscription. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdCtdnMsgDtls" type="RelatedCustodianMessageDetailsSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedCustodianMessageDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides selected corporate action events message details extracted from the related custodian messages received. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustodianOptionDateDetailsSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CustodianOptionDateDetailsSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Corporate action option information for the custodian record.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtDdlnDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgentDeadlineDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian deadline date for the option instructions. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtDdlnTm" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgentDeadlineTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian deadline time for the option instructions. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CustodianRecordAgreementType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CustodianRecordAgreementType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the state of the agreement of the custodian record when compared to composite record.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agree</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian record agrees with the composite record.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DAGR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Disagree</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian record disagrees with the composite record.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoComposite</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No composite record available.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CustodianRecordCompletenessType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CustodianRecordCompletenessType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the state of details of the composite record on the system. Applicable to custodian service only.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian record is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Incomplete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian record is incomplete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCOM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConditionallyComplete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian record is conditionally complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DTCCCANOCustodianSD1V03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCANOCustodianSD1V03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCANOCustodianSD1 message extends ISO corporate action notification (CANO) message with DTCC validation custodian service specific data elements that are not covered by the standard message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnDtls" type="CustodianDetailsSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as custodian details supplementary data to corporate action notification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtdnOptnDtDtls" type="CustodianOptionDateDetailsSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianOptionDateDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as custodian service supplementary data to option details.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCANOCtdnSD1" type="DTCCCANOCustodianSD1V03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GCAActionType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GCAActionType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies what action needs to be taken by the validation service for this particular record.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContactCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian needs to be contacted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FREA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResearchRequired</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further research is required.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CDCU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianContacted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian has been contacted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NQCU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DoNotContactCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Custodian does not need to be contacted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NFAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoFurtherActionRequired</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No further action is required.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NSUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotSupportedByGCA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Not supported by the GCA VA (Global Corporate Actions Validation service).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Invalid</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RelatedCustodianMessageDetailsSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RelatedCustodianMessageDetailsSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides selected corporate action events message details extracted from the related custodian messages received.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RcvdEvtTp" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedEventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference the CAEV value from the received custodian message. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcvdMndtryVlntryEvtTp" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedMandatoryVoluntaryEventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference the CAMV value from the received custodian message. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcvdCorpActnEvtId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedCorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference the CORP value from the received custodian message. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcvdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate that the  ISO message was received from the custodian. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvdTm" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time of day that the ISO message was received from the custodian. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InbndISOMT" type="Exact3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InboundISOMessageType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the ISO15022 MT message type received from the custodian message. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InbndISOMsgRcvrBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InboundISOMessageReceiverBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">BIC Code of the recipient of the custodian record on a received message. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcvdRltdRef" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedRelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sender related reference from the received custodian message. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcvdSndrMsgRef" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedSenderMessageReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sender SEME from received custodian message. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InbndISOMsgSndrBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InboundISOMessageSenderBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">BIC Code of the sender of the custodian record on a received message. Applicable to custodian service only.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
