WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.colr.012.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:23, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.012.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.012.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Agreement2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Agreement2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Agreement details for the over the counter market.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AgrmtDtls" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgreementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Full details of the supporting legal agreement under which the margin call can be issued and/or governed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrmtId" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgreementIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common reference to the agreement between the two counterparties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AgrmtDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgreementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the collateral agreement was signed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BaseCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BaseCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Denomination currency as specified in the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrmtFrmwk" type="AgreementFramework1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgreementFramework</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying master agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgreementFramework1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AgreementFramework1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a proprietary code for  the underlying master agreement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AgrmtFrmwk" type="AgreementFramework1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AgreementFramework</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code to specify the type of collateral agreement.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification30">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification to specify the type of collateral agreement.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AgreementFramework1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AgreementFramework1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the agreement type details for the margin call.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FBAA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FBAAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">French Banker's Association Agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BBAA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BBAAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">British Banker's Association Agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DERV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanRahmenvertragAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">German Rahmenvertrag Agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISDAAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Swaps and Derivatives Association Agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NONR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No information about the master agreement is available.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralConfirmation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralConfirmation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the status details about the collateral substitution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CollSbstitnReqId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralSubstitutionRequestIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the collateral substitution request identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CollSbstitnRspnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralSubstitutionResponseIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the collateral substitution response identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ConfTp" type="CollateralSubstitutionConfirmation1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details about the status of the collateral substitution, either released or returned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Cmnt" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Comment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Allows to provides additional comments on the collateral substitution status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralSubstitutionConfirmation1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralSubstitutionConfirmation1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the status of the collateral substitution, either returned or released.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CREL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralSubstitutionReleased</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notification that the collateral substitution, that is new piece(s) of collateral, have been released.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralSubstitutionReturned</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation that the collateral substitution, that is new piece(s) of collateral, have been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralSubstitutionConfirmationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralSubstitutionConfirmationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
This CollateralSubstitutionConfirmation message is sent by:&#13;
- the collateral taker or its collateral manager to the collateral giver or its collateral manager, or&#13;
- the collateral giver or its collateral manager to the collateral taker or its collateral manager.&#13;
This message confirms the collateral delivery. The collateral taker will only release the return of collateral when the new piece of collateral is received. The collateral giver sends the collateral taker the notification that the collateral substitution (that is new piece(s) of collateral) have been released. In the event that multiple pieces of collateral are being delivered in place of the collateral due to be returned by the giver, this message should only be generated once all collateral pieces have been agreed between both parties. Then the taker confirms that the collateral substitution (that is all pieces have been received) and acknowledges return of collateral.&#13;
The ISO 20022 Business Application Header must be used&#13;
Usage&#13;
This message confirms the collateral delivery. The collateral taker will only release the return of collateral when the new piece of collateral is received. The collateral giver sends the collateral taker the notification that the collateral substitution (that is new piece(s) of collateral) have been released.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as know by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyA" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines one of the entities associated with the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyA" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServicingPartyA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that is acting on behalf of party A and that offers collateral management services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyB" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the other entity associated with the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyB" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServicingPartyB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that is acting on behalf of party B and that offers collateral management services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Agrmt" type="Agreement2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agreement details for the over the counter market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ConfDtls" type="CollateralConfirmation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmationDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the status about the collateral substitution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CollSbstitnConf" type="CollateralSubstitutionConfirmationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification29">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification29</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification30</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name and address of an institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adr" type="PostalAddress2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification33Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification29">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress6">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
