WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.tsmt.044.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:37, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.044.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.044.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BBAN" type="BBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN) - identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), to uniquely identify the account of a customer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UPIC" type="UPICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UPIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC) - identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account number used by financial institutions in individual countries to identify an account of a customer, but not necessarily the bank and branch of the financial institution in which the account is held.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Adjustment4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Adjustment4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Modification on the value of goods and / or services. For example: rebate, discount, surcharge</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tp" type="AdjustmentType2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of adjustment applied to the amount of goods/services by means of a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrAdjstmntTp" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherAdjustmentType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies a type of adjustment not present in the code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Drctn" type="AdjustmentDirection1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Direction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the adjustment must be subtracted or added to the total amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the monetary amount of the adjustment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AdjustmentDirection1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdjustmentDirection1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the adjustment is added or subtracted to the total amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Added</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Adjustment amount must be added to the total amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Substracted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Adjustment amount must be substracted from the total amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdjustmentType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdjustmentType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of adjustment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rebate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Adjustment is a rebate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Discount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Adjustment is a discount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CREN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditNote</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Adjustment is a credit note.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SURC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Surcharge</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Adjustment is a surcharge.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN). Identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), which uniquely identifies the account of a customer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BICIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used for identifying an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature, or use, of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the currency in which the account is held. 

Usage: Currency should only be used in case one and the same account number covers several currencies and the initiating party needs to identify which currency needs to be used for settlement on the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account, assigned by the account servicing institution in agreement with the account owner in order to provide an additional means of identification of the account.

Usage : the account name is different from the account owner name. The account name is used in certain user communities to provide a means of identifying the account, in addition to the account owner's identity and the account number.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CashAccountType4Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account type, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashAccountType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use, of the cash account.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for the payment of cash.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Charges</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for charges if different from the account for payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Commission</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for commission if different from the account for payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TAXE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Tax</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for taxes if different from the account for payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashIncome</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for payment of income if different from the current cash account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashTrading</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for trading if different from the current cash account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used to post debit and credit entries, as a result of transactions cleared and settled through a specific clearing and settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Current</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used to post debits and credits when no specific account has been nominated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SVGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Savings</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for savings.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverNightDeposit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for overnight deposits.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MGLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarginalLending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for a marginal lending facility.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NREX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonResidentExternal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for non-resident external.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MOMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MoneyMarket</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for money markets if different from the cash account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Loan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for loans.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLRY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Salary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Accounts used for salary payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ODFT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Overdraft</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account is used for overdrafts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="InttToPayNtfctn" type="IntentToPayNotificationV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and a date of issue.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtOfIsse" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateOfIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of issuance of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress6">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of an institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616. "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IntentToPay1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntentToPay1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the details of an intention to pay based on purchase orders or commercial invoice.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ByPurchsOrdr" type="ReportLine3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ByPurchaseOrder</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">The intention to pay is based on a purchase order.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ByComrclInvc" type="ReportLine4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ByCommercialInvoice</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">The intention to pay is based on a commercial invoice.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="XpctdPmtDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpectedPaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date at which the payment would be effected.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTerms" type="SettlementTerms2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementTerms</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the beneficiary's account information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntentToPayNotificationV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntentToPayNotificationV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The IntentToPayNotification message is sent by a party to the matching application in order to provide details about a future payment.&#13;
This message contains details about an intention to pay a certain amount, on a certain date, in relation to one or several transactions known to the matching application.&#13;
Usage&#13;
The IntentToPayNotification message can be sent by a party to the transaction at any time as long as the transaction is established and not yet closed.&#13;
The message is unsolicited, that is, it is not sent in response to another message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NtfctnId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the notification message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxId" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the matching application to the transaction.
This identification is to be used in any communication between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitrTxRef" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitterTransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the transaction for the requesting financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuyrBk" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyerBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The financial institution of the buyer, uniquely identified by its BIC. 
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SellrBk" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellerBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The financial institution of the seller, uniquely identified by its BIC. 
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InttToPay" type="IntentToPay1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntentToPay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the details of the intention to pay.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvoiceIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and a date of issue.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="InvcNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvoiceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsseDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of issuance of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name and address of an institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adr" type="PostalAddress2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportLine2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportLine2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about a payment against a purchase order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the matching application to the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurchaseOrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the purchase order, assigned by the buyer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Adjstmnt" type="Adjustment4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the adjustments applied to obtain the net amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NetAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net amount, after adjustments, intended to be paid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportLine3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportLine3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about a payment against a purchase order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurchaseOrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the purchase order, assigned by the buyer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Adjstmnt" type="Adjustment4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the adjustments applied to obtain the net amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NetAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net amount, after adjustments, intended to be paid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportLine4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportLine4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about a payment against a commercial invoice.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ComrclDocRef" type="InvoiceIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommercialDocumentReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the identification of the underlying commercial document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Adjstmnt" type="Adjustment4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the adjustments applied to obtain the net amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NetAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net amount, after adjustments, intended to be paid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BrkdwnByPurchsOrdr" type="ReportLine2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BreakdownByPurchaseOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies how the net amount to be paid is related to different purchase orders.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTerms2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementTerms2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the beneficiary's account information for the settlement of a purchase of goods or services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="FinancialInstitutionIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution that receives the payment transaction on behalf of an account owner, and posts the transaction into the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtrAcct" type="CashAccount7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to be credited as a result of an instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UPICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UPICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC).  Identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
