WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.colr.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:21, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.005.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.005.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralCancellationReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralCancellationReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for which the collateral message has been cancelled.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Allows to provides additional information on the cancellation reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CxlRsnCd" type="CollateralCancellationType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Allows to provide a cancellation reason using a code or proprietary reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralCancellationType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralCancellationType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code and a proprietary code for the reason the collateral message has been cancelled.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CollateralManagementCancellationReason1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the cancellation reason using an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification30">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the cancellation reason using a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralManagementCancellationReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralManagementCancellationReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/request has been cancelled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRER">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation due to message being sent in error.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PNSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingNewSubmission</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation due to a change in exposure or collateral or independent amount or margin terms. For collateral proposal submitting new/different collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralManagementCancellationRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralManagementCancellationRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This message is sent by:&#13;
-  the collateral taker or its collateral manager to the collateral giver or its collateral manager,&#13;
-  the collateral giver or its collateral manager to the collateral taker or its collateral manager.&#13;
&#13;
 It is used to request the cancellation of a previously sent MarginCallRequest message, MarginCallResponse message, CollateralProposal message, CollateralProposalResponse message, MarginCallDisputeNotification message or a CollateralSubstitutionRequest message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="TransactionAndDocumentIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction (that is collateral cancellation request) and document (message) identification details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ref" type="Reference1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the message advised to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Oblgtn" type="Obligation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Obligation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information like the identification of the party or parties associated with the collateral agreement, the exposure type and the valuation date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CxlRsnDtls" type="CollateralCancellationReason1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationReasonDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">It is used to detail the reason for the cancellation of a previously sent request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CopyDuplicate1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COPY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CollMgmtCxlReq" type="CollateralManagementCancellationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExposureType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExposureType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying business area/type of trade causing the collateral movement.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CCIR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossCurrencyIRS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cross currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Commodities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exchanged traded commodities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDefaultSwap</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of credit default swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossProduct</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of various types of trades.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditSupport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash lending/borrowing; letter of credit; signing of master agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Opening of a credit line before trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EquityOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of equity option (also known as stock options).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EquitySwap</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Equity swap trades where the return of an equity is exchanged for either a fixed or a floating rate of interest.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExoticOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exotic option, for example, a non standard option.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeTradedDerivatives</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exchanged traded derivatives in general.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FIXI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FixedIncome</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of fixed income instruments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForwardForeignExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Forward foreign exchange trades.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Foreign exchange trades in general.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Futures</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Related to futures trading activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIQU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Liquidity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of settlement via an RTGS or other clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FXOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Related to options trading activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OTCDerivatives</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">OTC derivatives trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PAYM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of any type of cash settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to repurchase agreement trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBuySellSellBuyBack</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities buy sell back.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCIE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCurrencyIRSExotic</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exotic single currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCIR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCurrencyIRS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Single currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCRP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesCrossProducts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of securities related exposure types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLEB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesLendingAndBorrowing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exposure is linked to a securities lending or borrowing activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuredLoan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exposure is linked to a secured loan.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SWPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Swaption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option on interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TreasuryCorssProduct</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of treasury related exposure types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BFWD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BondForward</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Any securities traded out beyond 3 days which include treasury notes, Japanese Government Bonds (JGBs) and Gilts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RVPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReverseRepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of a reverse repurchase agreement transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToBeAnnounced</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">To be announced (TBA) related collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification29">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification29</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification30</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name and address of an institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adr" type="PostalAddress2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Obligation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Obligation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information like the identification of the party or parties associated with the collateral agreement, the exposure type and the valuation date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PtyA" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines one of the entities associated with the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyA" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServicingPartyA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that is acting on behalf of party A and that offers collateral management services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyB" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the other entity associated with the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyB" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServicingPartyB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that is acting on behalf of party B and that offers collateral management services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExposureType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying business area/type of trade causing the collateral movement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValtnDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValuationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Close of business date that initiating party is valuing the margin call.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification33Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification29">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress6">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reference1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Reference1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the identification of the MarginCallRequest message, the MarginCallResponse message, the CollateralProposal message, the CollateralProposalResponse message, the CollateralSubstitutionRequest message or the MarginCallDisputeNotification message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="MrgnCallReqId" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MarginCallRequestIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the margin call request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MrgnCallRspnId" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MarginCallResponseIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the margin call response.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CollPrpslId" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CollateralProposalIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the collateral proposal.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CollPrpslRspnId" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CollateralProposalResponseIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the collateral proposal response.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DsptNtfctnId" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DisputeNotificationIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the dispute notification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CollSbstitnReqId" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CollateralSubstitutionRequestIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the collateral substitution request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionAndDocumentIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionAndDocumentIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transaction and document identification details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as know by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DocId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DocumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the transaction was created by the instructing party in its business application.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
