WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.018.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:31, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.018.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.018.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="BusinessDayInformationCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for business day information and to report on the business day information. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewQueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query defined by the search criteria and return criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="BusinessDayInformationSearchCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria based on which the information is extracted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="BusinessDayInformationReturnCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the expected report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayInformationCriteriaDefinitionChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationCriteriaDefinitionChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="QryNm" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NewCrit" type="BusinessDayInformationCriteria">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Explicitly defines the query criteria.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayInformationQueryDefinition2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationQueryDefinition2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of matching items to be returned in the response to the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BizDayInfCrit" type="BusinessDayInformationCriteriaDefinitionChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the business day information query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayInformationReturnCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationReturnCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on business day information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysStsInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemStatusIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the system status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the events are requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SsnPrdInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionPeriodIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the session period is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsrInfInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosureInformationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the closure information is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayInformationSearchCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationSearchCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for system business day information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysId" type="SystemIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a particular cash clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency which may be processed by the system. A system may process transactions in a single currency or in multiple currencies.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashClearingSystem1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashClearingSystem1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is to be processed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAEuro1Step1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA Euro1/Step1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Austrian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AT (Austria) - Austrian RTGS (ARTIS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewZealand</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NZ (New Zealand) - New Zealand Assured Value Payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AZM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Azerbaijan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AZ (Azerbaijan) - Azerbaijan Interbank Payment System (AZIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BosniaHerzegovina</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for BA (Bosnia and Herzegovina).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Belgium</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for BE (Belgium) - Belgium RTGS (ELLIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Finland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FI (Finland) - RTGS (BOF).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Italy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for IT (Italy) - Italy RTGS (BIREL).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Canada</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for CA (Canada) - Canadian Large Value Transfer System (LVTS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpainCAM</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ES (Spain).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CBJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ireland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for IE (Ireland) - Irish RTGS (IRIS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitedKingdom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for GB (UK) - British Euro RTGS (CHAPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DKC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Denmark</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DK (Denmark) - Danish Euro RTGS (KRONOS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanyRTGSPlus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DE (Germany).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAEuro1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA Euro1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanyELS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DE (Germany).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAStep1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA step 1 (members).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAStep2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA step 2.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Croatia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for HR (Croatia) - HSVP.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Greece</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for GR (Greece) - Greek RTGS (HERMES).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HUF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Hungary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for HU (Hungary) - VIBER.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Luxemburg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for LU (Luxemburg) - Luxembourg RTGS (LIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Latvia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for LV (Latvia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SouthAfrica</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ZA (South Africa) - South-African Multiple Option Settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mauritius</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for MU (Mauritius).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Norway</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NO (Norway).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Switzerland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for CH (Switzerland).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Australia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AU (Australia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Egypt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EG (Egypt).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FrancePNS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FR (France).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PVE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Venezuela</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for Ve (Venezuela).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwedenSEC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SE (Sweden) - Swedish Euro RTGS (SEC).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Slovania</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SI (Slovenia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpainES</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ES (Spain) - Spanish RTGS (SLBE).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Portugal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for PT (Portugal) - Portuguese RTGS (SPGT).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwedenSSK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SE (Sweden) - SEK RTGS (RIX).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FranceFR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FR (France) - French RTGS (TBF).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Target</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for Target.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Netherlands</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NL (Netherlands) - Dutch RTGS (TOP)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FDW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Fedwire</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the US national real time gross settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankOfJapanNet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Bank of Japan clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeYenClearing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Foreign Exchange Yen Clearing system (FEYCS). It is the Japanese electronic interbank system for sending guaranteed and unconditional yen payments of FX deals for same day settlement from one settlement bank, on behalf of itself or its customers, to another settlement bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Zengin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Zengin system. The electronic payment system for domestic third party transfers managed by the Tokyo Bankers Association.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetBizDayInf" type="GetBusinessDayInformationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetBusinessDayInformationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetBusinessDayInformationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The GetBusinessDayInformation message is sent by a member to the transaction administrator.&#13;
It is used to request information on different types of administrative data linked to the system.&#13;
Usage&#13;
The transaction administrator is in charge of providing the members with business information. The term business day information covers all information related to the management of the system, not related to the transactions created in the system. The type of business day information available can vary depending on the system.&#13;
At any time during the operating hours of the system, the member can query the transaction administrator to get information about the static data of the system.&#13;
The member can request information based on the following elements:&#13;
- identification of the system&#13;
- currency within the system concerned&#13;
- status of the system&#13;
- period of availability of a given currency linked to the system concerned (in case the system handles more than one currency)&#13;
- closure information (dates when the system will be inactive and reasons for this inactivity)&#13;
- event indicator (types of event and precise timing of their occurrence within the system concerned)&#13;
This message will be replied to by a ReturnBusinessDayInformation message. Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BizDayInfQryDef" type="BusinessDayInformationQueryDefinition2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Definition of the business day information query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifyies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that all matching items be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Changed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only new matching items since the last similar query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Modified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only items that have changed since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that items that have been deleted since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestedIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates if requested or not.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="SystemIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ClrSysId" type="CashClearingSystem1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country in which the system is located.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
