WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.auth.010.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:33, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.010.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.010.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RgltryTxRptStsV01" type="RegulatoryTransactionReportStatusV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the document by providing a unique identification and optionally the date/time of the creation of the document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time of the creation of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extended350Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code and / or description for values that are not yet part of the related code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification23Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification23Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by giving a BIC or a proprietary code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryTransactionReportStatusV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RegulatoryTransactionReportStatusV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
A regulator or an intermediary sends the RegulatoryTransactionReportStatus to a reporting institution to provide the status of a RegulatoryTransactionReport previously sent by the reporting institution.&#13;
Usage&#13;
The message definition may be used to provide a status for the entire report or to provide a status at the level of individual transactions within the report. One of the following statuses can be reported:&#13;
- Completed, or,&#13;
- Pending, or,&#13;
- Rejected.&#13;
If the status is rejected, then reason for the rejection must be specified.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the RegulatoryTransactionReportStatus document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgInstn" type="PartyIdentification23Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the firm that is legally responsible for sending the transaction report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="RptSts" type="ReportStatusAndReason1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ReportStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the status of the entire RegulatoryTransactionReport that was previously sent by the reporting institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="IndvTxSts" type="TradeTransactionStatusAndReason1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IndividualTransactionStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the status of one or more transactions that were previously sent within a RegulatoryTransactionReport by the reporting institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectedStatusReason9Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectedStatusReason9Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for which a transaction report is rejected.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectedStatusReason9Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the rejected status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedRsn" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the rejected status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DataSrcSchme" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DataSourceScheme</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason for the rejected status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectedStatusReason9Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectedStatusReason9Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for which an instruction, request, report message is rejected.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the security is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDNA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentificationAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the security and the security name are not the same.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ORRF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DuplicateOrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order reference is a duplicate of a previously received order.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NSLA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotCompliantWithSLA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is not compliant with the service level agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DQUA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument quantity is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCRR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementAmountCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid Settlement Amount Currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLCE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid Place of Trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTRD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid trade date or requested trade date or future trade date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportStatusAndReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportStatusAndReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the related report identification and its status. If the status is rejected, a reason for this status must be given.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the RegulatoryTransactionReport document that was previously sent by the reporting institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="Sts" type="Status2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates the status of a report message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="100" minOccurs="1" name="Rjctd" type="RejectedStatusReason9Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that the report is rejected and provides a reason why.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Status2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Completed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing has been completed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeTransactionStatusAndReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeTransactionStatusAndReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the transaction with a trade reference and provides its status. If the status is rejected, a reason for this status must be given.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the RegulatoryTransactionReport document that was previously sent by the reporting institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradRef" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned to a trade once it is received or matched by an executing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="Sts" type="Status2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates the status of a trade transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="100" minOccurs="1" name="Rjctd" type="RejectedStatusReason9Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that the report is rejected and provides a reason why.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
