WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seev.007.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:59, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:seev.007.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:seev.007.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateFinancialInstrumentIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateFinancialInstrumentIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A proprietary or domestic identification scheme that uniquely identifies a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CUSIPIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. Non-US securities have a similar number called the CINS number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="seev.007.001.01" type="seev.007.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EligiblePosition1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EligiblePosition1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the voting entitlement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InstructionIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies an instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingReference1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingReference1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Elements which allow to identify a meeting.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned to a general meeting by the party notifying the meeting. It must be unique for the party notifying the meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerMeetingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned to a general meeting by the issuer. It must be unique for the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtgDtAndTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingDateAndTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the meeting will take place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="MeetingType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of meeting for which  instructions are sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of the company meeting for the scheduled meeting date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of security holders meeting.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnnualGeneralMeeting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting held periodically to approve the financial statements and elect the board members and the auditors.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting that is not planned in the by laws.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extraordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting that takes place as needed, in addition to the general meetings, is extraordinary as per the bylaws. The resolutions are related to the unusual business of the company, for example approval of takeovers or mergers or spin-offs. These meetings are always issuer initiated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MIXD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mixed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting which contains both ordinary and extraordinary resolutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassMeeting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting for a class of assets.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CourtMeeting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the meeting is the result of a legal proceeding.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Special</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting that takes place as needed that is neither ordinary nor extraordinary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification7Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification7Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a choice between a BIC, a BEI or a name and address.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Bank Identifier Code. Code allocated to financial institutions by the Registration Authority, under an international identification scheme, as described in the latest version of the standard ISO 9362 Banking (Banking telecommunication messages, Bank Identifier Codes).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QUICKIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SEDOLIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number. A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security by its symbol.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TckrSymb" type="TickerIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TickerSymbol</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CUSIP" type="CUSIPIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CUSIP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. The CUSIP is composed of a 9-character number that uniquely identifies a particular security.  Non-US securities have a similar number called the CINS number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SEDOL" type="SEDOLIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SEDOL</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number.  A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QUICK" type="QUICKIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QUICK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="AlternateFinancialInstrumentIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityPosition3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityPosition3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security held in an account on which the balance is calculated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="EligiblePosition1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of securities that are eligible for the vote.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteInstr" type="VoteInstruction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VoteInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies how a party has voted for each agenda item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1000" minOccurs="0" name="SctySubPos" type="SecurityPosition4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritySubPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Subdivision of an account used to segregate specific holdings.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityPosition4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityPosition4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SubAcct" type="EligiblePosition1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of securities that are eligible for the vote.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VoteInstr" type="VoteInstruction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VoteInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies how a party has voted for each agenda item.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TickerIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Vote1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Vote1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Decision of the voting party for one resolution. Several types of decisions can be indicated to allow for split vote specification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerLabel</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numbering of the resolution as specified by the issuer or  its agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="For" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">For</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of votes in favour of one resolution</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Agnst" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Against</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of votes against one resolution</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Abstn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Abstain</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of votes expressed as abstain for one resolution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Wthhld" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Withhold</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of votes withheld for one resolution</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="WthMgmt" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WithManagement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of votes in line with the votes of the management.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AgnstMgmt" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgainstManagement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of votes against the voting recommendation of the management.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dscrtnry" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Discretionary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of votes for which decision is left to the party that will exercise the voting right.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VoteInstruction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">VoteInstruction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the number of votes for an agenda item.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the voting instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="200" minOccurs="1" name="VotePerRsltn" type="Vote1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VotePerResolution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the vote.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IdntyOfHldr" type="PartyIdentification7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentityOfHolder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Owner of the voting rights.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StgInstr" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether standing instructions have been applied or not.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="seev.007.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingVoteExecutionConfirmation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The MeetingVoteExecutionConfirmation message is sent to confirm that the votes which were sent to the sender have been processed and transferred to the next intermediary or to the issuer or its agent.&#13;
Usage&#13;
This message is sent by the receiver of a MeetingInstruction message containing vote instructions to the sender. It is sent to confirm that the vote instructions have been executed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VoteConfId" type="InstructionIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VoteConfirmationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the vote execution confirmation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RltdRef" type="InstructionIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the meeting instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtgRef" type="MeetingReference1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Series of elements which allow to identify a meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NtifngPty" type="PartyIdentification7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotifyingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party confirming the votes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctyPos" type="SecurityPosition3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the position.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
