WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.sese.011.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:14, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:sese.011.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:sese.011.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReference2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business reference of a message assigned by the party issuing the message. This reference must be unique amongst all messages of the same name sent by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="sese.011.001.01" type="sese.011.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InRepairStatus2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InRepairStatus2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status is in repair status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="InRepairStatusReason2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for an in repair status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DataSrcSchme" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DataSourceScheme</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification for a reason of a specific status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NoRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InRepairStatusReason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InRepairStatusReason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for an in repair status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the in repair status in textual form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LongPostalAddress1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LongPostalAddress1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ustrd" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unstructured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Strd" type="StructuredLongPostalAddress1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in a formal structure.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoReasonCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that there is no reason available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No reason to report or no reason available to report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingSettlementStatusChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingSettlementStatusChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the pending settlement status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="PendingSettlementStatusReason1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for a pending status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DataSrcSchme" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DataSourceScheme</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification for a reason of a specific status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NoRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingSettlementStatusReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingSettlementStatusReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for a  pending settlement status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="PendingSettlementStatusReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for a settlement pending status in structured form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the reason for the settlement pending status in textual form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingSettlementStatusReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingSettlementStatusReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for a transfer or settlement instruction settlement pending status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWSH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingSharesFromCounterparty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities have not yet been received from the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BLOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBlocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your account is blocked, no instruction can settle over the account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Awaiting securities from corporate action issue or other procedures, eg, conversion, dematerialisation, exchange, registration, stamping, splitting, etc.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyInsufficientSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient deliverable securities in the counterparty's account, or counterparty does not hold the securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DOCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingDocumentsOrEndorsementsFromCounterparty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Awaiting documents or endorsements from the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DOCY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingDocumentsOrEndorsementsFromYou</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Awaiting documents or endorsements from you.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IAAD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusReasonInvestigation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pending reason is being investigated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LackOfSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient deliverable securities in your account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LINK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingLinkedInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your instruction is pending settlement because the instruction linked to it is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Another settlement pending reason.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PHCK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalSecuritiesVerification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Physical shares have been received and are being checked for authenticity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PHSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalDeliveryDelay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is physical and securities are being delivered.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBLO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBlocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is pending. The securities are blocked due to, for example, a corporate action event, re-alignment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MINF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information, for example, telephone number, contact person, is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectedStatus3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectedStatus3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status is rejected.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="10" minOccurs="1" name="Rsn" type="RejectedStatusReason5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for a rejected status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="10" minOccurs="1" name="DataSrcSchme" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DataSourceScheme</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a reason for a rejected status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectedStatusReason5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectedStatusReason5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for a rejected status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="TransferRejectedStatusReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for a rejected status in structured form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the reason for the rejected status in textual form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StructuredLongPostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StructuredLongPostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the building or house.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtBldgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetBuildingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Floor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Floor or storey within a building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistrictName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a district, ie, a part of a town or region.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RgnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an administrative division of a country, state, or territory.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Stat" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">State</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organised political community or area forming a part of a federation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtyId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="POB" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostOfficeBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferInstructionStatus">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferInstructionStatus</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Instruction status and the reason for the status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="TransferStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the transfer instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the status in textual form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransferRejectedStatusReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferRejectedStatusReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for a transfer or settlement instruction rejected status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DDAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash settlement date is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of settlement is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the security is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotEnoughFinancialInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">There are not enough securities in the account to process the instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">One or several settlement parties are not recognised or are invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CertificateNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate number is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SAFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Investment account identification is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IAQD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcquisitionDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acquisition date is not recognised or is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BLCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBlockedForCorporateAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Investment account is blocked due to a corporate action.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DOCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBlockedMissingDocuments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Investment account is blocked until certain legal proceedings are completed, eg, legal documents from the successor, legal proceedings due to bankruptcy.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDNA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentificationAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the security and the security name are not the same.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalDeliveryImpossible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order contains physical delivery details but the fund can not be physically delivered.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LEGL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LegallyImpossible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legally impossible to cancel.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NSLA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotCompliantWithSLA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is not compliant with the service level agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Another reason for the status rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DQUA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument quantity is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransferStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the transfer or settlement instruction status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer or settlement instruction has been acknowledged / accepted for further processing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STNP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SentToNextParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer or settlement instruction has been sent to the next party, ie, the next intermediary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MACH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Matched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer or settlement instruction is matched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlreadyExecuted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer or settlement instruction is fully executed and the confirmation is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationPending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer cancellation instruction or settlement cancellation instruction is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RVSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reversed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer or settlement instruction has been executed, confirmed and then the confirmation has been reversed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer or settlement instruction has been cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferStatusAndReason">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferStatusAndReason</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about the status of a transfer instruction and its reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TrfRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransferReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business reference of the transfer instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="Sts" type="TransferInstructionStatus">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Instruction status and the reason for the status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PdgSttlm" type="PendingSettlementStatusChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PendingSettlement</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the transfer instruction is pending settlement.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Umtchd" type="TransferUnmatchedStatus">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unmatched</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the transfer instruction is unmatched.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="InRpr" type="InRepairStatus2Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InRepair</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status is in repair.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Rjctd" type="RejectedStatus3Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the transfer instructed is rejected.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusInitiator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that initiates the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransferUnmatchedReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferUnmatchedReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for a transfer or settlement instruction unmatched status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CMIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoMatch</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No potential match has been found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyCancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Counterparty has cancelled the transaction/instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDirection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Direction of transaction does not match: delivery instead of receipt or vice versa.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument identification does not match or a financial instrument attribute differs.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PHYS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement does not match: counterparty's instruction is for physical settlement, your instruction is not, or vice versa.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PODU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has not been matched: it is a possible duplicate instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of settlement does not match.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DDAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement date or transfer date does not match.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DQUA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument quantity does not match.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Another unmatched reason.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransferUnmatchedStatus">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferUnmatchedStatus</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status is unmatched.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="TransferUnmatchedStatusReason1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for an unmatched status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DataSrcSchme" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DataSourceScheme</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification for a reason of a specific status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NoRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferUnmatchedStatusReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferUnmatchedStatusReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for an unmatched status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="TransferUnmatchedReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for a rejected status in structured form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the reason for the unmatched status in textual form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sese.011.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferInstructionStatusReport</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The TransferInstructionStatusReport message is sent by an instructing party to the executing party. The instructing party may be an investor, a transfer agent, or an intermediary, etc. The executing party may be a transfer agent, or an intermediary, etc.&#13;
This message gives the status of a transfer instruction, and can be used from the time the executing party receives the transfer instruction until its execution.&#13;
Usage&#13;
The TransferInstructionStatusReport message is sent by an executing party to the instructing party. The message can be used to report one of the following&#13;
- the status of the transfer instruction (using a code)or&#13;
- the repair status or&#13;
- the unmatched status or&#13;
- the rejection status or&#13;
- the pending settlement status.&#13;
Further information about repair, unmatched, rejected or pending settlement statuses must be specified using either codes or unstructured information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="RltdRef" type="AdditionalReference2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrRef" type="AdditionalReference2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherReference</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message sent in a proprietary way or the reference of a system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="StsRpt" type="TransferStatusAndReason">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the transfer instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
