WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.tsmt.041.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:12, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.041.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.041.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="Action2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Action2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies which type of action a user should take.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitTwin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to submit a twin baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSubmitTwin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to resubmit a twin baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSubmitBaseline</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to resubmit a baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectDataSetMisMatches</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject mismatched data set(s).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectChangeOfStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for a change of status of the baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARES">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectExtensionOfStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for an extension of the period of validity of the status of the baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WAIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WaitForBaselineEstablished</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to wait until the baseline is established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateAndResend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to update and resend.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitDataSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to submit data set(s).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectBaselineAmendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for a baseline amendment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARRO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectBaselineAndRole</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a baseline and the role contained in it for the financial institution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CINR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CheckInvoiceReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to check invoice number because it was not found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BICIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaselineStatus3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaselineStatus3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the status of a baseline.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proposed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initial state of a baseline in the push-through model.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Final state of a baseline, in which only reporting is allowed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyMatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the baseline when an initial and at least one twin baselines have been  submitted but it has not yet been agreed by all parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ESTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Established</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the baseline when it has been agreed by all parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Active</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when one or more instructions (eg, amendment request, data set submission) have been processed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when all match instructions have been processed, and no such instruction is allowed anymore.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendmentRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when an amendment has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RARQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReActivateRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when an reactivation has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CloseRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when a closure has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when a completion has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SERQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusExtensionRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline when a status extension has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DARQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetAcceptanceRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when data set acceptance has been requested by the matching engine and not all responses have been received from the relevant party(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TxRpt" type="TransactionReportV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and a version.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a set of data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the version of a set of data. Example: Version 1.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and its issuer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a set of data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdIssr" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Uniquely identifies the financial institution which has issued the identification of the set of data by using a BIC.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and a date of issue.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtOfIsse" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateOfIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of issuance of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier issued to a person for which no specific identifier has been defined.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the identifier.
Usage: IdentificationType is used to specify what kind of identifier is used. It should be used in case the identifier is different from the identifiers listed in the pre-defined identifier list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification26">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification26</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier assigned to a party using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstlAdr" type="PostalAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingActivity2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingActivity2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the event that require an action from one of the parties to the trade transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="Action2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code which specifies the next course of action that the receiver of the message must take.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information on the course of action that the receiver of the message must take.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReportItems3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReportItems3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Detailed description of the items that correspond to the parameters set in a request and for which a report has been generated.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the matching application to the transaction.
This identification is to be used in any communication between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EstblishdBaselnId" type="DocumentIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EstablishedBaselineIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the matching application to the baseline when it is established.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxSts" type="TransactionStatus4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="UsrTxRef" type="DocumentIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UserTransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the transaction for each financial institution which is a party to the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurchaseOrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the purchase order of the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Buyr" type="PartyIdentification26">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Buyer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that buys goods or services, or a financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sellr" type="PartyIdentification26">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Seller</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that sells goods or services, or a financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuyrBk" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyerBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution of the buyer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuyrBkCtry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyerBankCountry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of the buyer bank.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SellrBk" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellerBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution of the seller.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SellrBkCtry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellerBankCountry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of the seller bank.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OblgrBk" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ObligorBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution that is an obligor bank to the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubmitgBk" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmittingBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution that is a data set submitting bank to the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutsdngAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutstandingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of baseline not yet utilised.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlNetAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total net amount as specified in the baseline.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgReqForActn" type="PendingActivity2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingRequestForAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Next processing step required.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReportV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReportV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The TransactionReport message is sent by the matching application to the requester of a transaction report.&#13;
This message is used to report on various details of transactions registered in the matching application.&#13;
Usage&#13;
The TransactionReport message can be sent by the matching application to report on various details of transactions that the requester of the report asked for. The message is sent in response to a TransactionReportRequest message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the report. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RltdMsgRef" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedMessageReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the previous message requesting the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RptdItms" type="TransactionReportItems3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportedItems</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed description of the items that correspond to the parameters set in the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionStatus4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
