WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.025.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 20 09:14:26, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2014.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.025.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.025.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="CorporateActionEventStage4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventStage4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the stage of the CA lottery event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationAndReRun</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation and re-run of an original lottery or an original and supplemental lottery. A subsequent lottery will be performed under a new event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementalCancellationAndReRun</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation and re-run of a supplemental lottery only.  A subsequent new supplemental lottery will be performed under the original event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RESC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementalCancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A supplemental lottery is being cancelled by the issuer. No subsequent lottery will be performed. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionSD12">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionSD12</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtStag" type="CorporateActionEventStage4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventStage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Stage in the corporate action event life cycle.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DTCCCARESD1V01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCARESD1V01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCARESD1 message extends ISO corporate action movement reversal advice  message with DTCC corporate action elements not covered in the standard message. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnDtls" type="CorporateActionSD12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to corporate action details.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCARESD1" type="DTCCCARESD1V01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
