WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.003.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:30, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.003.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.003.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountCriteria2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountCriteria2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria which are used to search for an account and to report on the account. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewQueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query defined by the search criteria and return criteria. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="CashAccountSearchCriteria2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract the account information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="CashAccountReturnCriteria2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the expected account report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountCriteriaDefinition2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountCriteriaDefinition2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="QryNm" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NewCrit" type="AccountCriteria2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Explicitly defines the query criteria.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of an account, as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BBAN" type="BBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN) - identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), to uniquely identify the account of a customer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UPIC" type="UPICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UPIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC) - identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DmstAcct" type="SimpleIdentificationInformation">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account number used by financial institutions in individual countries to identify an account of a customer, but not necessarily the bank and branch of the financial institution in which the account is held.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationSearchCriteriaChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentificationSearchCriteriaChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the different options to search for an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="EQ" type="AccountIdentification1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Equal</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Search for one or more accounts based on exact identification of the account(s).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CTTxt" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ContainText</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Search for one or more accounts based on partial identification of the account(s).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NCTTxt" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NotContainText</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Search for one or more accounts based on a pattern that cannot be contained in the account identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountQueryDefinition2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountQueryDefinition2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specification of the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if all matching items or only the new matching items since the latest query are returned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctCrit" type="AccountCriteriaDefinition2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN"> Definition of the account query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl. Identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN). Identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), which uniquely identifies the account of a customer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BalanceCounterparty1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceCounterparty1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of counterparty to be taken into account for calculation of the balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BILA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance calculated regarding one member in the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MULT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Multilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance calculated regarding all members in the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceDetails2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceDetails2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Numerical representation of the net increases and decreases in an account at a specific point in time. A cash balance is calculated from a sum of cash credits minus a sum of cash debits.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalTp" type="BalanceType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPtyTp" type="BalanceCounterparty1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of counterparty for which the balance is calculated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtrPtyId" type="MemberIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the counterparty for which the balance is calculated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalValDt" type="DateAndDateTimeSearchChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the balance is or will be available.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BalanceType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the balance, eg, opening balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Opening</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Book balance of the account at the beginning of the account servicer's business day. It always equals the closing book balance from the previous business day. Note: the available balance at the beginning of the account servicer's business day may be different from the closing book balance from the previous business day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Interim</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance calculated in the course of the account servicer's business day, at the time specified, and subject to further changes during the business day. The interim balance is calculated on the basis of booked credit and debit items during the calculation time/period specified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of the account at the end of the account servicer's business day. It is the sum of the opening balance at the beginning of the day and all entries booked to the account during the account servicer's business day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Book</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance that is registered in the books of the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRRT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Current</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of the account at a precise moment in time.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities pending delivery, eg, orders to sell securities have been executed but settlement of the open transactions has not been confirmed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LRLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitRelated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of a specific limit value, eg, a bilateral balance is calculated in relation to a given bilateral limit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVLB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Available</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of money or securities that is at the disposal of the account owner on the date specified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTSF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance composed of the sum of all liquidity transfers made to or from an account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing the sum of all credit entries booked to an account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EAST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibleAssets</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing the potential loan a Central Bank would make in cash if the collateral is pledged, eg, securities available and eligible as collateral with the Central Bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PYMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing the sum of entries as a result of payments processing.  Entries relating to fees,  interest, or other movements not a result of payments sent or received by the account owner are not included.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BLCK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Blocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing the regulatory reserve that a financial institution must have with the account servicing institution, eg, the minimum credit balance a financial institution is to keep with its Central Bank for mandatory reserve purposes.  In some countries, a blocked balance is known as a 'reserve' balance.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XPCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Expected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance, composed of booked entries and pending items known at the time of calculation , which projects the end of day balance if everything is booked on the account and no other entry is posted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLOD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DaylightOverdraft</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing the intra day overdraft granted by the Central Bank to financial institutions participating in a RTGS system. This balance may vary over time and shall be offset at the end of the day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XCRD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpectedCredit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance, composed of booked entries and pending items known at the time of calculation, which projects the end of day credit balance if everything books to the account and no other credit entry is posted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XDBT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpectedDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance, composed of booked entries and pending items known at the time of calculation, which projects the end of day debit balance if everything books to the account and no other debit entry is posted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADJT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance to be held in the settlement account in order to comply with the average reserve due, in the event that the bank's balance is equal to the reserve due during the remaining days of the maintenance period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRAV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProgressiveAverage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Average of the daily balances on the account used to fulfil the reserve requirements calculated from the beginning of the maintenance period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing the sum of all debit entries booked to an account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="THRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Threshold</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing the amount that will be destined for investment. Difference between available balance and threshold for investment limit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOTE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Noted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance representing the amount that a financial institution has set aside for a specific reason and which is therefore not available.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SELF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Self</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of the account identified (as opposed to Master Balance)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MSTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Master</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of the identified account plus the balance of all of its subaccounts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID). Identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification  (UID).  Identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected.  The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsARNIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number. Identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountReturnCriteria2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountReturnCriteria2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account name is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrencyIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account currency is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TpInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account type is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MulLmtInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MultilateralLimitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the multilateral limit is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MulBalRtrCrit" type="CashBalanceReturnCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MultilateralBalanceReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on a multilateral balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BilLmtInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BilateralLimitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the bilateral limit is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BilBalRtrCrit" type="CashBalanceReturnCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BilateralBalanceReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on a bilateral balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StgOrdrInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account standing order is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account owner information is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account servicer information is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountSearchCriteria2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountSearchCriteria2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctId" type="AccountIdentificationSearchCriteriaChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tp" type="CashAccountType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use, of the cash account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ccy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Bal" type="BalanceDetails2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Balance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numerical representation of the net increases and decreases in an account at a specific point in time. A cash balance is calculated from a sum of cash credits minus a sum of cash debits.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Servicer of the account which is being queried.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashAccountType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use, of the cash account.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for the payment of cash.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Charges</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for charges if different from the account for payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Commission</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for commission if different from the account for payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TAXE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Tax</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for taxes if different from the account for payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashIncome</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for payment of income if different from the current cash account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashTrading</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for trading if different from the current cash account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used to post debit and credit entries, as a result of transactions cleared and settled through a specific clearing and settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Current</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used to post debits and credits when no specific account has been nominated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SVGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Savings</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for savings.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverNightDeposit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for overnight deposits.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MGLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarginalLending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account used for a marginal lending facility.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashBalanceReturnCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashBalanceReturnCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on the cash balance.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TpInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the balance type is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StsInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the balance status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValDtInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueDateIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the value date is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NbOfPmtsInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfPaymentsIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the number of payment is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identifiers for a clearing system member, as assigned by the clearing system. In some clearing systems, the accounts of the clearing system members are also assigned an identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="USCHU" type="CHIPSUniversalIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification (UID) - identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected. The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NZNCC" type="NewZealandNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code - identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IENSC" type="IrishNSCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code - identifies Irish financial institutions on the Irish national clearing system. The code is assigned by the Irish Payments Services Organisation (IPSO).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code - identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USCH" type="CHIPSParticipantIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID) - identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHBC" type="SwissBCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissBCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code - identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number - identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PTNCC" type="PortugueseNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code - identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code - identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ITNCC" type="ItalianDomesticIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code - identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl - identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsAssociationRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number - identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHSIC" type="SwissSICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissSICIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code - identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl - identifies German financial institutions on the German national clearing systems.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code - identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC) - identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HKNCC" type="HongKongBankIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">HongKongBankCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code - identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianExtensiveBranchNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBs" type="SmallNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianSmallNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions , as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeSearchChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeSearchChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date time pattern as search selection criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTmSch" type="DateTimePeriodChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTimeSearch</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Patterns to search a date time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtSch" type="DateSearchChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateSearch</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Patterns to search a date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateSearchChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateSearchChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between search criteria based on dates and date ranges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToDt" type="DatePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Particular time span specified between a start date and an end date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to match.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NEQDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NotEqualDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to be excluded from the search.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various date time patterns.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTmRg" type="DateTimePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTimeRange</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and time and an end date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.003.001.02" type="camt.003.001.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExtensiveBranchNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number. Identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl. Identifies German financial institutions on the German national clearing systems.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HongKongBankIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code. Identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616. "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code. Identifies Irish financial institutions on the Irish national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code. Identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between BIC and clearing system member identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a clearing system member, as assigned by the system or system administrator.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code. Identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code. Identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifyies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that all matching items be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Changes</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only new matching items since the last similar query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestedIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates if requested or not.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code. Identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SmallNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC). Identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code. Identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissBCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code. Identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissSICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code. Identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code. Identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UPICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC).  Identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="camt.003.001.02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetAccountV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The GetAccount message is sent by a member to the transaction administrator.&#13;
It is used to request information on the details of one or more accounts held at the transaction administrator, including information on the balances.&#13;
Usage&#13;
At any time during the operating hours of the system, the member can query the transaction administrator to get information about the account(s) that the transaction administrator maintains for the member.&#13;
For example, this may be necessary in order to perform the appropriate liquidity management and the funds transfers between accounts.&#13;
The member can request information about accounts through a series of criteria, corresponding to the known information stored at the transaction administrator.&#13;
The query can concern one or more specific accounts, accounts of a particular identification, or a particular type. The purpose of the query may be to obtain one or more types of balance.&#13;
The member can request information based on the following elements:&#13;
- account identification&#13;
- account type (this element can be used to refine the query when the account identification represents, for example, a group of accounts)&#13;
- balance type (if not present, all balances are requested)&#13;
- type of counterparty: bilateral or multilateral (note that, by default, a balance is multilateral unless a particular counterparty is specified)&#13;
- identification of the counterparty when a bilateral balance is requested&#13;
- balance value date (if not present in the GetAccount message, the ReturnAccount message will contain the latest available balance)&#13;
This message will be answered by a ReturnAccount message.&#13;
Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctQryDef" type="AccountQueryDefinition2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Definition of the account query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
