WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.setr.016.002.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:09, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:setr.016.002.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:setr.016.002.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReference5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="RestrictedFINMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business reference of a message assigned by the party issuing the message. This reference must be unique amongst all messages of the same name sent by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="RestrictedFINMax15Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancelledStatus4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancelledStatus4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status is cancelled.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="CancelledStatusReason8Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the cancelled status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedRsn" type="Max350Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the cancelled status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason8Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancelledStatusReason8Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying reason for cancellation of the associated transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByOther</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by a party other than the instructing party, eg, a market infrastructure such as a stock exchange.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="OrdrInstrStsRpt" type="OrderInstructionStatusReport.MinusV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Extension1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extension1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IndividualOrderStatusAndReason5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IndividualOrderStatusAndReason5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status report of the individual order that was previously received.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="RestrictedFINMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a group of individual orders, as assigned by the instructing party. This identifier links the individual orders together.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdrRef" type="RestrictedFINMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an order, as assigned by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="Sts" type="OrderStatus7Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the individual order is accepted or sent to next party or received. There is no reason attached.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Canc" type="CancelledStatus4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Cancelled</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the individual order is cancelled. This status is used for an order that has been accepted or that has been entered in an order book but that can not be executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Rjctd" type="RejectedStatus8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the individual order is rejected. This status is used for an order that has not been accepted or entered in an order book.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrderInstructionStatusReport.MinusV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrderInstructionStatusReport.MinusV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An executing party, eg, a transfer agent, sends the OrderInstructionStatusReport to the instructing party, eg, an investment manager or its authorised representative to report the status of an order from the time the executing party receives the order until the time the order is executed.&#13;
Usage&#13;
The OrderInstructionStatusReport message is used to report on the status of a subscription or redemption.&#13;
The OrderInstructionStatusReport message may be used to give the status of:&#13;
- one individual order instructions by using IndividualOrderDetailsReport&#13;
When the OrderInstructionStatusReport message is used to report the status of an individual order, then IndividualOrderDetailsReport is used and the order reference of the individual order is quoted in OrderReference. The message identification of the message in which the individual order was conveyed may also be quoted in RelatedReference.&#13;
One of the following statuses can be reported:&#13;
- an accepted status , or,&#13;
- a sent to next party status, or,&#13;
- a received status, or,&#13;
- a cancelled status, or&#13;
- a rejected status, or,</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference that uniquely identifies a message from a business application standpoint. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndvOrdrDtlsRpt" type="IndividualOrderStatusAndReason5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndividualOrderDetailsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status report details of an individual order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderStatus7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrderStatus7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the current status of the order.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is accepted and is ready for execution (execution is the moment when pricing is applied).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STNP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SentToNextParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order has been sent to the next party, eg, the next intermediary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Received</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order has been received, ie, technical validation of the message is ok, and the message is now at the receiving side.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectedStatus8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectedStatus8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status is rejected.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="XtndedRsn" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExtendedReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the rejected status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="RestrictedFINMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the rejected status reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINMax15Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINMax15Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 15 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern ([^/]+/)+([^/]+)|([^/]*) that disables the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINMax210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
