WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.007.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 20 09:14:21, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2014.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.007.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.007.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountBalanceSD5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountBalanceSD5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding account balance. Contains transaction details of the stock loans, repurchase agreements (REPOs) and undelivered trades (FAILs).  </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxPos" type="AdjustedBalanceTypeSD1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position that is concerned in transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AsOfDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AsOfDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Effective date of the transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ContraPtcptNb" type="Max8Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContraParticipantNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction contra participant identification for stock loans, repurchase agreements (REPOs).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountBalanceSD6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountBalanceSD6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding account balance. Contains transaction details of the stock loans, repurchase agreements (REPOs) and undelivered trades (FAILs).  </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position held in a security as of the day prior to publication date. This position is subject to a redemption lottery call when this is the first lottery. This balance will not be adjusted for the supplemental or concurrent lotteries and will remain constant to report the original position.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AdjstdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdjustedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Adjusted position held in  a security that is subject to redemption call.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UpldgdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnpledgedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Portion of the Original Balance position held in DTC General Free account as of day prior to Publication Date. Position held in this account is subject to redemption lottery call.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtUpldgdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentUnpledgedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Portion of the Original Balance position held in DTC Segregated account as of day prior to Publication Date. Position held in this account is subject to redemption lottery call and must be released to allow allocation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtPldgdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentPledgedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Portion of the Original Balance position held in DTC Investment account as of day prior to Publication Date. Position held in this account is subject to redemption lottery call and must be released to allow allocation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdjustedBalanceTypeSD1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdjustedBalanceTypeSD1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of balance types to provide transaction details.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="StockLn" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockLoan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Stock loan transaction position. Stock loan is loaned / borrowed from / to a third party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Repo" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Repo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Repurchase agreement (REPO) between a seller and a buyer whereby the seller agrees to repurchase the securities at an agreed upon price, and usually at a stated time. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fail" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Fail</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities undelivered (FAIL) transaction position.  FAIL occurs due to the failure of selling clients to deliver the securities to their brokers so the latter can deliver them to the buying brokers.  </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformationSD14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformationSD14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action general information details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RedId" type="Max10NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RedemptionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique number systemically assigned to all Lottery and Non-Lottery events announced in DTC Redemptions (REDS) Participant Terminal System (PTS)/ Particinant Browser System(PBS) function. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DTCCCANOEligibleBalanceSD1V03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCANOEligibleBalanceSD1V03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCANOEligibleBalanceSD1 message extends ISO corporate action notification (Eligible Balance market practice) message with DTCC corporate action eligible balance elements not covered in the standard message. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnGnlInf" type="CorporateActionGeneralInformationSD14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to general information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygScty" type="FinancialInstrumentAttributesSD9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to  underlying security details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DstrbtnsAcctBal" type="AccountBalanceSD5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistributionsAccountBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Extension block for the information to be extended as account balance for distribution events.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RedsAcctBal" type="AccountBalanceSD6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RedemptionsAccountBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Extension block for the information to be extended as account balance for redemptions events.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCANOElgblBalSD1" type="DTCCCANOEligibleBalanceSD1V03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributesSD9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAttributesSD9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding underlying security details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgtgSctyId" type="OtherIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingSecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the 'original' security identifier of the event. It is used in the scenarios like "partial call" where there are 2 events. The first event distributes into the Contra CUSIP, a temporary security; and on the second event that temporary security becomes the underlying security of the event. This element is used in the second event to point to the original CUSIP. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity15Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="RestrictedFINExact2Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max10NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max10NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 10 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max8Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 8 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINExact2Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 2 characters that must has a pattern XX|TS.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax31Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 31 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ShortLong1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ShortLong1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the securities position is short or long, that is, wether the balance is a negative or positive balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Short</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is short, that is, the balance is negative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LONG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Long</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is long, that is, the balance is positive.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignedQuantityFormat4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Signed quantity of security formats.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sign of the quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
