WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.trea.010.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:09, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:trea.010.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:trea.010.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AgreedRate1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information needed to process a currency exchange or conversion.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The value of one currency expressed in relation to another currency. ExchangeRate expresses the ratio between UnitCurrency and QuotedCurrency (ExchangeRate = UnitCurrency/QuotedCurrency).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuotedCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency into which the base currency is converted, in a currency exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmendForeignExchangeOptionV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmendForeignExchangeOptionV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The AmendForeignExchangeOption message is sent by a participant to a central system or to a counterparty to notify the amendment of a foreign currency option contract.&#13;
Usage&#13;
The message contains a Related Reference to link it to the previously sent notification and may contain an reason for amendment.&#13;
This message is only suitable for Simple (i.e. not Barrier) Vanilla (i.e. not Binary, Digital, Notouch) Foreign Exchange Options.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradInf" type="TradeAgreement2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides reference and date of the foreign exchange option trade which is amended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradgSdId" type="TradePartyIdentification4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the trading side of the currency option trade which is amended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPtySdId" type="TradePartyIdentification4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartySideIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the counterparty of the currency option trade which is amended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Optn" type="Option3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Option</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the parameters of the currency option which is bought by the trading side.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountsAndValueDate2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountsAndValueDate2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the value date and the amounts traded in a foreign exchange option trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CallAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Call amount and currency of a foreign exchange option trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PutAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PutAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Put amount and currency of a foreign exchange option trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FnlSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinalSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the trade is settled, ie, the amounts are due.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaseOneRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a decimal, eg, 0.7 is 7/10 and 70%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AmdFXOptnV02" type="AmendForeignExchangeOptionV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FundIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Distinct pool of financial instruments managed by a single investment policy. May or not be part of an umbrella fund.The pool is issued in at least one investment fund class.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FndId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the investment fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdWthCtdn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentificationWithCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the account of the fund held with the custodian.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnId" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the custodian which services the account of the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Option3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Option3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">List of elements which provide the parameters of an option trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="OptnAmts" type="AmountsAndValueDate2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionAmounts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the call and the put amount of the underlying foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StrkPric" type="AgreedRate1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StrikePrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the rate of exchange at which the foreign exchange option has been struck.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExrcStyle" type="OptionStyle2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExerciseStyle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines how an option can be exercised.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstExrcDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarliestExerciseDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First date on which an american option can be exercised.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XpryDtAndTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpiryDateAndTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which a privilege (eg, option, right, warrant,...) expires. If it is an European option, the option holder can only exercise the right or let it lapse on expiry date. If it is an American option, the option holder can exercise the right up to the expiry date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XpryLctn" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpiryLocation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial center where option expires.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmTp" type="SettlementType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the trade is to be settled as principal or netted off against another trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlOptnInf" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalOptionInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Free format text that may contain information on the option.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prm" type="PremiumAmount2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Premium</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the amount of the premium of a foreign exchange option trade and its settlement place.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OptionParty1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OptionParty1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if a trade party is a buyer or a seller.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLLR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Seller</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Seller in a trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BYER">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Buyer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Buyer in a trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionStyle2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OptionStyle2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines how an option can be exercised</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMER">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">American</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option can be exercised before or on expiry date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EURO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">European</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option that can be exercised on expiry date only.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification22">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification22</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification8Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification8Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a choice between a BIC or a name and address.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NmAndAdr" type="NameAndAddress8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address and Alternative Identifier of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BICOrBEI" type="PartyIdentification22">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a BIC and an Alternative Identifier.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PremiumAmount2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PremiumAmount2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Commercial agreement in which the buyer agrees to pay the seller an amount of cash. Some aspects of the payment may be defined in the agreement, eg, the method of the payment</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrmQt" type="PremiumQuote1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PremiumQuote</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the calculation method of the premium amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Result of the calculation of the premium amount on the basis of the premium quote and one of the amounts of the underlying foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the premium must be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPty" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that settles the premium amount on behalf of the paying party.  It may contain the BIC of a central settlement system, eg. CLSBUS33.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PremiumQuote1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PremiumQuote1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the amount of a premium on a currency option together with its calculation method.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PctgOfCallAmt" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PercentageOfCallAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Premium calculation is based on a percentage of the call amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PctgOfPutAmt" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PercentageOfPutAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Premium calculation is based on a percentage of the put amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PtsOfCallAmt" type="BaseOneRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PointsOfCallAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Premium calculation is based on points of the call amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PtsOfPutAmt" type="BaseOneRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PointsOfPutAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Premium calculation is based on points of the put amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates how an option trade is settled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Principal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option trade is settled as principal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NETO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NettedOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option trade is netted off against another trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeAgreement2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeAgreement2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Date and identification of a trade together with references to previous events in its life.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date at which the trading parties have agreed to amend or cancel a treasury trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NtfctnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a notification.This identification must be unique amongst all notifications of same type confirmed by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommonReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference common to the parties of a trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdOrCclRsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendOrCancelReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the reason for the cancellation or the amendment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RltdRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refers to the identification of a previous event in the life of a trade which is amended or cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentification4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradePartyIdentification4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FndInf" type="FundIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the fund which is one of the parties in a treasury trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuyrOrSellrInd" type="OptionParty1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyerOrSellerIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party which is the buyer or the seller.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubmitgPty" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmittingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party which submits a treasury trade to a matching system or to a settlement system or to a counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradPty" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party which originated a treasury trade. This party may be the same as the submitting party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
