WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.admi.008.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:09, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:admi.008.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:admi.008.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SysStsReqOrNtfctn" type="SystemStatusRequestOrNotificationV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralInformation3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralInformation3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General Information, indicating the function of the  message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for the message, as assigned by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgFctn" type="MessageFunction2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageFunction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is sent as a request or as a response.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the request message for which the notification is sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageFunction2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the function of the message.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REQU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Request</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message function is a request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RESP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Response</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message function is a response.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestorDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestorDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of the financial institution sending the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DtTmStmp" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTimeStamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the request was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rqstr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Requestor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the requester.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ResponderDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResponderDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of the Financial Institution responding to the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DtTmStmp" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTimeStamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the response was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rspndr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Responder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the responder.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemStatusRequestOrNotificationV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemStatusRequestOrNotificationV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The SystemStatusRequestOrNotification message is sent by a central system to the participant, or, by a participant of a central system to the central system to either:&#13;
- request a system notification response, or&#13;
- provide a response to a system status request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GnlInf" type="GeneralInformation3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the request or response.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RqstrDtls" type="RequestorDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestorDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the financial institution sending the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspndrDtls" type="ResponderDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponderDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the financial institution responding to the request. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
