WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.025.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:28, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.025.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.025.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReferences">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReferences</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Business reference(s) to one or more relevant messages previously sent by other parties, or by the same party issuing this message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to a previous message having a business relevance with this message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the message which contained the given additional reference as its message reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that initially assigned the given additional reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="Rct" type="ReceiptV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceiptDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiptDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdRef" type="AdditionalReferences">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqHdlg" type="RequestHandling">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestHandling</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gives the status of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReceiptV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiptV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The Receipt message is sent by the transaction administrator to a member of the system. It is sent to acknowledge the receipt of one or multiple messages sent previously.&#13;
The Receipt message is an application receipt acknowledgement and conveys information about the processing of the original message(s).&#13;
Usage&#13;
The Receipt message is used when the exchange of messages takes place in an asynchronous manner.&#13;
This may happen, for instance, when an action is requested from the transaction administrator (a deletion, modification or cancellation). The transaction administrator will first acknowledge the request (with a Receipt message) and then execute it.&#13;
The message can contain information based on the following elements: reference of the message(s) it acknowledges, the status code (optional) and further explanation:&#13;
- reference of the message it acknowledges&#13;
- potentially, a status code and an explanation</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RctDtls" type="ReceiptDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceiptDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the receipt</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestHandling">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestHandling</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Explains the status of the related request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StsCd" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the status, in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtCtrl" type="RequestType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PaymentControl</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is a control command on a set of transactions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Enqry" type="RequestType2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Enquiry</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is an enquiry on the a position or a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RequestType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the request used to further detail the type of information that will be queried.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReleasePending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to release the pending transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldNormal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to hold normal transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT03">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to cancellation a transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT04">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to change the sequence of the  transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT05">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReleaseSuspicious</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to release the suspicious transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the request used to further detail the type of information that will be queried.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankPositionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on the bank's position.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecificTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a specific transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueuedTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a queued transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SuspiciousTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a suspicious transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingInwardCreditsEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on pending inward credits.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
