WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.019.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:40, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.019.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.019.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="BusinessDayInformation2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayInformation2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports on business day information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizDayInfRpt" type="BusinessDayInformationReport2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports either business day information or a business error.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayInformationDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Payment system operational information, eg, opening, closure, session period or events. given per currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysSts" type="SystemStatusDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SysInfPerCcy" type="SystemAvailabilityAndEventsDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemInformationPerCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information relating to system operations and foreseen events relating to the operation of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayInformationReport2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationReport2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports either on business day information or on a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SysId" type="SystemIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a particular cash clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="BizErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason the requested business information is not given.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BizDayInf" type="BusinessDayInformationDetails1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessDayInformation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">The requested business information.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashClearingSystem1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashClearingSystem1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is to be processed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAEuro1Step1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA Euro1/Step1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Austrian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AT (Austria) - Austrian RTGS (ARTIS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewZealand</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NZ (New Zealand) - New Zealand Assured Value Payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AZM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Azerbaijan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AZ (Azerbaijan) - Azerbaijan Interbank Payment System (AZIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BosniaHerzegovina</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for BA (Bosnia and Herzegovina).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Belgium</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for BE (Belgium) - Belgium RTGS (ELLIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Finland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FI (Finland) - RTGS (BOF).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Italy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for IT (Italy) - Italy RTGS (BIREL).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Canada</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for CA (Canada) - Canadian Large Value Transfer System (LVTS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpainCAM</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ES (Spain).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CBJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ireland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for IE (Ireland) - Irish RTGS (IRIS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitedKingdom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for GB (UK) - British Euro RTGS (CHAPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DKC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Denmark</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DK (Denmark) - Danish Euro RTGS (KRONOS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanyRTGSPlus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DE (Germany).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAEuro1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA Euro1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanyELS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DE (Germany).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAStep1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA step 1 (members).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAStep2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA step 2.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Croatia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for HR (Croatia) - HSVP.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Greece</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for GR (Greece) - Greek RTGS (HERMES).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HUF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Hungary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for HU (Hungary) - VIBER.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Luxemburg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for LU (Luxemburg) - Luxembourg RTGS (LIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Latvia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for LV (Latvia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SouthAfrica</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ZA (South Africa) - South-African Multiple Option Settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mauritius</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for MU (Mauritius).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Norway</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NO (Norway).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Switzerland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for CH (Switzerland).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Australia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AU (Australia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Egypt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EG (Egypt).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FrancePNS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FR (France).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PVE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Venezuela</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for Ve (Venezuela).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwedenSEC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SE (Sweden) - Swedish Euro RTGS (SEC).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Slovania</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SI (Slovenia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpainES</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ES (Spain) - Spanish RTGS (SLBE).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Portugal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for PT (Portugal) - Portuguese RTGS (SPGT).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwedenSSK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SE (Sweden) - SEK RTGS (RIX).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FranceFR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FR (France) - French RTGS (TBF).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Target</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for Target.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Netherlands</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NL (Netherlands) - Dutch RTGS (TOP)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FDW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Fedwire</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the US national real time gross settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankOfJapanNet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Bank of Japan clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeYenClearing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Foreign Exchange Yen Clearing system (FEYCS). It is the Japanese electronic interbank system for sending guaranteed and unconditional yen payments of FX deals for same day settlement from one settlement bank, on behalf of itself or its customers, to another settlement bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Zengin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Zengin system. The electronic payment system for domestic third party transfers managed by the Tokyo Bankers Association.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClosureReasonChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClosureReasonChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Closure reason is expressed as a code or a bilaterally agreed code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SystemClosureReason1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason the system is closed/not operating.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryRsn" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of closure reason is a bilaterally agreed code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriodChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various date time patterns.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTmRg" type="DateTimePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTimeRange</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and time and an end date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrBizDayInf" type="ReturnBusinessDayInformationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ErrorHandling1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ErrorHandling1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Error codes generated when the response to a query exceeds the maximum size or the data is not available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="X020">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataNotYetAvailable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the error code when the data requested are not yet available.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="X030">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageSizeLimitExceeded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the error code when the data requested generates a message size that exceed the processing capacity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="X050">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataNotAvailable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the error code when the data requested have not been found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorHandling3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueryReference">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Gives the name and the reference of the query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QryRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnBusinessDayInformationV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnBusinessDayInformationV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnBusinessDayInformation message is sent by the transaction administrator to a member of the system.&#13;
It is used to provide information on different types of administrative data linked to the system.&#13;
The ReturnBusinessDayInformation message can be sent as a response to a related GetBusines DayInformation message (pull mode), or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
The message from the transaction administrator can contain information based on the following elements:&#13;
- identification of the system&#13;
- status of the system and period in which this status is valid&#13;
- currency within the system concerned and details of the hours of availability linked to that particular currency&#13;
- events related to the functioning of the system and the timing of their occurrence&#13;
Additional information on the generic design of the Get/Return messages can be found in the MDR Part 1 section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BizQryRef" type="QueryReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessQueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Query message reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="OprlErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BizRpt" type="BusinessDayInformation2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reports on business day information.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemAvailabilityAndEventsDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemAvailabilityAndEventsDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of integrated applications that provides centralised services such as clearing, netting, reconciliation, trading and/or settlement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SysCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency which may be processed by the system. A system may process transactions in a single currency or in multiple currencies.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SsnPrd" type="TimePeriodDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SessionPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time window of system activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Evt" type="SystemEvent1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Event</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about an event occurring on a system, whether planned, eg, cut-off time for a specific type of eligible transfer, or unplanned, eg, an unsolicited failure, as stipulated in the specifications of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ClsrInf" type="SystemClosureDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosureInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information about inactivity of a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemClosureDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemClosureDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about inactivity of a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Prd" type="DateTimePeriodChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Period</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period of time when the system is closed/not operating.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rsn" type="ClosureReasonChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the system is closed/not operating.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemClosureReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemClosureReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for system inactivity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BHOL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankingHoliday</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is closed due to a bank holiday.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemMaintenance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is closed for maintenance reasons.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is not processing any operation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCVR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recovery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is not operational during recovery operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllowedDowntimeWindow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is not operational during allowed downtime windows.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEvent1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEvent1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Detailed information about an event occurring on a system, whether planned, eg, cut-off time for a specific type of eligible transfer, or unplanned, eg, an unsolicited failure, as stipulated in the specifications of the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="SystemEventType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the event that has occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchdldTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ScheduledTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event is foreseen to occur.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectiveTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event effectively takes place.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemEventType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code and a free format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SystemEventType2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Nature of the event that has occurred.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryEvt" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryEvent</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of event, expressed as free text or a bilaterally agreed code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemEventType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a type of event related to a system's operation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LVCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LVPCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time for low value payments processed by the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LVPCancellationCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time after which low value payments can no longer be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVRT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LVPCutOffReportTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the time at which the members will be provided with the report corresponding to the processing of low value payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EUSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Euro1StartUp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the opening of the Euro 1 system operation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Step1StartUp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the start of the Step 1 system operation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LWSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitWarningStartUp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the start of the limit warning period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EUCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Euro1CutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time for the Euro1 system, ie, the deadline for processing Euro1 transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FIRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinalReporting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the report after all operations have ceased in the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STDY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the start of the operating day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTNC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LTNCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the settlement of the cash multilateral balances resulting from the overnight cycle of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashReservationCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the cash reservation window.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the settlement of the multilateral balances stemming from the retail clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTGC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LTGCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the daytime cycle of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTDC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LTDCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the settlement of the cash multilateral balances resulting from the daylight cycle of the securities settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CUSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for customer payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IBKC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for interbank payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SYSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetSSSReservationCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff for the securities settlement system cash reservation window.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResumeOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the expected resume time for a TARGET component.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingCutOffTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time for the processing of payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewPaymentCutOffTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cutoff time for the receipt of new commercial payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ESTF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfStandingFacilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the cut off for the standing facilities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ClrSysId" type="CashClearingSystem1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country in which the system is located.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemStatus2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemStatus2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is suspended, ie, not operational.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Active</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is functioning normally, ie, operational.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System is closed (eg. normal closure of an RTGS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System needs to wait for completion of intermediate internal activities before going to a status Closed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemStatusDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemStatusDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="SystemStatus2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current status of a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyTm" type="DateTimePeriodChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidityTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period of time during which the status of the system is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TimePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Particular time span specified between a start time and an end time. The time period cannot exceed 24 hours.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrTm" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which the time span starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToTm" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which the time span ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
