WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.caaa.012.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:33:46, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.012.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.012.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorBatchTransferResponseV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcceptorBatchTransferResponseV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The AcceptorBatchTransferResponse message is sent by the acquirer to the card acceptor to acknowledge the proper reception of the AcceptorBatchTransfer.&#13;
Usage&#13;
The AcceptorBatchTransferResponse message is used by an acquirer to inform the card acceptor of the card payment transactions that could not be captured in the AcceptorBatchTransfer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Hdr" type="Header3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Header</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Capture advice response message management information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DataSet" type="CardPaymentDataSet2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the previously sent set of transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctyTrlr" type="ContentInformationType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityTrailer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trailer of the message containing a MAC or a digital signature.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acquirer1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Acquirer1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Acquirer involved in the card payment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the acquirer (for example the bank identification number BIN).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ParamsVrsn" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ParametersVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the payment acquirer parameters of the POI.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a cryptographic algorithm</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetailCBCMAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Retail CBC (Chaining Block Cypher) MAC (Message Authentication Code) (cf. ISO 9807, ANSI X9.19) - (ASN.1 Object Identifier: id-retail-cbc-mac).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetailSHA256MAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Retail-CBC-MAC with SHA-256 (Secure HAsh standard)  - (ASN.1 Object Identifier: id-retail-cbc-mac-sha-256).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UKPT</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">UKPT (Unique Key Per Transaction) or Master Session Key key encryption - (ASN.1 Object Identifier: id-ukpt-wrap).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DKPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DUKPT</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DUKPT (Derived Unique Key Per Transaction) algorithm, as specified in ANSI X9.24-2004, Annex A, and ISO/DIS 13492-2006.  - (ASN.1 Object Identifier: id-dukpt-wrap).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="E3DC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DES112CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Triple DES (Data Encryption Standard) CBC (Chaining Block Cypher) encryption with double length key (112 Bit) as defined in FIPS PUB 46-3 - (ASN.1 Object Identifier: des-ede3-cbc).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HS25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA256</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest algorithm SHA-256 as defined in FIPS 180-1 and 2 - (ASN.1 Object Identifier: id-sha256).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERS2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA256WithRSA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Signature algorithms with RSA, using SHA-256 digest algorithm - (ASN.1 Object Identifier: sha256WithRSAEncryption).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RSAEncryption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RSA encryption algorithm - (ASN.1 Object Identifier: rsaEncryption).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a cryptographic algorithm.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters associated to the algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AttributeType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of attribute of a distinguished name (DN).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommonName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common name of the attribute (ASN.1 Object Identifier: id-at-commonName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Locality</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Locality of the attribute (ASN.1 Object Identifier: id-at-localityName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrganisationName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organization name of the attribute  (ASN.1 Object Identifier: id-at-organizationName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OUAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrganisationUnitName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organization unit name of the attribute (ASN.1 Object Identifier: id-at-organizationalUnitName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country name of the attribute (ASN.1 Object Identifier: id-at-countryName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AuthenticatedData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Message authentication code (MAC), computed on the data to protect with an encryption key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recipient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the transport key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MACAlgo" type="AlgorithmIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MACAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to compute message authentication code (MAC).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncapsulatedContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data to authenticate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MAC" type="Max35Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data which authenticates the data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentDataSet2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardPaymentDataSet2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Result of the captured set of transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DataSetId" type="DataSetIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DataSetRslt" type="ResponseType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetResult</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Result of the data set capture.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RmvDataSet" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RemoveDataSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the data set must be removed from the POI (Point Of Interaction).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DataSetInitr" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetInitiator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initiator of the data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxTtls" type="TransactionTotals1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionTotals</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction totals of the batch.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RjctdTx" type="CardPaymentDataSet3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectedTransaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction in the batch, whose capture has been rejected.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentDataSet3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardPaymentDataSet3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transaction for whose batch capture has been rejected.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxSeqCntr" type="Max9NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionSequenceCounter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sequential counter of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxRspn" type="ResponseType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response to the capture of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envt" type="CardPaymentEnvironment3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Environment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data related to the environment of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tx" type="CardPaymentTransactionAdviceResponse1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction that has been rejected.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardPaymentEnvironment3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Environment of the transaction given in a response to a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Acqrr" type="Acquirer1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acquirer involved in the card payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MerchantIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the merchant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="POIId" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POIIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the POI performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtctdCardData" type="ContentInformationType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtectedCardData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sensitive data of the card (PlainCardData1 including the envelope), encrypted with a cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PlainCardData" type="PlainCardData3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlainCardData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment card performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentTransactionAdviceResponse1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardPaymentTransactionAdviceResponse1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Card payment completion advice response from the acquirer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="TransactionIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the transaction by the POI.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rspn" type="Response1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Response</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Result of a requested service.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CertificateIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transport key or key encryption key (KEK) identification for the recipient.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerAndSerialNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name and serial number  (see X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CertificateIssuer1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name (see X.509).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelativeDistinguishedName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relative distinguished name inside a X.509 certificate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContentInformationType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General cryptographic message syntax (CMS) containing protected data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data protection.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EnvlpdData" type="EnvelopedData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EnvelopedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protection by encryption, with a session key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcdData" type="AuthenticatedData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticatedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protection by a message authentication code (MAC).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndData" type="SignedData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SignedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protected by digital signatures.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstdData" type="DigestedData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protected by a digest.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NmdKeyNcrptdData" type="NamedKeyEncryptedData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NamedKeyEncryptedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protection by encryption with a previously exchanged key identified by a name.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContentType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of a Cryptographic Message Syntax (CMS) data structure.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlainData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Generic, non cryptographic, or unqualified data content - (ASN.1 Object Identifier: id-data).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SignedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Digital signature - (ASN.1 Object Identifier: id-signedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVLP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EnvelopedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data, with encryption key - (ASN.1 Object Identifier: id-envelopedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DGST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest - (ASN.1 Object Identifier: id-digestedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECRP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data - (ASN.1 Object Identifier: id-encryptedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AUTH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticatedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">MAC (Message Authentication Code), with encryption key - (ASN.1 Object Identifier: id-ct-authData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DataSetCategory1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DataSetCategory1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Category of data set to transfer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SWPK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SoftwareModule</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Software module.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VDPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VendorParameters</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point of interaction parameters defined by the manufacturer for instance the PIN verification capabilities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AQPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcquirerParameters</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acquirer specific configuration parameters for the point of interaction (POI) system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MRPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MerchantParameters</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant configuration parameters for the point of interaction (POI).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TXCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BatchCapture</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Batch upload of transaction data (data capture of a group of transactions).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AKCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CaptureResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Batch upload response for the batch capture of transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STRP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report of software configuration and parameter status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelegationData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data needed to create a terminal management sub-domain.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MGTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ManagementPlan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Configuration of management plan in the point of interaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataSetIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DataSetIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a data set.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="DataSetCategory1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Category of data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of creation of the data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DigestedData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DigestedData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Digest computed on the identified data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a digest algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncapsulatedContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data on which the digest is computed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Dgst" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Digest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Result of data-digesting process.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrBtchTrfRspn" type="AcceptorBatchTransferResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EncapsulatedContent1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Data to authenticate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data which have been authenticated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max10000Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Content</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Actual data to authenticate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncryptedContent1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EncryptedContent1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Encrypted data with an encryption key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data which have been encrypted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CnttNcrptnAlgo" type="AlgorithmIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentEncryptionAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm used to encrypt the data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdData" type="Max10000Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data, result of the content encryption.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvelopedData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EnvelopedData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Encrypted data with encryption key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recipient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transport key or key encryption key (KEK) identification for the recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdCntt" type="EncryptedContent1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data with an encryption key.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact10Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact10Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 10 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 4 digits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification32">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification32</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Header3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics related to the transfer of transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DwnldTrf" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DownloadTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the file transfer is a download or an upload.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FrmtVrsn" type="Max6Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FormatVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of file format.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgId" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an exchange occurrence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the file or message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InitgPty" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that has initiated the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that is the recipient of the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOYearMonth</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Month within a particular calendar year represented by YYYY-MM (ISO 8601).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IssuerAndSerialNumber1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name and serial number  (see X.509).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name (see X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SrlNb" type="Max35Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SerialNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate serial number (see X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KEK1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Key encryption key (KEK), using previously distributed symmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KEKId" type="KEKIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KEKIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyEncryptionAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to encrypt the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdKey" type="Max140Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedKey</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KEKIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a key encryption key (KEK), using previously distributed symmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyVrsn" type="Exact10Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification used for derivation of a unique key from a master key provided for the data protection.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KeyTransport1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Key encryption key (KEK), encrypted previously distributed symmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcptId" type="CertificateIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transport key or key encryption key (KEK) for the recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyEncryptionAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to encrypt the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdKey" type="Max140Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedKey</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max10000Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max10000Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 10000 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 140 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3000Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 3000 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 35 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 35 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max500Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 500 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max6Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max9NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max9NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 9 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min2Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a minimum length of 2 digits, and a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min5Max16Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a minimum length of 5 bytes, and a maximum length of 16 bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min8Max28NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a minimum length of 8 digits, and a maximum length of 28 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NamedKeyEncryptedData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NamedKeyEncryptedData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Encrypted data with an encryption key identified with a name.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="KeyNm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdCntt" type="EncryptedContent1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data with an encryption key.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Parameter1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters associated to a cryptographic algorithm.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialisationVector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initialisation vector of a cipher block chaining (CBC) mode encryption.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of entity involved in a transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingPOI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point Of Interaction initiating the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that issues cards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelegateIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party to whom the card issuer delagates to authorise card payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity assigning an identification  (for example merchant, acceptor, acquirer, tax authority, etc.).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that issues cards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TAXH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxAuthority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax authority.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlainCardData3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PlainCardData3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Sensible data associated with the payment card performing the transaction provided for verification in response.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PAN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Primary Account Number (PAN) of the card, or card number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardSequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identify a card inside a set of cards with the same card number (PAN).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectiveDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date as from which the card can be used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XpryDt" type="ISOYearMonth">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpiryDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Expiry date of the card.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Recipient1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Recipient1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transport key or key encryption key (KEK) for the recipient.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="KeyTrnsprt" type="KeyTransport1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">KeyTransport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Encryption key using previously distributed asymmetric key.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="KEK" type="KEK1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">KEK</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Encryption key using previously distributed symmetric key.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RelativeDistinguishedName1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Relative distinguished name defined by X.500 and X.509.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttributeType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of attribute of a distinguished name (see X.500).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttrVal" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttributeValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the attribute of a distinguished name (see X.500).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Response1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Response code of a transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Declined</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service is declined.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Approved</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service has been successfuly provided.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialApproved</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service has been partialy provided.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TECH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TechnicalError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service cannot be provided for technical reason (eg timeout contacting the Issuer, security problem).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResponseType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Response of a requested service.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Rspn" type="Response1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Response</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Result of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponseReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed result of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignedData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Digital signature of data, with an asymmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DgstAlgo" type="AlgorithmIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a digest algorithm to apply before signature.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncapsulatedContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data to sign.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cert" type="Max3000Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Certificate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Chain of X.509 certificates.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Sgnr" type="Signer1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Signer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity who has signed the data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Signer1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Signer1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity who has signed the data and its digital signature.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the Cryptographic Message Syntax (CMS) data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SgnrId" type="CertificateIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SignerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity who has signed the data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DgstAlgo" type="AlgorithmIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a digest algorithm to apply before signature.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SgntrAlgo" type="AlgorithmIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SignatureAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cryptographic digital signature algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sgntr" type="Max500Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Signature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Digital signature.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction in an unambiguous way.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Local date and time of the transaction assigned by the POI (Point Of Interaction).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction that has to be unique for a time period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionTotals1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionTotals1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transaction totals during the reconciliation period, for a certain type of transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="POIGrpId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POIGroupIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier assigned by the merchant identifying a set of POI terminals performing some categories of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Exact4NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardProductProfile</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Category of cards related the acceptance processing rules defined by the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency associated with the transaction totals.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="TypeTransactionTotals1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlNb" type="Max35NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total number of transactions during a reconciliation period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CmltvAmt" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CumulativeAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total amount of a collection of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeTransactionTotals1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TypeTransactionTotals1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of transactions which are included in the totals.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEBT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debit transactions on the cardholder account .</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebitReverse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reversal of debit transactions (cancellation).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Credit transactions (refund, account, cash service, as defined  in the transaction service type).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditReverse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reversal of credit transactions (cancellation).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
