WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.colr.008.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2015 Jan 19 09:46:41, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.008.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.008.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="GenericAccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountSchemeName1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the identification scheme</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashCollateralResponse1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashCollateralResponse1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides more details on the response such as the response type, the collateral identification, and optionally further details in case of rejection.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RspnTp" type="Status4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponseType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the collateral proposal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the proposed collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssetNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the register number of the collateral deposit assigned by the central counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcctId" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnRsn" type="RejectionReasonV021Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnInf" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information regarding why the collateral proposal has a rejected status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccount1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralAccount1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Collateral Account provides additional information on the Collateral Account of the Party delivering the collateral.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the Collateral Account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountIdentificationType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the Type of Collateral Account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccountIdentificationType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralAccountIdentificationType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the identification of the collateral account.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the Type of Collateral Account expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification29">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the collateral account expressed as a proprietary code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralAccountType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralAccountType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the collateral account type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">House</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers the exposure resulting from trades executed for either the clearing member or its subsidiaries.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLIE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Client</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers the exposure resulting from trades executed for the clearing member's customers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityProvider</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers the exposure resulting from trades executed for liquidity providers (also known as market maker) activities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MGIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Margin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers the exposure resulting from trades executed for either the clearing member or its subsidiaries, or for the clearing member's customers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DFLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DefaultFund</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers clearing member's default risk.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralProposalResponse1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralProposalResponse1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if the collateral proposal response is an initial or a counter proposal.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialProposal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the collateral proposal response is an initial proposal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterProposal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the collateral proposal response is a counter proposal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralProposalResponse2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralProposalResponse2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the collateral proposal response for the variation margin and optionaly the segregated independent amount.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VartnMrgn" type="CollateralProposalResponseType2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VariationMargin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the collateral proposal response for the variation margin.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmt" type="CollateralProposalResponseType2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SegregatedIndependentAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the collateral proposal response for the segregated independent amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralProposalResponse2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralProposalResponse2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the collateral proposal response for the variation margin and the segregated independent amount, or the segregated independent amount only.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="CollPrpsl" type="CollateralProposalResponse2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralProposal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the collateral proposal response for the variation margin and optionaly the segregated independent amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SgrtdIndpdntAmt" type="CollateralProposalResponseType2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SegregatedIndependentAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the collateral proposal response for the segregated independent amount only.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollateralProposalResponseType2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralProposalResponseType2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the response for a collateral proposal.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CollPrpslId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralProposalIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for a collateral proposal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CollateralProposalResponse1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the collateral proposal is an initial or a counter proposal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rspn" type="CollateralResponse1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Response</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides response details for each of the proposed collateral pieces.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralProposalResponseV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralProposalResponseV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
This CollateralProposalResponse message is sent by the collateral taker or its collateral manager to the collateral giver or its collateral manager to either accept or reject the collateral which has been proposed for the margin call. This message applies to both initial and counter proposals. If the collateral proposal is rejected then a new collateral proposal must be made.&#13;
&#13;
The message definition is intended for use with the ISO20022 Business Application Header.&#13;
&#13;
Usage&#13;
The CollateralProposalResponse message can be sent in response to a previously received CollateralProposal message in order to accept or reject the collateral that has been proposed to cover the margin call.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as know by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Oblgtn" type="Obligation3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Obligation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information like the identification of the party or parties associated with the collateral agreement, the exposure type and the valuation date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrpslRspn" type="CollateralProposalResponse2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProposalResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details the response to the collateral which has been proposed for the margin call. The proposed collateral can be accepted or rejected.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralResponse1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralResponse1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information on the collateral proposal(s), that is either in cash, securities or other types.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesCollRspn" type="SecuritiesCollateralResponse1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesCollateralResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the securities collateral proposal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshCollRspn" type="CashCollateralResponse1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashCollateralResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the cash collateral proposal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrCollRspn" type="OtherCollateralResponse1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherCollateralResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on other collateral proposal.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CollPrpslRspn" type="CollateralProposalResponseV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExposureType5Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExposureType5Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying business area/type of trade causing the collateral movement.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BondForward</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Any securities traded out beyond 3 days which include treasury notes, Japanese Government Bonds (JGBs) and Gilts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PAYM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of any type of cash settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCPC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CCPCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collateral covering the initial margin requirements for OTC trades cleared through a CCP.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Commodities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exchanged traded commodities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDefaultSwap</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of credit default swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Opening of a credit line before trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditSupport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash lending/borrowing; letter of credit; signing of master agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCIR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossCurrencyIRS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cross currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossProduct</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of various types of trades.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQUI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Equity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of equity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EquityOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of equity option (also known as stock options).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EquitySwap</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Equity swap trades where the return of an equity is exchanged for either a fixed or a floating rate of interest.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeTradedDerivatives</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exchanged traded derivatives in general.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExoticOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exotic option, for example, a non standard option.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FIXI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FixedIncome</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of fixed income instruments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Foreign exchange trades in general.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForwardForeignExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Forward foreign exchange trades.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Futures</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Related to futures trading activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FXOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Related to options trading activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIQU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Liquidity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of settlement via an RTGS or other clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OTCDerivatives</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">OTC derivatives trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to repurchase agreement trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RVPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReverseRepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of a reverse repurchase agreement transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuredLoan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exposure is linked to a secured loan.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBuySellSellBuyBack</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities buy sell back.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCRP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesCrossProducts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of securities related exposure types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLEB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesLendingAndBorrowing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exposure is linked to a securities lending or borrowing activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHSL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortSell</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short sale exposure.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCIR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCurrencyIRS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Single currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCIE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCurrencyIRSExotic</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exotic single currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SWPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Swaption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option on interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToBeAnnounced</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">To be announced (TBA) related collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRBD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TreasuryBonds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of treasury bonds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TreasuryCorssProduct</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of treasury related exposure types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalAccountIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external account identification scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification29">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification29</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBAN2007Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616:2007 - "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name and address of an institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adr" type="PostalAddress2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Obligation3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Obligation3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information like the identification of the party or parties associated with the collateral agreement, the exposure type and the valuation date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PtyA" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines one of the entities associated with the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyA" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServicingPartyA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party that is acting on behalf of party A and that offers collateral management services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyB" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the other entity associated with the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyB" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServicingPartyB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party that is acting on behalf of party B and that offers collateral management services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAcctId" type="CollateralAccount1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information on the Collateral Account of the Party delivering the collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExposureType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying business area or type of trade causing the collateral movement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValtnDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValuationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the close of business date on which the initiating party is valuing the margin call.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherCollateralResponse1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherCollateralResponse1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides more details on the response such as the response type, the collateral identification, and optionally further details in case of rejection.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RspnTp" type="Status4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponseType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the collateral proposal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the proposed collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssetNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the register number of the collateral deposit assigned by the central counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnRsn" type="RejectionReasonV021Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnInf" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information regarding why the collateral proposal has a rejected status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification33Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification29">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmAndAdr" type="NameAndAddress6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReasonV021Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReasonV021Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid financial instrument identification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVNM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnrecognisedIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised event number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnknownSymbol</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instrument's symbol has not been recognized.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICOL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient collateral proposed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConcentrationLimitExceeded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Concentration limit was exceeded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELIG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonEligibleSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security is not eligible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction contains an invalid message identification, identification is unknown.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesCollateralResponse1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesCollateralResponse1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides more details on the response such as the response type, the collateral identification, and optionally further details in case of rejection.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the identification of the proposed collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssetNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the register number of the collateral deposit assigned by the central counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnTp" type="Status4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponseType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the collateral proposal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnRsn" type="RejectionReasonV021Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnInf" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information regarding why the collateral proposal has a rejected status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Status4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REJT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been accepted and is validated for further processing</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
