WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.caaa.010.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 20 09:14:23, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2014.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.010.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.010.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorReconciliationResponse2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcceptorReconciliationResponse2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reconciliation response from the acquirer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Envt" type="CardPaymentEnvironment19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Environment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Environment of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxRspn" type="ResponseType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response from the acquirer to the reconciliation transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tx" type="TransactionReconciliation2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transaction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reconciliation transaction between an acceptor an acquirer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorReconciliationResponseV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcceptorReconciliationResponseV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The AcceptorReconciliationResponse message is sent by the acquirer (or its agent) to an acceptor (or its agent), to ensure that the debits and credits performed by the acceptor matches the computed balances of the acquirer for the debits and credits performed during the same reconciliation period.&#13;
If the acceptor or the acquirer notices a difference in totals, the discrepancy will be resolved by other means, outside the scope of the protocol.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Hdr" type="Header7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Header</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reconciliation response message management information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcncltnRspn" type="AcceptorReconciliationResponse2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconciliationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to thereconciliation response.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctyTrlr" type="ContentInformationType8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityTrailer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trailer of the message containing a MAC.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm10Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm10Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithms for the MAC (Message Authentication Code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetailCBCMAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Retail CBC (Chaining Block Cypher) MAC (Message Authentication Code) (cf. ISO 9807, ANSI X9.19) - (ASN.1 Object Identifier: id-retail-cbc-mac).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RetailSHA256MAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Retail-CBC-MAC with SHA-256 (Secure HAsh standard)  - (ASN.1 Object Identifier: id-retail-cbc-mac-sha-256).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMA1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA256CMACwithAES128</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CMAC (Cipher based Message Authentication Code) defined by the National Institute of Standards and Technology (NIST 800-38B - May 2005), using the block cipher Advanced Encryption Standard with a 128 bits cryptographic key, approved by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard). The CMAC algorithm is computed on the SHA-256 digest of the message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm5Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm5Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithms for digests.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA256</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest algorithm SHA-256 as defined in FIPS 180-1 and 2 - (ASN.1 Object Identifier: id-sha256).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HS38">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA384</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest algorithm SHA-384 as defined in FIPS 180-1 and 2 - (ASN.1 Object Identifier: id-sha384).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HS51">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SHA512</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest algorithm SHA-512 as defined in FIPS 180-1 and 2 - (ASN.1 Object Identifier: id-sha512).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Asymmetric encryption algorithm of a transport key.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ERSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RSAEncryption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RSA encryption algorithm - (ASN.1 Object Identifier: rsaEncryption).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSAO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RSAES-OAEP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RSA encryption scheme based on Optimal Asymmetric Encryption scheme (PKCS #1 version 2.1) - (ASN.1 Object Identifier: id-RSAES-OAEP).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm8Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm8Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Mask generator functions of the RSAES-OAEP encryption algorithm (RSA Encryption Scheme: Optimal Asymmetric Encryption Padding).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MGF1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MGF1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Generator Function, used for RSA encryption and RSA igital signature (PKCS #1 version 2.1) - (ASN.1 Object Identifier: id-mgf1).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Algorithm9Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Algorithm9Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithms for the protection of transported keys.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="EA2C">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AES128CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AES (Advanced Encryption Standard) CBC (Chaining Block Cypher) encryption with a 128 bits cryptographic key as defined by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="E3DC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DES112CBC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Triple DES (Data Encryption Standard) CBC (Chaining Block Cypher) encryption with double length key (112 Bit) as defined in FIPS PUB 46-3 - (ASN.1 Object Identifier: des-ede3-cbc).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DKP9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DUKPT2009</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DUKPT (Derived Unique Key Per Transaction) algorithm, as specified in ANSI X9.24-2009 Annex A.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UKPT</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">UKPT (Unique Key Per Transaction) or Master Session Key key encryption - (ASN.1 Object Identifier: id-ukpt-wrap).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKA1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UKPTwithAES128</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">UKPT (Unique Key Per Transaction) or Master Session Key key encryption, using Advanced Encryption Standard with a 128 bits cryptographic key, approved by the Federal Information Processing Standards (FIPS 197 - November 6, 2001 - Advanced Encryption Standard).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmIdentification10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a cryptographic algorithm and parameters for the MAC computation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm10Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters associated to the algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithms and parameters for the protection of transported keys by an asymmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm7Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Asymmetric encryption algorithm of a transport key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters of the RSAES-OAEP encryption algorithm (RSA Encryption Scheme: Optimal Asymmetric Encryption Padding).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Mask generator function cryptographic algorithm and parameters.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm8Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Mask generator function cryptographic algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters associated to the mask generator function cryptographic algorithm</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlgorithmIdentification9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlgorithmIdentification9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cryptographic algorithm and parameters for the protection of the transported key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Algo" type="Algorithm9Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Algorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Param" type="Parameter1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Parameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters associated to the algorithm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AttributeType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AttributeType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of attribute of a distinguished name (DN).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommonName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common name of the attribute (ASN.1 Object Identifier: id-at-commonName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Locality</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Locality of the attribute (ASN.1 Object Identifier: id-at-localityName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrganisationName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organization name of the attribute  (ASN.1 Object Identifier: id-at-organizationName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OUAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrganisationUnitName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organization unit name of the attribute (ASN.1 Object Identifier: id-at-organizationalUnitName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country name of the attribute (ASN.1 Object Identifier: id-at-countryName).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AuthenticatedData3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AuthenticatedData3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Message authentication code (MAC), computed on the data to protect with an encryption key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the data structure.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rcpt" type="Recipient3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Recipient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the transport key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MACAlgo" type="AlgorithmIdentification10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MACAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to compute message authentication code (MAC).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcpsltdCntt" type="EncapsulatedContent2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncapsulatedContent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data to authenticate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MAC" type="Max35Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data which authenticates the data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardPaymentEnvironment19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardPaymentEnvironment19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Environment of the reconciliation for the acquirer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcqrrId" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcquirerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acquirer involved in the card payment reconciliation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntId" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MerchantIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the merchant requesting the reconciliation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="POIId" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POIIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the POI requesting the reconciliation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CertificateIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transport key or key encryption key (KEK) identification for the recipient.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IssrAndSrlNb" type="IssuerAndSerialNumber1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerAndSerialNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name and serial number  (see X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificateIssuer1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CertificateIssuer1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name (see X.509).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RltvDstngshdNm" type="RelativeDistinguishedName1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelativeDistinguishedName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relative distinguished name inside a X.509 certificate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentInformationType8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContentInformationType8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General cryptographic message syntax (CMS) containing authenticated data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data protection.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AuthntcdData" type="AuthenticatedData3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticatedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data protection by a message authentication code (MAC).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ContentType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContentType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of a Cryptographic Message Syntax (CMS) data structure.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DATA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlainData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Generic, non cryptographic, or unqualified data content - (ASN.1 Object Identifier: id-data).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SignedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Digital signature - (ASN.1 Object Identifier: id-signedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVLP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EnvelopedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data, with encryption key - (ASN.1 Object Identifier: id-envelopedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DGST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message digest - (ASN.1 Object Identifier: id-digestedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECRP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted data - (ASN.1 Object Identifier: id-encryptedData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AUTH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticatedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">MAC (Message Authentication Code), with encryption key - (ASN.1 Object Identifier: id-ct-authData).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrRcncltnRspn" type="AcceptorReconciliationResponseV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EncapsulatedContent2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EncapsulatedContent2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Data to authenticate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CnttTp" type="ContentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of data which have been authenticated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Cntt" type="Max100KBinary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Content</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Actual data to authenticate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact10Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact10Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 10 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 4 digits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification31">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification31</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="PartyType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification32</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Header7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics related to the protocol.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageFunction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process related to the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtcolVrsn" type="Max6Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtocolVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the acquirer protocol specifications.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgId" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an exchange occurrence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InitgPty" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that has initiated the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that is the recipient of the message exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Traceability</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of partners involved in exchange from the merchant to the issuer, with the relative timestamp of their exchanges.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IssuerAndSerialNumber1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IssuerAndSerialNumber1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name and serial number  (see X.509).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Issr" type="CertificateIssuer1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate issuer name (see X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SrlNb" type="Max35Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SerialNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certificate serial number (see X.509).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEK3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KEK3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Key encryption key (KEK), using previously distributed symmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KEKId" type="KEKIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KEKIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyEncryptionAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to encrypt the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdKey" type="Max140Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedKey</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KEKIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KEKIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a key encryption key (KEK), using previously distributed symmetric key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="KeyId" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyVrsn" type="Exact10Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivtnId" type="Min5Max16Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification used for derivation of a unique key from a master key provided for the data protection.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="KeyTransport3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">KeyTransport3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Key encryption key (KEK), encrypted with a previously distributed asymmetric public key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the cryptographic key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcptId" type="CertificateIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transport key or key encryption key (KEK) for the recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyNcrptnAlgo" type="AlgorithmIdentification7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyEncryptionAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Algorithm to encrypt the key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NcrptdKey" type="Max3000Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EncryptedKey</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encrypted key encryption key (KEK).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max100KBinary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Binary data of 100K maximum.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 140 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3000Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3000Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 3000 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="3000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 35 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 35 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,35}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max500Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 500 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max6Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageFunction4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the message function within a card payment exchange.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorisationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for authorisation without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AUTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorisationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for authorisation without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAUQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialAuthorisationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for authorisation with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialAuthorisationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for authorisation with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMPV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompletionAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for completion without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMPK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompletionAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for completion without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FCMV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialCompletionAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for completion with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FCMK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialCompletionAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for completion with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RVRA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReversalAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for reversal without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RVRR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReversalAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for reversal without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialReversalAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for reversal with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRVR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialReversalAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for reversal with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCAQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCAV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCAK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DGNP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DiagnosticRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for diagnostic.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DGNQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DiagnosticResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for diagnostic.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCLQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconciliationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for reconciliation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCLP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconciliationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for reconciliation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reject a request or an advice.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCCQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrencyConversionRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for dynamic currency conversion.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrencyConversionResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response from a dynamic currency conversion.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min5Max16Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min5Max16Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a minimum length of 5 bytes, and a maximum length of 16 bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="5"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Parameter1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Parameter1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters associated to a cryptographic algorithm.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InitlstnVctr" type="Max500Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitialisationVector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initialisation vector of a cipher block chaining (CBC) mode encryption.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Parameter2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters of the RSAES-OAEP encryption algorithm (RSA Encryption Scheme: Optimal Asymmetric Encryption Padding).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Digest algorithm used in the RSAES-OAEP encryption algorithm (RSA Encryption Scheme: Optimal Asymmetric Encryption Padding).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MskGnrtrAlgo" type="AlgorithmIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaskGeneratorAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Mask generator function cryptographic algorithm and parameters.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Parameter3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Parameter3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters associated to a mask generator cryptographic function.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DgstAlgo" type="Algorithm5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DigestAlgorithm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Digest algorithm used in the mask generator function.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PartyType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of entity involved in a transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingPOI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point Of Interaction initiating the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that issues cards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelegateIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party to whom the card issuer delagates to authorise card payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity assigning an identification  (for example merchant, acceptor, acquirer, tax authority, etc.).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that issues cards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TAXH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxAuthority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax authority.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Recipient3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Recipient3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transport key or key encryption key (KEK) for the recipient.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="KeyTrnsprt" type="KeyTransport3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyTransport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encryption key using previously distributed asymmetric public key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KEK" type="KEK3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KEK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Encryption key using previously distributed symmetric key.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="KeyIdr" type="KEKIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">KeyIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a cryptographic symetric key, previously exchanged between the initiator and the recipient.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RelativeDistinguishedName1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RelativeDistinguishedName1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Relative distinguished name defined by X.500 and X.509.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AttrTp" type="AttributeType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttributeType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of attribute of a distinguished name (see X.500).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AttrVal" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttributeValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the attribute of a distinguished name (see X.500).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Response1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Response1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Response code of a transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Declined</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service is declined.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Approved</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service has been successfuly provided.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialApproved</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service has been partialy provided.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TECH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TechnicalError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service cannot be provided for technical reason (eg timeout contacting the Issuer, security problem).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ResponseType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ResponseType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Response of a requested service.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Rspn" type="Response1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Response</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Result of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnRsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponseReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed result of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Traceability1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Traceability1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of partners involved in exchange from the merchant to the issuer, with the relative timestamp of their exchanges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification31">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelayIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a partner of a message exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TracDtTmIn" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TraceDateTimeIn</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of incoming data exchange for relaying or processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TracDtTmOut" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TraceDateTimeOut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of the outgoing exchange for relaying or processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction in an unambiguous way.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Local date and time of the transaction assigned by the POI (Point Of Interaction).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction that has to be unique for a time period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReconciliation2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReconciliation2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reconciliation transaction between an acceptor and an acquirer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsPrd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the transaction requires a closure of the reconciliation period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcncltnTxId" type="TransactionIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconciliationTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of a reconciliation transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcncltnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconciliationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the reconciliation period between the acceptor and the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxTtls" type="TransactionTotals2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionTotals</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction totals during the reconciliation period for a certain type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlTxData" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalTransactionData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information related to the reconciliation transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionTotals2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionTotals2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Transaction totals during the reconciliation period, for a certain type of transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="POIGrpId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POIGroupIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier assigned by the merchant identifying a set of POI terminals performing some categories of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPdctPrfl" type="Exact4NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardProductProfile</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Category of cards related the acceptance processing rules defined by the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency associated with the transaction totals.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="TypeTransactionTotals2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlNb" type="Max35NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total number of transactions during a reconciliation period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CmltvAmt" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CumulativeAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total amount of a collection of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeTransactionTotals2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TypeTransactionTotals2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of transactions which are included in the totals.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Credit transactions (refund, account, cash service, as defined  in the transaction service type).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditReverse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reversal of credit transactions (cancellation).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEBT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debit transactions on the cardholder account .</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebitReverse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reversal of debit transactions (cancellation).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DECL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Declined</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Declined transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Failed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Failed transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
