WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.colr.009.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2015 Jan 19 09:46:42, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:colr.009.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:colr.009.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralAccount1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralAccount1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The Collateral Account provides additional information on the Collateral Account of the Party delivering the collateral.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the Collateral Account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountIdentificationType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the Type of Collateral Account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralAccountIdentificationType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralAccountIdentificationType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the identification of the collateral account.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CollateralAccountType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the Type of Collateral Account expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification29">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the collateral account expressed as a proprietary code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralAccountType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralAccountType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the collateral account type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">House</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers the exposure resulting from trades executed for either the clearing member or its subsidiaries.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLIE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Client</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers the exposure resulting from trades executed for the clearing member's customers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityProvider</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers the exposure resulting from trades executed for liquidity providers (also known as market maker) activities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MGIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Margin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers the exposure resulting from trades executed for either the clearing member or its subsidiaries, or for the clearing member's customers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DFLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DefaultFund</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the account is used to post collateral that covers clearing member's default risk.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Dispute1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Dispute1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the dispute details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MrgnCallReqId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarginCallRequestIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification for the margin call request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DsptdAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisputedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Disputed amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DsptDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisputeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of dispute.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisputeNotification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisputeNotification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the dispute notification details for the variation margin and optionaly the segregated independent amount.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VartnMrgnDspt" type="VariationMarginDispute1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VariationMarginDispute</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the dispute notification details for the variation margin.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SgrtdIndpdntAmtDspt" type="SegregatedIndependentAmountDispute1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SegregatedIndependentAmountDispute</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the dispute notification details for the segregated independent amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisputeNotification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisputeNotification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the dispute notification details for the variation margin and the segregated independent amount, or the segregated independent amount only.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="DsptNtfctnDtls" type="DisputeNotification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisputeNotificationDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the dispute notification details for the variation margin and optionaly the segregated independent amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SgrtdIndpdntAmtDsptDtls" type="SegregatedIndependentAmountDispute1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SegregatedIndependentAmountDisputeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the dispute notification details for the segregated independent amount only.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DisputeResolutionType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisputeResolutionType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a proprietary code as to the nature of the dispute about the collateral amount.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="DisputeResolutionType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code to specify the type of dispute that is to be resolved regarding the disputed collateral amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification30">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the type of dispute that is to be resolved regarding the disputed collateral amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DisputeResolutionType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisputeResolutionType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the disputed collateral amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RMTA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileMinimumTransferAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the minimum transfer amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RERO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileRounding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the rounding.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REVF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileValuationFrequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the valuation frequency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RESA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileSegregatedIndependentAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the initial margin.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DisputeResolutionType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisputeResolutionType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a proprietary code as to the nature of the dispute about the collateral amount.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="DisputeResolutionType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code to specify the type of dispute that is to be resolved regarding the disputed collateral amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification30">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the type of dispute that is to be resolved regarding the disputed collateral amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DisputeResolutionType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisputeResolutionType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the disputed collateral amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REEX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileExposure</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the exposure.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RETH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileThreshold</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the threshold.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RMTA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileMinimumTransferAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the minimum transfer amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RERO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileRounding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the rounding.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REVF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileValuationFrequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the valuation frequency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RNIA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconcileNettedIndependentAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the disputed collateral amount should be confirmed through reconciliation of the independent amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MrgnCallDsptNtfctn" type="MarginCallDisputeNotificationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExposureType5Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExposureType5Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying business area/type of trade causing the collateral movement.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BFWD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BondForward</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Any securities traded out beyond 3 days which include treasury notes, Japanese Government Bonds (JGBs) and Gilts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PAYM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of any type of cash settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCPC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CCPCollateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collateral covering the initial margin requirements for OTC trades cleared through a CCP.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Commodities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exchanged traded commodities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDefaultSwap</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of credit default swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Opening of a credit line before trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditSupport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash lending/borrowing; letter of credit; signing of master agreement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCIR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossCurrencyIRS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cross currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossProduct</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of various types of trades.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQUI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Equity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of equity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EquityOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of equity option (also known as stock options).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EQUS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EquitySwap</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Equity swap trades where the return of an equity is exchanged for either a fixed or a floating rate of interest.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeTradedDerivatives</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exchanged traded derivatives in general.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExoticOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of exotic option, for example, a non standard option.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FIXI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FixedIncome</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of fixed income instruments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Foreign exchange trades in general.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FORW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForwardForeignExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Forward foreign exchange trades.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Futures</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Related to futures trading activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FXOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Related to options trading activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIQU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Liquidity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of settlement via an RTGS or other clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OTCDerivatives</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">OTC derivatives trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Relates to repurchase agreement trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RVPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReverseRepurchaseAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In support of a reverse repurchase agreement transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuredLoan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exposure is linked to a secured loan.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBuySellSellBuyBack</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities buy sell back.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCRP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesCrossProducts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of securities related exposure types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLEB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesLendingAndBorrowing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exposure is linked to a securities lending or borrowing activity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHSL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortSell</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short sale exposure.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCIR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCurrencyIRS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Single currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCIE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCurrencyIRSExotic</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exotic single currency interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SWPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Swaption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option on interest rate swap.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToBeAnnounced</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">To be announced (TBA) related collateral.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRBD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TreasuryBonds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading of treasury bonds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TreasuryCorssProduct</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of treasury related exposure types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification29">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification29</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification30</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="MarginCallDisputeNotificationV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarginCallDisputeNotificationV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The MarginCallDisputeNotification message is sent by the collateral taker or its collateral manager to the collateral giver or its collateral manager to acknowledge the notification of the dispute (either full or partial dispute) of the MarginCallRequest. The message will detail the amount of the dispute and the reason.&#13;
&#13;
The message definition is intended for use with the ISO20022 Business Application Header.&#13;
&#13;
Usage&#13;
When there is a dispute by the collateral giver to the collateral taker a MarginCallDisputeNotification message is sent with the disputed amount (full or partial) stating the reason why the margin call is being disputed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as know by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Oblgtn" type="Obligation3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Obligation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information like the identification of the party or parties associated with the collateral agreement, the exposure type and the valuation date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DsptNtfctn" type="DisputeNotification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisputeNotification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the dispute notification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name and address of an institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adr" type="PostalAddress2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Obligation3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Obligation3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information like the identification of the party or parties associated with the collateral agreement, the exposure type and the valuation date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PtyA" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines one of the entities associated with the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyA" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServicingPartyA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party that is acting on behalf of party A and that offers collateral management services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyB" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the other entity associated with the collateral agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcgPtyB" type="PartyIdentification33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServicingPartyB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party that is acting on behalf of party B and that offers collateral management services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CollAcctId" type="CollateralAccount1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information on the Collateral Account of the Party delivering the collateral.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XpsrTp" type="ExposureType5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExposureType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying business area or type of trade causing the collateral movement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValtnDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValuationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the close of business date on which the initiating party is valuing the margin call.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification33Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification33Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification29">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmAndAdr" type="NameAndAddress6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SegregatedIndependentAmountDispute1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SegregatedIndependentAmountDispute1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides for the segregated independent amount, the dispute details like the dispute amount or the dispute date and the resolution type details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DsptDtls" type="Dispute1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisputeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the disputed instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DsptRsltnTp1Chc" type="DisputeResolutionType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisputeResolutionType1Choice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of dispute that is to be resolved regarding the disputed collateral amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VariationMarginDispute1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">VariationMarginDispute1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides for the variation margin, the dispute details like the dispute amount or the dispute date and the resolution type details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DsptDtls" type="Dispute1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisputeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the disputed instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RsltnTpDtls" type="DisputeResolutionType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResolutionTypeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of dispute that is to be resolved regarding the disputed collateral amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
