WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.trea.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:00, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:trea.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:trea.008.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="trea.008.001.02" type="trea.008.001.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extended350Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code and / or description for values that are not yet part of the related code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the status of a trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NtfctnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refers to the identification of a notification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtchgSysUnqRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemUniqueReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the unique identification assigned to a trade by a central matching system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrgtr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusOriginator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the party which assigned a status to a treasury trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="CurSts" type="TradeStatus1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CurrentStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the new status of a trade.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedCurSts" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedCurrentStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Description of the status of a trade when no coded form is available.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsSubTp" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusSubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information on the current status of a trade in a central system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the time at which the current status was assigned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="PrvsSts" type="TradeStatus1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PreviousStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the previous status of a trade.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedPrvsSts" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedPreviousStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Description of the status of a trade when no coded form is available.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsSubTp" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatusSubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information on the previous status of a trade in a central system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatusTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the time at which the previous status was assigned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the product for which the status of the confirmation is reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of a trade in a central matching and settlement system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Invalid</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Validated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is validated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegulatoryChecked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade passed regulatory check.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unmatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is unmatched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchedValued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Both the Opening and the Valuation details of an NDF trade have been matched with corresponding details of a counterparty's NDF trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rescinded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rescinded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PSTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallySettled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Part, but not all, of a Trade's value has settled, and no further elements of the Trade's value are expected to be settled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegulatorySuspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is suspended for regulatory reasons.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Matched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is matched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SRJC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementRejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade settlement is rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionMature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option has matured.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="trea.008.001.02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusNotificationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The StatusNotification message is sent by a central system to a participant to notify the current status of a trade in the system.
Usage&#13;
This message will be sent at specific times agreed upon by the central settlement system and a participant in a central settlement system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradData" type="TradeData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on the status of a trade in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
