WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.acmt.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:35, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:acmt.005.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:acmt.005.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of an account, as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for an account. It is assigned by the account servicer using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountManagementMessageReference">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountManagementMessageReference</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about the message reference of the account management instruction message for which the status is requested .</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="OthrRef" type="AdditionalReference3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherReference</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message sent in a proprietary way or reference of a system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrvsRef" type="AdditionalReference3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="StsReqTp" type="AccountManagementType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusRequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the status request refers to an earlier account opening or modification instruction message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctApplId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountApplicationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of the account opening or account modification instruction at application level.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtAcct" type="InvestmentAccount14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account information for which the status of an account management instruction is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountManagementType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountManagementType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Refer to an account management instruction ie, either an account opening instruction or an account modification instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOpening</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refer to an account opening instruction message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountModification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refer to an account modification instruction message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business reference of a message assigned by the party issuing the message. This reference must be unique amongst all messages of the same name sent by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ReqForAcctMgmtStsRptV01" type="RequestForAccountManagementStatusReport"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extended350Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code and / or description for values that are not yet part of the related code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GenderCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenderCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the gender of a person.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Male</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Individual is a male.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Female</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Individual is a female.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to the identification of an individual person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="IdTp" type="PersonIdentificationType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IdentificationType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedIdTp" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedIdentificationType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IndividualPerson4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Human entity, as distinguished from a corporate entity (which is sometimes referred to as an 'artificial person').</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GvnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GivenName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First name of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MddlNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiddleName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Second name of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Gndr" type="GenderCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Gender</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the gender of the person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BirthDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BirthDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which a person is born.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndividualPersonIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IndividualPersonIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of an individual person.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IdNb" type="GenericIdentification10">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IdentificationNumber</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrsnNm" type="IndividualPerson4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PersonName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Human entity, as distinguished from a corporate entity (which is sometimes referred to as an 'artificial person').</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentAccount14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account between an investor(s) and a fund manager or a fund. The account can contain holdings in any investment fund or investment fund class managed (or distributed) by the fund manager, within the same fund family.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDesignation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="IndvOwnrId" type="IndividualPersonIdentificationChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IndividualOwnerIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of an individual person whom legally owns the account.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="OrgOwnrId" type="PartyIdentification2Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OrganisationOwnerIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of an organisation that legally owns the account.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PersonIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PersonIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alternative identification of an individual person, for example, national registration identification number, passport number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PASS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PassportNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a passport authority to a passport.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPFA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CPFAccountNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account issued by the Central Provident Fund Board (Singapore).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SRSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SRSAccountNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary retirement scheme account number.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NationalRegistrationIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">National registration identification number. In Singapore this is known as the NRIC.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Another type of identification type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRLC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DriversLicenseNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a license authority to a driver's license.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SOCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SocialSecurityNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a social security agency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AREG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlienRegistrationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a government agency to identify foreign nationals.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentityCardNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a national authority to an identity card.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EMID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmployerIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned to an employer by a registration authority.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestForAccountManagementStatusReport">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestForAccountManagementStatusReport</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The RequestForAccountManagementStatusReport message is sent by an account owner, eg, an investor or its designated agent, to an account servicer, eg, a registrar, transfer agent, or custodian bank. There may be one or more intermediary parties, eg, an investment manager or an investment funds hub, between the account owner and the account servicer.&#13;
This message is used to request the status of an AccountOpeningInstruction message or of an AccountModificationInstruction message previously sent.&#13;
Usage&#13;
The RequestForAccountManagementStatusReport message is used by an account owner to request to the account servicer the processing status of a previously sent AccountOpeningInstruction message or AccountModificationInstruction message for which a AccountDetailsConfirmation message has not yet been received.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ReqDtls" type="AccountManagementMessageReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to identify the account management instruction for which the status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
