WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.sese.029.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:37:08, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.029.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.029.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountAndDirection8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amount of money debited or credited on the books of an account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether an entry is a credit or a debit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlCcyAndOrdrdAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalCurrencyAndOrderedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Posting/settlement amount in its original currency when conversion from/into another currency has occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a type of date.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="VARI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Various</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Partial trades have occurred over a period of two or more days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveryReceiptType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies how the transaction is to be settled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeparateSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the financial instrument and cash is separate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgainstPaymentSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the financial instrument and cash takes place in a delivery versus payment (DVP) environment, ie, through an International Central Securities Depository (ICSD) or Central Securities Depository (CSD).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmAllgmtRmvlAdvc" type="SecuritiesSettlementAllegementRemovalAdviceV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Identification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Identification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a document, message or transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a document, message or transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalAndCurrentQuantities1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalAndCurrentQuantities1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Original and current value of an asset-back instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification36Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification19">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification37Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification37Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification19">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country in which a person resides (the place of a person's home). In the case of a company, it is the country from which the affairs of that company are directed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification43Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification19">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification44Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification46</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification44Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction for the party identified.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount43">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentificationAndAccount43</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Party and account details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification43Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction for the party identified.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the quantity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument in units, original face amount or current face amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OrgnlAndCurFace" type="OriginalAndCurrentQuantities1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OriginalAndCurrentFace</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Original and current value of an asset-back instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiveDelivery1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the settlement transaction is a delivery or receipt.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Delivery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments will be debited from the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Receive</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments will be credited to the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification20">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementAllegementRemovalAdviceV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementAllegementRemovalAdviceV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An account servicer sends a SecuritiesSettlementAllegementRemovalAdvice to an account owner to acknowledge that a previously sent allegement is no longer outstanding, because the alleged party sent its instruction.&#13;
The account servicer/owner relationship may be:&#13;
- a central securities depository or another settlement market infrastructure acting on behalf of their participants&#13;
- an agent (sub-custodian) acting on behalf of their global custodian customer, or&#13;
- a custodian acting on behalf of an investment management institution or a broker/dealer.&#13;
using the relevant elements in the Business Application Header.&#13;
Usage
The message may also be used to:
- re-send a message previously sent,
- provide a third party with a copy of a message for information,
- re-send to a third party a copy of a message for information.
using the relevant elements in the Business Application Header.
ISO 15022 - 20022 Coexistence
This ISO 20022 message is reversed engineered from ISO 15022. Both standards will coexist for a certain number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. Compliance to these rules is mandatory in a coexistence environment.  The coexistence restrictions are described in a Textual Rule linked to the Message Items they concern. These coexistence textual rules are clearly identified as follows:  CoexistenceXxxxRule.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctSvcrTxId" type="SettlementTypeAndIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides transaction type and identification information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="Identification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction assigned by a market infrastructure other than a central securities depository, for example, Target2-Securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="TransactionDetails28">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDate1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date in ISO format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtCd" type="SettlementDateCode1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be delivered or received.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementDate4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDate4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the date of settlement, in coded form.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="WISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WhenIssued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is to be done when the security is issued.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementDateCode1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDateCode1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement date code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementDate4Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Settlement date expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification20">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Settlement date expressed as a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties12">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementParties12</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Chain of parties involved in the settlement of a transaction, including receipts and deliveries, book transfers, treasury deals, or other activities, resulting in the movement of a security or amount of money from one account to another.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification46">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Depository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First party in the settlement chain. In a plain vanilla settlement, it is the Central Securities Depository where the counterparty requests to receive the financial instrument or from where the counterparty delivers the financial instruments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount43">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the depository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount43">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the party 1.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount43">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the party 2.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount43">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the party 3.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount43">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party5</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the party 4.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTypeAndIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementTypeAndIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides transaction type and identification information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides unambiguous transaction identification information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesMovementType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the movement on a securities account results from a deliver or a receive instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies how the transaction is to be settled, for example, against payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDate1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeDate1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the trade date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a ISO date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtCd" type="TradeDateCode1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDateCode1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeDateCode1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the trade date code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DateType3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Trade date expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification20">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Trade date expressed as an proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDetails28">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionDetails28</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date/time on which the trade was executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="SettlementDate1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be delivered or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmQty" type="Quantity6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of securities to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total amount of money to be paid or received in exchange for the securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveringSettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the chain of delivering settlement parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingSettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the chain of receiving settlement parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Invstr" type="PartyIdentification37Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Investor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party, either an individual or organisation, whose assets are being invested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
