WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.tsmt.036.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:37:59, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:tsmt.036.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:tsmt.036.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="Action1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Action1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies which type of action a user should take.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitTwin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to submit a twin baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSubmitTwin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to resubmit a twin baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSubmitBaseline</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to resubmit a baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectDataSetMisMatches</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject mismatched data set(s).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectChangeOfStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for a change of status of the baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARES">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectExtensionOfStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for an extension of the period of validity of the status of the baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WAIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WaitForBaselineEstablished</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to wait until the baseline is established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateAndResend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to update and resend.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitDataSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to submit data set(s).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectBaselineAmendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for a baseline amendment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BICIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaselineStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaselineStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the status of a baseline.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proposed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initial state of a baseline in the push-through model.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Final state of a baseline, in which only reporting is allowed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyMatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the baseline when an initial and at least one twin baselines have been  submitted but it has not yet been agreed by all parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ESTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Established</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the baseline when it has been agreed by all parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Active</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when one or more instructions (eg, amendment request, data set submission) have been processed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when all match instructions have been processed, and no such instruction is allowed anymore.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendmentRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when an amendment has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RARQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReActivateRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when an reactivation has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CloseRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when a closure has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when a completion has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="tsmt.036.001.02" type="tsmt.036.001.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and a version.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a set of data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the version of a set of data. Example: Version 1.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and its issuer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a set of data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdIssr" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Uniquely identifies the financial institution which has issued the identification of the set of data by using a BIC.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingActivity1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingActivity1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the event that require an action from one of the parties to the trade transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="Action1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code which specifies the next course of action that the receiver of the message must take.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information on the course of action that the receiver of the message must take.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tsmt.036.001.02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusExtensionRequestNotificationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The StatusExtensionRequestNotification message is sent by the matching application to the party requested to accept or reject a request to extend the status of a transaction.&#13;
This message is used to notify the request to extend the status of a transaction.&#13;
Usage&#13;
The StatusExtensionRequestNotification message can be sent by the matching application to pass on information about the request to extend the status of a transaction that it has obtained through the receipt of a StatusExtensionRequest message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NtfctnId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the notification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxId" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the TSU to the transaction.
This identification is to be used in any communication between the parties and with the TSU.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TSUBaselnId" type="DocumentIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TSUBaselineIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique Identification assigned by the TSU to the baseline included in the transaction. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="2" minOccurs="1" name="UsrTxRef" type="DocumentIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UserTransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the transaction for each financial institution which is a party to the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StsToBeXtnded" type="TransactionStatus1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusToBeExtended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the status for which an extension of the validity period has been requested. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqForActn" type="PendingActivity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestForAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information on the next processing step required.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
