WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seev.003.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2015 Jan 19 09:46:45, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.003.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.003.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgEntitlmntNtfctn" type="MeetingEntitlementNotificationV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EligibilityDates1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EligibilityDates1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Dates determining the entitlement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EntitlmntFxgDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntitlementFixingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date at which the positions are struck to note which parties will receive the entitlement, e.g. record date, book close date...</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EligiblePosition6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EligiblePosition6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the voting entitlement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification71">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="HldgBal" type="HoldingBalance7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldingBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding of a single security within the overall position held in a securities account, for example, sub-balance per status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="RghtsHldr" type="PartyIdentification71">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RightsHolder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the owner of the voting rights.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification21</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification expressed as a proprietary type and narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldingBalance7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HoldingBalance7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding of a single security within the overall position held in the securities account, for example, sub-balance per status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="UnitOrFaceAmount1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Balance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instrument for the referenced holding.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTp" type="SecuritiesEntryType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason a security is not available or additional information about the financial instrument for which the balance is given, for example, unregistered, registered in nominee name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place where the securities are safe-kept, physically or notionally.  This place can be, for example, a local custodian, a Central Securities Depository (CSD) or an International Central Securities Depository (ICSD).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of the entitlement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingEntitlementNotificationV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingEntitlementNotificationV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An account servicer sends the MeetingEntitlementNotification to an issuer, its agent, an intermediary or an account owner to advise the entitlement in relation to a shareholders meeting.&#13;
Usage&#13;
This message is sent to advise the quantity of securities held by an account owner. The balance is specified for the securities for which the meeting is taking place.&#13;
This entitlement message is sent by the account servicer or the registrar to an intermediary, the issuer's agent or the issuer. It is also sent between the account servicer and the account owner or the party holding the right to vote.&#13;
The message is also used to amend a previously sent MeetingEntitlementNotification. To notify an update, the RelatedReference must be included in the message.&#13;
This message definition is intended for use with the Business Application Header (head.001.001.01).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the meeting entitlement message to be modified.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtgRef" type="MeetingReference7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Series of elements which allow to identify a meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="200" minOccurs="1" name="Scty" type="SecurityPosition9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Security</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the security for which the meeting is organised, the account and the positions of the security holder.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Elgblty" type="EligibilityDates1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Eligibility</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the dates determining eligibility.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingReference7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingReference7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a meeting.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned to the general meeting by the party notifying the meeting. It must be unique for the party notifying the meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerMeetingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned to the meeting by the issuer. It must be unique for the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtgDtAndTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingDateAndTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the meeting will take place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="MeetingType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of meeting for which  instructions are sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Classification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classifies the type of meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of the company meeting for the scheduled meeting date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of security holders meeting.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extraordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting that takes place as needed, in addition to the general meetings, is extraordinary as per the bylaws. The resolutions are related to the unusual business of the company, for example approval of takeovers or mergers or spin-offs. These meetings are always issuer initiated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">General</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Includes annual and ordinary meeting. Statutory meeting(s) usually held at least once a year.  The resolutions are related to the usual business of the company, for example approval of dividends, directors, etc. These meetings are always issuer initiated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MIXD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mixed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting which contains both ordinary and extraordinary resolutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Special</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting that takes place as needed that is neither ordinary nor extraordinary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BondHolderMeeting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Physical meeting of bond holders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingTypeClassification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingTypeClassification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of meeting type classification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="MeetingTypeClassification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classifies the type of meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for cancelling a meeting in free text form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MeetingTypeClassification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingTypeClassification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Classifies the meeting type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Annual</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting held periodically to approve the financial statements and to elect the board members and the auditors.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting which is planned in the by-laws.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Class</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting for holders of a specific type of asset, e.g. preferred shs, bonds, &#133;</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the meeting is the result of an obligation or a decision made by the issuer as opposed to voting rights holder initiated, ex. contested meeting.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VRHI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VotingRightsHolderInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the meeting is the result of a request or an action of a voting right holder(s), e.g. contested meeting.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Court</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the meeting is the result of a legal proceeding.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Official identification of an organisation (legal entity) in a specific register.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RegnNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the register of legal entities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RegrNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegisterName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the register managed by a registration authority.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyAdditionalIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyAdditionalIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Ancillary identification information about the party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="BirthDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BirthDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of birth of an individual person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RegnId" type="OrganisationIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Official identification of an organisation in a specific register.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification40Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification40Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification71">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification71</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a person or an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification40Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlIdInf" type="PartyAdditionalIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalIdentificationInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ancillary identification information about the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtLocalCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at a local custodian.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtICSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at an International Central Securities Depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtNCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at a National Central Securities Depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldElsewhere</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used for certain financial instruments, for example, US mutual funds, where settlement is internal only, that is, there is no external movement of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldElsewhere</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used for certain financial instruments, for example, US mutual funds, where settlement is internal only, that is, there is no external movement of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ALLP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllPlaces</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">All places of safekeeping where the financial instrument is held.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceFormat2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed as a code and a narrative description.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a country code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeAndIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a type and identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification21">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a propriety identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceTypeAndAnyBICIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Place identification of the place of safekeeping expressed as a code and a BIC.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Id" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceTypeAndText2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the place of safekeeping expressed as a code and a narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesEntryType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesEntryType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of securities entry on an account.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Blocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that are blocked or frozen. A financial instrument may be unavailable due to external circumstances such as a court order, death of beneficiary or account owner, or bankruptcy.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELIG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Eligible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total number of securities eligible for this event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingDelivery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that are pending delivery.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PENR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingReceipt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that are pending receipt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOMI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Registered</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that are registered (in the name of a nominee or of the beneficial owner).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SETD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities representing only settled transactions</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Borrowed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that have been borrowed from another party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnLoan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that have been loaned to a third party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that remain registered in the name of the prior beneficial owner of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRAD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Traded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities representing traded transactions</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COLI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralIn</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that belong to a third party and that are held for the purpose of collateralisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COLO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralOut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that belong to the safekeeping account indicated within this message, and are deposited with a third party for the purpose of collateralisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UninstructedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of uninstructed position.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of instructed position.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutForRegistration</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities currently being processed by the institution responsible for registering the new beneficial owner (or nominee) of securities after a transaction has settled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityPosition9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityPosition9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the securities for which the meeting is organised.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the security, as assigned under a formal or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1000" minOccurs="0" name="Pos" type="EligiblePosition6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Position</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of securities that are eligible for the vote.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitOrFaceAmount1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnitOrFaceAmount1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a unit in decimal number or a face amount in currency and amount.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaceAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
</xs:schema>
