WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.046.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:33, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.046.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.046.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of an account, as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BBAN" type="BBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN) - identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), to uniquely identify the account of a customer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UPIC" type="UPICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UPIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC) - identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DmstAcct" type="SimpleIdentificationInformation">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account number used by financial institutions in individual countries to identify an account of a customer, but not necessarily the bank and branch of the financial institution in which the account is held.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN). Identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), which uniquely identifies the account of a customer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashClearingSystem1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashClearingSystem1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is to be processed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAEuro1Step1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA Euro1/Step1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Austrian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AT (Austria) - Austrian RTGS (ARTIS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewZealand</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NZ (New Zealand) - New Zealand Assured Value Payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AZM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Azerbaijan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AZ (Azerbaijan) - Azerbaijan Interbank Payment System (AZIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BosniaHerzegovina</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for BA (Bosnia and Herzegovina).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Belgium</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for BE (Belgium) - Belgium RTGS (ELLIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Finland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FI (Finland) - RTGS (BOF).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Italy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for IT (Italy) - Italy RTGS (BIREL).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Canada</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for CA (Canada) - Canadian Large Value Transfer System (LVTS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpainCAM</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ES (Spain).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CBJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ireland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for IE (Ireland) - Irish RTGS (IRIS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitedKingdom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for GB (UK) - British Euro RTGS (CHAPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DKC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Denmark</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DK (Denmark) - Danish Euro RTGS (KRONOS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanyRTGSPlus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DE (Germany).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAEuro1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA Euro1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanyELS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DE (Germany).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAStep1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA step 1 (members).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAStep2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA step 2.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Croatia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for HR (Croatia) - HSVP.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Greece</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for GR (Greece) - Greek RTGS (HERMES).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HUF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Hungary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for HU (Hungary) - VIBER.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Luxemburg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for LU (Luxemburg) - Luxembourg RTGS (LIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Latvia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for LV (Latvia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SouthAfrica</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ZA (South Africa) - South-African Multiple Option Settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mauritius</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for MU (Mauritius).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Norway</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NO (Norway).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Switzerland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for CH (Switzerland).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Australia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AU (Australia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Egypt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EG (Egypt).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FrancePNS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FR (France).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PVE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Venezuela</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for Ve (Venezuela).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwedenSEC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SE (Sweden) - Swedish Euro RTGS (SEC).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Slovania</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SI (Slovenia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpainES</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ES (Spain) - Spanish RTGS (SLBE).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Portugal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for PT (Portugal) - Portuguese RTGS (SPGT).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwedenSSK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SE (Sweden) - SEK RTGS (RIX).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FranceFR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FR (France) - French RTGS (TBF).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Target</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for Target.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Netherlands</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NL (Netherlands) - Dutch RTGS (TOP)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FDW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Fedwire</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the US national real time gross settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankOfJapanNet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Bank of Japan clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeYenClearing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Foreign Exchange Yen Clearing system (FEYCS). It is the Japanese electronic interbank system for sending guaranteed and unconditional yen payments of FX deals for same day settlement from one settlement bank, on behalf of itself or its customers, to another settlement bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Zengin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Zengin system. The electronic payment system for domestic third party transfers managed by the Tokyo Bankers Association.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetRsvatn" type="GetReservationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetReservationV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetReservationV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The GetReservation message is sent by a member to the transaction administrator.&#13;
It is used to request information on the details of one or more reservation facilities set by the member and managed by the transaction administrator.&#13;
Usage&#13;
The purpose of establishing reservations facilities is to ensure part of the liquidity on the account will be used exclusively for specific cash flow operations .&#13;
There are five types of reservation facilities :&#13;
- UrgentPaymentReservation: Amount set aside by a participant to reserve liquidity from its own account, exclusively for executing critical payments called urgent payments.&#13;
- HighlyUrgentPaymentReservation: Amount set aside by a participant to reserve liquidity from its own account, exclusively for executing highly urgent payments.&#13;
- CashReservation : Amount set aside by a participant to reserve liquidity from its own account, exclusively for executing cash withdrawals.&#13;
- NetSSSReservation : Amount set aside by a participant to reserve liquidity from its own account, exclusively for the settlement of the multilateral cash balance stemming from the Net Security Settlement System.&#13;
- ThresholdForInvestment : Amount above which funds will be destined for investment.&#13;
The reservation can be effected directly by the member.&#13;
He has the possibility to :&#13;
- reset the reserved liquidity to zero&#13;
- change the reservation amount during the day with immediate effect&#13;
- input a default reservation amount for the following day(s); valid until a new reservation amount is requested&#13;
The member can request reservations information based on the following elements:&#13;
- identification of the system;&#13;
- identification of the account;&#13;
- status of the reservation (default and/or current);&#13;
- type of reservation.&#13;
This message will be replied to by a ReturnReservation message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RsvatnQryDef" type="ReservationQueryDefinition2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReservationQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Definition of the reservation query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616. "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifyies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that all matching items be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Changed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only new matching items since the last similar query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Modified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only items that have changed since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that items that have been deleted since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestedIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates if requested or not.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="ReservationCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReservationCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to extract the reservation information and the expected reservation report. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewQueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query defined by the search criteria and return criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="ReservationSearchCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to extract the reservation information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="ReservationReturnCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the expected reservation report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReservationCriteriaDefinition1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReservationCriteriaDefinition1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="QryNm" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NewCrit" type="ReservationCriteria1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Defines the criteria based on which the information is extracted.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReservationQueryDefinition2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReservationQueryDefinition2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of matching items to be returned in the response to the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RsvatnCrit" type="ReservationCriteriaDefinition1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReservationCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the reservation query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReservationReturnCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReservationReturnCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on reservation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StartDtTmInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartDateTimeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the reservation start date time is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the reservation status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReservationSearchCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReservationSearchCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for a reservation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysId" type="SystemIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a particular cash clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DfltRsvatnTp" type="ReservationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DefaultReservationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of reservation as set by default in the system. The default reservation is applicable by the system unless otherwise instructed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CurRsvatnTp" type="ReservationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentReservationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of reservation applied by the system at the present time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReservationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReservationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the precise type of reservation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CARE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashReservation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount set aside by a participant to reserve liquidity from its own account, exclusively for executing cash withdrawals.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UrgentPaymentReservation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount set aside by a participant to reserve liquidity from its own account, exclusively for executing critical payments called urgent payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NSSR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetSSSReservation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount set aside by a participant to reserve liquidity from its own account, exclusively for the settlement of the multilateral cash balance stemming from the Net Security Settlement System.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HPAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HighlyUrgentPaymentReservation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount set aside by a participant to reserve liquidity from its own account, exclusively for executing highly urgent payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="THRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThresholdForInvestment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount above which funds will be destined for investment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ClrSysId" type="CashClearingSystem1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country in which the system is located.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UPICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UPICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC).  Identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
