WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.semt.020.002.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:37:07, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:semt.020.002.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:semt.020.002.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryReceiptType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveryReceiptType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies how the transaction is to be settled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FREE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SeparateSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the financial instrument and cash is separate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgainstPaymentSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the financial instrument and cash takes place in a delivery versus payment (DVP) environment, ie, through an International Central Securities Depository (ICSD) or Central Securities Depository (CSD).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesMsgCxlAdvc" type="SecuritiesMessageCancellationAdvice002V04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification24">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification24</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification25">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification25</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification51Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification51Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification24">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReceiveDelivery1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReceiveDelivery1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the settlement transaction is a delivery or receipt.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DELI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Delivery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments will be debited from the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Receive</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments will be credited to the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="References38Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References38Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of reference.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="SctiesSttlmTxConfId" type="SettlementTypeAndIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementTransactionConfirmationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the confirmation to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntraPosMvmntConfId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntraPositionMovementConfirmationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous account servicer identification of the intra-position movement confirmation to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesBalAcctgRptId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceAccountingReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the report message to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesBalCtdyRptId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceCustodyReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the report message to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntraPosMvmntPstngRptId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntraPositionMovementPostingReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the intra-position movement posting report to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesFincgConfId" type="SettlementTypeAndIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesFinancingConfirmationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the confirmation to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesTxPdgRptId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesTransactionPendingReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the report message to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesTxPstngRptId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesTransactionPostingReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the report message to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesSttlmTxAllgmtRptId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementTransactionAllegementReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the report to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesSttlmTxAllgmtNtfctnTxId" type="SettlementTypeAndIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementTransactionAllegementNotificationTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the allegement notification to be cancelled as know by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtflTrfNtfctnId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PortfolioTransferNotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the portfolio transfer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesSttlmTxGnrtnNtfctnId" type="SettlementTypeAndIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementTransactionGenerationNotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the notification message to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OthrMsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherMessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the message to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlPrtflValtnRptId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalPortfolioValuationReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount17">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount17</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.”</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesMessageCancellationAdvice002V04">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesMessageCancellationAdvice002V04</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This version is identical to the previous version. It was created automatically during the 2011/2012 maintenance cycle, at the same time as new versions of other Settlement and Reconciliation messages that were truly impacted by change requests. This should not have been the case. In future releases, SWIFT will ensure that a new version of a message is not created if identical to the previous version.

Scope
An account servicer sends a SecuritiesMessageCancellationAdvice to an account owner to inform of the cancellation of a securities message previously sent by an account servicer. 
The account servicer/owner relationship may be:
- a central securities depository or another settlement market infrastructure acting on behalf of their participants
- an agent (sub-custodian) acting on behalf of their global custodian customer, or 
- a custodian acting on behalf of an investment management institution or a broker/dealer.

Usage
The previously sent message may be:
- a securities settlement transaction confirmation
- a report (transactions, pending transactions, allegements, accounting and custody securities balance)
- a allegement notification (when sent by mistake or because the counterparty cancelled its instruction)
- a portfolio transfer notification 
- an intra-position movement confirmation
- a transaction generation notification
The previously sent message cannot be a status advice message (any). If a status advice should not have been sent, a new status advice with the correct status should be sent, not a cancellation advice.
The message may also be used to:
- re-send a message previously sent,
- provide a third party with a copy of a message for information,
- re-send to a third party a copy of a message for information.
using the relevant elements in the Business Application Header.

ISO 15022 - 20022 Coexistence Subset
This message definition is a subset of an ISO 20022 message that was reversed engineered from ISO 15022. A subset is a message definition that is compatible with another definition, but is more restrictive.
The ISO 15022 and ISO 20022 standards will coexist for a number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. These restrictions, which are described by textual usage rules in the ISO 20022 message, have been made mandatory in this subset.  
NOTE: The ISO 20022 message coexistence textual rules have been kept in the subset to explain why specific data types have been restricted. These textual rules are identified as follows:  CoexistenceXxxxRule.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="References38Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the message advised to be cancelled by the account servicer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification51Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount17">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTypeAndIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementTypeAndIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides transaction type and identification information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides unambiguous transaction identification information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesMvmntTp" type="ReceiveDelivery1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesMovementType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the movement on a securities account results from a deliver or a receive instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pmt" type="DeliveryReceiptType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies how the transaction is to be settled, for example, against payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
