WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.021.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 20 09:13:58, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2014.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.021.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.021.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrGnlBizInf" type="ReturnGeneralBusinessInformationV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ErrorHandling1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Error codes generated when the response to a query exceeds the maximum size or the data is not available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="X020">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataNotYetAvailable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the error code when the data requested are not yet available.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="X030">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageSizeLimitExceeded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the error code when the data requested generates a message size that exceed the processing capacity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="X050">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataNotAvailable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the error code when the data requested have not been found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ErrorHandling2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ErrorHandling1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ErrorHandling4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details about business information related to a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Qlfr" type="InformationQualifierType">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Qualifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information about the criticality or importance of a general business information system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sbjt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Subject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Subject line of an item of general business information, summarizing the topic and intended destination of the information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SbjtDtls" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubjectDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General business information, in unstructured form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessOrError3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessOrError3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">It is used to provide some or all of the members with information related to the processing of the system.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizRpt" type="GeneralBusinessReport4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports either on the business information or on a business error.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessOrError4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessOrError4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports either on the business information or on a business error.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason the requested business information is not given.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GnlBiz" type="GeneralBusinessInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneralBusiness</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested business information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessReport4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessReport4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports either on the business information or on a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BizInfRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessInformationReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a general business information system, as assigned by the system transaction administrator. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GnlBizOrErr" type="GeneralBusinessOrError4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneralBusinessOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested business information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InformationQualifierType">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InformationQualifierType</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Further qualifies the information provided in terms of its importance and its format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IsFrmtd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IsFormatted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the information is formatted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="Priority1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority of the information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBizQry" type="OriginalBusinessQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNmId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the query message name identifier to which the message refers.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Priority1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the priority level of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is high.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NORM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is normal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOWW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Low</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is low.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the request used to further detail the type of information that will be queried.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReleasePending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to release the pending transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldNormal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to hold normal transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT03">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to cancellation a transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT04">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to change the sequence of the  transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT05">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReleaseSuspicious</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to release the suspicious transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PmtCtrl" type="RequestType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentControl</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is a control command on a set of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Enqry" type="RequestType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Enquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is an enquiry on a position or a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RequestType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the request used to further detail the type of information that will be queried.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankPositionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on the bank's position.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecificTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a specific transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueuedTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a queued transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SuspiciousTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a suspicious transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingInwardCreditsEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on pending inward credits.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReturnGeneralBusinessInformationV04">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnGeneralBusinessInformationV04</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnGeneralBusinessInformation message is sent by the transaction administrator to a member of the system. It is used to provide some or all of the members with information related to the processing of the system.&#13;
The Return General Business Information message can be sent as a response to a related GetGeneralBusinessInformation message (pull mode) or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
The transaction administrator can send general business information messages to the members, which may request further action from them. General business information can contain either static data announcing foreseen events affecting the system operations, or dynamic data warning or notifying about unexpected events.&#13;
This type of information can be transmitted in either of the two following ways:&#13;
- non-solicited reports are pushed by the transaction administrator to the (selected) members together with a reference, a qualifier and a subject line&#13;
- upon request from the members (pull mode), the transaction administrator delivers the full text/content of the message back to the user&#13;
In either case, the message from the transaction administrator can contain information based on the following elements:&#13;
- subject of the report detailing the purpose and content of the message&#13;
- details of the report&#13;
- indication of the priority of the report and of its format. (Note that if the format is indicated, the subject refers to a set of pre-agreed texts. This enumeration has to be agreed upon by the transaction administrator and the members of the system).&#13;
Additional information on the generic design of the Get/Return messages can be found in the MDR Part 1 section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="GeneralBusinessOrError3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report on the Business Information</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
