WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.007.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:03, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.007.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.007.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BranchIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a specific branch of a financial institution.

Usage: This component should be used in case the identification information in the financial institution component does not provide identification up to branch level.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchData2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a branch of a financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification code for a clearing system, that has not yet been identified in the list of clearing systems.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTimePeriodChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various date time patterns.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTmRg" type="DateTimePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTimeRange</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and time and an end date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ModfyTx" type="ModifyTransactionV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EntryTypeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryTypeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier providing additional system specific information about the entry.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing system identification code, as published in an external clearing system identification code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstitutionIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial institution identification scheme name code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialIdentificationSchemeName1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the organisation identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericFinancialIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Instruction1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Instruction1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies further instructions concerning the processing of a payment instruction, provided by the sending clearing agent to the next agent(s).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PBEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayTheBeneficiary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">(Ultimate) creditor to be paid only after verification of identity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TTIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TimeTill</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment instruction is valid and eligible for execution until the date and time stipulated. Otherwise, the payment instruction will be rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TFRO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TimeFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment instruction will be valid and eligible for execution from the date and time stipulated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LongPaymentIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LongPaymentIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a payment instruction by a set of characteristics  (as per EBA system requirements) which provides an unambiguous identification of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.
Usage: The transaction identification can be used for reconciliation, tracking or to link tasks relating to the transaction on the interbank level. The instructing agent has to make sure that the transaction identification is unique for a pre-agreed period.
Usage: this is the former PaymentInstructionReference element.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterBankSettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterBankSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message type with which the instruction has been initiated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that instructs the next party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructedAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that is instructed by the previous party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryTp" type="EntryTypeIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Optional qualifier providing additional system specific information about the entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndToEndId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndToEndIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the initiating party, to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.
Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction.
It can be included in several messages related to the transaction.
Usage: this is the former RelatedReference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.&#13;
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ModifyTransactionV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ModifyTransactionV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ModifyTransaction message is sent by a member to the transaction administrator.&#13;
It is used to request one modification in one payment instruction held at the transaction administrator and sent by the member, debiting or crediting its account at the transaction administrator.&#13;
Usage&#13;
Following normal business flows, transactions registered by the transaction administrator may be queued for later settlement (because of insufficient funds available, or because of risk or liquidity limits, etc.). A transaction may have a series of statuses. These can be transient (such as pending or related types) and final (such as rejected, revoked and/or settled).&#13;
Members of a system need to have information about the payments queue(s) and must have the ability to take action (that is, to cancel or modify the transaction(s) to be settled). Note, however, that actions by a member will always concern transactions in a transient status.&#13;
For this reason, at any time during the operating hours of the system, the member can request modifications to the features of transient transactions.&#13;
The member will submit a message requesting modifications in one or more of the following criteria:&#13;
- instruction given, related to the processing of the transaction&#13;
- type of payment instructed&#13;
- priority of payment period in which the payment instruction should be processed (processing validity time)&#13;
The ModifyTransaction message will contain the new values that the member wants to see applied to the features of the transaction identified in the message.&#13;
Based on the criteria received within the ModifyTransaction message, the transaction administrator will execute or reject the requested modifications.&#13;
The transaction administrator may send a Receipt message as a reply to the ModifyTransaction request.&#13;
To verify the outcome of the request, the member may submit a GetTransaction message with the appropriate search criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Mod" type="TransactionModification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Modification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the list of modifications to be executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ways of identifying a payment instruction by its references and business identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="TxId" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.
Usage: The transaction identification can be used for reconciliation, tracking or to link tasks relating to the transaction on the interbank level. The instructing agent has to make sure that the transaction identification is unique for a pre-agreed period.
Usage: this is the former PaymentInstructionReference element.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="QId" type="QueueTransactionIdentificationDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QueueIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the payment instruction by its position in a queue managed by the clearing agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="LngBizId" type="LongPaymentIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">LongBusinessIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Business identification of the payment instruction given by the clearing agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ShrtBizId" type="ShortPaymentIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ShortBusinessIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Business identification of the payment instruction given by the clearing agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="Max70Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique reference of the underlying payment instruction assigned by Target2 SSP.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstruction2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstruction2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Instr" type="Instruction1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Instruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information related to the processing of the payment instruction. The instruction can relate to a level of service between the bank and the customer, or give instructions to and for specific parties in the payment chain.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PaymentType3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type, or nature, of the payment, for example an express payment.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityCodeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Urgency or order of importance that the originator would like the recipient of the payment instruction to apply to the processing of the payment instruction.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgVldtyTm" type="DateTimePeriodChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingValidityTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time range within which the payment instruction must be processed.
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentInstrument1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstrument1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the payment instrument used or the underlying financial transaction that resulted in a payment transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankDebitTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Direct debit instruction in which the debtor and the creditor are financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankCreditTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Funds transfer in which the debtor and the creditor are financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerDebitTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Direct debit instruction in which the debtor or the creditor or both are non-financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerCreditTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Funds transfer in which the debtor or the creditor or both are non-financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cheque</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment instrument is a cheque. (A written order on which instructions are given to an account holder (a financial institution) to pay a stated sum to a named recipient (the payee)).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BKT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BookTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer that is a movement of cash on the books of the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebitCardPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment instrument is a debit card. (The payment originated using a debit card scheme.)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditCardPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment instrument is a credit card. (The payment originated using a credit card scheme.)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Return</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entry related to a returned or unpaid item.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reverse entry that is the result of the cancellation of a previously booked entry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentOrigin1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentOrigin1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the format under which the payment that generated the entry was transmitted.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FINMT" type="Max3NumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FINMessageType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies that the payment was included in a SWIFT FIN format message eg, MT 103.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XMLMsgNm" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">XMLMessageName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies that the payment was included in a SWIFT XML message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies that the payment was included in a proprietary format message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Instrm" type="PaymentInstrument1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Instrument</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of payment when not included in a SWIFT or proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentType3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentType3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a payment type from a predefined list and a proprietary payment type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PaymentType3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type, or nature, of the payment, such as express payment.
</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Payment type that is not included in a predefined list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type, or nature, of the payment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossBorderPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment has an origin in one country, a destination in another, and is made in the currency of either the origin or destination country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BCK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BackUp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made under the recovery procedure to move liquidity to/from the settlement account of a member according to the specifications of the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceRetail</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a payment offsetting the net cash balance owed/due in a retail payment system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CLSPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is linked to CLS activities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralBankOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made to settle an operation made with the central bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CBH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossBorderHighValuePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a high value payment that has an origin in one country and a destination in another country and is made in the currency of either the origin or destination country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CBP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossBorderPriorityPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a priority payment that has an origin in one country and a destination in another and is made in the currency of either the origin or destination country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DVPGross</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gross cash payment offsetting the amount owed/due for a securities transaction settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DVPNet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net payment offsetting the cash balance due/owed for a series of securities transactions settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpressPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a payment that is processed whenever liquidity is available on the settlement account of a member of the RTGSPlus system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdCurrencyHighValuePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a high value payment that is made in a third currency to the origin and destination countries. The origin and destination countries may be one and the same country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a payment that is processed when the pool of liquidity exceeds the minimum value reserved for an express payment in the RTGSPlus system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made to transfer liquidity to/from the settlement account of a member, to/from the current account held at the central institution or any other institution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DomesticPriorityPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a priority payment that has an origin and a destination in the same country and is made in the currency of that country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DomesticHighValuePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a high value payment that has an origin and a destination in the same country and is made in the currency of that country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DomesticPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment has an origin and a destination in the same country, and is made in the currency of that country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingFacilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is linked to overnight deposits and the marginal lending facility.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TreasuryStatePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is linked to the Treasury State.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdCurrencyPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a payment that is made in a third currency to the origin and destination countries. The origin and destination countries may be one and the same country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Loan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is the payment of a specific amount of money lent by a creditor/lender.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LoanRepayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is an amount of money transferred in repayment of loan.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdCurrencyPriorityPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made in a third currency to the origin and destination countries. The origin and destination countries may be the same country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OvernightDeposit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is linked to an overnight deposit</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MGL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarginalLending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is linked to the marginal lending facility.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Department</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a division of a large organisation or building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubDepartment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a sub-division of a large organisation or building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country such as state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Priority1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the priority level of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is high.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NORM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is normal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOWW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Low</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is low.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PriorityCodeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriorityCodeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Priority is expressed  as a code or a text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Priority1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Urgency or order of importance that the originator would like the recipient of the payment instruction to apply to the processing of the payment instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryCd" type="Max4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Priority code bilaterally defined between parties.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueueTransactionIdentificationDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueueTransactionIdentificationDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a payment instruction by its relative position in a queue of payment transactions managed by the clearing agent.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the payment queue where the payment instruction resides.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PosInQ" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PositionInQueue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position of the payment instruction within the identified queue.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ShortPaymentIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ShortPaymentIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a payment instruction by a simple set of characteristics which provides an unambiguous identification of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.
Usage: The transaction identification can be used for reconciliation, tracking or to link tasks relating to the transaction on the interbank level. The instructing agent has to make sure that the transaction identification is unique for a pre-agreed period.
Usage: this is the former PaymentInstructionReference element.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterBankSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent that instructs the next party in the chain to carry out the (set of) instruction(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionModification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionModification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Contains the requested modifications. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the instruction related to the payment for which a modification is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NewPmtValSet" type="PaymentInstruction2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewPaymentValueSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">New payment values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
