WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.catm.004.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 20 09:14:21, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2014.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:catm.004.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:catm.004.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorRejection2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcceptorRejection2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reject of an exchange.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RjctRsn" type="RejectReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reject reason of the request or the advice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information related to the reject of the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgInErr" type="Max100KBinary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageInError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original request that caused the recipient party to reject it.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TermnlMgmtRjctn" type="TerminalManagementRejectionV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification35">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification35</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType6Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Header6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics related to the reject of a transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DwnldTrf" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DownloadTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the file transfer is a download or an upload.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FrmtVrsn" type="Max6Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FormatVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of file format.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgId" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an exchange occurrence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the file or message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InitgPty" type="GenericIdentification35">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that has initiated the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification35">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that is the recipient of the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max100KBinary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max100KBinary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Binary data of 100K maximum.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max500Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max6Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType5Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType5Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of entity involved in a maintenance operation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingPOI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point Of Interaction initiating the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MTMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterTerminalManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Responsible for the maintenance of a card payment acceptance terminal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TMGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TerminalManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Responsible for one or several maintenance functions of a card payment acceptance terminal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType6Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType6Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity assigning an identification of an entity involved in a maintenance operation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MTMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterTerminalManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Responsible for the maintenance of a card payment acceptance terminal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TMGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TerminalManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Responsible for one or several maintenance functions of a card payment acceptance terminal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason of transmission of a rejection message in response to a request or an advice.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToProcess</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Not possible to process the message, for instance the security module is unavailable, the hardware is unavailable, or there is a problem of resource.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IMSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidMessage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid envelope of the message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ParsingError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid message:  At least one of the data element or data structure is not present , the format, or the content of one data element or one data structure is not correct.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Security</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security error (for example an invalid key or an incorrect MAC value).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid identification data for the sender.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCPP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid identification data for the the receiver.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DuplicateMessage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Duplicate message, the identification of the exchange is the same than a previous message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VERS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtocolVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the protocol couldn't be supported by the recipient.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MSGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of message the recipient receives is unknow or unsupported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TerminalManagementRejectionV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TerminalManagementRejectionV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The TerminalManagementRejection message is sent by the terminal manager to reject a message request sent by an acceptor, to indicate that the received message could not be processed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Hdr" type="Header6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Header</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rejection message management information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rjct" type="AcceptorRejection2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the reject.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
