WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.010.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:41, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.010.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.010.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of an account, as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BBAN" type="BBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN) - identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), to uniquely identify the account of a customer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UPIC" type="UPICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UPIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC) - identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DmstAcct" type="SimpleIdentificationInformation">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account number used by financial institutions in individual countries to identify an account of a customer, but not necessarily the bank and branch of the financial institution in which the account is held.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amount may be defined with or without the currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AmtWthCcy" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmountWithCurrency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is explicit.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmountWithoutCurrency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl. Identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN). Identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), which uniquely identifies the account of a customer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID). Identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification  (UID).  Identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected.  The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsARNIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number. Identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CashClearingSystem1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashClearingSystem1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is to be processed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAEuro1Step1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA Euro1/Step1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Austrian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AT (Austria) - Austrian RTGS (ARTIS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewZealand</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NZ (New Zealand) - New Zealand Assured Value Payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AZM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Azerbaijan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AZ (Azerbaijan) - Azerbaijan Interbank Payment System (AZIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BosniaHerzegovina</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for BA (Bosnia and Herzegovina).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Belgium</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for BE (Belgium) - Belgium RTGS (ELLIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Finland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FI (Finland) - RTGS (BOF).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Italy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for IT (Italy) - Italy RTGS (BIREL).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Canada</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for CA (Canada) - Canadian Large Value Transfer System (LVTS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpainCAM</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ES (Spain).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CBJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ireland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for IE (Ireland) - Irish RTGS (IRIS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitedKingdom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for GB (UK) - British Euro RTGS (CHAPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DKC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Denmark</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DK (Denmark) - Danish Euro RTGS (KRONOS)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanyRTGSPlus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DE (Germany).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAEuro1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA Euro1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GermanyELS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for DE (Germany).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAStep1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA step 1 (members).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EBAStep2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EBA step 2.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Croatia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for HR (Croatia) - HSVP.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Greece</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for GR (Greece) - Greek RTGS (HERMES).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HUF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Hungary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for HU (Hungary) - VIBER.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Luxemburg</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for LU (Luxemburg) - Luxembourg RTGS (LIPS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LVL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Latvia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for LV (Latvia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SouthAfrica</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ZA (South Africa) - South-African Multiple Option Settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mauritius</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for MU (Mauritius).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Norway</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NO (Norway).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Switzerland</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for CH (Switzerland).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Australia</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for AU (Australia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Egypt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for EG (Egypt).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FrancePNS</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FR (France).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PVE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Venezuela</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for Ve (Venezuela).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwedenSEC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SE (Sweden) - Swedish Euro RTGS (SEC).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Slovania</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SI (Slovenia).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpainES</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for ES (Spain) - Spanish RTGS (SLBE).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Portugal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for PT (Portugal) - Portuguese RTGS (SPGT).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwedenSSK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for SE (Sweden) - SEK RTGS (RIX).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FranceFR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for FR (France) - French RTGS (TBF).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Target</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for Target.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Netherlands</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for NL (Netherlands) - Dutch RTGS (TOP)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FDW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Fedwire</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the US national real time gross settlement system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BOJ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankOfJapanNet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Bank of Japan clearing system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeYenClearing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Foreign Exchange Yen Clearing system (FEYCS). It is the Japanese electronic interbank system for sending guaranteed and unconditional yen payments of FX deals for same day settlement from one settlement bank, on behalf of itself or its customers, to another settlement bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ZEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Zengin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scheme code for the Zengin system. The electronic payment system for domestic third party transfers managed by the Tokyo Bankers Association.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identifiers for a clearing system member, as assigned by the clearing system. In some clearing systems, the accounts of the clearing system members are also assigned an identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="USCHU" type="CHIPSUniversalIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification (UID) - identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected. The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NZNCC" type="NewZealandNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code - identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IENSC" type="IrishNSCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code - identifies Irish financial institutions on the Irish national clearing system. The code is assigned by the Irish Payments Services Organisation (IPSO).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code - identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USCH" type="CHIPSParticipantIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID) - identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHBC" type="SwissBCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissBCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code - identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number - identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PTNCC" type="PortugueseNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code - identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code - identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ITNCC" type="ItalianDomesticIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code - identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl - identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsAssociationRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number - identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHSIC" type="SwissSICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissSICIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code - identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl - identifies German financial institutions on the German national clearing systems.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code - identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC) - identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HKNCC" type="HongKongBankIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">HongKongBankCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code - identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianExtensiveBranchNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBs" type="SmallNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianSmallNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions , as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.010.001.03" type="camt.010.001.03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ErrCd" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ErrorCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExtensiveBranchNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number. Identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl. Identifies German financial institutions on the German national clearing systems.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HongKongBankIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code. Identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616. "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code. Identifies Irish financial institutions on the Irish national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code. Identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LimitDetails3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitDetails3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Maximum value used for risk containment in a system or towards counterparts. The limit may be a current limit or a default limit.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="AmountChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money of the limit, expressed in an eligible currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if a limit is a debit limit or a credit limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="LimitStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the limit, eg, enabled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StartDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the limit becomes effective.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitIdentificationDetails2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitIdentificationDetails2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cash management feature limiting the maximum risk a party accepts to take with respect to a counterparty or a set of counterparties. A risk management limit is either bilateral, ie, for a counterparty, or multilateral, ie, for a set of counterparties or all other members in a system.The limit may also apply to sponsored members, ie, indirect members. In principle, a risk management limit is calculated on the net position between two members and is expressed as a credit or debit limit, from the point of view of the party setting the limit.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysId" type="SystemIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a particular cash clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BilLmtCtrPtyId" type="MemberIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BilateralLimitCounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the system member for which the limit is established.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="LimitType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the risk management limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitReport2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitReport2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports either on the risk management limit or on a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LmtId" type="LimitIdentificationDetails2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the limit on which information is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="Lmt" type="LimitDetails3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Limit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Requested information on the limit.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BizErr" type="ErrorHandling2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason the requested business information is not given.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LimitStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the current status of a limit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENAB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Enabled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is currently in effect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Disabled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is not currently in effect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit has been deleted or suspended.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REQD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Requested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit has been asked for and is not yet enabled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LimitType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of risk management limit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MULT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Multilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is a maximum amount value applied to, or by, a participant to a set of counterparties. The multilateral limit is taken into account by the transaction administrator to contain the risk in the system. With the help of the multilateral limit, the direct participant restricts the use of liquidity when clearing payments with all other direct participants for which no bilateral limit is set.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BILI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is applied by one party to a specific counterparty, and corresponds to the maximum amount of traffic party setting the limit can send to that counterparty. The limit can be expressed as a debit or a credit limit. With the help of a bilateral limit, the direct participant restricts the use of liquidity when clearing payments with another direct participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MAND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MandatoryBilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Mandatory part of the bilateral limit applied by one party to a specific counterparty, and corresponds to the maximum amount of traffic party setting the limit can send to that counterparty. The limit can be expressed as a debit or a credit limit. With the help of a bilateral limit, the direct participant restricts the use of liquidity when clearing payments with another direct participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DiscretionaryBilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Discretionary part of the bilateral limit applied by one party to a specific counterparty, and corresponds to the maximum amount of traffic party setting the limit can send to that counterparty. The limit can be expressed as a debit or a credit limit. With the help of a bilateral limit, the direct participant restricts the use of liquidity when clearing payments with another direct participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NELI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetBilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is applied by one party to a specific counterparty, and corresponds to the maximum net balance acceptable by the party that is setting the limit. The limit is calculated as an arithmetic sum in value of the bilateral flows exchanged between the two parties. The net bilateral limit can be expressed as a debit or a credit balance.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INBI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndirectBilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is a maximum value set by a direct participant with respect to its indirect participant. The limit represents the maximum amount the indirect participant can use to settle its operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GLBL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Global</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maximum value set by either the transaction administrator or by a member for the participation of a member in the system. The global limit may be expressed as a credit or debit maximum value and is taken into account by the transaction administrator when processing transaction inside the system. With the help of the global limit, the direct participant may limit the use of liquidity when clearing specific type of payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIDB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit not to be exceeded for direct debit operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCustomerDirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Single direct debit payment limit not to be exceeded by any single direct debit transaction by a customer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleFinancialInstitutionDirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Single direct debit payment limit not to be exceeded by any single direct debit transaction initiated by a financial institution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TDLC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalDailyCustomerDirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total daily payments limit for customer direct debits not to be exceeded by the total of all direct debit transactions initiated by customers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TDLF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalDailyFinancialInstitutionDirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total daily payments limit for financial institutions direct debits not to be exceeded by the total of all direct debit transactions initiated by financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Limits2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Limits2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports on limits.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CurLmt" type="LimitReport2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentLimit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report is given for a current risk management type limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DfltLmt" type="LimitReport2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DefaultLimit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report is given for a default risk management type limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between BIC and clearing system member identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a clearing system member, as assigned by the system or system administrator.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code. Identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code. Identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QueryReference">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Gives the name and the reference of the query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QryRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code. Identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SmallNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC). Identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code. Identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissBCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code. Identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissSICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code. Identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ClrSysId" type="CashClearingSystem1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country in which the system is located.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code. Identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UPICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC).  Identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="camt.010.001.03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnLimitV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnLimit message is sent by the transaction administrator to a member of the system.&#13;
It is used to provide information on the details of one or more limits set by the member (or on behalf of the member) and managed by the transaction administrator.&#13;
The ReturnLimit message can be sent as a response to a related GetLimit message (pull mode) or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
There are two purposes in establishing limits: to help members to make more efficient use of their liquidity and to facilitate risk management.&#13;
When limits are reached, the transaction administrator stops posting transactions to the account and puts them in a queue. The transaction administrator will resume processing the transactions held in the queue when the account balance of the member becomes sufficient to allow for the transactions to be executed while remaining within the limits.&#13;
Limits set by members are expressed as a maximum net position, and are managed by the transaction administrator. At any time during the day, the transaction administrator can ensure that the net position resulting from all incoming and outgoing transactions for a given member will not go over the fixed limit.&#13;
Limits are set by a member of the system either with regard to another specific member (bilateral limit) or with regard to all other participants (multilateral limit). As a result, there can be a maximum of one multilateral limit and as many bilateral limits as members of the system.&#13;
Note that for a bilateral limit, a member always needs to identify the counterparty to which it applies.&#13;
At any time during the operating hours of the system, the member can query the transaction administrator to get information about the limit(s) that the transaction administrator manages for the member.&#13;
The transaction administrator may also send a ReturnLimit message with pre-defined information at times previously agreed with the member or to warn the member about a particular problem that may have arisen and which needs attention.&#13;
The message from the transaction administrator can contain information on the following elements:&#13;
- type of risk and/or liquidity limit&#13;
- value of the limit(s) (default and/or current limit(s) for risk and/or liquidity management)&#13;
- identification of the system&#13;
- status of the limit(s) (default and/or current limit(s) for risk and/or liquidity management)&#13;
- point in time when the limit becomes effective&#13;
- identification of the counterparty&#13;
Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BizQryRef" type="QueryReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessQueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Query message reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="BizRpt" type="Limits2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reports on limits.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OprlErr" type="ErrorHandling2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
