WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seti.014.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:10, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seti.014.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seti.014.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BasisPriceType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BasisPriceType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a data source scheme to determine the basis price type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="BasisPriceType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basis price type is defined using a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basis price type is defined using a data source scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BasisPriceType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BasisPriceType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Basis price type in a bid order. Used for list trading.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MSCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MorningSessionClosePrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Closing price at morning session.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosingPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Closing price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CURR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPQO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecialQuotation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price computed after a trading halt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VWPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VWAPDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value weighted average price through the day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VWPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VWAPMorning</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value weighted average price through a morning session.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VWPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VWAPAfternoon</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value weighted average price through an afternoon session.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STIK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StrikePrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exercise price defined on a derivative product.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OpenPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price of a trade opening session.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Bid1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Bid1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Attempt to buy or sell a large number of financial instruments contained in or comprising a portfolio.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClntBidId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientBidIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for a Bid Request as assigned by institution. Uniqueness must be guaranteed within a single trading day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ListNm" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ListName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the name of the order list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BidId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the bid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlNbScties" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total number of distinct financial instruments for which the bid is applicable.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgForPhysInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeForPhysicalIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether or not to exchange for physical.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FrgnXchgExctnReqdInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeExecutionRequestedIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates a request for a foreign exchange accommodation trade to be executed along with security transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradTp" type="TradeType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the type of transaction of which the order is a component.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbTckts" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberTickets</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Expected total number of tickets/allocations to be fully executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrgrsRptInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProgressReportIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the request to receive a report on the progress of the order or not.

A 'Yes' value means a request for regular status messages to be sent.
A 'No' value means no request to receive regular status messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrgrsPrdIntrvl" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProgressPeriodInterval</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the interval period in minutes between each ListStatus you wish to receive.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfBddrs" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberOfBidders</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the total number of bidders participating to a list trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date/time on which the trade was executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StrikeTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which current market prices are used to determine the value of a basket.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BsisPricTp" type="BasisPriceType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BasisPriceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the basis price type in a bid order (list trading).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LqdtyAndSttstcs" type="LiquidityAndStatistics1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityAndStatistics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General details about the liquidity of the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CopyDuplicate1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COPY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code and or a data source scheme to determine the settlement date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementDate2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date identified using a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date identified using a data source scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisclosedBid1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisclosedBid1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">List trading by which the buy-side details the exact stocks and sizes to be traded and the sell-side offers the buy-side a two-way price, to buy or to sell the indicated stocks. All sell-side firms see all of the stocks and quantities in the portfolio during the bidding phase regardless of whether or not they win the business.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Sd" type="Side1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Side</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">When used in request for a "Disclosed" bid indicates that bid is required on assumption that SideValue1 is Buy or Sell. SideValue2 can be derived by inference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GrssInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GrossIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether an amount is a gross amount (including all charges, commissions and tax), or a net amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ListId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ListIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSsn" type="TradingSession1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSession</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Established constraints under which a market operates</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BiddgAcct" type="SecuritiesAccount2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BiddingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDtls" type="SecuritiesSettlement2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters applied to the settlement of a security transfer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisclosedBidRequest">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisclosedBidRequest</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An instructing party, eg, an investment manager, sends the DisclosedBidRequest message to an executing party, eg, a broker, to request bids based on the ListOrder message sent in advance of a DisclosedBidRequest message.&#13;
Usage&#13;
In the "Disclosed" convention the ListOrder message is sent before the bidding process is started (by telephone or electronically by exchanging the DisclosedBidRequest and the DisclosedBidResponse messages). The ListOrder message enumerates the financial instruments and quantities from the bidding process, and may contain pre-allocation information. The direction of the trade is disclosed after the bidding process is completed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the identification and creation date of a document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BidDtls" type="Bid1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details for the bid that is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DscldBidDtls" type="DisclosedBid1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisclosedBidDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additionnal details specific to the disclosed bid request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DscldBidReq" type="DisclosedBidRequest"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the document (message) was created by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="LiquidityAndStatistics1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LiquidityAndStatistics1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Ability of a financial instrument to be easily traded and converted to cash, at conditions that do not affect its price.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrssInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GrossIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether an amount is a gross amount (including all charges, commissions and tax), or a net amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndTp" type="LiquidityIndicatorType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndicatorType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of liquidity measure, of a financial instrument, on a market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WghtdAvrgLqdty" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WeightedAverageLiquidity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the overall weighted average liquidity expressed as a percentage of average daily volume.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutMainCtryIndx" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutMainCountryIndex</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Accepted value of stocks composing an index located outside its country of origin.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CrossPct" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossPercent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage of program that crosses in Currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SdVal1" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SideValue1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SideValue1 is used to show the monetary total value in either direction (buy or sell) of the transaction without revealing whether it is the buy-side institution&#146;s intention to buy or sell.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SdVal2" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SideValue2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SideValue2 is used to show the monetary total value in either direction (buy or sell) of the transaction without revealing whether it is the buy-side institution&#146;s intention to buy or sell.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LiquidityIndicatorType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LiquidityIndicatorType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market and statistic conditions upon which a liquidity indicator has been computed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIVE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FiveDayMovingAverage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Computation is on the average value of the price of a security over a period of five days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TWEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TwentyDayMovingAverage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Computation is on the average value of the price of a security over a period of 20 days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NORM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NormalMarketSize</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Computation is on the standard market conditions and volume.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max128Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 128 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification23">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification23</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by providing a BIC or a proprietary code.&#13;
Optionally, the client account number can also be provided.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PurposeCode1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PurposeCode1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code and or a data source scheme to determine the account type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesAccountPurposeType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of securities account.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account type is defined using a data source scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number assigned by a government agency to identify foreign nationals.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PurposeCode1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice between a code and a data source scheme to identify the type of account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesAccountPurposeType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountPurposeType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the purpose of the securities account.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Margin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account is used when financing is done by the broker.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortSale</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account is used for short sale orders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABRD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Abroad</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account is located in a financial institution outside the country where the transaction is taking place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Centralised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account and all its related positions are held in one location.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashDVP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account is used for settlement upon delivery, or a collection on a delivery basis.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PHYS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Physical</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account is used for physical domestic safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesSettlement2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlement2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters applied to the settlement of a security transfer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be delivered or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DtCd" type="DateType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the date of settlement in coded form or using a data source scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfSttlm" type="PartyIdentification23">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place where settlement of the securities takes place.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementDate2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDate2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the date of settlement in coded form.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REGU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Regular</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place under the standard rules applicable to the market and instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cash</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NXTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NextDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the day after trade date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TONE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusOne</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus one business day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TTWO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusTwo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus two business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TTRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusThree</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus three business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TFOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusFour</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus four business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TFIV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusFive</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus five business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SELL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellersOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place at the choice/option of the seller.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUTU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Future</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus six or more business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AsSoonAsPossible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer is to be effected as soon as possible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AtEndOfContract</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer is to be effected at the end of the contract.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WHIF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WhenAndIfIssued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place when the financial instrument is issued by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WDIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WhenDistributed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place when the financial instrument is distributed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WHID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WhenIssuedOrDistributed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place when the financial instrument is issued or distributed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToBeAnnouncedTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place as a result of a "to be announced" trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MONT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfMonth</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place at the end of the month.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Side1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Side1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the side of the quote request, from the buy-side perspective.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Buy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is buy driven.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SELL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sell</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is sell driven.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TWOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TwoSided</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the side refers to both buys and sells.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BUMI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyMinus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A round-lot market order to buy minus is an order to buy a stated amount of a stock provided that its price is:
- not higher than the last sale if the last sale was a minus or zero minus tick and
- not higher than the last sale minus the minimum fractional change in the stock if the last sale was a plus or zero plus tick.
A limit price order to buy minus also states the highest price at which it can be executed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellPlus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A round-lot market order to sell plus is an order to sell a stated amount of a stock provided that its price is:
- not lower than the last sale if the last sale was a plus or zero plus tick and
- not lower than the last sale minus the minimum fractional change in the stock if the last sale was a minus or zero minus tick.
A limit-price order to sell plus also states the lowest price at which it can be executed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SESH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellShort</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An order to sell a security that the seller does not own; a sale effected by delivering a security borrowed by, or for the account of, the seller. Can only be executed on a plus or zero plus tick.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSEX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellShortExempt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short sale exempt from short-sale rules.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CROS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cross</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an order for which a broker wishes to take the other side and cross with the client.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRSH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossShort</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of order for which a broker wants to cross with the client in the case a client wants to establish a short position, and sends a Sell Short order to the broker. Many exchanges have tick rules needing to be enforced, and the order getting converted from Sell Short to Cross (instead of Cross Short) could result in an illegal short sell.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossShortExempt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of order for which a broker wants to cross with the client in the case a client wants to establish a short position and is exempt from the uptick restriction. Used as audit trail on exchanges.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEFI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AsDefined</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates, in the case of a multileg instrument,that the sides of the legs are the same as defined at the creation of the multileg instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Opposite</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates, in the case of a multileg instrument,that the sides of the legs are the opposite of their definition at the creation of the multileg instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNDI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Undisclosed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The side of the indication of interest is not disclosed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of executed order in a bidding process.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RISK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RiskTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade involving risk</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VWAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VWAPGuarantee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade whose price is guaranteed as the weighted average of the trade prices on a specific day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade in which an agent intermediates between a buyer and a seller.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GUAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GuaranteedClose</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade which is guaranteed to be finalized</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingSession1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradingSession1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The details of a specific trading session.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSsnId" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSessionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a specific execution time bracket code through its trading session name or description.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSsnSubId" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSessionSubIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Optional market assigned sub identifier for a trading session. Usage is determined by market or counterparties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
