WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.caaa.015.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:33:50, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:caaa.015.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:caaa.015.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcceptorRejection1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcceptorRejection1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reject of an exchange.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RjctRsn" type="RejectReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reject reason of the request or the advice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information related to the reject of the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgInErr" type="Max5000Binary">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageInError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original request that caused the recipient party to reject it.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcceptorRejectionV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcceptorRejectionV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The AcceptorRejection message is used by the acquirer to reject a message received from the card acceptor. The acquirer uses this message as a substitute to a response or an advice response message sent to the card acceptor.&#13;
Usage&#13;
The AcceptorRejection message is used to indicate that the received message could not be processed by the acquirer (for example, unable to read or process the message, security error, duplicate message).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Hdr" type="Header1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Header</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rejection message management information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rjct" type="AcceptorRejection1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the reject.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AccptrRjctn" type="AcceptorRejectionV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification31">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification31</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="PartyType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification32</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Header1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Header1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics related to the protocol.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgFctn" type="MessageFunction1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageFunction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the type of process related to the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtcolVrsn" type="Max6Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtocolVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the acquirer protocol specifications.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgId" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an exchange occurrence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InitgPty" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that has initiated the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptPty" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the partner that is the recipient of the message exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tracblt" type="Traceability1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Traceability</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of partners involved in exchange from the merchant to the issuer, with the relative timestamp of their exchanges.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5000Binary">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5000Binary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a binary string with a maximum length of 5000 binary bytes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="5000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max500Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max6Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MessageFunction1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageFunction1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the message function within a card payment exchange.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AUTQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorisationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for authorisation without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AUTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorisationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for authorisation without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAUQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialAuthorisationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for authorisation with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialAuthorisationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for authorisation with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMPV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompletionAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for completion without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMPK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompletionAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for completion without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FCMV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialCompletionAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for completion with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FCMK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialCompletionAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for completion with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RVRA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReversalAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for reversal without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RVRR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReversalAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for reversal without financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialReversalAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for reversal with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRVR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialReversalAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for reversal with financial capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCAQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCAV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationAdvice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCAK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationAdviceResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Advice response for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DGNP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DiagnosticRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for diagnostic.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DGNQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DiagnosticResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for diagnostic.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCLQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconciliationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request for reconciliation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCLP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconciliationResponse</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response for reconciliation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reject a request or an advice.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of entity involved in a transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingPOI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point Of Interaction initiating the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that issues cards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelegateIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party to whom the card issuer delagates to authorise card payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity assigning an identification  (for example merchant, acceptor, acquirer, tax authority, etc.).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that issues cards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TAXH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxAuthority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax authority.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason of transmission of a rejection message in response to a request or an advice.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnableToProcess</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Not possible to process the message, for instance the security module is unavailable, the hardware is unavailable, or there is a problem of resource.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IMSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidMessage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid envelope of the message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ParsingError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid message:  At least one of the data element or data structure is not present , the format, or the content of one data element or one data structure is not correct.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Security</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security error (for example an invalid key or an incorrect MAC value).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InitiatingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid identification data for the sender.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCPP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid identification data for the the receiver.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DuplicateMessage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Duplicate message, the identification of the exchange is the same than a previous message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VERS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProtocolVersion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of the protocol couldn't be supported by the recipient.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MSGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of message the recipient receives is unknow or unsupported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Traceability1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Traceability1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of partners involved in exchange from the merchant to the issuer, with the relative timestamp of their exchanges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RlayId" type="GenericIdentification31">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelayIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a partner of a message exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TracDtTmIn" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TraceDateTimeIn</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of incoming data exchange for relaying or processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TracDtTmOut" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TraceDateTimeOut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of the outgoing exchange for relaying or processing.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
