WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.015.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:02, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.015.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.015.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl. Identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID). Identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification  (UID).  Identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected.  The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsARNIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number. Identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identifiers for a clearing system member, as assigned by the clearing system. In some clearing systems, the accounts of the clearing system members are also assigned an identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="USCHU" type="CHIPSUniversalIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification (UID) - identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected. The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NZNCC" type="NewZealandNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code - identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IENSC" type="IrishNSCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code - identifies Irish financial institutions on the Irish national clearing system. The code is assigned by the Irish Payments Services Organisation (IPSO).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code - identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USCH" type="CHIPSParticipantIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID) - identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHBC" type="SwissBCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissBCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code - identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number - identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PTNCC" type="PortugueseNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code - identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code - identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ITNCC" type="ItalianDomesticIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code - identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl - identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsAssociationRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number - identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHSIC" type="SwissSICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissSICIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code - identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl - identifies German financial institutions on the German national clearing systems.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code - identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC) - identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HKNCC" type="HongKongBankIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">HongKongBankCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code - identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianExtensiveBranchNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBs" type="SmallNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianSmallNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions , as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationAddressDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CommunicationAddressDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Communication device number or electronic address used for communication.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PstlAdr" type="LongPostalAddress1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhneNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a phone number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaxNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a FAX number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address for electronic mail (e-mail).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactIdentificationAndAddress">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContactIdentificationAndAddress</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Human entity, as distinguished from a corporate entity (which is sometimes referred to as an 'artificial person').</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Role" type="PaymentRole1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Role</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Role of the party in the activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ComAdr" type="CommunicationAddressDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommunicationAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number, or virtual address, used for communication.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ModfyMmb" type="ModifyMemberV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExtensiveBranchNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number. Identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl. Identifies German financial institutions on the German national clearing systems.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HongKongBankIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code. Identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code. Identifies Irish financial institutions on the Irish national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code. Identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LongPostalAddress1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LongPostalAddress1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ustrd" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unstructured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Strd" type="StructuredLongPostalAddress1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in a formal structure.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemberDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about the members of a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MmbRtrAdr" type="MemberIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberReturnAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Physical/logical address belonging to a member, segregated from its main address that is used for normal operations. The fund return address is used to route messages that require specific attention/exception handling, eg, returns or rejects.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtctRef" type="ContactIdentificationAndAddress">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContactReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Person to be contacted in a given organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ComAdr" type="CommunicationAddressDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommunicationAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number, or virtual address, used for communication.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between BIC and clearing system member identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a clearing system member, as assigned by the system or system administrator.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ModifyMemberV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ModifyMemberV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ModifyMember message is sent by a member to the transaction administrator.&#13;
It is used to request modifications to the static data related to the profile of a member that the transaction administrator maintains.&#13;
Usage&#13;
The transaction administrator is in charge of providing the members with business information. The term business information covers all information related to the management of the system, that is, not related to the transactions entered into the system. The type of business information available can vary depending on the system. Among other things, it can , refer to information about the membership of the system.&#13;
At any time during the operating hours of the system, the member can request the transaction administrator to modify the information it maintains about the member.&#13;
The member will submit a message requesting modifications in one or more of the following criteria:&#13;
- identification of the member&#13;
- contact information for the member organization: postal address, e-mail address, telephone or fax number&#13;
- identification of contact persons for the member, their role and/or details (postal address, e-mail address, telephone or fax number)&#13;
Based on the criteria received within the Modify Member message, the transaction administrator will execute or reject the requested modifications.&#13;
In principle, the transaction administrator may send a Receipt message as a reply to the ModifyMember request. To verify the outcome of the request, the member may submit a GetMember message with the appropriate search criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="MemberIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a system member, as assigned by the system, or the system administrator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NewMmbValSet" type="MemberDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewMemberValueSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">New member values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code. Identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PaymentRole1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentRole1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Role associated with a specific party in relation to a payment instruction. The role identifies either the specific function of the party, or the party's rights regarding management of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LQMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution responsible for the management of liquidity for the financial institution. This party has access to some functions available on the system, such as the liquidity transfers ormanagement of standing instructions for liquidity control.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LMMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution responsible for the management of the limits. This party is responsible for fixing, modifying, or suspending limits as relevant for the management of counterpart risk or systemic risk containment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PYMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution responsible for the management of payment processing for the financial institution. This includes authorising, recycling, and modification of payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution entitled to obtain information from the system, but not act upon/alter this information.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BKMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BackupManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party responsible for managing the recovery functions related to a system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution responsible for the management of settlement processing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The collection of information which identifies a specific phone or FAX number as defined by telecom services.
It consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" and finally, any combination of numbers, "(", ")", "+" and "-" (up to 30 characters).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code. Identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code. Identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SmallNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC). Identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code. Identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StructuredLongPostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StructuredLongPostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the building or house.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtBldgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetBuildingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Floor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Floor or storey within a building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistrictName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a district, ie, a part of a town or region.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RgnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an administrative division of a country, state, or territory.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Stat" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">State</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organised political community or area forming a part of a federation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtyId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="POB" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostOfficeBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissBCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code. Identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissSICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code. Identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code. Identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
