WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.003.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:05, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.003.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.003.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashOptionSD5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashOptionSD5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action option cash movement details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PyoutNb" type="Exact3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayoutNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique number associated with a payout within an option.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PyoutTp" type="DTCCPayoutType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayoutType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the type of payout associated with the event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PyoutSts" type="WorkflowStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayoutStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Workflow status of the payout.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MaxWhldgTaxPctg" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaximumWithholdingTaxPercentage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maximum withholding rate based on the country of the sourced income.  </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionDateSD4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionDateSD4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action date details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmAcctgStartDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterimAccountingStartDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which accounting for due bills starts and associated tracking begins.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DlistgDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelistingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the event security is no longer listed on the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcPrdBegnDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExercisePeriodBeginDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date by which a holder can exercise warrants.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ObjctnDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ObjectionDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date by which a holder listed as a member of the claimant group in a lawsuit may object to the proposed solution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExclsnDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExclusionDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date by which claimants may exclude themselves from an ongoing class action lawsuit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ProofOfClmFilgDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProofOfClaimFilingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date by which a holder must file claim forms to become a member of the claimant group in a lawsuit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionEventReferenceSD2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventReferenceSD2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding linkage details. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LkgTp" type="DTCCLinkType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkageType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the reason why two or more events are related.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LkAddedDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkAddedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events can be linked together. This date represents the date on which the link was established.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkModfdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkModifiedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events can be linked together. This date represents the date on which the link was modified.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNotificationSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNotificationSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Customer security identification reference information.&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrIntlSctyId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerInternalSecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Internal security identification as provided by the customer for the given security on the security of interest (SOI) import file. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyOfIntrstMtchgScty" type="SecurityIdentification15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityOfInterestMatchingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security identifier that is used to match the customer's SOI (Security of Interest) to the GCA VS Security Cross Reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNotificationSD6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNotificationSD6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding notification general information details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtSts" type="EventWorkflowStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Workflow status of the event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ApprovedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date by which the announcement is set to approve event status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date used to match records from multiple vendors to the same event. It is typically the first key date on the event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvUntilDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActiveUntilDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date until which the event will remain in an active status on DTCC  (The Depository Trust and Clearing Corporation) system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcLvlAgrmtPrd" type="Period3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServiceLevelAgreementPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date and end date of the service level agreement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtnNotSpprtdRsn" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidationNotSupportedReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a reason why a corporate action will not be supported by the validation service. This is usually due to the event type or the product (security) type. The list of values will be provided externally to the schema.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionOptionSD5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionOptionSD5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action option details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnSts" type="WorkflowStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Workflow status of the specified option based on the consistency of the issuer declared data elements (excluding DTC data elements).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RandLotPrefFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RandomLotPreferenceFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether or not the offeror will select random lots if the offer has been prorated. The offeror may accept or reject conditional tenders on a random basis. Holders must indicate their willingness to have their rejected conditional tender accepted by random lot (if necessary). The holder must surrender all shares held in order to be eligible for this preference. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NewShrDsptchdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewShareDispatchedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the new shares to be issued will be distributed, as opposed to the "declared payable date." This date is typically used in some Asian markets.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionSD4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionSD4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NewParVal" type="RestrictedFINActiveCurrencyAnd13DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewParValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">New par value of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OdParVal" type="RestrictedFINActiveCurrencyAnd13DecimalAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OldParValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Old par value of the event security represents the previously established par value that has changed in par value event. Used in combination with new par value element to represent the difference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgFeeReqrdFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeFeeRequiredFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the event agent is charging a cancellation and or issuance fee upon the exchange of securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnShellFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianShellFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">GCA VS-specific flag that indicates whether a composite record has been generated as a result of custodian information that has not yet been confirmed in the market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MustAllShrsBeSubmittdFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MustAllSharesBeSubmittedFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the issuer requires a holder to present the entire account balance in order to be eligible for the offer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LtryDtls" type="CorporateActionSD6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotteryDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details about the lottery that has been drawn as a part of the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfdDvddTaxInd" type="QualifiedDividendTax1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QualifiedDividendTaxIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the dividend as whole or in part qualifies for lower/ favourable tax rate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SrvvgCpny" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SurvivingCompany</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the company that will remain (possibly a new name), usually designated after a merger.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FrgnIncmSrcFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignIncomeSourceFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates when all or part of the distribution is paid from foreign sourced income of the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionSD6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionSD6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details about the lottery.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LtryRcrdSts" type="WorkflowStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotteryRecordStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the fields of lottery record.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DTCCCANOServiceDataSD1V03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCANOServiceDataSD1V03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCANOServiceDataSD1 message extends ISO corporate action notification (CANO) message with DTCC validation service specific data elements that are not covered by the standard message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnGnlInf" type="CorporateActionNotificationSD6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to notification general information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkg" type="CorporateActionEventReferenceSD2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventsLinkage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to events linkage.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnNtfctn" type="CorporateActionNotificationSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionNotification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to corporate action notification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygScty" type="FinancialInstrumentAttributesSD7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to underlying security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnDtls" type="CorporateActionSD4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as corporate action details supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnDtDtls" type="CorporateActionDateSD4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionDateDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as corporate action date details supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnDtls" type="CorporateActionOptionSD5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to option details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntDtls" type="SecuritiesOptionSD4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesMovementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to securities movement details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesMvmntSctyDtls" type="FinancialInstrumentAttributesSD5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesMovementSecurityDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to securities movement security details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshMvmntDtls" type="CashOptionSD5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashMovementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as cash movement supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DTCCLinkType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCLinkType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies types of linked events.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COEV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorrespondingEvent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events that are concurrent and affect the same underlying security (for example: Stock Split followed by a Reverse Split).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events (event records) are duplicate of each other.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventChangeToMandatory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events that are consecutive and evolve from a Voluntary Event to a Mandatory Event but of the same basic GCA (Global Corporate Actions validation service) event type. For example Exchange - Voluntary to Exchange - Mandatory.  Note: The old and new events should not overlap and the older event will remain in an "approved" state.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHVO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventChangeToVoluntary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event that are consecutive and evolve from a Mandatory Event to a voluntary event (for example Merger-Mandatory becomes a Merger-Voluntary).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FractionalSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because of fractional security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HYBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartOfHybridSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because of underlying security is part of hybrid security. Hybrid securities have underlying securities. As an example Telecom hybrid security is made of various Telecom securities, example ATT, Verizon etc. When there is a dividend on the underlying security the hybrid pays as well. Announcements are linked under the hybrid security payment announcement to the underlying security that is paying that event. This is the way the holders of the hybrid are informed where this income is being derived from, since on many occasions there can be multiple announcements under the hybrid at the same time since the underlying securities are paying a distribution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISEV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventOnIntermediarySecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because of an intermediary security (for example Rights Distribution to a Rights Subscription; Rights Subscription to an Assimilation).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IUNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsuredUninsuredSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because of insured or uninsured securities. In the market there are many securities where a municipality or issuer will insure a portion of their outstanding principal. It technically is the same security, however, there are two different CUSIPs one for the insured piece and the other for the un insured part.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TONU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventConvertedToNewEvent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event that are consecutive but of a different GCA (Global Corporate actions validation service) event type. For example Tender converts to Merger Voluntary when 429 Notice issued.  Note: the old and new events should not overlap and the older event will remain in an "approved" state.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MMKT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MultiMarket</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because event security is listed in another market under another market security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cannot be classified by any of the link types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DTCCPayoutType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCPayoutType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies DTCC (The Depository Trust and Clearing Corporation) defined payout types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cash</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payout consisting of cash.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIVI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Dividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution of earnings to shareholders categorised by company as dividend.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ROCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnOfCapital</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution that doesn't represent earnings and is categorized by the company as return of capital.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STCG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortTermCapitalGains</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution of earnings to shareholders categorized by the company as short-term capital gains.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTCG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LongTermCapitalGains</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution of earnings to shareholders categorized by the company as long-term capital gains.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CapitalGains</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution of earnings to shareholders categorized by the company as capital gains.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PREM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Premium</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash payment that is categorised by the issuer as premium, usually offered as incentive for early participation in an offer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Principal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash payment on a debt instrument that represents a return of principal to the holder.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Interest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash payment on a debt instrument calculated using the coupon rate, principal and period of time.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FLFR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Franked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In some markets, companies further categorize dividends as franked or unfranked. "Franked" means that a tax credit is attached to that part of the dividend.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNFR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unfranked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In some markets, companies further categorize dividends as franked or unfranked. "Unfranked" means that there is no tax credit attached to the dividend.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DTCCPayoutType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCPayoutType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies DTCC (The Depository Trust and Clearing Corporation) defined payout types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SECU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Securities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payout consisting of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat12Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat12Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the value of a date.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date expressed as an ISO Date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NotSpcfdDt" type="DateType6Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotSpecifiedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date not specified, for example, the date is unknown.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType6Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateType6Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of dates.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Open</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Open-dated, which indicates that the date has not been established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date is unknown by the sender or has not been established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONGO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ongoing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ongoing basis,  which indicates that the date is determined by "ongoing basis" process, for example "au fil de l'eau".</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCANOSvcDataSD1" type="DTCCCANOServiceDataSD1V03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventWorkflowStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventWorkflowStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the workflow status of the announcement record based on validation procedure.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="WSAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Approved</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">All of the required data has been populated. Any conflicting data has been resolved. Either all information was in agreement (STP) or if manual validation was necessary  authorised review and changes/updates were performed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingApproval</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Validation review was performed and event has been modified. Event is pending authorised approval.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConditionallyApproved</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Announcement has been confirmed but not all of the required data is available. Event was validated or specific STP criteria was met, however data is still pending confirmation of the event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSPN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingConditionalApproval</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Validation review has been performed and event has been modified. Announcement has been confirmed but not all of the required data is available. Even record is pending authorised approval.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InConflict</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Two or more sources disagree on one or more data elements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Incomplete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Required data is not available. Announcement record cannot be verified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingDeleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Validation has determined the announcement record to be invalid. Pending authorisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotSupported</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Announcement record is not supported by validation service.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingNotSupported</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Validation has determined that the record is not supported. Pending authorisations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WSPC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingCancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Validation has determined event is being cancelled by the issuer/offeror. Pending authorisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentAttributesSD5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAttributesSD5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action option securities movement security details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyOfIntrstMtchgScty" type="SecurityIdentification15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityOfInterestMatchingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Matching security identifier for  the disbursed security that is used to match the customer's SOI (Security of Interest) to the GCA VS Security Cross Reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentAttributesSD7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAttributesSD7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding underlying security details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrDesc" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIncorprtn" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfIncorporation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of incorporation of the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryXchgFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PrimaryExchangeFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the stock exchange associated to place of listing code is primary.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SECRegdFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SECRegisteredFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the event has been registered with US Securities Exchange Commission (SEC).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="RestrictedFINExact2Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Period3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Period3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StartDt" type="DateFormat12Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EndDt" type="DateFormat12Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QualifiedDividendTax1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QualifiedDividendTax1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates whether the dividend as whole or in part qualifies for lower/ favourable tax rate.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FQUD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullyQualified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dividend income is potentially qualified (for instance common or preferred stock dividends, income distribution by mutual funds).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PQUD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartlyQualified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Part of dividend income is potentially qualified (for instance income form a mutual fund which holds both stocks and bonds).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NQUD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotQualified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dividend is not qualified (for instance UIT dividends, REIT dividends).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Qualified dividend tax status is unknown (for instance if dividend tax status information is unavailable at the time of the dividend update, it will be provided when new information is received).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAnd13DecimalAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveCurrencyAnd13DecimalAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217. The number of fractional digits (or minor unit of currency) is not checked as per ISO 4217: It must be lesser than or equal to 13.
Note: The decimal separator is a dot.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINExact2Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 2 characters that must has a pattern XX|TS.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax31Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 31 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesOptionSD4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesOptionSD4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action option securities movement details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PyoutNb" type="Exact3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayoutNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique number associated with a payout within an option.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PyoutTp" type="DTCCPayoutType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayoutType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the type of payout associated with the event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PyoutSts" type="WorkflowStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayoutStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Workflow status of the payout.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification15">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification15</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="WorkflowStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">WorkflowStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the workflow status of the details of a specific level. </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Level details are complete. All required data is populated and verified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CNFL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Conflict</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Level details are incomplete due to conflicting details from 2 or more sources.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConditionallyComplete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Level details are complete pending a condition.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Incomplete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Level details are incomplete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Level has been deleted, cancelled/deactivated/invalidated by the source or due to error processing error. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
