WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.006.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:03, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.006.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.006.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="CorporateActionCancellationSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionCancellationSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding linkage details. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LkdCorpActnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkedCorporateActionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned by the account servicer to unambiguously identify a related corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LkgTp" type="DTCCLinkType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkageType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the reason why two or more events are related.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LkAddedDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkAddedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events can be linked together. This date represents the date on which the link was established.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkModfdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkModifiedDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events can be linked together. This date represents the date on which the link was modified.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionCancellationSD2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionCancellationSD2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding additional comments.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XtrnlCmnts" type="Max8000Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExternalComments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional textual information regarding the cancelled event. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformationSD2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformationSD2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action general information details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTp" type="ExtendedEventType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTCC  (The Depository Trust and Clearing Corporation) native corporate action event type name. Used in place for the events that cannot be classified by ISO Code and are marked as OTHR. Can be used in combination with DTCC sub event type (when provided) to identify the event. For an example: a distribution based on recapitalisation event will be presented as event type: OTHR in standard message. DTCC native event type would be Distribution (DIST) and DTCC sub event type would be Recapitalisation. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubEvtTp" type="DTCCSubEventType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubEventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTCC (The Depository Trust and Clearing Corporation) corporate action sub event type name further defines the event type. For an example: a cash dividend event eligible for dividend reinvestment at DTC election will be noted as event type: Cash Dividend (DVCA) and DTCC sub event type: DRIP( DTC only).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNotificationSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNotificationSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Customer security identification reference information.&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CstmrIntlSctyId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerInternalSecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Internal security identification as provided by the customer for the given security on the security of interest (SOI) import file. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctyOfIntrstMtchgScty" type="SecurityIdentification15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityOfInterestMatchingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security identifier that is used to match the customer's SOI (Security of Interest) to the GCA VS Security Cross Reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DTCCCACNSD1V02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCACNSD1V02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCACNSD1 message extends ISO corporate action cancellation advise (CACN) message with DTCC corporate action elements not covered in the standard message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnXtnsn" type="CorporateActionNotificationSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationExtension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to cancellation advice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlInfXtnsn" type="CorporateActionGeneralInformationSD2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneralInformationExtension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to cancellation advice general information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtsLkgXtnsn" type="CorporateActionCancellationSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventsLinkageExtension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as events linkage supplementary data to events to cancellation advice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XtrnlCmntsXtnsn" type="CorporateActionCancellationSD2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExternalCommentsExtension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as external comments to cancellation advice.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DTCCLinkType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCLinkType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies types of linked events.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COEV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorrespondingEvent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events that are concurrent and affect the same underlying security (for example: Stock Split followed by a Reverse Split).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events (event records) are duplicate of each other.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventChangeToMandatory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events that are consecutive and evolve from a Voluntary Event to a Mandatory Event but of the same basic GCA (Global Corporate Actions validation service) event type. For example Exchange - Voluntary to Exchange - Mandatory.  Note: The old and new events should not overlap and the older event will remain in an "approved" state.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHVO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventChangeToVoluntary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event that are consecutive and evolve from a Mandatory Event to a voluntary event (for example Merger-Mandatory becomes a Merger-Voluntary).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FRSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FractionalSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because of fractional security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HYBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartOfHybridSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because of underlying security is part of hybrid security. Hybrid securities have underlying securities. As an example Telecom hybrid security is made of various Telecom securities, example ATT, Verizon etc. When there is a dividend on the underlying security the hybrid pays as well. Announcements are linked under the hybrid security payment announcement to the underlying security that is paying that event. This is the way the holders of the hybrid are informed where this income is being derived from, since on many occasions there can be multiple announcements under the hybrid at the same time since the underlying securities are paying a distribution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISEV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventOnIntermediarySecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because of an intermediary security (for example Rights Distribution to a Rights Subscription; Rights Subscription to an Assimilation).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IUNS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsuredUninsuredSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because of insured or uninsured securities. In the market there are many securities where a municipality or issuer will insure a portion of their outstanding principal. It technically is the same security, however, there are two different CUSIPs one for the insured piece and the other for the un insured part.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TONU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventConvertedToNewEvent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event that are consecutive but of a different GCA (Global Corporate actions validation service) event type. For example Tender converts to Merger Voluntary when 429 Notice issued.  Note: the old and new events should not overlap and the older event will remain in an "approved" state.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MMKT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MultiMarket</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Events are linked because event security is listed in another market under another market security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cannot be classified by any of the link types.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DTCCSubEventType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCSubEventType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies DTCC (The Depository Trust and Clearing Corporation) defined sub event types.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptOut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event (for example Cash Dividend) where DTC (the Depository Trust Company) offers a DRIP option as a default option (holder must opt out of the DRIP Option).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendReinvestmentByDTC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where the Issue is eligible for a Dividend Reinvestment program at DTCC (The Depository Trust and Clearing Corporation).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfListing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a change in the place where the security is listed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BLOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BoardLot</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a change in Board Lot size.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterimPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event that include notification of an interim payment in lieu of the original commitment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FINL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinalPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event that include notification of a final payment in lieu of the original commitment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RMRK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Remarketing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event that involve a Stock Purchase Contract product that is offering an early settlement or remarketing feature prior to the contract's expiration.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNWD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unwind</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where "unwinding" of the basket of securities occurs. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnnualGeneral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a meeting event called by the company on behalf of security holders at which the company can present corporate resolutions that may require a vote by the holders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXOM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extraordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a meeting event called by the company when urgent matters need to be addressed before the next General Meeting.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ORDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a meeting event called by the company. Usually held annually.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Special</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a meeting event called by the company that cannot be categorized as Ordinary, Annual General, or Extraordinary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHEX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShareExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where two companies exchange their shares during a merger. After the share exchange, one company becomes a subsidiary of the other and is no longer listed. Usually applicable to an event in JP markets.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Standard</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where one company merges with the other and assumes the name of the surviving company. It is the standard market-accepted merger. Usually applicable to an event in JP markets.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XFER">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Transfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where one company transfers all of its shares to a newly created company. Usually applicable to an event in JP markets.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SOPT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SurvivorOptions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates an event where the Issue has an early redemption feature. This feature allows the holder to elect to sell bonds back to the issuer on a predetermined basis (excluding monthly) according to specific priorities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MBCK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MortgageBacked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates an event where the issue has an early redemption feature that allows the holder to elect to sell bonds back to the issuer on a monthly basis, according to specified conditions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SALE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SaleOfAssets</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where the distribution is from the proceeds of the sale of assets.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRNI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalRightsNotIssued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where the company is not issuing a security with the right to subscribe for additional shares. In these instances, a User CUSIP is created by DTC  (The Depository Trust Company)  as opposed to a company-issued CUSIP in order to identify these issues. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="POPI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoisonPill</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies sale of rights event where issuers redeem poison pill rights.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRPI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendReinvestmentByIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where the issuer offers a dividend reinvestment program that is not processed by DTC (the Depository Trust Company).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MROS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MandatoryRedemptionOfShares</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event where redemption shares are issued in addition to shares of the original security.  This is related to the Mandatory Exchange event with the same sub-event type name.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHPP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharePurchasePlan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event involving the offer of shares by a corporation listed on the Australia Stock Exchange, in which ASIC will give relief so that the company can offer existing shareholders the opportunity to acquire small numbers of additional shares without needing a disclosure document or Product Disclosure Statement (PDS). </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OpenOffer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an event in certain markets where underlying rights are not issued.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TWRI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TenderWithRights</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a tender offer event on a Rights security. Holders must submit both the ordinary share(s) and right(s) to be eligible to receive the tender consideration. The ratio of ordinary shares to rights is defined in the offer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CILI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashinLieu</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies DTC (the Depository Trust Company) specific sub-event where holders can elect to "sell" whole shares to satisfy fractional entitlements (usually as a result of a merger) at the beneficial owner level.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BTST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidTenderSealedTender</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a tender offer event in which the holder can choose the price at which they are willing to tender their securities. This price may or may not be accepted by the offeror.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FTPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfferToPurchase</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a tender offer event made by another company to purchase a portion or all of the outstanding shares.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADRS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ADR</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies when the event security is an ADR. The underlying security is American Depositary Receipt.                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCACNSD1" type="DTCCCACNSD1V02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtendedEventType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExtendedEventType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies DTCC (The Depository Trust and Clearing Corporation) defined corporate action event type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RPLA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RightsPlanAdoption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information provided by the issuer that should not result in material changes to the security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TMTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Termination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security, usually a form of a derivative, for which the agent or issuer has decided to terminate the derivative based on a change to the underlying security(ies) or a change in strategy. Distinguishes from  Mandatory Exchange, Exchange Offer event types mapped to the same ISO event type code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BonusRightsIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security holders are issued additional securities, free of payment, from the issuer in proportion to their holdings. A bonus issue is typically represented by shares or warrants. Nominal value does not change. The security holder may be offered choice of entitlement. Distinguishes from  Rights Subscription, Sale Of Rights event types mapped to the same ISO event type code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FLPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullPrerefunding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exercise of a privilege by the issuer to repay, in full, any debt security prior to maturity when the issuer deposits assets in trust. This irrevocably restricts their use to satisfaction of the debt. Distinguishes from  "partial defeasance", "partial prerefunding" event types mapped to the same ISO event type code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDEF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialDefeasance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer sets aside cash in escrow to pay off a portion of the issue before the maturity date. New securities are issued for the portion defeased. Distinguishes from  "full prerefunding", "partial prerefunding" event types mapped to the same ISO event type code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialPrerefunding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Similar to a Full Prerefunding, a partial prerefunding is the exercise of a privilege by the issuer to repay, in part, any debt security prior to maturity when the issuer deposits assets in trust. This irrevocably restricts their use to satisfaction of the debt. New securities are issued for the portion prerefunded. Distinguishes from  "full prerefunding", "partial defeasance" event types mapped to the same ISO event type code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="RestrictedFINExact2Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8000Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max8000Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 8000 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINExact2Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 2 characters that must has a pattern XX|TS.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax31Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 31 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification15">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification15</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
