WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.020.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:32, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.020.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.020.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="BusinessInformationCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessInformationCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for business information and to report on the business information. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewQueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query defined by the search criteria and return criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="GeneralBusinessInformationSearchCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria based on which the information is extracted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="GeneralBusinessInformationReturnCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the expected report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessInformationQueryDefinition">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessInformationQueryDefinition</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if all matching items or only the new matching items since the latest query are returned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlBizInfCrit" type="GeneralBusinessInformationCriteriaDefinitionChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneralBusinessInformationCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the general business information query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CharacterSearchChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CharacterSearchChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characters to be matched to be considered as valid.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="EQ" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Equal</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Exact set of characters to be matched to be considered valid.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NEQ" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NotEqual</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Exact set of characters that cannot match to be considered valid.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CT" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Contain</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Set of characters to be matched to be considered valid.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NCT" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NotContain</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Set of characters that cannot match to be considered valid.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.020.001.01" type="camt.020.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessInformationCriteriaDefinitionChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessInformationCriteriaDefinitionChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="QryNm" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NewCrit" type="BusinessInformationCriteria">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Defines the criteria based on which the information is extracted.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessInformationReturnCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessInformationReturnCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on business information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QlfrInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QualifierIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the qualifier is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SbjtInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubjectIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the subject is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SbjtDtlsInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubjectDetailsIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the subject details are requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralBusinessInformationSearchCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralBusinessInformationSearchCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for business information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous reference assigned to a general business information system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sbjt" type="CharacterSearchChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Subject</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Subject line of an item of general business information, summarizing the topic and intended destination of the information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Qlfr" type="InformationQualifierType">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Qualifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information about the criticality or importance of a general business information system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InformationQualifierType">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InformationQualifierType</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Further qualifies the information provided in terms of its importance and its format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="IsFrmtd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IsFormatted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the information is formatted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="Priority1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority of the information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Priority1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the priority level of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is high.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NORM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is normal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOWW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Low</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Priority level is low.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifyies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that all matching items be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Changes</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only new matching items since the last similar query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestedIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates if requested or not.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="camt.020.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetGeneralBusinessInformationV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The GetGeneralBusinessInformation message is sent by a member to the transaction administrator.&#13;
It is used to request information on a broadcast-type message previously sent by the transaction administrator to all or some of the members, giving information related to the processing business.&#13;
Usage&#13;
The transaction administrator can send general business information messages to the members, which may request further action from them. General business information can contain either static data announcing foreseen events affecting the system operations, or dynamic data warning or notifying about unexpected events.&#13;
This type of information can be transmitted in either of the two following ways:&#13;
- non-solicited reports are pushed by the transaction administrator to the (selected) members together with a reference, a qualifier and a subject line&#13;
- upon request from the members (pull mode), the transaction administrator delivers the full text/content of the message back to the user&#13;
The Get General Business Information message is used in this second context. At any time during the operating hours of the system, the member can query the transaction administrator to get information about a report of general business information previously sent.&#13;
The member can request information based on the following elements:&#13;
- reference of the report previously delivered&#13;
- subject of the report previously delivered, detailing the purpose and content of the message&#13;
- priority of the report previously sent, and indication of its format. (Note that if the format is indicated, the subject refers to a set of pre-agreed texts. This enumeration has to be agreed upon by the transaction administrator and the members of the system.)&#13;
- details of the previously sent message&#13;
This message will be replied to by a ReturnGeneralBusinessInformation message.&#13;
Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlBizInfQryDef" type="BusinessInformationQueryDefinition">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneralBusinessInformationQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Definition of the general business information query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
