WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:04, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.008.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DTCCCAINSD1V02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCAINSD1V02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCAINSD1 message extends ISO corporate action instruction message with DTCC corporate action elements not covered in the standard message. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnlDvdd" type="OptionalDividendAccountQuantitySD2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionalDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Corporation) Optional Dividend service election.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxXmpt" type="TaxExemptQuantitySD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxExempt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Corporation) Tax Exempt service election.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WireInstr" type="WireInstructionSD2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WireInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Corporation) Foreign Currency Payment service wire payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCAINSD1" type="DTCCCAINSD1V02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity15Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max15NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max15NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 15 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max30Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 30  characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max60Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max60Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 60  characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max6Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionalDividendAccountQuantitySD2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OptionalDividendAccountQuantitySD2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding optional dividend election details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BnfclOwnrQty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficialOwnerQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Beneficial owner quantity to be paid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NbOfAccts" type="Max15NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfAccounts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of accounts for which the beneficial quantity is elected.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxExemptQuantitySD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TaxExemptQuantitySD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Tax exempt election details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrlId" type="Max6Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ControlIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax control ID.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Elected quantity. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WireInstructionSD2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">WireInstructionSD2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Payment wire instruction details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WireQty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WireQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities concerned in this wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkNm" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkAdr" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Street address of the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkCity" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankCity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">City of the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkCtry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankCountry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkAttnTo" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankAttentionTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Responsible person in the recipient back for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkCmnts" type="Max60Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankComments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notes or comments for the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BnfcryAcct" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account type at the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BnfcryAcctId" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account identification at the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BnfcryAcctCmnts" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryAccountComments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notes or comments for the beneficiary account at the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
