WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.tsmt.038.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:01, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.038.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.038.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="BICIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="StsRptReq" type="StatusReportRequestV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReportRequestV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusReportRequestV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The StatusReportRequest message is sent by a party involved in a transaction to the matching application.&#13;
This message is used to request a report on the status of transactions registered in the matching application.&#13;
Usage&#13;
The StatusReportRequest message can be sent by either party involved in a transaction to request a report on the status and sub-statuses of all transactions that the requester is involved in.&#13;
The application will respond to the request by sending a StatusReport message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ReqId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the request message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NttiesToBeRptd" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntitiesToBeReported</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the entities of the submitter for which the transactions have to be reported. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
