WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.008.002.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:36, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.008.002.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.008.002.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancellationReason3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationReason3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for requesting the cancellation of a payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestedByCustomer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation requested by the Debtor.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DuplicatePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is a duplicate of another payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Agent in the payment workflow is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CURR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency of the payment is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPAY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnduePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is not justified.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM23">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientDebtorDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient or incoherent details about the debtor with respect to regulatory requirements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM24">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientCreditorDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient or incoherent details about the creditor with respect to regulatory requirements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Case">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information identifying a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique id assigned by the case creator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cretr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Creator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that created the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReopCaseIndctn" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReopenCaseIndication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set to yes if the case was closed and needs to be re-opened.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CaseAssignment">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CaseAssignment</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Represents the assignment of a case to a party. Assignment is a step in the overall process of managing a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an assignment within a case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgnr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assigner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that assigns the case to another party. This is also the sender of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgne" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that the case is assigned to. This is also the receiver of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the assignment was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DebitAuthorisationDetails2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DebitAuthorisationDetails2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the reason for requesting a debit authorisation as well as the amount of the requested debit.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CxlRsn" type="CancellationReason3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the reason for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtToDbt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmountToDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDtToDbt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueDateToDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value date for debiting the amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.008.002.02" type="camt.008.002.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentInstructionExtract2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstructionExtract2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of a payment instruction. The information contained in this component is sufficient to retrieve a payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlMsgNmId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalMessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the original message name identifier to which the message refers, eg, pacs.003.001.01 or MT103.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlInstrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalInstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original unique instruction identification as assigned by an instructing party for an instructed party to unambiguously identify the original instruction.

Usage: the original instruction identification is the original point to point reference used between the instructing party and the instructed party to refer to the original instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="InstdAmt" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InstructedAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntrBkSttlmAmt" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InterbankSettlementAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:choice>
                <xs:element name="ReqdExctnDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RequestedExecutionDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date the debtor requests the clearing agent to process the payment instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntrBkSttlmDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InterbankSettlementDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="camt.008.002.02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestToCancelPaymentV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The Request To Cancel Payment message is sent by a case creator/case assigner to a case assignee.&#13;
This message is used to request the cancellation of an original payment instruction.&#13;
Usage&#13;
The Request To Cancel Payment message must be answered with a:&#13;
- Resolution Of Investigation message with a positive final outcome when the case assignee can perform the requested cancellation&#13;
- Resolution Of Investigation message with a negative final outcome when the case assignee may perform the requested cancellation but fails to do so (too late, irrevocable instruction, ...)&#13;
- Reject Case Assignment message when the case assignee is unable or not authorised to perform the requested cancellation&#13;
- Notification Of Case Assignment message to indicate whether the case assignee will take on the case himself or reassign the case to a subsequent party in the payment processing chain.&#13;
A Request To Cancel Payment message concerns one and only one original payment instruction at a time. If several original payment instructions need to be cancelled, then multiple Request To Cancel Payment messages must be sent.&#13;
When a case assignee successfully performs a cancellation, it must return the corresponding funds to the case assigner. It may provide some details about the return in the Resolution Of Investigation message.&#13;
The processing of a request to cancel payment case may end with a Debit Authorisation Request message sent to the creditor by its account servicing institution.&#13;
The Request To Cancel Payment message may be used to escalate a case after an unsuccessful request to modify the payment. In this scenario, the case identification remains the same as in the original Request To Modify Payment message and the element ReopenCaseIndication is set to 'Yes' or 'true'.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Assgnmt" type="CaseAssignment">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the assignment of a case from an assigner to an assignee.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Case" type="Case">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Undrlyg" type="PaymentInstructionExtract2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Underlying</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the payment instruction to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Justfn" type="DebitAuthorisationDetails2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Justification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the reason for requesting the cancellation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
