WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.fxtr.016.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 Mar 12 14:28:44, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013 This schema is a component of the SWIFT Standards Developer Kit.  

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:fxtr.016.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:fxtr.016.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AgreedRate1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information needed to process a currency exchange or conversion.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The value of one currency expressed in relation to another currency. ExchangeRate expresses the ratio between UnitCurrency and QuotedCurrency (ExchangeRate = UnitCurrency/QuotedCurrency).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuotedCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency into which the base currency is converted, in a currency exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountsAndValueDate1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountsAndValueDate1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the value date and the amounts traded in a foreign exchange transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradgSdBuyAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideBuyAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency and amount bought in a foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradgSdSellAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideSellAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency and amount sold in a foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the trade is settled, ie, the amounts are due.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaseOneRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a decimal, eg, 0.7 is 7/10 and 70%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ContactInformation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContactInformation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Communication device number or electronic address used for communication.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaxNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a FAX number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TelNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TelephoneNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a phone number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address for electronic mail (e-mail).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradInstrCxl" type="ForeignExchangeTradeInstructionCancellationV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTradeInstructionCancellationV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForeignExchangeTradeInstructionCancellationV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This message is used to cancel a foreign exchange trade created by the sender .</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradInf" type="TradeAgreement4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information related to the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSdId" type="TradePartyIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party(ies) on the trading side of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySdId" type="TradePartyIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartySideIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party(ies) on the counterparty side of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrdRate" type="AgreedRate1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AgreedRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange rate as agreed by the traders.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSdSttlmInstrs" type="SettlementParties1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSideSettlementInstructions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement instructions for the amounts received by the trading side.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtySdSttlmInstrs" type="SettlementParties1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartySideSettlementInstructions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement instructions for the amounts received by the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnlGnlInf" type="GeneralInformation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionalGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the trade is a block or an individual trade. It also contains supplementary information such as free format information, broker's identification, dealing branches and references.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradAmts" type="AmountsAndValueDate1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeAmounts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amounts of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FundIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Distinct pool of financial instruments managed by a single investment policy. May or not be part of an umbrella fund.The pool is issued in at least one investment fund class.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FndId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the investment fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctIdWthCtdn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentificationWithCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the account of the fund held with the custodian.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtdnId" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodianIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the custodian which services the account of the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeneralInformation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GeneralInformation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information concerning the negotiation process leading to a treasury trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BlockIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the trade is a block or single trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdTradRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedTradeReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a preceeding transaction, for example, an option or swap.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgMtd" type="Trading1MethodCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Method used by the trading parties to negotiate and/or execute a deal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrId" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BrokerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the broker which arranged the deal between the trading side and the counterparty side or, when two money brokers are involved, between the trading side and the other money broker.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrPtyRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CounterpartyReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Counterparty's reference for the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrsComssn" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BrokersCommission</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Brokerage fee for a broker confirmation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SndrToRcvrInf" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SenderToReceiverInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver and applies to the whole message</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgBrnchTradgSd" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingBranchTradingSide</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the branch at the counterparty side with which the deal was done.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DealgBrnchCtrPtySd" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DealingBranchCounterpartySide</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the branch at the counterparty side with which the deal was done.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctInf" type="ContactInformation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContactInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the name and/or electronic address of the the receiver of the message who may be contacted for any queries concerning this trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification22">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification22</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification8Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification8Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a choice between a BIC or a name and address.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NmAndAdr" type="NameAndAddress8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address and Alternative Identifier of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BICOrBEI" type="PartyIdentification22">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a BIC and an Alternative Identifier.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The collection of information which identifies a specific phone or FAX number as defined by telecom services.
It consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" and finally, any combination of numbers, "(", ")", "+" and "-" (up to 30 characters).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementParties1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a settlement party by a choice between a BIC or a name and address.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryAgt" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution from which cash will be transferred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Intrmy" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party, within the settlement chain, between the delivery and receiving agents.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcvgAgt" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the financial institution where the payee will receive the funds.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryInstn" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the ultimate institution that will receive the funds when different than the trading or counterparty side.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeAgreement4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeAgreement4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Date and identification of a trade together with references to previous events in its life.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the trading parties agree to amend or cancel the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NtfctnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the notification.This identification must be unique amongst all notifications of same type confirmed by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CmonRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommonReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference common to both parties of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdOrCclRsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendOrCancelReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the reason for the cancellation or the amendment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RltdRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Refers to the identification of a previous event in the life of a trade which is amended or cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OprTp" type="Max4Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of  underlying transaction, for example, option.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OprScp" type="Max4Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationScope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the business role between the submitter and the trade party, for example Agent (AGNT).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradePartyIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradePartyIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FndInf" type="FundIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the fund which is one of the parties in a treasury trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubmitgPty" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmittingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party which submits a treasury trade to a matching system or to a settlement system or to a counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradPty" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the party which originated a treasury trade. This party may be the same as the submitting party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Trading1MethodCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Trading1MethodCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the method used for the negotiation and execution of the trade.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Electronic</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade executed through an electronic trading system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PHON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Phone</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade executed over the phone.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BROK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Broker</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade executed through a broker.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
