WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.sese.010.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:12, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:sese.010.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:sese.010.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalReference2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business reference of a message assigned by the party issuing the message. This reference must be unique amongst all messages of the same name sent by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancellationCompleteStatusReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationCompleteStatusReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for a cancellation complete status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByYourself</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by yourself.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledBySystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSUB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by the agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other (see additional information).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancellationRejectedReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationRejectedReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for a cancellation rejected status</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CutOffTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been received after the cut-off time.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlreadyExecuted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is already executed and confirmation has been sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CancellationStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the cancellation status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="STNP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SentToNextParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation instruction / request has been sent to the next party, ie, the next intermediary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation instruction / request has been received and has been acknowledged / accepted for further processing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation instruction / request is pending. It is not known at this time whether cancellation can be effected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationStatusAndReason">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationStatusAndReason</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status of a transfer cancellation instruction and the reason for the status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Sts" type="TransferCancellationStatus">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the transfer cancellation instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Rjctd" type="TransferCancellationRejectedStatus1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of transfer cancellation is rejected.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Cmplt" type="TransferCancellationCompleteStatusChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the transfer cancellation is complete. The cancellation instruction has been accepted and processed, the cancellation is complete.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInitr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusInitiator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that initiates the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="sese.010.001.01" type="sese.010.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LongPostalAddress1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LongPostalAddress1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ustrd" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unstructured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Strd" type="StructuredLongPostalAddress1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in a formal structure.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StructuredLongPostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StructuredLongPostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the building or house.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtBldgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetBuildingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Floor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Floor or storey within a building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistrictName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a district, ie, a part of a town or region.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RgnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an administrative division of a country, state, or territory.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Stat" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">State</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organised political community or area forming a part of a federation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtyId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="POB" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostOfficeBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationCompleteReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferCancellationCompleteReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the complete status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="CancellationCompleteStatusReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for a complete status in structured form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the reason for the complete status in textual form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationCompleteStatusChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferCancellationCompleteStatusChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the complete status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="TransferCancellationCompleteReason1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason of the complete status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DataSrcSchme" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DataSourceScheme</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification for a reason of a complete status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationRejectedStatus1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferCancellationRejectedStatus1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the rejected status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="TransferCancellationRejectionReason1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason of the rejected status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DataSrcSchme" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DataSourceScheme</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification for a reason of a rejected status in the report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationRejectionReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferCancellationRejectionReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the rejected status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="CancellationRejectedReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for a rejected status in structured form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the reason for the rejected status in textual form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferCancellationStatus">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferCancellationStatus</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cancellation status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="CancellationStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the transfer cancellation instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the status in textual form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sese.010.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferCancellationStatusReport</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The TransferCancellationStatusReport message is sent by an executing party to the instructing party.&#13;
The message gives the status of a transfer cancellation instruction that was previously sent by the instructing party.&#13;
Usage&#13;
The TransferCancellationStatusReport message is sent by an executing party to the instructing party. The message can be used to report that either&#13;
- the cancellation has been acted upon or&#13;
- the cancellation is rejected.&#13;
In both cases, the reason must be specified using either a code or unstructured information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="2" minOccurs="1" name="RltdRef" type="AdditionalReference2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrRef" type="AdditionalReference2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherReference</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reference to the linked message sent in a proprietary way or the reference of a system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="StsRpt" type="CancellationStatusAndReason">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the transfer cancellation instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
