WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.$ahV10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 30 10:13:51, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:$ahV10" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:$ahV10">
    <xs:element name="AppHdr" type="ApplicationHeader"/>
    <xs:complexType name="ApplicationHeader">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ApplicationHeader</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The application header is the first element of the RequestPayload element. The payload contains the document which contains the business document. This may be an ISO 20022 message or a SWIFT proprietary message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="From" type="EntityIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the application that has created the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="To" type="EntityIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the receiving application for which the document is created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcName" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServiceName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the SWIFTNet service to which the message belongs.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgName" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A unique structured identifier that identifies the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgRef" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The sending application defines this unique identifier for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CrDate" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dup" type="DuplicateIndication">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when the sending application has already tried to send the document to the receiving application.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DuplicateIndication">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DuplicateIndication</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reference to another message indicating that the containing message is a	duplicate of the referenced message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the original message, in case this is a duplicate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Info" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Justification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information about the duplicate.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EntityIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntityIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a business entity, eg, corporate or financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Type" type="Max4Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identification, eg, BIC or URI.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Id" type="Max30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntityIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Actual identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max30Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max30Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 30  characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
