WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.sese.019.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:36, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:sese.019.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:sese.019.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Account5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account between an investor(s) and a fund manager or a fund. The account can contain holdings in any investment fund or investment fund class managed (or distributed) by the fund manager, within the same fund family.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Designation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Svcr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Servicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Account6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Account6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account between an investor(s) and a fund manager or a fund. The account can contain holdings in any investment fund or investment fund class managed (or distributed) by the fund manager, within the same fund family.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Designation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Servicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalReference3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business reference of a message assigned by the party issuing the message. This reference must be unique amongst all messages of the same name sent by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateSecurityIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary or domestic identification scheme that uniquely identifies a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BelgianIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BelgianIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier for Belgian securities.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BloombergIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CUSIPIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. Non-US securities have a similar number called the CINS number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConsolidatedTapeAssociationIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ReqForPEPOrISAOrPrtflInfV01" type="RequestForPEPOrISAOrPortfolioInformationV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DutchIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DutchIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier for Dutch securities.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EuroclearClearstreamIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg. The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Extended350Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extended350Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code and / or description for values that are not yet part of the related code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extension1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument12">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrument12</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Security that is a sub-set of an investment fund, and is governed by the same investment fund policy, eg, dividend option or valuation currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security, assigned under a formal or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the financial instrument in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GenderCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenderCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the gender of a person.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Male</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Individual is a male.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Female</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Individual is a female.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISAType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISAType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the current year ISA.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MINE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiniEquity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of ISA that offers a stocks and shares component only (no cash).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MAXI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Maxi</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of ISA that must offer a stocks and shares component and, optionally, a cash component.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MINC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiniCash</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of ISA that offers a cash component only (no stock).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ANYI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Any</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Any ISA.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ISAYearsOfIssue2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISAYearsOfIssue2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Year in which the ISA plan is issued.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="CurYrTp" type="ISAType2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CurrentYearType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">ISA that was issued during the current fiscal year.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedCurYrTp" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedCurrentYearType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Current year ISA is an ISA that was issued during the current fiscal year.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsYrs" type="PreviousYearChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousYears</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Selection of investment plans issued during previous years.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYear">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOYear</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Year represented by YYYY (ISO 8601)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:gYear"/>
    </xs:simpleType>
    <xs:complexType name="IndividualPerson8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IndividualPerson8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Human entity, as distinguished from a corporate entity (which is sometimes referred to as an 'artificial person').</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GvnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GivenName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First name of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NamePrefix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the terms used to formally address a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NmSfx" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameSuffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about a person that follows a person's name, eg, qualification such as Doctor of Philosophy (PhD).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Gndr" type="GenderCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Gender</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the gender of the person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BirthDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BirthDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which a person is born.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SclSctyNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SocialSecurityNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a social security agency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndvInvstrAdr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndividualInvestorAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NamePrefix1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the terms used to formally address a person.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Doctor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Title of the person is Doctor or Dr.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MIST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mister</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Title of the person is Mister or Mr.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Miss</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Title of the person is Miss.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MADM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Madam</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Title of the person is Madam.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Organisation4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Organisation4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Organised structure that is set up for a particular purpose, eg, a business, government body, department, charity, or financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Purp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Purpose</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purpose of the organisation, eg, charity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxtnCtry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxationCountry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of taxation of an organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnCtry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationCountry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country in which the organisation is registered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which a given organisation was officially registered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxIdNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a tax authority to an entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NtlRegnNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NationalRegistrationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned by a national registration authority to an entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CorpInvstrAdr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateInvestorAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PEPISATransfer5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PEPISATransfer5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Describes the type of product and the assets to be transferred.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MasterReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a group of individual transfers as assigned by the instructing party. This identifier links the individual transfers together.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrfId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransferIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by the new plan manager to each transfer of asset.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="ISA" type="ISAYearsOfIssue2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISA</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">UK government schemes to encourage individuals to invest in securities based unit and investment trusts, offering certain tax benefits. These are not investment in their own right but are tax exempt wrappers in which individuals can hold equities, bonds and funds to shelter them from income and capital gains tax. 
The Personal Equity Plan (PEP) and the Individual Savings Account (ISA) are provided only by UK based financial institutions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PEP" type="PreviousYearChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PEP</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">UK government schemes to encourage individuals to invest in securities based unit and investment trusts, offering certain tax benefits. These are not investment in their own right but are tax exempt wrappers in which individuals can hold equities, bonds and funds to shelter them from income and capital gains tax. 
The Personal Equity Plan (PEP) and the Individual Savings Account (ISA) are provided only by UK based financial institutions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtfl" type="Portfolio1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Portfolio</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Wrapper for a specific product or a specific sub-product owned by a set of beneficial owners.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmAsstForTrf" type="FinancialInstrument12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAssetForTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying assets for the PEP, ISA or portfolio.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Portfolio1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Portfolio1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Describes the characteristics of a portfolio.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="5" minOccurs="0" name="PrtflInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PortfolioInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information related to the portfolio.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PreviousAll">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PreviousAll</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates that the investment plan issued during  all the previous years have to be transferred.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PreviousYearChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PreviousYearChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between selected investment plans issued during previous years or the entirety of the investment plans.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AllPrvsYrs" type="PreviousAll">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AllPreviousYears</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Selection ot the entirety of the investment plans.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="SpcfcPrvsYrs" type="ISOYear">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SpecificPreviousYears</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Selection of investment plans issued during previous years.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QUICKIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, eg, IBM in UK is IBM.UK.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestForPEPOrISAOrPortfolioInformationV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestForPEPOrISAOrPortfolioInformationV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An instructing party, eg, a (new) plan manager sends the RequestForPEPorISAOrPortfolioInformation message to the executing party, eg, a (old) plan manager, on behalf of the initiating party, eg, an investor (client), to request information about financial instruments held on behalf of the client.&#13;
Usage&#13;
The RequestForPEPOrISAOrPortfolioInformation message is used to request information about one or more PEP or ISA or portfolio products held in a client's account for which it intends to instruct a transfer at a later time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgRef" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoolReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsRef" type="AdditionalReference3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryIndvInvstr" type="IndividualPerson8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PrimaryIndividualInvestor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information identifying the primary individual investor, eg, name, address, social security number and date of birth.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryIndvInvstr" type="IndividualPerson8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecondaryIndividualInvestor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information identifying the secondary individual investor, eg, name, address, social security number and date of birth.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrIndvInvstr" type="IndividualPerson8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIndividualInvestor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information identifying other individual investors, eg, name, address, social security number and date of birth.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmryCorpInvstr" type="Organisation4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PrimaryCorporateInvestor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information identifying the primary corporate investor, eg, name and address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndryCorpInvstr" type="Organisation4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecondaryCorporateInvestor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information identifying the secondary corporate investor, eg, name and address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrCorpInvstr" type="Organisation4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherCorporateInvestor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information identifying the other corporate investors, eg, name and address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClntAcct" type="Account5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an account owned by the investor at the old plan manager (account servicer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NmneeAcct" type="Account6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NomineeAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account held in the name of a party that is not the name of the beneficial owner of the shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NewPlanMgr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewPlanManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the institution to which the financial instrument is to be transferred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PdctTrf" type="PEPISATransfer5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information related to the asset(s) transferred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SEDOLIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number. A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SEDOL" type="SEDOLIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SEDOL</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number.  A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CUSIP" type="CUSIPIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CUSIP</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. The CUSIP is composed of a 9-character number that uniquely identifies a particular security.  Non-US securities have a similar number called the CINS number.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RIC" type="RICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, eg, IBM in UK is IBM.UK.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TckrSymb" type="TickerIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TickerSymbol</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Blmbrg" type="BloombergIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Bloomberg</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CTA</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="QUICK" type="QUICKIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QUICK</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Wrtppr" type="WertpapierIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Wertpapier</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Wertpapier Kenn-nummer.  A number issued in Germany by the Wertpapier Mitteilungen. The Wertpapier Kenn-nummer, sometimes called WPK, contains 6-digits, but no check digit. There are different ranges of numbers representing different classes of securities.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Dtch" type="DutchIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Dutch</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier for Dutch securities.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Vlrn" type="ValorenIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Valoren</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier for Swiss securities assigned by Telekurs Financial, the Swiss numbering agency.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SCVM" type="SicovamIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Sicovam</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier for French securities assigned by the Societe Interprofessionnelle Pour La Compensation des Valeurs Mobilieres in France.  The Sicovam is composed of 5-digits.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Belgn" type="BelgianIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Belgian</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier for Belgian securities.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Cmon" type="EuroclearClearstreamIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Common</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg.  The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrPrtryId" type="AlternateSecurityIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SicovamIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SicovamIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier for French securities assigned by the Societe Interprofessionnelle Pour La Compensation des Valeurs Mobilieres in France. The Sicovam is composed of 5-digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TickerIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ValorenIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ValorenIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier for Swiss securities assigned by Telekurs Financial, the Swiss numbering agency.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="WertpapierIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">WertpapierIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Wertpapier Kenn-nummer. A number issued in Germany by the Wertpapier Mitteilungen.The Wertpapier Kenn-nummer, sometimes called WPK, contains 6-digits, but no check digit. There are different ranges of numbers representing different classes of securities.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
