WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.009.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:06, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.009.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.009.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionGeneralInformationSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformationSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action general information details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecordDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date at which positions are stuck at the end of the day to note which parties will receive the relevant amount of entitlement, due to be distributed on payment date. DTC  (The Depository Trust Corporation) and its Participants may use this as a reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionMovementCashMovementDetailsSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionMovementCashMovementDetailsSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action movement details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the value is a debit or a credit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmt" type="RestrictedFINActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Resulting cash amount concerned in this transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRsnCd" type="DTCAdjustmentPaymentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ContraPtcptNb" type="Max8Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContraParticipantNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction contra participant identification when shares are distributed / delivered to / from another participant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat22Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarliestPaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/Time on which the posting / draft of  cash is scheduled to take place for a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionMovementSecuritiesMovementDetailsSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionMovementSecuritiesMovementDetailsSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action movement securities movement rate details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the value is a debit or a credit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxQty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Resulting quantity of securities concerned in this transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RsnCd" type="DTCAdjustmentPaymentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ContraPtcptNb" type="Max8Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContraParticipantNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction contra participant identification when shares are distributed / delivered to / from another participant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat22Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarliestPaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/Time on which the posting / draft of the securities is scheduled to take place for a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DTCAdjustmentPaymentType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCAdjustmentPaymentType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specified the type of the payment adjustment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="STOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockLoanPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Stock loan transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepoPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">REPO (repurchase agreement) transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FAIL (undelivered securities) transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiscellaneousPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Miscellaneous (adjustment) transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DTCCCAPASD1V01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCAPASD1V01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCAPASD1 messge extends ISO corporate action movement preliminary advice message with DTCC corporate action elements not covered in the standard message. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnGnlInf" type="CorporateActionGeneralInformationSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Extension block for the information to be extended as corporate action general information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnMvmntSctiesMvmntDtls" type="CorporateActionMovementSecuritiesMovementDetailsSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionMovementSecuritiesMovementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Extension block for the information to be extended as corporate action movement securities movement details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnMvmntCshMvmntDtls" type="CorporateActionMovementCashMovementDetailsSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionMovementCashMovementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Extension block for the information to be extended as corporate action movement cash movement details.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateCode12Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateCode12Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a proprietary code for a date code.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="DateType8Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the type of date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the type of date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat22Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat22Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an ISODate or ISODateTime format or a date code.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtCd" type="DateCode12Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType8Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateType8Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of dates.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date is unknown by the sender or has not been established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONGO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ongoing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ongoing basis,  which indicates that the date is determined by "ongoing basis" process, for example "au fil de l'eau".</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCAPASD1" type="DTCCCAPASD1V01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity15Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification25">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification25</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max8Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 8 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
