WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.fxtr.008.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 Mar 12 14:28:43, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013 This schema is a component of the SWIFT Standards Developer Kit.  

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:fxtr.008.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:fxtr.008.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXAndDerivTradStsNtfctn" type="ForeignExchangeAndDerivativeTradeStatusNotificationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeAndDerivativeTradeStatusNotificationV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForeignExchangeAndDerivativeTradeStatusNotificationV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This message is sent by a central system to the participant to provide notification of the current status of a foreign exchange or derivative trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradData" type="TradeData6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on the status of a trade in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Status6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TradeStatus4Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status expressed as a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status expressed as a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeData6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the status of a trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NtfctnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the identification of the notification for which the status is given, as assigned by the participant that submitted the foreign exchange or derivative trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtchgSysUnqRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemUniqueReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the unique system identification assigned to the trade  by the central matching system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSysMtchgRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemMatchingReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the unique matching identification assigned to the trade and to the matching trade from the counterparty by the central matching system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrgtr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusOriginator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that assigned the status to the foreign exchange or derivative trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CurSts" type="Status6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the new status of a trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsSubTp" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusSubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information on the current status of a trade in a central system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date and time at which the current status was assigned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsSts" type="Status6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the previous status of a trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsSubTp" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatusSubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information on the previous status of a trade in a central system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatusDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date and time at which the previous status was assigned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the product for which the status of the confirmation is reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeStatus4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeStatus4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of a trade in a central matching and settlement system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Matched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is matched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been marked not ready for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been selected for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is not authorised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unmatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is unmatched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Split</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been split into subtrades for settlement efficiency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Invalid</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMNA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMemberNotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has not been authorised by the settlement member guaranteeing payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rescinded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rescinded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMemberAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been authorised by the settlement member guaranteeing payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Validated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is validated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegulatoryChecked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade passed regulatory check.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchedValued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Both the Opening and the Valuation details of an NDF trade have been matched with corresponding details of a counterparty's NDF trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PSTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallySettled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Part, but not all, of a Trade's value has settled, and no further elements of the Trade's value are expected to be settled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegulatorySuspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is suspended for regulatory reasons.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SRJC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementRejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade settlement is rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPMA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionMature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option has matured.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
