WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seti.012.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:04, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seti.012.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seti.012.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BasisPriceType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BasisPriceType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a data source scheme to determine the basis price type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="BasisPriceType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basis price type is defined using a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basis price type is defined using a data source scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BasisPriceType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BasisPriceType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Basis price type in a bid order. Used for list trading.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MSCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MorningSessionClosePrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Closing price at morning session.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosingPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Closing price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CURR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Current price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPQO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecialQuotation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price computed after a trading halt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VWPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VWAPDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value weighted average price through the day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VWPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VWAPMorning</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value weighted average price through a morning session.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VWPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VWAPAfternoon</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value weighted average price through an afternoon session.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STIK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StrikePrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exercise price defined on a derivative product.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OpenPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price of a trade opening session.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Bid1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Bid1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Attempt to buy or sell a large number of financial instruments contained in or comprising a portfolio.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClntBidId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientBidIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for a Bid Request as assigned by institution. Uniqueness must be guaranteed within a single trading day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ListNm" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ListName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the name of the order list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BidId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the bid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlNbScties" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total number of distinct financial instruments for which the bid is applicable.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgForPhysInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeForPhysicalIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether or not to exchange for physical.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FrgnXchgExctnReqdInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignExchangeExecutionRequestedIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates a request for a foreign exchange accommodation trade to be executed along with security transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradTp" type="TradeType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the type of transaction of which the order is a component.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbTckts" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberTickets</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Expected total number of tickets/allocations to be fully executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrgrsRptInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProgressReportIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the request to receive a report on the progress of the order or not.

A 'Yes' value means a request for regular status messages to be sent.
A 'No' value means no request to receive regular status messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrgrsPrdIntrvl" type="ISOTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProgressPeriodInterval</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the interval period in minutes between each ListStatus you wish to receive.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfBddrs" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNumberOfBidders</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the total number of bidders participating to a list trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date/time on which the trade was executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StrikeTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time at which current market prices are used to determine the value of a basket.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BsisPricTp" type="BasisPriceType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BasisPriceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the basis price type in a bid order (list trading).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LqdtyAndSttstcs" type="LiquidityAndStatistics1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityAndStatistics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General details about the liquidity of the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CopyDuplicate1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COPY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="NonDscldBidReq" type="NonDisclosedBidRequest"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the document (message) was created by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExchangeForPhysicalTradeParameters1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExchangeForPhysicalTradeParameters1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technique whereby a position in the underlying is traded for a futures position in the physical commodity markets.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OutsdIndx" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutsideIndex</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unexpected divergence between the price behaviour of an underlying position or portfolio and the price behaviour of a hedging position or benchmark.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FairVal" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FairValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Difference between the value of a future and the value of the underlying equities after allowing for the discounted cash flows associated with the underlying stocks.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ValForFutrs" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueForFutures</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of a futures position involved in an Exchange For Physical trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="Liquidity1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Liquidity1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Ability of a financial instrument to be easily traded and converted to cash, at conditions that do not affect its price.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Market value of the securities position for which liquidity details are provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfScties" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of securities for which liquidity range details are provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Upper" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Upper</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Upper liquidity indicator, represented as a percentage of the average trade daily volume.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Lwr" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Lower</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Lower liquidity indicator, represented as a percentage of the average trade daily volume.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LiquidityAndStatistics1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LiquidityAndStatistics1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Ability of a financial instrument to be easily traded and converted to cash, at conditions that do not affect its price.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="GrssInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GrossIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether an amount is a gross amount (including all charges, commissions and tax), or a net amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndTp" type="LiquidityIndicatorType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndicatorType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of liquidity measure, of a financial instrument, on a market.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WghtdAvrgLqdty" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WeightedAverageLiquidity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the overall weighted average liquidity expressed as a percentage of average daily volume.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutMainCtryIndx" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutMainCountryIndex</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Accepted value of stocks composing an index located outside its country of origin.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CrossPct" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossPercent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage of program that crosses in Currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SdVal1" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SideValue1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SideValue1 is used to show the monetary total value in either direction (buy or sell) of the transaction without revealing whether it is the buy-side institution&#146;s intention to buy or sell.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SdVal2" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SideValue2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SideValue2 is used to show the monetary total value in either direction (buy or sell) of the transaction without revealing whether it is the buy-side institution&#146;s intention to buy or sell.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LiquidityIndicatorType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LiquidityIndicatorType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market and statistic conditions upon which a liquidity indicator has been computed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FIVE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FiveDayMovingAverage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Computation is on the average value of the price of a security over a period of five days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TWEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TwentyDayMovingAverage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Computation is on the average value of the price of a security over a period of 20 days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NORM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NormalMarketSize</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Computation is on the standard market conditions and volume.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max128Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 128 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NonDisclosedBid1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NonDisclosedBid1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">List trading by which the buy-side provides details to the sell-side information about the sector, country, index and potential market impact of the financial instrument to be bought or sold. Using this information, the sell-side firms bid for the trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BidByCcy" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidByCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of bid based on a common characteristic (the currency) of all securities of a list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BidBySctr" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidBySector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of bid based on a common characteristic (the sector) of all securities of a list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BidByIndx" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidByIndex</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of bid based on a common characteristic (the index) of all securities of a list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SdInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SideIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the side of the bid in the case of a non disclosed bidding process. Used instead of buy and sell side.
True = Side 1
False = Side 2</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Lqdty" type="Liquidity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Liquidity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additionnal details about the liquidity of a financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XchgForPhysTrad" type="ExchangeForPhysicalTradeParameters1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeForPhysicalTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details about the exchange for physical trade parameters.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonDisclosedBidRequest">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NonDisclosedBidRequest</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An instructing party, eg, an investment manager, sends the NonDisclosedBidRequest message to an executing party, eg, a broker, to request a bid based on the sector, country, index and liquidity information contained within the message itself.&#13;
Usage&#13;
In the "Non disclosed" convention, the bidding process is done by exchanging the NonDisclosedBidRequest and the NonDisclosedBidResponse messages. The ListOrder message enumerates the financial instruments, the quantities and the direction for the trade. This message may contain pre-allocation information and is sent after the bidding process has been completed (by telephone or electronically).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the identification and creation date of a document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BidDtls" type="Bid1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the details for bidding on a large number of securities contained in or comprising a portfolio. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NonDscldBidDtls" type="NonDisclosedBid1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonDisclosedBidDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details about the bid request in the the context of a non disclosed convention.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradeType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of executed order in a bidding process.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RISK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RiskTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade involving risk</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VWAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VWAPGuarantee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade whose price is guaranteed as the weighted average of the trade prices on a specific day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade in which an agent intermediates between a buyer and a seller.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GUAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GuaranteedClose</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade which is guaranteed to be finalized</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
