WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.tsmt.022.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:00, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.022.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.022.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MisMtchRjctn" type="MisMatchRejectionV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MisMatchRejectionV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MisMatchRejectionV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The MisMatchRejection message is sent by the party requested to accept or reject data set mis-matches to the matching application.&#13;
This message is used to reject mis-matches between data sets and the related baseline.&#13;
Usage&#13;
The MisMatchRejection message can be sent by the party requested to accept or reject data set mis-match to inform that it rejects the data set(s).&#13;
The message can be sent in response to a DataSetMatchReport message conveying mis-matches.&#13;
The information about the rejection of the mis-matched data sets will be forwarded by the matching application to the submitter of the data sets by a MisMatchRejectionNotification message.&#13;
The acceptance of mis-matched data sets can be achieved by sending a MisMatchAcceptance message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RjctnId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the rejection message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxId" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the matching application to the transaction.
This identification is to be used in any communication between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitrTxRef" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitterTransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the transaction for the requesting financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DataSetMtchRptRef" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetMatchReportReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the identification of the report that contained the difference. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RjctnRsn" type="RejectionReason1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason why the user cannot accept the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Reason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Reason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for an action.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed description of the rejection.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectedElement1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectedElement1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the rejection reason of an individual element.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ElmtSeqNb" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ElementSequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sequence number that allows to easily identify the element that is rejected.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IndvRjctnRsn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndividualRejectionReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for rejecting an individual element.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Allows the sender of the rejection message to indicate only one rejection reason that applies to the entire rejected message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="GblRjctnRsn" type="Reason2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">GlobalRejectionReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Rejection reason that applies to the whole report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="RjctdElmt" type="RejectedElement1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RejectedElement</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies a rejection reason for each individual element of a report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
