WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.tsmt.011.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:16, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.011.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.011.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="Action2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Action2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies which type of action a user should take.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitTwin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to submit a twin baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSTW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSubmitTwin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to resubmit a twin baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSubmitBaseline</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to resubmit a baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectDataSetMisMatches</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject mismatched data set(s).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectChangeOfStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for a change of status of the baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARES">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectExtensionOfStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for an extension of the period of validity of the status of the baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WAIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WaitForBaselineEstablished</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to wait until the baseline is established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateAndResend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to update and resend.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitDataSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to submit data set(s).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARBA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectBaselineAmendment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a request for a baseline amendment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARRO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptOrRejectBaselineAndRole</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to accept or reject a baseline and the role contained in it for the financial institution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CINR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CheckInvoiceReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request to check invoice number because it was not found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BICIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BaselineReportV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaselineReportV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The BaselineReport message is sent by the matching application to the parties involved in an amendment request or to the parties involved in a data set match.&#13;
The message is used to report either a pre-calculation or final calculation of the dynamic part of an established baseline.&#13;
Usage&#13;
The BaselineReport message can be sent by the matching application to the parties involved in an amendment request for a transaction established in the push-through mode. In the outlined scenario, the message is sent&#13;
- to the party requested to accept or reject an amendment request after the matching application has received a BaselineAmendmentRequest message. The message informs about the provisional status of the dynamic part of the baseline.&#13;
- to the requester and the accepter of an amendment request after the matching application has received an AmendmentAcceptance message conveying the acceptance of the amendment request. The message informs about the actual status of the dynamic part of the baseline.&#13;
or&#13;
The BaselineReport message can be sent by the matching application to the party which has sent an amendment request for a transaction established in the lodge mode. In the outlined scenario the message is used to inform about the actual status of the dynamic part of the baseline.&#13;
or&#13;
The BaselineReport message can be sent by the matching application to the parties involved in a data set match. In the outlined scenario, the message is sent&#13;
- to the submitter of the data set(s) in the case of a data set match for a transaction established in the lodge mode.&#13;
- to the submitter of the data set(s) and to the counterparty in case of a data set match for a transaction established in the push-through mode.The message can be sent after a successful data-set match or after the acceptance of mis-matched data sets to inform about the actual status of the dynamic part of the baseline.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the report. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdMsgRef" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedMessageReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the related message at the origin of the report or sent at the same time than the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptTp" type="ReportType2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of baseline report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxId" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the matching application to the transaction.
This identification is to be used in any communication between the parties.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EstblishdBaselnId" type="DocumentIdentification6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EstablishedBaselineIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the matching application to the baseline when it is established.  </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxSts" type="TransactionStatus4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="2" minOccurs="0" name="UsrTxRef" type="DocumentIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UserTransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the transaction for each financial institution which is a party to the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Buyr" type="PartyIdentification26">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Buyer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that buys goods or services, or a financial instrument. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sellr" type="PartyIdentification26">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Seller</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that sells goods or services, or a financial instrument. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuyrBk" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyerBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The financial institution of the buyer, uniquely identified by its BIC. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SellrBk" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellerBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The financial institution of the seller, uniquely identified by its BIC. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptdLineItm" type="LineItem8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportedLineItem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information on the goods</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqForActn" type="PendingActivity2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestForAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information on the next processing step required.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BaselineStatus3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaselineStatus3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the status of a baseline.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proposed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initial state of a baseline in the push-through model.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Final state of a baseline, in which only reporting is allowed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyMatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the baseline when an initial and at least one twin baselines have been  submitted but it has not yet been agreed by all parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ESTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Established</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the baseline when it has been agreed by all parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Active</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when one or more instructions (eg, amendment request, data set submission) have been processed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when all match instructions have been processed, and no such instruction is allowed anymore.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendmentRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when an amendment has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RARQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReActivateRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when an reactivation has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CloseRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when a closure has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when a completion has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SERQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusExtensionRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline when a status extension has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DARQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetAcceptanceRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when data set acceptance has been requested by the matching engine and not all responses have been received from the relevant party(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BaselnRpt" type="BaselineReportV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and its issuer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a set of data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdIssr" type="BICIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Uniquely identifies the financial institution which has issued the identification of the set of data by using a BIC.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification and a version.
Also provides reference to a baseline amendment number.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a set of data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Vrsn" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the version of a set of data. Example: Version 1.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AmdmntSeqNb" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendmentSequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that is assigned sequentially by the TSU to a baseline amendment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier issued to a person for which no specific identifier has been defined.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the identifier.
Usage: IdentificationType is used to specify what kind of identifier is used. It should be used in case the identifier is different from the identifiers listed in the pre-defined identifier list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="LineItem8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LineItem8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Calculation of the current situation of a baseline as a result of the submission of a commercial data set.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="LineItmDtls" type="LineItemDetails8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LineItemDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Calculated information about the goods of the underlying transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdrdLineItmsTtlAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderedLineItemsTotalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Line items total amount as indicated in the baseline.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AccptdLineItmsTtlAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptedLineItemsTotalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Line items total amount accepted by a data set submission(s).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutsdngLineItmsTtlAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutstandingLineItemsTotalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Difference between the ordered and the accepted line items total amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PdgLineItmsTtlAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingLineItemsTotalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Line item total amount for which a mismatched data set has been submitted and has not yet been accepted or rejected.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdrdTtlNetAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderedTotalNetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total net amount as indicated in the baseline.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AccptdTtlNetAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptedTotalNetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total net amount accepted by a data set submission.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutsdngTtlNetAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutstandingTotalNetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total net amount for which a mismatched data set has been submitted and has not yet been accepted or rejected.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PdgTtlNetAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingTotalNetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Difference between the ordered and the accepted total net amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LineItemDetails8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LineItemDetails8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Calculation of the current situation of a line item as a result of the submission of a commercial dataset.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="LineItmId" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LineItemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sequential number assigned to a line item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the product detailed in the corresponding line item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdctIdr" type="ProductIdentifier2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the product of the corresponding line item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdctChrtcs" type="ProductCharacteristics1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductCharacteristics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the characteristic of a product.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdctCtgy" type="ProductCategory1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductCategory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the category of product.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdrdQty" type="Quantity4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderedQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity ordered for a line as indicated in the baseline.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AccptdQty" type="Quantity4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptedQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity accepted by data set submission.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutsdngQty" type="Quantity4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutstandingQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Difference between the ordered quantity and the accepted one.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PdgQty" type="Quantity4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of a product for which a mismatched data set has been submitted and has not yet been accepted or rejected..</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QtyTlrnce" type="PercentageTolerance1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityTolerance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Variance allowed on the quantity of goods.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrdrdAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OrderedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price multiplied by the ordered quantity for a line as indicated in the baseline.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AccptdAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price multiplied by the accepted quantity for a line.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OutsdngAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutstandingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price multiplied by the outstanding quantity for a line.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PdgAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price multiplied by the pending quantity for a line.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PricTlrnce" type="PercentageTolerance1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriceTolerance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Variance on price for the goods.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max15NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 15 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification26">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification26</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier assigned to a party using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstlAdr" type="PostalAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingActivity2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingActivity2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the event that require an action from one of the parties to the trade transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="Action2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code which specifies the next course of action that the receiver of the message must take.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further information on the course of action that the receiver of the message must take.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PercentageTolerance1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageTolerance1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Variance allowed on a quantity or on a price.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlusPct" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlusPercent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Variance in percentage allowed over the agreed dimension. For example, plus 10 percent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MnsPct" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinusPercent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Variance in percentage allowed below the agreed dimension. For example, minus 10 percent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductCategory1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductCategory1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the category of the product.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="ProductCategory1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product category by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctgy" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Category</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the category of a product.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductCategory1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductCategory1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that the category of a product may be indicated by a code or by free text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="StrdPdctCtgy" type="ProductCategory1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">StructuredProductCategory</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product category.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrPdctCtgy" type="GenericIdentification4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherProductCategory</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product category not present in the code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProductCategory1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductCategory1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the category of a product.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="HRTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HarmonizedTariffCodeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of goods as developed by the Customs Cooperation council.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QOTA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuotaCategory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Product identifier used by the retail industry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRGP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductGroup</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Product Group Code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOBU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LineOfBusiness</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Line of business code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GNDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Gender</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code for gender.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProductCharacteristics1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductCharacteristics1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the characteristic of a product.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="ProductCharacteristics1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product characteristic by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Chrtcs" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Characteristics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the characteristic of a product.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductCharacteristics1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductCharacteristics1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that the category of a product may be indicated by a code or by free text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="StrdPdctChrtcs" type="ProductCharacteristics1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">StructuredProductCharacteristics</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product characteristic.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrPdctChrtcs" type="GenericIdentification4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherProductCharacteristics</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product characteristic not present in the code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProductCharacteristics1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductCharacteristics1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the charateristics of a product.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BISP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyersItemSpecification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed product information as assigned by the buyer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHNR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ChassisNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier affixed by manufacturer to a chassis for identification purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Colour</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indication of the product colour.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EDSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EngineDisplacement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The total of the volume used for combustion inside the cylinders of an engine. This is expressed in cubic centimetres.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENNR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EngineNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier affixed by manufacturer to an engine for identification purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Option</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a sub-category of a product such as size, colour, etc.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ORCR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginCriterion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code assigned to the product describing how it will be stored.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PercentageByVolume</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage by volume.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SISP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellersItemSpecification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed product information as assigned by the seller.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SIZE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Size</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indication of the product size.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SZRG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SizeRange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Range of product sizes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPRM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecialRemarks</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Special remarks about a product.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StorageCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code assigned to the product describing how it will be stored.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VINR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VehicleIdentificationNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The identification number which uniquely distinguishes one vehicle from another through the lifespan of the vehicle.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProductIdentifier2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductIdentifier2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a product.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="ProductIdentifier2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product identifier by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Idr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the product identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductIdentifier2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductIdentifier2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a product in coded form or free text.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="StrdPdctIdr" type="ProductIdentifier2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">StructuredProductIdentifier</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product identifier.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrPdctIdr" type="GenericIdentification4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherProductIdentifier</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of product identifier not present in the code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProductIdentifier2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProductIdentifier2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of identifier of a product.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BINR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyersItemNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Product identifier assigned by the buyer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommercialDescriptionCodeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A code to identify a product based on applicable commercial conditions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EANC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EAN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The unique EAN (European Article Number) code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HRTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HarmonizedTariffCodeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of goods as developed by the Customs Cooperation council.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MANI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ManufacturersItemNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Product identifier as assigned by the manufacturer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ModelNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference number assigned by the manufacturer to differentiate variations in similar products in a class or group.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned by the manufacturer to a product part.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QOTA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuotaCategory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Product identifier used by the retail industry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STYL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StyleNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the style of a product.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUPI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SuppliersItemNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned to an article by the supplier of that article.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UniversalProductCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number assigned to a manufacturer's product by the Product Code Council.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Quantity4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the quantity of a product in a trade transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="UnitOfMeasrCd" type="UnitOfMeasure4Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UnitOfMeasureCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the unit of measurement. For example, kilo, tons.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrUnitOfMeasr" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherUnitOfMeasure</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifies the unit of measure not present in the code list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Val" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of a product on a line specified by a number. For example, 100 (kgs), 50 (pieces).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Fctr" type="Max15NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Factor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Multiplication factor of measurement values. For example: goods that can be ordered by 36 pieces.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportType2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportType2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="ReportType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the report is precalculated or current.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the baseline report is based on matching or pre-matching data sets.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PREC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Precalculated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The report is precalculated. This type of report is sent when an amendment is proposed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CURR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Current</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The report is calculated on the basis of a dataset matched with a baseline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionStatus4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnitOfMeasure4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnitOfMeasure4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the unit of measure by means of a code. The code is taken from UN/ECE Recommendation 20.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="KGM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Kilogram</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Basic unit of mass in the SI system, 1000 grams.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Each</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of count defining the number of items regarded as separate units.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GBTon</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of weight, in Britain 2240lb (long ton).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Metre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of length in the metric system, equal to 39.37 inches.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Inch</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of length equal to 2.54 cm.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Yard</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of length equal to 3 feet or 0.9144 metre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GLI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GBGallon</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to 8 GB pints.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GRM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Gram</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of measure that is equal to a 1,000th of a kilo.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Centimetre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">One 100th part of a metre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MTK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SquareMetre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a surface, one metre by one metre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Foot</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of length equal to 1/3 yard.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1A">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mile</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of length equal to 1,760 yards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SquareInch</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a surface, one inch by one inch.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FTK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SquareFoot</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a surface, one foot by one foot.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MIK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SquareMile</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a surface, one mile by one mile.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ounce</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of weight equal to a sixteenth of a pound.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PTI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GBPint</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to 568 cubic centimetres.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USPint</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to 473 cubic centimetres.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QTI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GBQuart</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to 2 GB pints.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USQuart</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to 2 US pints.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USGallon</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to 8 US pints.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Millimetre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of measure that is a thousandth of one metre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KTM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Kilometre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of measure that is equal to 1,000 meters.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="YDK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SquareYard</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a surface, one yard by one yard.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MMK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SquareMillimetre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a surface, one millimetre by one millimetre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CMK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SquareCentimetre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a surface, one centimetre by one centimetre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KMK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SquareKilometre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a surface, one kilometre by one kilometre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MMQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CubicMillimetre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to one thousandth of a litre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Centilitre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to one hundredth of a litre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Litre</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume that is equal to a thousand cubic centimetres.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LBR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pound</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of weight equal to 0.454 kilograms.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USTon</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of weight,  in the US 2000lb (short ton).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USBarrel</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume equal to 158,9873 litre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Box</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code for a box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bottle</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code for a bottle.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Carton</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code for a carton.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Container</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code for a container.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Crate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code for a crate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CubicInch</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a volume, one inch by one inch by one inch.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MTQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CubicMeter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of a volume, one meter by one meter by one meter.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OZI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GBFluidOunce</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume equal to 2,841 306 centilitre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OZA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USFluidOunce</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unit of volume equal to 2,957 353 centilitre.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code for a bag.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bale</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code for a bale.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TNE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MetricTon</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Measure of weight, equal to 1000 kilograms.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
