WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.039.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:19, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.039.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.039.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Case">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information identifying a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique id assigned by the case creator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cretr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Creator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that created the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReopCaseIndctn" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReopenCaseIndication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set to yes if the case was closed and needs to be re-opened.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CaseAssignment">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CaseAssignment</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Represents the assignment of a case to a party. Assignment is a step in the overall process of managing a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an assignment within a case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgnr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assigner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that assigns the case to another party. This is also the sender of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgne" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that the case is assigned to. This is also the receiver of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the assignment was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CaseStatus">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CaseStatus</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the status of an investigation case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CaseSts" type="CaseStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CaseStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstgtnSts" type="InvestigationExecutionConfirmation1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestigationStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the investigation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Free text justification of the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CaseStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CaseStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an investigation case.

Note: 
The Cases that have been rejected (not accepted) are unknown to the Party reporting the status of cases. They will be reported with the CaseStatusCode = Unknown.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CLOSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Case has been closed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assigned</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Case has been assigned to another party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderInvestigation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Case is currently under investigation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UKNW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Case has never been assigned before.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.039.001.01" type="camt.039.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="InvestigationExecutionConfirmation1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestigationExecutionConfirmation1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the result of an investigation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CNCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledAsPerRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a requested cancellation is successful.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ModifiedAsPerRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a requested modification is successful.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcceptedDebitAuthorisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a creditor accepts the debit authorisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IPAY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when the result of an investigation is, or will be, the initiation of a payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICOV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CoverInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a transfer of funds has been initiated (a cover payment) to resolve a case.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCOV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CoverModified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a transfer of funds has been modified (a cover payment) to resolve a case.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IPYI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentInstructionInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a payment instruction (eg. MT103) has been initiated to resolve a case.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformationSent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when additional information has been sent to the beneficiary of a payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmationOfPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a payment has been checked and was correctly executed without any intervention.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CWFW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationWillFollow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used when a payment will be cancelled to solve an investigation case.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportHeader">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies generic information about an investigation report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Fr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party reporting the status of the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="To" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party to which the status of the case is reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Creation date and time of the report generation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="camt.039.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CaseStatusReport</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope
The Case Status Report message is sent by a case assignee to a case creator or case assigner.
This message is used to report on the status of a case.
Usage
A Case Status Report message is sent in reply to a Case Status Report Request message. This message
- covers one and only one case at a time. (If a case assignee needs to report on several cases, then multiple Case Status Report messages must be sent.)
- may be forwarded to subsequent case assigner(s) until it reaches the end point
- is able to indicate the fact that a case has been assigned to a party downstream in the payment processing chain
- may not be used in place of a Resolution Of Investigation (except for the condition given in the next bullet point) or Notification Of Case Assignment message
- may be skipped and replaced by a Resolution Of Investigation message if at the moment when the request for a investigation status arrives, the assignee has obtained a solution. (In this case a Resolution Of Investigation message can be sent in lieu of a Case Status Report and the case may be closed.)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Hdr" type="ReportHeader">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Header</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies generic information about an investigation report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Case" type="Case">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sts" type="CaseStatus">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the status of the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NewAssgnmt" type="CaseAssignment">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewAssignment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the last assignment performed.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
