WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.admi.004.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 30 10:11:48, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.004.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.004.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="admi.004.001.01" type="admi.004.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Event1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Event1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on an event that happened in a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtCd" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary code used to specify an event that occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtParam" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventParameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes the parameters of an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtDesc" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Free text used to describe an event which occurred in a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the event occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="admi.004.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventNotificationV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The SystemEventNotification message is sent by a central system to notify the occurrence of an event in a central system.&#13;
Usage&#13;
The message can be used by a central settlement system to inform its participants of an event that is going to occur in the system, for instance that the system will be down at a certain time, etc.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EvtInf" type="Event1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about a system event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
