WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.045.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:28, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.045.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.045.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAnd13DecimalAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217. The number of fractional digits (or minor unit of currency) is not checked as per ISO 4217: It must be lesser than or equal to 13.
Note: The decimal separator is a dot.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business reference of a message assigned by the party issuing the message. This reference must be unique amongst all messages of the same name sent by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateSecurityIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary or domestic identification scheme that uniquely identifies a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BloombergIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashInForecast1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashInForecast1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cash movements into a fund as a result of investment funds transactions, eg, subscriptions or switch-in.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which cash is available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubTotalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-total amount of the cash flow in, expressed as an amount of money.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlUnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubTotalUnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-total amount of the cash flow in, expressed as a number of units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XcptnlCshFlowInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExceptionalCashFlowIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the estimated cash flow in is exceptional.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInBrkdwnDtls" type="FundCashInBreakdown1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashInBreakdownDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of cash in amounts, eg, by transaction and order type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashOutForecast1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashOutForecast1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cash movements out of a fund as a result of investment funds transactions, eg, redemptions or switch-out.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which cash is available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubTotalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-total amount of the cash flow out, expressed as an amount of money.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubTtlUnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubTotalUnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sub-total amount of the cash flow out, expressed as a number of units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XcptnlCshFlowInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExceptionalCashFlowIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the estimated cash flow out is exceptional.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutBrkdwnDtls" type="FundCashOutBreakdown1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashOutBreakdownDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of cash out amounts, eg,  by transaction or order type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashSortingCriterion2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashSortingCriterion2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Criterion by which the cash movements are broken down.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SrtgCritnTp" type="SortCriteria1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SortingCriterionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of criterion by which the cash flow is being broken down, ie, country, institution, currency code or a user defined type, such as a region or distribution channel.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FcstBrkdwnDtls" type="ForecastParameter2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForecastBreakdownDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameter for which the cash movements are reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Commission4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Commission4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amount of money due to a party as compensation for a service.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="CommissionType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service for which the commission is asked or paid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Commission expressed as an amount of money.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Rate" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Commission expressed as a percentage.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommissionType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CommissionType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specification of the commission type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="CommissionType5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Structured format.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the type of commission.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CommissionType5Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CommissionType5Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of investment fund commission.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FrontEnd</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of service for which the commission is asked or paid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BackEnd</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Commission for redeeming  an investment, when an investor redeems an investment fund within a certain period of time.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Commission is another type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConsolidatedTapeAssociationIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DataFormat1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DataFormat1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between specification of the data in structured or free text format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Strd" type="GenericIdentification2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of data in structured form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ustrd" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unstructured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of data in free text form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DataFormat2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DataFormat2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the specification of the data in a structured or unstructured form.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Strd" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of data in a structured form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ustrd" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unstructured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of data for which there isn't a structured form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DistributionPolicy1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if income is to be paid out (distributed) or retained (accumulated).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Distribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income is distributed to the investors in the fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accumulation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income is added to the capital of the fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.045.001.01" type="camt.045.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EuroclearClearstreamIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg. The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extension1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrument5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Security that is a sub-set of an investment fund, and is governed by the same investment fund policy, eg, dividend option or valuation currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the financial instrument in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about a financial instrument to help identify the instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdNAVCcy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestedNAVCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency to be used for pricing the fund. This currency must be among the set of currencies in which the price may be expressed, as stated in the prospectus.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Features of units offered by a fund. For example, a unit may have a specific load structure, eg, front end or back end, an income policy, eg, pay out or accumulate, or a trailer policy, eg, with or without. Fund classes are typically denoted by a single character, eg, 'Class A', 'Class 2'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesForm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Form, ie, ownership, of the security, eg, registered or bearer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistributionPolicy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income policy relating to a class type, ie, if income is paid out or retained in the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DualFndInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DualFundIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the fund has two prices.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Quantity of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Unit" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FlowDirectionType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FlowDirectionType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the direction of a cash flow.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INCG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Incoming</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OUTG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Outgoing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money paid out.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ForecastParameter2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForecastParameter2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters used to report cash movements,eg, country code, currency code, BIC or a user defined parameter.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptParam" type="ReportParameter2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportParameter</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of parameter used for grouping the information in a report, eg, country code, currency code, BIC or a user defined parameter.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInFcstDtls" type="CashInForecast1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashInForecastDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash movement in to of a fund as a result of investment funds transactions, eg, subscriptions or switch-out.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshOutFcstDtls" type="CashOutForecast1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashOutForecastDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash movement out of a fund as a result of investment funds transactions, eg, redemptions or switch-out.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcstDtls" type="NetCashForecast1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetCashForecastDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net cash movements to a fund as a result of investment funds transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FormOfSecurity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Form of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bearer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The financial instrument does not specify any registration of ownership, and  is payable to whomever possesses the certificate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Registered</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Shareholder name of the financial instrument appears in the corporation/funds books.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FundCashForecast2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FundCashForecast2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cash movements from or to a fund as a result of investment funds transactions, eg, subscriptions or redemptions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and, if required, the time, at which the price has been applied.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTradDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousTradeDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Previous date and time at which a price was applied.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrmDtls" type="FinancialInstrument5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Investment fund class to which a cash flow is related.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNAV" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNAV</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total value of all the holdings, less the fund's liabilities, attributable to a specific investment fund class.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlNAV" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousTotalNAV</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Previous value of all the holdings, less the fund's liabilities, attributable to a specific investment fund class.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalUnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total number of investment fund class units that have been issued.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlUnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousTotalUnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Previous total number of investment fund class units that have been issued.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNAVChngRate" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalNAVChangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate of change of the net asset value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InvstmtCcy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency of the investment fund class.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XcptnlNetCshFlowInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExceptionalNetCashFlowIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the net cash flow is exceptional.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SrtgCritDtls" type="CashSortingCriterion2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SortingCriteriaDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the cash movements reported by pre-defined or user defined criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NetCshFcstDtls" type="NetCashForecast1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetCashForecastDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net cash movements per financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundCashInBreakdown1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FundCashInBreakdown1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Breakdown of cash movements into a fund as a result of investment funds transactions, eg, subscriptions or switch-in.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of cash flow in, expressed as an amount of money.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of the cash flow in,  expressed as a number of units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NewAmtInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewAmountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the cash flow is an item that did not appear on the previously sent report, eg, because it was received close to cut-off time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtFndTxInTpDtls" type="InvestmentFundTransactionInType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentFundTransactionInTypeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of the cash movements into a fund by transaction type, eg, subscription, switch-in.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlOrdrQtyDtls" type="OriginalOrderQuantityType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalOrderQuantityDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of the cash movements into a fund by order type, eg, order by quantity of units or amount of money.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ComssnDtls" type="Commission4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommissionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the commission applied to an order, eg, back-end or front-end commission.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundCashOutBreakdown1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FundCashOutBreakdown1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Breakdown of cash movements out of a fund as a result of investment funds transactions, eg, redemptions or switch-out.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of cash flow out, expressed as an amount of money.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of the cash flow out, expressed as a number of units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NewAmtInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewAmountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the cash flow is an item that did not appear on the previously sent report, eg, because it was received close to cut-off time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtFndTxOutTpDtls" type="InvestmentFundTransactionOutType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentFundTransactionOutTypeDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of the cash movements out of a fund by transaction type, eg, redemption, switch-out.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlOrdrQtyDtls" type="OriginalOrderQuantityType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalOrderQuantityDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of the cash movements into a fund by order type, eg, order by quantity of units or amount of money.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ComssnDtls" type="Commission4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommissionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the commission applied to an order, eg, back-end or front-end commission.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FundDetailedConfirmedCashForecastReport1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FundDetailedConfirmedCashForecastReport1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about a cash forecast report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="FndCshFcstDtls" type="FundCashForecast2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundCashForecastDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the cash-in and cash-out flows for a specific trade date as a result of investment fund transactions, for example, subscriptions, redemptions or switches to/from a specified investment fund. The information provided is sorted by pre-defined criteria such as country, institution, currency or user defined criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InvestmentFundTransactionInType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentFundTransactionInType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Investment fund transactions that result in cash movements into a fund, eg, subscription, switch-in.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="InvestmentFundTransactionInType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of transaction, expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundTransactionInType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentFundTransactionInType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of investment fund transaction that results in a cash movement into a fund.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Subscription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a subscription to an investment fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SWII">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwitchIn</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a subscription leg of a switch order execution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InSpecie</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is an InSpecie</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CROI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossIn</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a cross-in.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is another type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvestmentFundTransactionOutType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentFundTransactionOutType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Investment fund transactions that result in cash movements out of a fund, eg, redemption, switch-out.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="InvestmentFundTransactionOutType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of transaction, expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InvestmentFundTransactionOutType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentFundTransactionOutType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of investment fund transaction that results in a cash movement out of a fund.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Redemption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a redemption of an investment fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SWIO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SwitchOut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a subscription leg of a switch order execution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InSpecie</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is an InSpecie</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CROO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossOut</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a cross out.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIVI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Dividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a dividend.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is another type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NetCashForecast1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NetCashForecast1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net cash movements to a fund as a result of investment funds transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which cash is available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NetAmt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net amount of the cash flow, expressed as an amount of money.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NetUnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetUnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net amount, expressed as a number of units.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FlowDrctn" type="FlowDirectionType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FlowDirection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the direction of the cash flow from the perspective of the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OrderQuantityType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrderQuantityType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies how the order is placed, eg by quantity of units or by amount of money.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is placed by unit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is placed by amount of money.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is another type of transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalOrderQuantityType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalOrderQuantityType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Breakdown of the cash movements into a fund by order type, eg, order by quantity of units or amount of money.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Strd" type="OrderQuantityType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order type, expressed as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the order type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, eg, IBM in UK is IBM.UK.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportParameter2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportParameter2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between types of reporting parameter.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Pty" type="PartyIdentification2Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Party for which the estimated cash flow is being reported.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country for which the estimated cash flow is being reported.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Currency for which the estimated cash flow is being reported.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UsrDfnd" type="DataFormat2Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UserDefined</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Parameter for which the estimated cash flow is being reported.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ReportSortedType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportSortedType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of criterion used to sort a report.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COUN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of criterion is a nation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of criterion is an entity, eg, a financial institution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CURR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of criterion is a currency, eg, the euro.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AltrnId" type="AlternateSecurityIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AlternateIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RIC" type="RICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, eg, IBM in UK is IBM.UK.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TckrSymb" type="TickerIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TickerSymbol</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Blmbrg" type="BloombergIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Bloomberg</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CTA</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Cmon" type="EuroclearClearstreamIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Common</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg.  The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SortCriteria1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SortCriteria1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between pre-defined and user-defined sorting criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prdfnd" type="ReportSortedType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Predefined</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Pre-defined way of indicating how the information is broken down.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UsrDfnd" type="DataFormat1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UserDefined</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">User-defined way of indicating how the information is broken down.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TickerIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="camt.045.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FundDetailedConfirmedCashForecastReportCancellationV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The FundDetailedConfirmedCashForecastReportCancellation message is sent by a report provider, such as a transfer agent or a designated agent of the fund, to a report user, such as an investment manager, a fund accountant or any other interested party.&#13;
This message is used to cancel a previously sent FundDetailedConfirmedCashForecastReport message.&#13;
Usage&#13;
The FundDetailedConfirmedCashForecastReportCancellation message is used to cancel an entire FundDetailedConfirmedCashForecastReport message that was previously sent by the report provider.&#13;
This message must contain the reference of the message to be cancelled. This message may also contain details of the message to be cancelled, but this is not recommended.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoolReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrvsRef" type="AdditionalReference3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdRef" type="AdditionalReference3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CshFcstRptToBeCanc" type="FundDetailedConfirmedCashForecastReport1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashForecastReportToBeCancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The FundDetailedConfirmedCashForecastReport to be cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
