WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.008.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:18, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.008.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.008.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancelTransactionV04">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancelTransactionV04</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The CancelTransaction message is sent by a member to the transaction administrator.&#13;
It is used to request the cancellation of one payment instruction held at the transaction administrator and sent by the member.&#13;
Usage&#13;
Following normal business flows, transactions registered by the transaction administrator may be queued for later settlement (because of insufficient funds available, because of risk or liquidity limits, etc.). A transaction may have a series of statuses. These can be transient (such as pending or related types), final (such as rejected, revoked and/or settled) or the status may even be defined as a proprietary status.&#13;
Members of a system need to have information about the payments queue(s), and must have the ability to take action (that is, to cancel or modify the transaction(s) to be settled). Note, however, that actions by a member will always concern transactions in a transient status.&#13;
For this reason, at any time during the operating hours of the system, the member can request the cancellation of a transaction that has not received a final status.&#13;
The member will submit a CancelTransaction message containing the identification of the transaction to be cancelled.&#13;
Based on the criteria received within the CancelTransaction message, the transaction administrator will execute or reject the requested cancellation.&#13;
The transaction administrator may send a Receipt message as a reply to the CancelTransaction request.&#13;
To verify the outcome of the request, the member may submit a GetTransaction message with the appropriate search criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstrRef" type="PaymentIdentification3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the related payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CclTx" type="CancelTransactionV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EntryTypeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EntryTypeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier providing additional system specific information about the entry.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[BEOVW]{1,1}[0-9]{2,2}|DUM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentIdentification3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ways of identifying a payment instruction by its references and business identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtInstrRef" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PaymentInstructionReference</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a payment instruction, as assigned by the clearing agent or the initiating party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="QId" type="QueueTransactionIdentificationDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QueueIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the payment instruction by its position in a queue managed by the clearing agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="LngBizId" type="PaymentInstructionReferenceDetails4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">LongBusinessIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Business identification of the payment instruction given by the clearing agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ShrtBizId" type="PaymentInstructionReferenceDetails2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ShortBusinessIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Business identification of the payment instruction given by the clearing agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryRef" type="Max70Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryReference</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique reference of the underlying payment instruction assigned by Target2 SSP.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstructionReferenceDetails2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstructionReferenceDetails2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a payment instruction by a simple set of characteristics which provides an unambiguous indentification of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PmtInstrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentInstructionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a payment instruction, as assigned by the clearing agent or the initiating party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkValDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstgAgtId" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingAgentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The identification of the instructing agent that transmitted the payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstructionReferenceDetails4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstructionReferenceDetails4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a payment instruction by a set of characteristics  (as per EBA system requirements) which provides an unambiguous identification of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PmtInstrRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentInstructionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a payment instruction, as assigned by the clearing agent or the initiating party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkSttlmAmt" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankSettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntrBkValDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtMtd" type="PaymentOrigin1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The message type with which the instruction has been initiated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstgAgtId" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingAgentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The identification of the instructing agent that transmitted the payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstdAgtId" type="BICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructedAgentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The identification of the instructed agent in the payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NtryTp" type="EntryTypeIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EntryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An optional qualifier providing additional system specific information about the entry.

Usage:</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The related reference as stipulated in the payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentInstrument1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstrument1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the payment instrument used or the underlying financial transaction that resulted in a payment transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankDebitTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Direct debit instruction in which the debtor and the creditor are financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankCreditTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Funds transfer in which the debtor and the creditor are financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerDebitTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Direct debit instruction in which the debtor or the creditor or both are non-financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustomerCreditTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Funds transfer in which the debtor or the creditor or both are non-financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cheque</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment instrument is a cheque. (A written order on which instructions are given to an account holder (a financial institution) to pay a stated sum to a named recipient (the payee)).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BKT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BookTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer that is a movement of cash on the books of the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebitCardPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment instrument is a debit card. (The payment originated using a debit card scheme.)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditCardPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment instrument is a credit card. (The payment originated using a credit card scheme.)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RTI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Return</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entry related to a returned or unpaid item.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reverse entry that is the result of the cancellation of a previously booked entry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentOrigin1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentOrigin1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the format under which the payment that generated the entry was transmitted.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FINMT" type="Max3NumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FINMessageType</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies that the payment was included in a SWIFT FIN format message eg, MT 103.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XMLMsgNm" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">XMLMessageName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies that the payment was included in a SWIFT XML message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies that the payment was included in a proprietary format message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Instrm" type="PaymentInstrument1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Instrument</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the type of payment when not included in a SWIFT or proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QueueTransactionIdentificationDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueueTransactionIdentificationDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a payment instruction by its relative position in a queue of payment transactions managed by the clearing agent.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueueIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the payment queue where the payment instruction resides.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PosInQ" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PositionInQueue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position of the payment instruction within the identified queue.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PmtCtrl" type="RequestType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PaymentControl</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is a control command on a set of transactions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Enqry" type="RequestType2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Enquiry</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is an enquiry on the a position or a transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RequestType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the request used to further detail the type of information that will be queried.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReleasePending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to release the pending transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldNormal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to hold normal transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT03">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to cancellation a transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT04">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to change the sequence of the  transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT05">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReleaseSuspicious</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is a request to release the suspicious transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the request used to further detail the type of information that will be queried.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RT11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankPositionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on the bank's position.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecificTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a specific transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueuedTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a queued transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SuspiciousTransactionEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on a suspicious transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RT15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingInwardCreditsEnquiry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type is an enquiry on pending inward credits.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
