WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.tsmt.033.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:00, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.033.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.033.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BaselineStatus3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaselineStatus3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the status of a baseline.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proposed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Initial state of a baseline in the push-through model.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Closed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Final state of a baseline, in which only reporting is allowed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartiallyMatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the baseline when an initial and at least one twin baselines have been  submitted but it has not yet been agreed by all parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ESTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Established</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of the baseline when it has been agreed by all parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Active</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when one or more instructions (eg, amendment request, data set submission) have been processed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when all match instructions have been processed, and no such instruction is allowed anymore.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AMRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmendmentRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when an amendment has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RARQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReActivateRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when an reactivation has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CloseRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when a closure has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCRQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when a completion has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SERQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusExtensionRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline when a status extension has been requested by one party and has not yet been accepted or rejected by the counterparty(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DARQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DataSetAcceptanceRequested</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">State of a baseline, after establishment, when data set acceptance has been requested by the matching engine and not all responses have been received from the relevant party(ies).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="StsXtnsnReqRjctn" type="StatusExtensionRequestRejectionV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Reason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for an action.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed description of the rejection.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusExtensionRequestRejectionV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusExtensionRequestRejectionV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The StatusExtensionRequestRejection message is sent by the party requested to accept or reject a request to extend the status of a transaction to the matching application.&#13;
This message is used to inform about the rejection of a request to extend the status of a transaction.&#13;
Usage&#13;
The StatusExtensionRequestRejection message can be sent by the party requested to accept or reject the request to extend the status of a transaction to inform that it rejects the request.&#13;
The message can be sent in response to a StatusExtensionRequestNotification message.&#13;
The acceptance of a request to extend the status of a transaction can be achieved by sending a StatusExtensionRequestAcceptance message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RjctnId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the rejection message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxId" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the matching application to the transaction.
This identification is to be used in any communication between the parties.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitrTxRef" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubmitterTransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the transaction for the requesting financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StsNotToBeXtnded" type="TransactionStatus4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusNotToBeExtended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the status that the submitter does not want to be extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RjctnRsn" type="Reason2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectionReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason why the user cannot accept the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionStatus4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the status of the transaction by means of a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
