WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.admi.001.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:34, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:admi.001.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:admi.001.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="BulkReportBody">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BulkReportBody</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Contains general properties of the report and the reporting data (either one tranche or the full report).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptHdr" type="ReportHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General properties of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptData" type="ProprietaryReportData">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Full report data or reporting data of a single tranche of the full report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BulkReportHeader">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BulkReportHeader</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the report and information allowing a multi tranches report to be correctly reassembled.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RptId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the full report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrchNb" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TrancheNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sequence number of the report tranche.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastTrchInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastTrancheIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether this tranche is the last tranche of the full report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RptV01" type="admi.001.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryReportData">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryReportData</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Full report data or reporting data of a single tranche of the full report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Data" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Data</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">IMPLEMENTORS WARNING - This element is replaced by the ANY XML type in the schema. Therefore, the XML tag &lt;Data&gt; does not appear in an actual XML instance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportHeader1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportHeader1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General properties of the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the report was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CntsTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContentsType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the type of report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="admi.001.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The Report message is used for general application level data reporting. A message may contain either a full report or one single tranche (part) of a report split in a multi-tranches (multi-parts). The message contains a mechanism to support the correct reassembling of the reporting data by an application.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TrchHdr" type="BulkReportHeader">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TrancheHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the report and information allowing a multi tranches report to be correctly reassembled. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrchBody" type="BulkReportBody">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TrancheBody</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains general properties of the report and the reporting data (either one tranche or the full report).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
