WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.auth.008.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:34, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:auth.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:auth.008.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAnd13DecimalAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217. The number of fractional digits (or minor unit of currency) is not checked as per ISO 4217: It must be lesser than or equal to 13.
Note: The decimal separator is a dot.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateSecurityIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary or domestic identification scheme that uniquely identifies a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaseOneRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a decimal, eg, 0.7 is 7/10 and 70%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO 10962 Classification of Financial Instrument (CFI) codification, eg, common share with voting rights, fully paid, or registered.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RgltryTxRpt" type="RegulatoryTransactionReportV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the document by providing a unique identification and optionally the date/time of the creation of the document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time of the creation of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Extension1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extension1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument15">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrument15</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the financial instrument using a choice of either ISIN,  local code, or a description of the instrument. ISIN is the preferred format.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrmDesc" type="SecurityInstrumentDescription2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstrumentDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the ability to describe the instrument through a description and main characteristics.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygInstrmId" type="SecurityIdentification6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details of the underlying financial instrument for which the transaction report is being sent. If there is more than one underlying financial instrument then it is the dominant/ultimate instrument that should be identified here.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Market Identifier Code. The identification of a financial market, as stipulated in the norm ISO 10383 'Codes for exchanges and market identifications'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OffMarket1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OffMarket1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice for specifying how the trade was executed off-market.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="OffMktInd" type="OffMarket1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OffMarketIndicator</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that the trade was executed off-exchange.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SystmtcIntlr" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SystematicInternaliser</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the BIC code of the systematic internaliser.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="OffMarket1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OffMarket1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates that the trade was executed off-market.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="XOFF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OffMarket</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade was executed off-market.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XXXX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAdmittedOnExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade was executed off-exchange because the instrument is not admitted to trade on an exchange.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OptionTypeCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OptionTypeCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates whether it is a Call option (right to purchase a specific underlying asset) or a Put option (right to sell a specific underlying asset).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CALL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Call</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Right to buy a quantity of an asset for an agreed price at exercise date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PUTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Put</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Right to sell a quantity of an asset for an agreed price at exercise date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrderDriverCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrderDriverCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if the order is sell or buy driven.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Buy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is buy driven.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SELL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sell</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is sell driven.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification11Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification11Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by providing a BIC or a MIC or a proprietary code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CntrlCtrPty" type="MICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CentralCounterparty</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">An infrastructure that is very often a component of a clearinghouse, and facilitates clearing and settlement for its members by standing between the buyer and the seller of a trade. It may net transactions, and substitutes itself as a settlement counterparty to each position.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification23">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification23</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by providing a BIC or a proprietary code.&#13;
Optionally, the client account number can also be provided.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification23Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification23Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by giving a BIC or a proprietary code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification24Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification24Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by providing a BIC or a MIC.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MIC" type="MICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Market Identifier Code. Identification of a financial market, as stipulated in the norm ISO 10383 "Codes for exchanges and market identifications".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlaceOfTradeIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PlaceOfTradeIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates whether the trade was executed on or off-market.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="MktId" type="MICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MarketIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Exchange or Multilateral Trading Facility (MTF) on which the transaction is executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OffMkt" type="OffMarket1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OffMarket</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that the trade was executed off -exchange.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriceRateOrAmountChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the price.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Price expressed as a rate, ie, percentage.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Price expressed as a currency and value.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegulatoryTransactionReportV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RegulatoryTransactionReportV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
A reporting institution, eg, an investment bank, sends the RegulatoryTransactionReport to a regulator or an intermediary (eg a reporting agent), to report the transaction details of a trade that has been executed on or off-exchange.&#13;
Usage&#13;
The message definition can be used to report more than one transaction. The message definition can also be used to specify, on a trade by trade basis, to which authorities the transaction report(s) need to be sent using the TransactionReportMarker.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the RegulatoryTransactionReport.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxDtls" type="TransactionDetails3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details of the trade for which the transaction report is being sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgInstn" type="PartyIdentification23Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the firm that is legally responsible for sending the transaction report.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgAgt" type="PartyIdentification24Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the intermediary which is reporting on behalf on the ReportingInstitution. If there is a reporting chain, then the last party should override the previous one.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityClassificationType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityClassificationType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a CFI code or an other type of identification for the classification of the financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="CFI" type="CFIIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CFI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO 10962 Classification of Financial Instrument (CFI) codification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AltrnClssfctn" type="GenericIdentification3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AlternateClassification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Other type of classification of the financial instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ISIN and an alternative format for the identification of a financial instrument. ISIN is the preferred format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrId" type="AlternateSecurityIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="InstrmDesc" type="SecurityInstrumentDescription2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InstrumentDescription</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the ability to describe the instrument through a description and main characteristics.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityInstrumentDescription2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityInstrumentDescription2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the security instrument by its name and typical characteristics.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Description of the security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="SecurityClassificationType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO Classification of Financial Instrument (CFI) codification, eg, common share with voting rights, fully paid, or registered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfListing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the place of listing using a market identifier code (MIC).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExrcDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExerciseDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exercise date/time of a derivative contract.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaturityDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maturity date/time at which an interest bearing security becomes due.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OptnTp" type="OptionTypeCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether it is a call option (right to purchase a specific underlying asset) or a put option (right to sell a specific underlying asset).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPric" type="PriceRateOrAmountChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StrikePrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Predetermined price at which the holder will have to buy or sell the underlying instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Mltplr" type="BaseOneRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Multiplier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the ratio or multiplying factor used to convert one contract into a quantity. In the case of an equity or a bond, the price multiplier is 1.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradingCapacity3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the role of a trading party in a transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Principal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading as Principal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPRN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossingPrincipal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Crossing as a principal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RISP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RisklessPrincipal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading as a riskless principal, ie, the  order to buy(sell) has been simultaneously offset by an order to sell (buy) with another party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PROP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading for its firm. The transaction affects the firm's own account, not that of its customers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGEN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Agent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading as Agent on behalf of a customer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossingAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Crossing as an agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OAGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acting as an agent for a party other than a customer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PrincipalAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Acting as an agent for some executions and principal for others in the same transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionDetails3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionDetails3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TradRef" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification assigned to a trade. This is the reference generated by a firm or the reference allocated by the executing system if the trade was executed automatically.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AssoctdTradRef" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssociatedTradeReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference that links to other trades that are/will be sent, eg for straddles where put and call legs need to be reported together.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PlcOfTrad" type="PlaceOfTradeIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the execution venue. In the case of an exchange or a Multilateral Trading Facility (MTF), this should be identified using a MIC code. In the case of a systematic internaliser, place of trade should be identified using a BIC code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TradDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date/time on which the trade was executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrmDtls" type="FinancialInstrument15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details of the financial instrument for which the transaction report is being sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Sd" type="OrderDriverCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Side</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies whether the transaction was a buy or a sell from the perspective of the reporting firm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="TxRptMrkr" type="PartyIdentification24Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionReportMarker</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the regulator(s) to whom the transaction report must be sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrPty" type="PartyIdentification11Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Counterparty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details of the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Clnt" type="PartyIdentification23">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Client</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details of the client.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cpcty" type="TradingCapacity3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Capacity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the trading capacity of the firm reporting the transaction, eg  Agent or Principal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctdTradPric" type="PriceRateOrAmountChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutedTradePrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the currency and price at which the trade has been executed, excluding commission or accrued interest.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctdTradQty" type="UnitOrFaceAmountChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutedTradeQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument executed by the trading party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The total consideration or value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDt" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the intended settlement date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrxyHldr" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProxyHolder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details of the person/organisation that has the power of attorney.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional domestic regulatory transaction information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitOrFaceAmountChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnitOrFaceAmountChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a unit in decimal number or a face amount in currency and amount.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
