WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.026.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:17, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.026.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.026.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Case">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information identifying a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique id assigned by the case creator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cretr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Creator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that created the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReopCaseIndctn" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReopenCaseIndication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set to yes if the case was closed and needs to be re-opened.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CaseAssignment">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CaseAssignment</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Represents the assignment of a case to a party. Assignment is a step in the overall process of managing a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an assignment within a case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgnr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assigner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that assigns the case to another party. This is also the sender of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgne" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that the case is assigned to. This is also the receiver of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the assignment was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.026.001.02" type="camt.026.001.02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MissingOrIncorrectInformation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MissingOrIncorrectInformation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the reason for the UnableToApply. It can be missing and/or incorrect information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="10" minOccurs="0" name="MssngInf" type="UnableToApplyMissingInfo1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the missing information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="IncrrctInf" type="UnableToApplyIncorrectInfo2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the incorrect information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstructionExtract2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstructionExtract2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of a payment instruction. The information contained in this component is sufficient to retrieve a payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlMsgNmId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalMessageNameIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the original message name identifier to which the message refers, eg, pacs.003.001.01 or MT103.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlInstrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalInstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original unique instruction identification as assigned by an instructing party for an instructed party to unambiguously identify the original instruction.

Usage: the original instruction identification is the original point to point reference used between the instructing party and the instructed party to refer to the original instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="InstdAmt" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InstructedAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntrBkSttlmAmt" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InterbankSettlementAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:choice>
                <xs:element name="ReqdExctnDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RequestedExecutionDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date the debtor requests the clearing agent to process the payment instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntrBkSttlmDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InterbankSettlementDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnableToApplyIncorrectInfo2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnableToApplyIncorrectInfo2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Used when the unable to apply is due to incorrect information.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="IN01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectRelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RelatedReference is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectBankOperationCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">BankOperationCode is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN03">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectInstructionCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">InstructionCode is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN04">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectRequestedExecutionDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RequestedExecutionDate is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN05">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ValueDate is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN06">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectInterbankSettledAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">InterbankSettledAmount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN07">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectDebtor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debtor is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN08">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectDebtorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DebtorAccount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN09">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectReceiverCorrespondent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ReceiverCorrespondent is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectThirdReimbursementInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ThirdReimbursementInstitution is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectPaymentScheme</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PaymentScheme is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectAccountOfBeneficiaryInstitution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">AccountOfBeneficiaryInstitution is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectCreditor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Creditor is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectCreditorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CreditorAccount is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectRemittanceInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RemittanceInformation is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN16">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectPaymentPurpose</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PaymentPurpose is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN17">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectDetailsOfCharges</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DetailsOfCharges is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN18">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectSenderToReceiverInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SenderToReceiverInformation is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IN19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncorrectInstructionForFinalAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">InstructionForFinalAgent is incorrect.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM20">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MismatchCreditorNameAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and Account of Creditor mismatched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM21">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MismatchDebtorNameAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and Account of Debtor mismatched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM22">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MismatchFinalAgentNameAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and Account of FinalAgent mismatched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM23">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientDebtorDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient or incoherent details about the debtor with respect to regulatory requirements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MM24">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientCreditorDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient or incoherent details about the creditor with respect to regulatory requirements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnableToApplyJustification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnableToApplyJustification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between details of missing information or the complete set of available information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyInf" type="YesNoIndicator">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyInformation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">When set to yes, indicates that all available information about the underlying payment instruction shall be sent.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MssngOrIncrrctInf" type="MissingOrIncorrectInformation1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MissingOrIncorrectInformation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Missing or incorrect information.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnableToApplyMissingInfo1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnableToApplyMissingInfo1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Used when the unable to apply is due to missing information.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MS01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingRemittanceInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">RemittanceInformation is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingSenderToReceiverInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">SenderToReceiverInformation is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS03">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingDebtor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Debtor is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS04">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingDebtorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DebtorAccount is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS05">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingFirstAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FirstAgent is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS06">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS07">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingNostroVostroAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nostro_VostroAccount is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS08">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingIntermediary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intermediary is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS09">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingReimbursementAgent1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ReimbursementAgent (53) is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingReimbursementAgent2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ReimbursementAgent (54) is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingReimbursementAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ReimbursementAgent (55) is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingCreditor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Creditor is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingCreditorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CreditorAccount is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MS14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the payment instruction (MT103) is missing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="camt.026.001.02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnableToApplyV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The Unable To Apply message is sent by a case creator or a case assigner to a case assignee. This message is used to initiate an investigation of a payment instruction that cannot be executed or reconciled.&#13;
Usage&#13;
The Unable To Apply case occurs in two situations:&#13;
- an agent cannot execute the payment instruction due to missing or incorrect information&#13;
- a creditor cannot reconcile the payment entry as it is received unexpectedly, or missing or incorrect information prevents reconciliation&#13;
The Unable To Apply message:&#13;
- always follows the reverse route of the original payment instruction&#13;
- must be forwarded to the preceding agents in the payment processing chain, where appropriate&#13;
- covers one and only one payment instruction (or payment entry) at a time; if several payment instructions cannot be executed or several payment entries cannot be reconciled, then multiple Unable To Apply messages must be sent.&#13;
Depending on what stage the payment is and what has been done to it, for example incorrect routing, errors/omissions when processing the instruction or even the absence of any error, the unable to apply case may lead to a:&#13;
- Additional Payment Information message, sent to the case creator/case assigner, if a truncation or omission in a payment instruction prevented reconciliation.&#13;
- Request To Cancel Payment message, sent to the subsequent agent in the payment processing chain, if the original payment instruction has been incorrectly routed through the chain of agents (this also entails a new corrected payment instruction being issued). Prior to sending the payment cancellation request, the agent should first send a resolution indicating that a cancellation will follow (CWFW).&#13;
- Request To Modify Payment message, sent to the subsequent agent in the payment processing chain, if a truncation or omission has occurred during the processing of the original payment instruction. Prior to sending the modify payment request, the agent should first send a resolution indicating that a modification will follow (MWFW).&#13;
- Debit Authorisation Request message, sent to the case creator/case assigner, if the payment instruction has reached an incorrect creditor.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Assgnmt" type="CaseAssignment">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the assignment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Case" type="Case">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Undrlyg" type="PaymentInstructionExtract2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Underlying</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">References the Payment Instruction that a Party is unable to execute or unable to reconcile.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Justfn" type="UnableToApplyJustification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Justification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Explains the reason why unable to apply.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
