WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.061.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:12, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.061.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.061.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of currency.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CallIn1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CallIn1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of pay-in call report.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFAV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallForAccountValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pay-in call is for account value.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CFST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallForSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pay-in call is for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CFCC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallForCurrencyClose</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pay-in call is for currency close.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PayInCall" type="PayInCallV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification22">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification22</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="AltrntvIdr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternativeIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification8Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification8Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a choice between a BIC or a name and address.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NmAndAdr" type="NameAndAddress8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address and Alternative Identifier of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BICOrBEI" type="PartyIdentification22">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a BIC and an Alternative Identifier.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayInCallItem">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PayInCallItem</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Numerical representation of the net increases and decreases in an account at a specific point in time. A cash balance is calculated from a sum of cash credits minus a sum of cash debits.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the currency and amount of the called item.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayInCallV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PayInCallV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The PayInCall message is used by a Central Settlement System to request funds from a trading party in order to facilitate settlement.&#13;
Usage&#13;
The PayInCall can list a number of currencies, any of which is accepted.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party for which the PayInCall is generated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptData" type="ReportData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contains  the report generation information and the report items.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Numerical representation of the net increases and decreases in an account at a specific point in time. A cash balance is calculated from a sum of cash credits minus a sum of cash debits.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the report assigned by the central system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ValDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date by which the amount(s) requested must be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtAndTmStmp" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateAndTimeStamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time on which the report is generated. The offset with UTC may also be specified.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CallIn1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the Pay In Call.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PayInCallAmt" type="PayInCallItem">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayInCallAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the amount requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnVal" type="Value">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternateValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested amount in multiple currencies.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Value">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Posting of an item to a cash account, in the context of a cash transaction, that results in an increase or decrease to the balance of the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BaseCcyItm" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BaseCurrencyItem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the amount in the base currency of the receiver.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AltrnCcyItm" type="ActiveOrHistoricCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AlternateCurrencyItem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the amount in another currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
