WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seev.027.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:07, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.027.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.027.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgentCAStandingInstructionStatusAdviceV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AgentCAStandingInstructionStatusAdviceV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
This message is sent by an issuer (or its agent) to the CSD to report the status, or a change in status, of a standing instruction request or the status of a standing instruction cancellation request.&#13;
Usage&#13;
When this message is used to report the status of a standing instruction request, the building block Standing Instruction Request Identification must be present.&#13;
When this message is used to report the status of a standing instruction cancellation request, the building block Standing Instruction Cancellation Request Identification must be present.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by the Sender to unambiguously identify the status advice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="AgtCAStgInstrReqId" type="DocumentIdentification8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AgentCAStandingInstructionRequestIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the linked Agent CA Standing Instruction Request for which a status is given.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AgtCAStgInstrCxlReqId" type="DocumentIdentification8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AgentCAStandingInstructionCancellationRequestIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the linked Agent CA Standing Instruction  Cancellation Request for which a status is given.
</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="StgInstrGnlInf" type="CorporateActionStandingInstructionGeneralInformation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingInstructionGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the standing instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="StgInstrReqSts" type="StandingInstructionStatus1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">StandingInstructionRequestStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status of the standing instruction request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="StgInstrCxlReqSts" type="StandingInstructionCancellationStatus1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">StandingInstructionCancellationRequestStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides information about the status of a standing instruction cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateSecurityIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateSecurityIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary or domestic identification scheme that uniquely identifies a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CorporateActionEventType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of the CA event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActiveTradingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading in security has commenced or security has been re-activated after a suspension in trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ATTI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Attachment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of different security types to create a unit. Units are usually comprised of warrants and bonds or warrants and equities. Securities may be combined at the request of the security holder or based on market convention.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepurchaseOffer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Repurchase offer/Issuer bid/ Reverse rights. Offer to existing shareholders by the issuing company to repurchase equity or other securities convertible into equity. The objective of the offer is to reduce the number of outstanding equities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BONU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BonusIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a bonus issue or scrip issue or capitalisation issue. Security holders are awarded additional assets free of payment from the issuer in proportion to their holding. A bonus issue is typically represented by shares, rights or warrants. Nominal value doesn't change. Holder may be offered choice of form.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BPUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PutRedemption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Redemption in part before the scheduled final maturity date of a security. Drawing is distinct from partial call since drawn bonds are chosen by lottery and with no reduction in nominal value.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bankruptcy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal status of a company unable to pay creditors. Bankruptcy usually involves a formal court ruling. Securities may become valueless.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CapitalGainsDistribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the distribution of profits resulting from the sale of securities. Shareholders of mutual funds, unit trusts, or Sicavs are recipients of capital gains distributions and are often reinvested in additional shares of the fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAPI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Capitalisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Increase of the current principal of a debt instrument without increasing the nominal value. It normally arises from the incorporation of due but unpaid interest into the principal. This is commonly done by increasing the pool factor value, eg, capitalisation, and negative amortisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CERT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonUSTEFRADCertification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Non-US beneficial owner certification requirement for exchange of temporary to permanent notes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Change</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information regarding a change further described in the corporate action details.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassActionProposedSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Situation where interested parties seek restitution for financial loss. The security holder may be offered the opportunity to join a class action proceeding and would need to respond with an instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Consent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Procedure that aims to obtain consent of holder  to a proposal by the issuer or a third party intended to progress an event to the next stage. This procedure is not required to be linked to the organisation of a formal meeting. For example, consent to approve a plan of reorganisation for a bankruptcy proceeding.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Conversion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Conversion of securities ( generally convertible bonds or preferred shares) into another form of securities ( usually common shares) at a pre-stated price/ratio.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompanyOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A Company Option may be granted by the company, allowing the holder to take up shares at some future date(s) at a pre arranged price in the company. A company may not grant options which enable the holder to take up unissued shares at a time which is five or more years from the date of the grant. Option holders are not members of a company. They are contingent creditors of a company and hence may, in some instances, be entitled to vote on and be bound by a scheme of arrangement between the creditors and the company. As many options have multiple exercise periods a company option will either lapse or carry on to the next expiry date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DECR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DecreaseInValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reduction of face value of a single share or the value of fund assets. The number of circulating shares/units remains unchanged. This event may include a cash payout to holders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DETI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Detachment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Separation of components that comprise a security, eg, usually units comprised of warrants and bond or warrants and equity . Units may be broken up at the request of the security holder or based on market convention.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DFLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BondDefault</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Failure by the company to perform obligations defined as default events under the bond agreement and that have not been remedied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingStatusDelisted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security is no longer able to comply with the listing requirements of a stock exchange and is removed from official board quotation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRAW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Drawing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Redemption in part before the scheduled final maturity date of a security. Drawing is distinct from partial call since drawn bonds are chosen by lottery and with no reduction in nominal value.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRIP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendReinvestment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a dividend payment type where cash dividend is rolled over into additional shares in the issuing company.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Disclosure</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requirement for holders or beneficial owners to disclose their name, location and holdings of any issue to the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DutchAuction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An action by a party wishing to acquire a security. Holders of the security are invited to make an offer to sell, within a specific price range. The acquiring party will buy from the holder with lowest offer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution of cash to shareholders, in proportion to their equity holding. Ordinary dividends are recurring and regular. Shareholder must take cash and may be offered a choice of currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a distribution of a dividend to shareholders with the choice of payment method. The shareholder must choose the form of payment - stock, cash, or both.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ScripDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scrip Dividend/Payment. Dividend or interest paid in the form of scrip.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a dividend paid to shareholders in the form of shares of stock in the issuing company or in another company. The shareholder must take stock and is not offered a choice in the form of distribution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Exchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange of holdings for other securities and/or cash. The exchange can be either mandatory or voluntary involving the exchange of outstanding securities for different securities and/or cash. For example "exchange offer", "capital reorganisation" or "funds separation" .</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXRI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallOnIntermediateSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Call or exercise on nil paid securities or intermediate securities resulting from an intermediate securities distribution (RHDI). This code is used for the second event, when an intermediate securities' issue (rights/coupons) is composed of two events, the first event being the distribution of intermediate securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXTM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaturityExtension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">As stipulated in a bond's Terms and Conditions, the issuer or the bond-holder may prolong the maturity date of a bond. After extension, the security may differ from original issue (new rate or maturity date). May be subject to bondholder's approval.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXWA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WarrantExercise</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option offered to holders to buy (call warrant) or to sell (put warrant) a specific amount of stock, cash, or commodity, at a predetermined price, during a predetermined period of time (which usually corresponds to the life of the issue).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INCR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncreaseInValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Increase in the face value of a single security. The number of circulating securities remains unchanged .</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Regular interest payment distributed to holders of an interest bearing asset.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIQU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidationDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A distribution of cash, assets or both. Debt may be paid in order of priority based on preferred claims to assets specified by the security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullCall</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The redemption of an entire issue outstanding of securities, eg, bonds, preferred equity, funds, by the issuer or its agent, eg, asset manager,before final maturity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MRGR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merger</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a mandatory or voluntary exchange of outstanding securities as the result of two or more companies combining assets. Cash payments may accompany share exchange.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ODLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OddLotSalePurchase</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Odd Lot Sale/Purchase . Sale or purchase of odd-lots to/from the issuing company, initiated either by the holder of the security or through an offer made by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PariPassu</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Occurs when securities with different characteristics, eg, shares with different entitlements to dividend or voting rights, become identical in all respects, eg , pari-passu or assimilation. May be scheduled in advance, eg, shares resulting from a bonus may become fungible after a pre-set period of time, or may result from outside events, eg, merger, reorganisation, issue of supplementary tranches, etc.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialRedemptionWithNominalValueReduction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities are redeemed in part before their scheduled final maturity date with reduction of the nominal value of the shares. The outstanding amount of securities will be reduced proportionally.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDEF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Prefunding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Also called partial defeasance. Issuer has money set aside to redeem a portion of an issue and the indenture states that the securities could be called earlier than the stated maturity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PINK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayInKind</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Interest payment, in any kind except cash, distributed to holders of an interest bearing asset.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfIncorporation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Changes in the state of incorporation for US companies and changes in the place of incorporation for foreign companies. Where shares need to be registered following the incorporation change, the holder(s) may have to elect the registrar.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstalmentCall</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An instalment towards the purchase of equity capital, subject to an agreement between an issuer and a purchaser.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRED">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialRedemptionWithoutNominalValueReduction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities are redeemed in part before their scheduled final maturity date without reduction of the nominal value of the shares. This is commonly done by pool factor reduction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRII">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestPaymentWithPrincipal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An event which consists of two components, the decrease of the amortized value of a pool factor security and an interest payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRIO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriorityIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Form of open or public offer where, due to a limited amount of securities available, priority is given to existing shareholders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinalMaturity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The redemption of an entire issue outstanding of securities, eg, bonds, preferred equity, funds, by the issuer or its agent, eg, asset manager, at final maturity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REDO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Redenomination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event by which the unit (currency and/or nominal) of a security is restated, eg, nominal/par value of security in a national currency is restated in another currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REMK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RemarketingAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purchase and sale of remarketed preferred equities/bonds through the negotiation of interest rate between the issuers and the holders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RHDI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediateSecuritiesDistribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The distribution of intermediate securities or privilege that gives the holder the right to take part in a future event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RHTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RightsIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rights Issue/ Subscription Rights/ Rights Offer. Distribution of a security or privilege that gives the holder an entitlement or right to take part in a future event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesPremiumDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This corporate event pays shareholders an amount in cash issued from the shares premium reserve. It is similar to a dividend but with different tax implications.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SmallestNegotiableUnit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Modification of the smallest negotiable unit of shares in order to obtain a new negotiable unit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SOFF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpinOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a demerger or distribution or an unbundling. It is a distribution of subsidiary stock to the shareholders of the parent company without a surrender of shares. A spin-off represents a form of divestiture resulting in an independent company. Normally this is without cost to the parent issue shareholder.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockSplit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a change in nominal value, a subdivision. It is an increase in a corporation's number of outstanding shares of stock without any change in the shareholder's equity or the aggregate market value at the time of the split. Stock price and nominal value are reduced accordingly.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReverseStockSplit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a change in nominal value, a consolidation. It is a decrease in number of outstanding shares of stock without any change in the shareholder's equity or the aggregate market value at the time of the split. Stock price and nominal value are reduced accordingly.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingStatusSuspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading in the security has been suspended.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Tender</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is an acquisition or take-over or offre publique de retrait (FR) or purchase offer or buy-back. It is an offer made to shareholders requesting them to sell (tender) their shares for a specified price usually at a premium over prevailing market price. Generally, the objective of a tender offer is to take control of the target company.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TREC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxReclaim</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event related to tax reclaim activities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WRTH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Worthless</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Booking out of valueless securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WTRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WithholdingTaxReliefCertification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certification process for withholding tax reduction or exemption based on the tax status of the holder.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherEvent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other event, use only when no other event type applies, eg, a new event type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType2FormatChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventType2FormatChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats to express the corporate event type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventType2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Event types expressed as a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Event types expressed as a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionCancellationProcessingStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionStandingInstructionCancellationProcessingStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provide processing status information of a standing instruction cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="ProcessedStatus4FormatChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The processing status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionCancellationRejectionStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionStandingInstructionCancellationRejectionStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides reason of the rejection of a standing instruction cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason10FormatChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The rejection reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionGeneralInformation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionStandingInstructionGeneralInformation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the standing instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StgInstrTp" type="StandingInstructionType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingInstructionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of standing instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="EvtTp" type="CorporateActionEventType2FormatChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of coporpate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstgPtyId" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructingPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the instructing party, ie, the CSD client.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClntStgInstrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientStandingInstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference of the standing instruction assigned by the client.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctDtls" type="IncludedAccount1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about the account to which the standing instruction can apply.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygScty" type="FinancialInstrumentDescription3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the underlying financial instrument, ie, the financial instrument affected by the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionProcessingStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionStandingInstructionProcessingStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provide processing status information of a standing instruction request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="ProcessedStatus3FormatChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The processing status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionStandingInstructionRejectionStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionStandingInstructionRejectionStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides reason of the rejection of a standing instruction request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionReason20FormatChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The rejection reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AgtCAStgInstrStsAdvc" type="AgentCAStandingInstructionStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the document by providing a unique identification and optionally the date/time of the creation of the document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time of the creation of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentDescription3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentDescription3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Description of the financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfListing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place where the referenced financial instrument is listed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="PartyIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IncludedAccount1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IncludedAccount1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the account that is impacted or not by the standing instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SctiesAcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InclInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncludedIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the account is impacted or not by the standing instruction.

Yes = The account is impacted by the standing instruction.
No = The account is not impacted by the standing instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Market Identifier Code. The identification of a financial market, as stipulated in the norm ISO 10383 'Codes for exchanges and market identifications'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessedStatus3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessedStatus3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the processing status of an advice, a request or a movement.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Received</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The instruction/request has been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The processing of the request is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The request is accepted.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessedStatus3FormatChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessedStatus3FormatChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats to  express the processing status of an advice, a request or a movement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessedStatus3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the processing status of an advice, a request or a movement.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary code to  express the processing status of an advice, a request or a movement.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessedStatus4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessedStatus4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the processing status of the standing instruction cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Received</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The instruction/request has been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Completed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The request has been completed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The processing of the request is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessedStatus4FormatChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessedStatus4FormatChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats to  express the processing status of the standing instruction cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessedStatus4Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify  the processing status of the standing instruction cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary code to  express the processing status of the standing instruction cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason10Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason10Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of a rejection of a standing instruction cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailedValidation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The validation of the advice/instruction/request failed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason10FormatChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason10FormatChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats to  express the reason of a rejection of a standing instruction cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectionReason10Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the reason of a rejection of a standing instruction cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary code to  express the reason of a rejection of a standing instruction cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason20Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason20Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of a rejection of the standing instruction request.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailedValidation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The validation of the advice/instruction/request failed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CASA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotIdentifiedCashAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unable to identify cash account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotIdentifiedCorrespondentBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unable to identify correspondent bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidStandingInstructionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid standing instruction type for the specified underlying security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOHO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoHolding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No holding for the specified underlying security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RejectionReason20FormatChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason20FormatChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats to  express the reason of a rejection of the standing instruction request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectionReason20Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the reason of a rejection of the standing instruction request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary code to  express the reason of a rejection of the standing instruction request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ISIN and an alternative format for the identification of a security. ISIN is the preferred format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrId" type="AlternateSecurityIdentification3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingInstructionCancellationStatus1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingInstructionCancellationStatus1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the status of a standing instruction cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PrcdSts" type="CorporateActionStandingInstructionCancellationProcessingStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProcessedStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides information about the processing status of the cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RjctdSts" type="CorporateActionStandingInstructionCancellationRejectionStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RejectedStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides information about the rejection status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingInstructionStatus1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingInstructionStatus1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various statuses.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PrcdSts" type="CorporateActionStandingInstructionProcessingStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProcessedStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides information about the processing status of the request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RjctdSts" type="CorporateActionStandingInstructionRejectionStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RejectedStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides information about the rejection status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StandingInstructionType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingInstructionType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of standing instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashDistribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standing instruction for a cash distribution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PAYM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GrossNet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standing instruction for the payment modality, gross or net.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesDistribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standing instruction for a securities distribution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
