WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.063.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 Jul 24 17:03:00, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013 This schema is a component of the SWIFT Standards Developer Kit.  

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.063.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.063.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgementDetails1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcknowledgementDetails1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reference of the PayInSchedule or the PayInCall being acknowledged. This is the Message Identification element from the Report Data sequence of the Pay In Schedule message or the Pay In Call message.&#13;
</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="PayInSchdlRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayInScheduleReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the pay in schedule that is being acknowledged.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PayInCallRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayInCallReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the pay in call that is being acknowledged.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PayInEvtAck" type="PayInEventAcknowledgementV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PayInEventAcknowledgementV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PayInEventAcknowledgementV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The PayInEventAcknowledgement message is sent by a participant of a central system to the central system to confirm a PayInSchedule or a PayInCall has been received.&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for the message, as assigned by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmSsnIdr" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementSessionIdentifier</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">To indicate the requested CLS Settlement Session that the related trade is part of.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AckDtls" type="AcknowledgementDetails1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the pay in schedule or pay in call being acknowledged .</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
