WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seev.038.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:46, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.038.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.038.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides account identification information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IdCd" type="SafekeepingAccountIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standard code to specify that announcement applies to all safekeeping accounts that own underlying financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification14Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification14Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between all accounts (GENR - General in ISO 15022) or one or more selected accounts and balance information.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="ForAllAccts" type="AccountIdentification10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForAllAccounts</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">All safekeeping accounts that own underlying financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctsListAndBalDtls" type="AccountIdentification18">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountsListAndBalanceDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Selected safekeeping accounts list (and optionally balance information) to which the corporate action event applies.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountIdentification18">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification18</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides account identification information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account where financial instruments are maintained.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification36Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Location where the financial instruments are/will be safekept.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ConfdBal" type="BalanceFormat1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance to which the payment applies (less or equal to the total eligible balance).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceFormat1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between balance, eligible balance and not eligible balance formats.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Bal" type="SignedQuantityFormat1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Balance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about balance related to a corporate action.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ElgblBal" type="SignedQuantityFormat2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibleBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provide eligible balance information in different formats.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NotElgblBal" type="SignedQuantityFormat2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotEligibleBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provide not eligible balance information in different formats.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation40">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation40</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General information about the corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned by the account servicer to unambiguously identify a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfficialCorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Official and unique reference assigned by the official central body/entity within each market at the beginning of a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NrrtvTp" type="CorporateActionNarrative1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NarrativeType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of narrative related to the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNarrative1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a standard code or a proprietary code to specify the narrative type of corporate action.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="CorporateActionNarrative1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the narrative type of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification20">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the narrative type of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CorporateActionNarrative1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNarrative1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the narrative type of a corporate action.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAXE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxationConditions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides taxation conditions that cannot be included within the structured fields of this message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information required for the registration.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WTRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WithholdingTaxReliefCertification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certification process for withholding tax reduction or exemption based on the tax status of the holder.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RFMC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ICSDRefusalOfMarkUpDownConfirmation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In the context of  a corporate action, an International Central Securities Depository (ICSD)  refuses a mark-up/mark-down confirmation sent by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PAUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ChasingOfPriorAuthorization</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Central Securities Depository (ICSD) chases the authorisation from the account servicer in order to process the exchange from global temporary to global permanent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmationOfHoldingTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation of transfer of interests between International Central Securities Depositories (ICSDs) following a corporate actions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionNarrativeV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNarrativeV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The CorporateActionNarrative message is sent between an account servicer and an account owner or its designated agent to cater for tax reclaims, restrictions, documentation requirements. This message is bi-directional.&#13;
Usage&#13;
The message may also be used to:&#13;
- re-send a message previously sent (the sub-function of the message is Duplicate),&#13;
- provide a third party with a copy of a message for information (the sub-function of the message is Copy),&#13;
- re-send to a third party a copy of a message for information (the sub-function of the message is Copy Duplicate),&#13;
using the relevant elements in the business application header (BAH).
ISO 15022 - 20022 COEXISTENCE
This ISO 20022 message is reversed engineered from ISO 15022. Both standards will coexist for a certain number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. Compliance to these rules is mandatory in a coexistence environment.  The coexistence restrictions are described in a Textual Rule linked to the Message Items they concern. These coexistence textual rules are clearly identified as follows:  “CoexistenceXxxxRule”.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDtls" type="AccountIdentification14Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the safekeeping account and the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygScty" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about the securitised right for entitlement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation40">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddtlInf" type="UpdatedAdditionalInformation2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnNrrtv" type="CorporateActionNarrativeV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaceAmt" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtsdVal" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification21</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification expressed as a proprietary type and narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8000Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max8000Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 8000 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification36Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification36Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryId" type="GenericIdentification19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryQuantity2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary quantity format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Qty" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the proprietary quantity with a decimal number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the type of proprietary quantity reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information related to issuer in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different quantity of security formats.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrtryQty" type="ProprietaryQuantity2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary quantity of security format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SafekeepingAccountIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the account identification via a code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">General</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Announcement applies to all safekeeping accounts that own underlying financial instrument.  (Used for general or preliminary announcements.)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtLocalCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at a local custodian.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtICSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at an International Central Securities Depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtNCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at a National Central Securities Depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldElsewhere</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used for certain financial instruments, for example, US mutual funds, where settlement is internal only, that is, there is no external movement of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldElsewhere</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used for certain financial instruments, for example, US mutual funds, where settlement is internal only, that is, there is no external movement of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ALLP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllPlaces</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">All places of safekeeping where the financial instrument is held.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceFormat2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed as a code and a narrative description.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a country code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeAndIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a type and identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="GenericIdentification21">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a propriety identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceTypeAndAnyBICIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Place identification of the place of safekeeping expressed as a code and a BIC.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Id" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceTypeAndText2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the place of safekeeping expressed as a code and a narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ShortLong1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the securities position is short or long, that is, wether the balance is a negative or positive balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Short</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is short, that is, the balance is negative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LONG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Long</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is long, that is, the balance is positive.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignedQuantityFormat1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Signed quantity of security formats.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sign of the quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QtyChc" type="Quantity2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityChoice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice between different quantity of security formats.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignedQuantityFormat2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Signed quantity of security formats.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sign of the quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedAdditionalInformation2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdatedAdditionalInformation2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information with update description and date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDesc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the amendments made to the narrative since the last message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date at which the narrative has been updated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AddtlInf" type="Max8000Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional textual information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
