WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.fxtr.030.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 Mar 12 14:28:44, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013 This schema is a component of the SWIFT Standards Developer Kit.  

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:fxtr.030.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:fxtr.030.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradBlkStsNtfctn" type="ForeignExchangeTradeBulkStatusNotificationV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTradeBulkStatusNotificationV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ForeignExchangeTradeBulkStatusNotificationV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">This message is sent by a central system to the participant to provide notification of the current status of one or more foreign exchange trades. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StsDtls" type="TradeData4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information on the status of the trade in the system.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TradData" type="TradeData5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies one or more trades for which the status notification is sent.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgPgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number of the message (within the status report) and continuation indicator to indicate that the statement is to continue or that the message is the last page of the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Status5Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status5Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TradeStatus3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status expressed as a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status expressed as a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeData4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the status of a trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StsOrgtr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusOriginator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that assigned the status to the foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CurSts" type="Status5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the new status of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsSubTp" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusSubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the current status of the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CurStsDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date and time at which the current status was assigned to all the trades, unless overwritten by a date and time assigned to an individual trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsSts" type="Status5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the previous status of a trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsStsSubTp" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousStatusSubType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information on the previous status of a trade in a central system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the product for which the status of the confirmation is reported, unless overwritten by a product type assigned to an individual trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeData5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeData5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the status of a trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MtchgSysUnqRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemUniqueReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the unique system identification assigned to the trade  by the central matching system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the identification of the notification for which the status is given, as assigned by the participant that submitted the foreign exchange trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MtchgSysMtchgRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MatchingSystemMatchingReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the unique matching identification assigned to the trade and to the matching trade from the counterparty by the central matching system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CurStsDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentStatusDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date and time at which the current status was assigned to the individual trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PdctTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProductType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Product type of the individual trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeStatus3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeStatus3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of a trade in a central matching and settlement system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Invalid</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is invalid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unmatched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is unmatched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rescinded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rescinded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STLD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FMTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Matched</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is matched.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RJCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMemberAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been authorised by the settlement member guaranteeing payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMNA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMemberNotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has not been authorised by the settlement member guaranteeing payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementMature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been selected for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Split</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been split into subtrades for settlement efficiency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade has been marked not ready for settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAuthorised</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade is not authorised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
