WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.014.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:42, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.014.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.014.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of an account, as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IBAN" type="IBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BBAN" type="BBANIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BBAN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN) - identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), to uniquely identify the account of a customer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="UPIC" type="UPICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UPIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC) - identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DmstAcct" type="SimpleIdentificationInformation">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account number used by financial institutions in individual countries to identify an account of a customer, but not necessarily the bank and branch of the financial institution in which the account is held.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentificationAndName">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentificationAndName</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a cash entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl. Identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Basic Bank Account Number (BBAN). Identifier used nationally by financial institutions, ie, in individual countries, generally as part of a National Account Numbering Scheme(s), which uniquely identifies the account of a customer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID). Identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification  (UID).  Identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected.  The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsARNIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number. Identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identifiers for a clearing system member, as assigned by the clearing system. In some clearing systems, the accounts of the clearing system members are also assigned an identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="USCHU" type="CHIPSUniversalIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification (UID) - identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected. The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NZNCC" type="NewZealandNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code - identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IENSC" type="IrishNSCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code - identifies Irish financial institutions on the Irish national clearing system. The code is assigned by the Irish Payments Services Organisation (IPSO).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code - identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USCH" type="CHIPSParticipantIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID) - identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHBC" type="SwissBCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissBCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code - identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number - identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PTNCC" type="PortugueseNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code - identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code - identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ITNCC" type="ItalianDomesticIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code - identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl - identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsAssociationRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number - identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHSIC" type="SwissSICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissSICIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code - identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl - identifies German financial institutions on the German national clearing systems.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code - identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC) - identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HKNCC" type="HongKongBankIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">HongKongBankCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code - identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianExtensiveBranchNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBs" type="SmallNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianSmallNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions , as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationAddressDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CommunicationAddressDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Communication device number or electronic address used for communication.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PstlAdr" type="LongPostalAddress1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhneNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a phone number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaxNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collection of information that identifies a FAX number, as defined by telecom services.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EmailAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address for electronic mail (e-mail).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactIdentificationAndAddress">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ContactIdentificationAndAddress</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Human entity, as distinguished from a corporate entity (which is sometimes referred to as an 'artificial person').</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Role" type="PaymentRole1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Role</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Role of the party in the activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ComAdr" type="CommunicationAddressDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommunicationAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number, or virtual address, used for communication.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.014.001.01" type="camt.014.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ErrCd" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ErrorCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExtensiveBranchNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number. Identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl. Identifies German financial institutions on the German national clearing systems.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HongKongBankIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code. Identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBANIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616. "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code. Identifies Irish financial institutions on the Irish national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code. Identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LongPostalAddress1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LongPostalAddress1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ustrd" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unstructured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Strd" type="StructuredLongPostalAddress1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in a formal structure.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemberDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about the members of a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Word by which something is called or known or the family name of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MmbRtrAdr" type="MemberIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberReturnAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Physical/logical address belonging to a member, segregated from its main address that is used for normal operations. The fund return address is used to route messages that require specific attention/exception handling, eg, returns or rejects.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Acct" type="AccountIdentificationAndName">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a cash entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="MemberType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the relationship a member has with a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="MemberStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of a member in a system, eg, enabled or deleted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtctRef" type="ContactIdentificationAndAddress">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContactReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Person to be contacted in a given organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ComAdr" type="CommunicationAddressDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommunicationAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number, or virtual address, used for communication.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between BIC and clearing system member identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a clearing system member, as assigned by the system or system administrator.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports on members.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="MmbRpt" type="MemberReport">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports either member information or a business error.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberReport">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberReport</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports either on a member or a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MmbId" type="MemberIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a member within a system, assigned using the member identification scheme of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="BizErr" type="ErrorHandling2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason the requested business information is not given.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MmbInf" type="MemberDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MemberInformation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Requested business information.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MemberStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the live status of a member of a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENBL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Enabled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is live on the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSBL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Disabled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is temporarily not live on the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is no longer live on the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JOIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Joining</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is joining and will soon be enabled on the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MemberType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the membership of a party in a system. A system may recognise different types of membership, with different related rights and obligations.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Direct</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member has full rights in the system. In principle, this membership status entails financial responsibility for its own operations and sponsored members' operations submitted to the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDRT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Indirect</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member has limited rights in the system specifications. In principle, this membership status entails no financial responsibility for its operations submitted to the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RMTE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Remote</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member has access to the system from a remote location or through remote technical means.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EURO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EURO1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is entitled to access the Euro1 system of the Euro Banking Association (EBA).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STEP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">STEP1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is entitled to access the Step1 system of the Euro Banking Association (EBA).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code. Identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PaymentRole1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentRole1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Role associated with a specific party in relation to a payment instruction. The role identifies either the specific function of the party, or the party's rights regarding management of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LQMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution responsible for the management of liquidity for the financial institution. This party has access to some functions available on the system, such as the liquidity transfers ormanagement of standing instructions for liquidity control.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LMMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution responsible for the management of the limits. This party is responsible for fixing, modifying, or suspending limits as relevant for the management of counterpart risk or systemic risk containment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PYMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution responsible for the management of payment processing for the financial institution. This includes authorising, recycling, and modification of payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution entitled to obtain information from the system, but not act upon/alter this information.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BKMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BackupManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party responsible for managing the recovery functions related to a system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STMG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementManager</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party in a financial institution responsible for the management of settlement processing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PhoneNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The collection of information which identifies a specific phone or FAX number as defined by telecom services.
It consists of a "+" followed by the country code (from 1 to 3 characters) then a "-" and finally, any combination of numbers, "(", ")", "+" and "-" (up to 30 characters).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code. Identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QueryReference">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Gives the name and the reference of the query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QryRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code. Identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SmallNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC). Identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code. Identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StructuredLongPostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StructuredLongPostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the building or house.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtBldgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetBuildingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Floor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Floor or storey within a building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistrictName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a district, ie, a part of a town or region.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RgnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an administrative division of a country, state, or territory.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Stat" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">State</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organised political community or area forming a part of a federation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtyId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="POB" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostOfficeBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissBCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code. Identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissSICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code. Identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code. Identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UPICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Universal Payment Identification Code (UPIC).  Identifier used by the New York Clearing House to mask confidential data, such as bank accounts and bank routing numbers. UPIC numbers remain with business customers, regardless of banking relationship changes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="camt.014.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnMemberV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnMember message is sent by the transaction administrator to a member of the system.&#13;
It is used to provide information on static data maintained by the transaction administrator and related to the participants in the system and their membership status vis-a-vis this system.&#13;
The ReturnMember message can be sent as a response to a related GetMember message (pull mode) or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
The transaction administrator is in charge of providing the members with business information. The term business information covers all information related to the management of the system, that is, not related to the transactions entered into in the system. The type of business information available can vary depending on the system. Among other things, it can refer to information about the membership of the system.&#13;
The member can request information about the members of the system through a series of criteria, corresponding to the known information stored within the transaction administrator. Based on the criteria received within the request, the transaction administrator will select items that will match with the request and report them to the requestor.&#13;
The transaction administrator may also send a Return Member message with pre-defined information at times previously agreed with the member or to warn the member about a particular problem that may have arisen and which needs the member(s) attention.&#13;
The message from the transaction administrator can contain information based on the following elements:&#13;
- identification of the member within the system&#13;
- membership status&#13;
- type of member&#13;
- contact details for the member: name, address&#13;
- identification of the member's account&#13;
- identification of contact persons for the member, their role and details&#13;
Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BizQryRef" type="QueryReference">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessQueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Query message reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="OprlErr" type="ErrorHandling2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="BizRpt" type="MemberInformation">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reports on members.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
