WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.sese.006.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:38:12, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:sese.006.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:sese.006.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Account1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Account1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Business relationship between two entities; one entity is the account owner, the other entity is the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctSvcr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Institution servicing an account and assigning the account identifier to the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of an account, as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Prtry" type="SimpleIdentificationInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for an account. It is assigned by the account servicer using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalReference2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalReference2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References a related message or provides another reference, such as a pool reference, linking a set of messages. The party which issued the related reference may be the Sender of the referenced message or a party other than the Sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business reference of a message assigned by the party issuing the message. This reference must be unique amongst all messages of the same name sent by the same party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefIssr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer of the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateSecurityIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateSecurityIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary or domestic identification scheme that uniquely identifies a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BloombergIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BloombergIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConsolidatedTapeAssociationIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ConsolidatedTapeAssociationIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the formats to express a date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Cd" type="SettlementDate1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeliverInformation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliverInformation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters applied to the settlement of a security transfer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SttlmPtiesDtls" type="DeliveringPartiesAndAccount1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementPartiesDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Chain of parties involved in the settlement of a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhysTrfInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalTransferIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the financial instrument is to be physically delivered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PhysTrfDtls" type="DeliveryParameters2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PhysicalTransferDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Parameters of a physical delivery.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeliveringPartiesAndAccount1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveringPartiesAndAccount1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Chain of parties involved in the settlement of a transaction, including receipts and deliveries, book transfers, treasury deals, or other activities, resulting in the movement of a security or amount of money from one account to another.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DlvrrDtls" type="InvestmentAccount11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelivererDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that sells goods or services, or a financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrsCtdnDtls" type="PartyIdentificationAndAccount2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliverersCustodianDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that acts on behalf of the seller of securities when the seller does not have a direct relationship with the delivering agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrrsIntrmyDtls" type="PartyIdentificationAndAccount2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliverersIntermediaryDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that the deliverer's custodian uses to effect the delivery of a security, when the deliverer's custodian does not have a direct relationship with the delivering agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DlvrgAgtDtls" type="PartyIdentificationAndAccount2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveringAgentDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that delivers securities to the receiving agent at the place of settlement, eg, central securities depository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSttlmSys" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementSystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the securities settlement system to be used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PlcOfSttlmDtls" type="PartyIdentificationAndAccount2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfSettlementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place where settlement of the securities takes place.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeliveryParameters2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeliveryParameters2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters of a physical delivery.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RegdAdrInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegisteredAddressIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the address for the physical delivery is the registered address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name and address to/from which the physical delivery/receipt of the financial instrument must take place.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DistributionPolicy1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DistributionPolicy1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if income is to be paid out (distributed) or retained (accumulated).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Distribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income is distributed to the investors in the fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accumulation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income is added to the capital of the fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="sese.006.001.01" type="sese.006.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EuroclearClearstreamIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EuroclearClearstreamIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg. The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extension1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Txt" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Text</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Text of the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrument3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrument3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Security that is a sub-set of an investment fund, and is governed by the same investment fund policy, eg, dividend option or valuation currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by an ISIN.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the financial instrument in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about a financial instrument to help identify the instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdNAVCcy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestedNAVCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency to be used for pricing the fund. This currency must be among the set of currencies in which the price may be expressed, as stated in the prospectus.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Features of units offered by a fund. For example, a unit may have a specific load structure, eg, front end or back end, an income policy, eg, pay out or accumulate, or a trailer policy, eg, with or without. Fund classes are typically denoted by a single character, eg, 'Class A', 'Class 2'.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesForm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Form, ie, ownership, of the security, eg, registered or bearer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrbtnPlcy" type="DistributionPolicy1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistributionPolicy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Income policy relating to a class type, ie, if income is paid out or retained in the fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Quantity of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Unit" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FormOfSecurity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FormOfSecurity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Form of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BEAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bearer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The financial instrument does not specify any registration of ownership, and  is payable to whomever possesses the certificate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Registered</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Shareholder name of the financial instrument appears in the corporation/funds books.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="IncomePreference1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IncomePreference1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the options for distribution of dividend income.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cash</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution in cash.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRIP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendReinvestment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reinvestment of proceeds into securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Intermediary1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Intermediary1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Organised structure that is set up for a particular purpose, eg, a business, government body, department, charity, or financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution, eg, Dun &amp; Bradstreet Identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Acct" type="Account1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business relationship between two entities; one entity is the account owner, the other entity is the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Role</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of  functions performed by an intermediary in a given situation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentAccount10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account between an investor(s) and a fund manager or a fund. The account can contain holdings in any investment fund or investment fund class managed (or distributed) by the fund manager, within the same fund family.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OwnerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctId" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDesignation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrmyInf" type="Intermediary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that provides services relating to financial products to investors, eg, advice on products and placement of orders for the investment fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesForm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Form, ie, ownership, of the security, eg, registered or bearer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DmtrlsdInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DematerialisedIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether a security exists only as an electronic record, ie, there is no physical document representing the security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPref" type="IncomePreference1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncomePreference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dividend option chosen by the account owner based on the options offered in the prospectus.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryCertfctnInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryCertificationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the beneficial ownership certification has been sent, certifying that the beneficial owner is eligible to own a specific investment fund or investment fund class.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place requested as the place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party related to an account that is not the legal account owner, eg, the power of attorney.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvestmentAccount11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InvestmentAccount11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account between an investor(s) and a fund manager or a fund. The account can contain holdings in any investment fund or investment fund class managed (or distributed) by the fund manager, within the same fund family.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnrId" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OwnerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctId" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDsgnt" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDesignation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplementary registration information applying to a specific block of units for dealing and reporting purposes. The supplementary registration information may be used when all the units are registered, for example, to a funds supermarket, but holdings for each investor have to reconciled individually.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="IntrmyInf" type="Intermediary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that provides services relating to financial products to investors, eg, advice on products and placement of orders for the investment fund.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesForm" type="FormOfSecurity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesForm</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Form, ie, ownership, of the security, eg, registered or bearer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DmtrlsdInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DematerialisedIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether a security exists only as an electronic record, ie, there is no physical document representing the security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmPref" type="IncomePreference1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncomePreference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dividend option chosen by the account owner based on the options offered in the prospectus.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryCertfctnInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryCertificationIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the beneficial ownership certification has been sent, certifying that the beneficial owner is eligible to own a specific investment fund or investment fund class.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party related to an account that is not the legal account owner, eg, the power of attorney.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LongPostalAddress1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LongPostalAddress1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ustrd" type="Max140Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unstructured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Strd" type="StructuredLongPostalAddress1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Structured</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in a formal structure.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Adr" type="LongPostalAddress1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an organisation that is allocated by an institution.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentificationAndAccount2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Party involved in the settlement chain.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the account owned by the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reference of the transaction at the party identified in the sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and optionally the time, at which this transaction was processed by the party identified in this sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, eg, IBM in UK is IBM.UK.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AltrnId" type="AlternateSecurityIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AlternateIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RIC" type="RICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reuters Identification Code (RIC). A numbering system used within the Reuters system to identify instruments worldwide. The RIC contains an X-character market specific code (can be the CUSIP or EPIC codes) followed by a full stop, then the two-digit ISO country code, eg, IBM in UK is IBM.UK.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TckrSymb" type="TickerIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TickerSymbol</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Blmbrg" type="BloombergIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Bloomberg</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Bloomberg organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CTA" type="ConsolidatedTapeAssociationIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CTA</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Consolidated Tape Association.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Cmon" type="EuroclearClearstreamIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Common</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifier of securities issued in Luxembourg.  The common code is a 9-digit code that replaces the CEDEL (Clearstream) and Euroclear codes.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementDate1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDate1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the date of settlement in coded form.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AsSoonAsPossible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer is to be effected as soon as possible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AtEndOfContract</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer is to be effected at the end of the contract.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WHIF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WhenAndIfIssued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place when the financial instrument is issued by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SimpleIdentificationInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StructuredLongPostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StructuredLongPostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Address of a party expressed in a formal structure, usually according to the country's postal services specifications.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the building or house.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtBldgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetBuildingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Flr" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Floor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Floor or storey within a building.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DstrctNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DistrictName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a district, ie, a part of a town or region.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RgnId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an administrative division of a country, state, or territory.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Stat" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">State</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Organised political community or area forming a part of a federation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtyId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCdId" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCodeIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="POB" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostOfficeBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Numbered box in a post office, assigned to a person or organisation, where letters are kept until called for.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TickerIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Transfer3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Transfer3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters applied to the settlement of a security transfer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TrfRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransferReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a transfer instruction, as assigned by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfDt" type="DateFormat1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransferDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be delivered or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TtlUnitsNb" type="FinancialInstrumentQuantity1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalUnitsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of securities to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OwnAcctTrfInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OwnAccountTransferIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the transfer results in a change of beneficial owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransferIn2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferIn2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about a transfer in transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TrfDtls" type="Transfer3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransferDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information related to the transfer of a financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrmDtls" type="FinancialInstrument3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the financial instrument to be received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctDtls" type="InvestmentAccount10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the account into which the financial instrument is to be received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDtls" type="DeliverInformation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to the delivering side of the transfer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="sese.006.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransferInCancellationInstruction</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
TheTransferInCancellationInstruction message is sent by an instructing party, or an instructing party's designated agent, to the executing party.&#13;
This message is used to request the cancellation of a TransferInInstruction that was previously sent by the instructing party.&#13;
Usage&#13;
TheTransferInCancellationInstruction message is sent by an instructing party to request cancellation of a previously sent TransferInInstruction.&#13;
This message must contain the reference of the message to be cancelled. The message may also contain all the details of the message to be cancelled, but this is not recommended.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PrvsRef" type="AdditionalReference2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolRef" type="AdditionalReference2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoolReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RltdRef" type="AdditionalReference2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to a linked message that was previously received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfInToBeCanc" type="TransferIn2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransferInToBeCancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The transfer in request message to cancel.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
