WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seev.002.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:55, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:seev.002.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:seev.002.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateFinancialInstrumentIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateFinancialInstrumentIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A proprietary or domestic identification scheme that uniquely identifies a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmendInformation">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmendInformation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information specific to an amendment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PrvsRef" type="InstructionIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviousReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the meeting notification to be modified.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RcnfrmInstrs" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReconfirmInstructions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether instructions must be resent (in case of modification of the parameters of a meeting for which instructions have already been sent).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CUSIPIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. Non-US securities have a similar number called the CINS number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="seev.002.001.01" type="seev.002.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EligiblePosition">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EligiblePosition</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the voting entitlement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="HldgBal" type="HoldingBalance2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldingBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding of a single security within the overall position held in a securities account, eg, sub-balance per status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RghtsHldr" type="PartyIdentification7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RightsHolder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Owner of the voting rights.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information expressed in a proprietary manner.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Issr" type="Max8Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Inf" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nrrtv" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldingBalance2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HoldingBalance2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding of a single security within the overall position held in the securities account, eg, sub-balance per status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="UnitOrFaceAmountChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Balance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instrument for the referenced holding.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTp" type="SecuritiesEntryType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason a security is not available or additional information about the financial instrument for which the balance is given, for example, unregistered, registered in nominee name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormatChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place where the securities are safe-kept, physically or notionally.  This place can be, for example, a local custodian, a Central Securities Depository (CSD) or an International Central Securities Depository (ICSD).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of the entitlement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VtngRghtsNb" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VotingRightsNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of voting rights.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InstructionIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies an instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max8Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 8 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingCancellationReason">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingCancellationReason</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for cancelling a meeting.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="MeetingCancellationReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for cancelling a meeting in coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CxlRsn" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancellationReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for cancelling a meeting in free format form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingCancellationReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingCancellationReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for cancelling a meeting.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="QORM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quorum</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation due to insufficient participation to the vote.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PROC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Processing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation due to a processing error.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation due to another reason.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingReference1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingReference1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Elements which allow to identify a meeting.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned to a general meeting by the party notifying the meeting. It must be unique for the party notifying the meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerMeetingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned to a general meeting by the issuer. It must be unique for the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtgDtAndTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingDateAndTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the meeting will take place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="MeetingType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of meeting for which  instructions are sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of the company meeting for the scheduled meeting date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of security holders meeting.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnnualGeneralMeeting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting held periodically to approve the financial statements and elect the board members and the auditors.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting that is not planned in the by laws.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="XMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extraordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting that takes place as needed, in addition to the general meetings, is extraordinary as per the bylaws. The resolutions are related to the unusual business of the company, for example approval of takeovers or mergers or spin-offs. These meetings are always issuer initiated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MIXD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mixed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting which contains both ordinary and extraordinary resolutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassMeeting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting for a class of assets.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CourtMeeting</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the meeting is the result of a legal proceeding.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Special</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting that takes place as needed that is neither ordinary nor extraordinary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification7Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification7Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party by a choice between a BIC, a BEI or a name and address.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Bank Identifier Code. Code allocated to financial institutions by the Registration Authority, under an international identification scheme, as described in the latest version of the standard ISO 9362 Banking (Banking telecommunication messages, Bank Identifier Codes).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QUICKIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SEDOLIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number. A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtLocalCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at a local custodian.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtICSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at an International Central Securities Depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtNCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at a National Central Securities Depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldElsewhere</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used for certain financial instruments, for example, US mutual funds, where settlement is internal only, that is, there is no external movement of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceAsCodeAndPartyIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceAsCodeAndPartyIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the place of safekeeping expressed as a code and a BIC.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcSfkpg" type="SafekeepingPlace1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceSafekeeping</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nrrtv" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty" type="PartyIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceFormatChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceFormatChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceAsCodeAndPartyIdentification">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed as a code and BIC.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IdAsDSS" type="GenericIdentification5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IdentificationAsDSS</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a propriety identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IdAsCtry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IdentificationAsCountry</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a country code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesEntryType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesEntryType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of securities entry on an account.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Blocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that are blocked or frozen. A financial instrument may be unavailable due to external circumstances such as a court order, death of beneficiary or account owner, or bankruptcy.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ELIG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Eligible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total number of securities eligible for this event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingDelivery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that are pending delivery.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PENR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingReceipt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that are pending receipt.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOMI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Registered</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that are registered (in the name of a nominee or of the beneficial owner).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SETD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities representing only settled transactions</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BORR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Borrowed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that have been borrowed from another party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnLoan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that have been loaned to a third party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities that remain registered in the name of the prior beneficial owner of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRAD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Traded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of securities representing traded transactions</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security by its symbol.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TckrSymb" type="TickerIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TickerSymbol</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CUSIP" type="CUSIPIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CUSIP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. The CUSIP is composed of a 9-character number that uniquely identifies a particular security.  Non-US securities have a similar number called the CINS number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SEDOL" type="SEDOLIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SEDOL</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number.  A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QUICK" type="QUICKIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QUICK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="AlternateFinancialInstrumentIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityPosition">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityPosition</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security held in an account on which the balance is calculated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1000" minOccurs="0" name="Pos" type="EligiblePosition">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Position</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of securities that are eligible for the vote.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TickerIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TickerIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnitOrFaceAmountChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnitOrFaceAmountChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a unit in decimal number or a face amount in currency and amount.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="DecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="CurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="seev.002.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingCancellation</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The MeetingCancellation message is sent to cancel a MeetingNotification message previously sent or to advise a meeting cancellation. It is sent by the party that sent the MeetingNotification message to the original receiver.&#13;
Usage&#13;
The MeetingCancellation message may be used in two different situations.&#13;
First, it may be sent to cancel a previously sent MeetingNotification message. In that case, the MessageCancellation building block must be filled in.&#13;
Second, it may be sent to advise that the meeting is cancelled. The information necessary to identify the meeting has to be present, ie MeetingDateAndTime, meeting location and security identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MtgCxlId" type="InstructionIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingCancellationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the cancellaton instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgCxl" type="AmendInformation">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageCancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information indicating that the cancellation of a message previously sent is requested (and not the cancellation of the meeting).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtgRef" type="MeetingReference1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Series of elements which allow to identify a meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NtifngPty" type="PartyIdentification7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotifyingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party notifying the cancellation of the meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="200" minOccurs="1" name="Scty" type="SecurityPosition">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Security</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the security for which the meeting was organised.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rsn" type="MeetingCancellationReason">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the justification for the cancellation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
