WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seev.006.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:57, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.006.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.006.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternateFinancialInstrumentIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateFinancialInstrumentIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A proprietary or domestic identification scheme that uniquely identifies a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DmstIdSrc" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DomesticIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryIdSrc" type="Max16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentificationSource</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CUSIPIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CUSIPIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. Non-US securities have a similar number called the CINS number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="CancellationProcessingStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationProcessingStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status advising on the processing of the cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="CancellationStatus3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the request for cancellation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationRejectionStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationRejectionStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status advising on the rejection of the cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectionReason2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason advising the rejection of the instruction cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedRsn" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">This code can be used in case another reason is required.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationStatus1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationStatus1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status applying to the instruction cancellation request received.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PrcgSts" type="CancellationProcessingStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status advising on the processing of the cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RjctnSts" type="CancellationRejectionStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RejectionStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status advising on the rejection of the cancellation request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancellationStatus3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationStatus3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the cancellation status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation instruction / request has been received and has been acknowledged / accepted for further processing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation instruction / request is pending. It is not known at this time whether cancellation can be effected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation instruction / request has been accepted and processed, the cancellation is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedByIssuerOrRegistrar</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation instruction / request has been confirmed by Issuer or Registrar.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DetailedInstructionStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DetailedInstructionStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status applying to individual instructions of a MeetingInstruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="InstrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the detailed instruction within an instruction message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the subaccount of the safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstrSts" type="InstructionStatus2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status applying to individual instructions of a MeetingInstruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgInstrSts" type="MeetingInstructionStatusV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Extended350Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extended350Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code and / or description for values that are not yet part of the related code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="InstructionProcessingStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstructionProcessingStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status advising on the processing of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="Status3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status on the processing of the instructions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionRejectionStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstructionRejectionStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status advising on the rejection of the instruction or cancellation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rsn" type="RejectionReason1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason advising the rejection of the instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="XtndedRsn" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">This code can be used in case another reason is required.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionStatus1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstructionStatus1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status applying to the instruction request received.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="GblInstrSts" type="InstructionStatus2Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">GlobalInstructionStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status applying globally to the instruction received. The instruction is identified by the InstructionIdentification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="DtldInstrSts" type="DetailedInstructionStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DetailedInstructionStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status applying to individual instructions of a MeetingInstruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstructionStatus2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">InstructionStatus2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Status applying globally to the instruction received.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PrcgSts" type="InstructionProcessingStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status advising on the processing of the instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RjctnSts" type="InstructionRejectionStatus1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RejectionStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status advising on the rejection of the instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingInstructionStatusV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingInstructionStatusV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The Receiver of the MeetingInstruction or MeetingInstructionCancellationRequest sends the MeetingInstructionStatus message to the Sender of these messages.&#13;
The message gives the status of a complete message or of one or more specific instructions within the message.&#13;
Usage&#13;
The MeetingInstructionStatus message is used for four purposes.&#13;
First, it provides the status on the processing of a MeetingInstructionCancellationRequest message, ie, whether the request message is rejected or accepted.&#13;
Second, it is used to provide a global processing or rejection status of a MeetingInstruction message.&#13;
Third, it is used to provide a detailed processing or rejection status of a MeetingInstruction message, ie, for each instruction in the MeetingInstruction message the processing or rejection status is individually reported by using the InstructionIdentification element. This identification allows the receiver of the status message to link the status confirmation to its original instruction.&#13;
The blocking of securities should be confirmed via an MT 508 (Intra-Position Advice).&#13;
Fourth, it is used as a reminder to request voting instructions. This is done by indicating NONREF in the Identification element of the InstructionIdentification component and by using the status code NotReceived in the ProcessingStatus.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MtgInstrStsId" type="MessageIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingInstructionStatusIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the meeting instruction status message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="InstrId" type="MessageIdentification">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifies the meeting instruction message for which the status is provided.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="InstrCxlId" type="MessageIdentification">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InstructionCancellationIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifies the meeting instruction cancellation request message for which the status is provided.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element name="MtgRef" type="MeetingReference3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Series of elements which allow to identify a meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptgPty" type="PartyIdentification9Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportingParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party reporting the status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctyId" type="SecurityIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the securities for which the meeting is organised. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="InstrSts" type="InstructionStatus1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">InstructionStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status applying to the instruction request received. The instruction is identified by the InstructionIdentification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CxlSts" type="CancellationStatus1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CancellationStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Status applying to the instruction cancellation request received. The instruction cancellation is identified by the InstructionCancellationIdentification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingReference3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingReference3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Elements which allow to identify a meeting.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned to a general meeting by the party notifying the meeting. It must be unique for the party notifying the meeting.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerMeetingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned to a meeting by the issuer. It must be unique for the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MtgDtAndTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MeetingDateAndTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the meeting will take place.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="MeetingType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of meeting for which  instructions are sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Classification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Classifies the type of meeting.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="XtndedClssfctn" type="Extended350Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ExtendedClassification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">This code can be used in case another meeting classifications is required.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of the company meeting for the scheduled meeting date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of security holders meeting.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extraordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting that takes place as needed, in addition to the general meetings, is extraordinary as per the bylaws. The resolutions are related to the unusual business of the company, for example approval of takeovers or mergers or spin-offs. These meetings are always issuer initiated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">General</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Includes annual and ordinary meeting. Statutory meeting(s) usually held at least once a year.  The resolutions are related to the usual business of the company, for example approval of dividends, directors, etc. These meetings are always issuer initiated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MIXD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Mixed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting which contains both ordinary and extraordinary resolutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Special</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting that takes place as needed that is neither ordinary nor extraordinary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MeetingTypeClassification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MeetingTypeClassification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Classifies the meeting type.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Annual</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting held periodically to approve the financial statements and to elect the board members and the auditors.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OMET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ordinary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies a meeting which is planned in the by-laws.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Class</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meeting for holders of a specific type of asset, e.g. preferred shs, bonds, &#133;</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISSU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the meeting is the result of an obligation or a decision made by the issuer as opposed to voting rights holder initiated, ex. contested meeting.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VRHI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VotingRightsHolderInitiated</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the meeting is the result of a request or an action of a voting right holder(s), e.g. contested meeting.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CORT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Court</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the meeting is the result of a legal proceeding.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MessageIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a message by a unique identifier and the date and time when the message was created by the sender.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date of creation of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification9Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification9Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QUICKIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QUICKIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADEA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerDeadlineMissed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction received after the account servicer&#146;s specified deadline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketDeadlineMissed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Received after market deadline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DQUA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid instructed quantity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IPOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientTresholdPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is less than required threshold.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LackofSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instructed position exceeds the eligible balance.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SAFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction contains an invalid or unrecognised safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RBIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectedByIssuerOrRegistrar</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer or Registrar has rejected the instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EVNM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnrecognizedIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised event number or identification (eg corporate action event number, a meeting identification)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ULNK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction contains an invalid message reference, reference is unknown.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRXY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProxyCardDiscrepancy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid proxy information.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialVoteNotAllowed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Partial voting is not allowed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SplitVoteNotAllowed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Split voting is not allowed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IPOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingOrInvalidPOA</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Missing or invalid power of attorney.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IREG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationDiscrepancy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid registration information.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid financial instrument identification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RejectionReason2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ULNK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction contains an invalid message reference, reference is unknown.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RBIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectedByIssuerOrRegistrar</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issuer or Registrar has rejected the instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INIR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionIrrevocable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The instruction is irrevocable</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADEA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerDeadlineMissed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction received after the account servicer&#146;s specified deadline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketDeadlineMissed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Received after market deadline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectedSinceAlreadyCancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation request was rejected since the instruction has already been cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPRG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RejectedSinceInProgress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation request has been rejected because the instruction process is in progress or has been processed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SEDOLIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SEDOLIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number. A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security by its symbol.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TckrSymb" type="TickerIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TickerSymbol</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CUSIP" type="CUSIPIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CUSIP</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Committee on Uniform Securities and Identification Procedures (CUSIP). The standards body that created and maintains the securities classification system in the US. The CUSIP is composed of a 9-character number that uniquely identifies a particular security.  Non-US securities have a similar number called the CINS number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SEDOL" type="SEDOLIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SEDOL</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Stock Exchange Daily Official List (SEDOL) number.  A code used by the London Stock Exchange to identify foreign stocks, especially those that aren't actively traded in the US and don't have a CUSIP number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QUICK" type="QUICKIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QUICK</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier of a security assigned by the Japanese QUICK identification scheme for financial instruments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrId" type="AlternateFinancialInstrumentIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of a security assigned by an institution or organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Status3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Accepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been accepted and is validated for further processing</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotReceived</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No instruction has been received (to be used in a reminder).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Completed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing has been completed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivedByIssuerOrRegistrar</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been confirmed by Issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standing instruction is applied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TickerIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TickerIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Letters that identify a stock traded on a stock exchange. The Ticker Symbol is a short and convenient way of identifying a stock, eg, RTR.L for Reuters quoted in London.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
