WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.008.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:03, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.008.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.008.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="CashInLieuSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashInLieuSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cash in lieu election details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity elected.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DTCCCAINSD1V01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCAINSD1V01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCAINSD1 message extends ISO corporate action instruction message with DTCC corporate action elements not covered in the standard message. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OptnlDvdd" type="OptionalDividendAccountQuantitySD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OptionalDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Corporation) Optional Dividend service election.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxXmpt" type="TaxExemptQuantitySD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxExempt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Corporation) Tax Exempt service election.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="WireInstr" type="WireInstructionSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WireInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Corporation) Foreign Currency Payment service wire payment instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DTCTaxRlf" type="DTCTaxReliefSD2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DTCTaxRelief</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Corporation) Tax Relief service election.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="USTaxWhldg" type="USTaxWithholdingSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USTaxWithholding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">U.S. Tax Withholding elections.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CshInLieu" type="CashInLieuSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashInLieu</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Corporation) Cash In Lieu service election.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DTCTaxReliefSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCTaxReliefSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about tax relief categories.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CtgyId" type="Exact3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CategoryIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DTC System assigned identification for tax relief category.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtgyDesc" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CategoryDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Describes tax relief category.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DTCTaxReliefSD2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCTaxReliefSD2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">DTC (The Depository Trust Company) Tax Relief service election details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DTCTaxRlfCtgy" type="DTCTaxReliefSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DTCTaxReliefCategory</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about the defined tax relief categories used by DTC (The Depository Trust Corporation).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstrQty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instructed quantity for DTC Tax Relief service elections.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCAINSD1" type="DTCCCAINSD1V01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity15Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max105Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 105 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max6Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 6 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NRATax1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NRATax1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Non resident alien U.S. tax codes.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="T011">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DomesticIncomeDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for domestic source income dividends.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T012">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignIncomeDividends</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for foreign source income dividends.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T013">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendsDomesticNonTaxable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for non taxable domestic dividends.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T014">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendsFullyExempt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for fully exempt dividends  on municipal  type mutual funds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T015">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendsFederalTaxableStateExempt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for federal taxable state exempt dividends.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T019">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnOfCapital</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for Return Of Capital proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T021">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LongTermCapitalGains</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for Long Term Capital Gains proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T022">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortTermCapitalGains</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for Short Term Capital Gains proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T023">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FIRPTAEligible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for FIRPTA eligible (REITS).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T025">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">REITCapitalGainDistributions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for REIT (Capital Gain Distributions).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T026">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitedPubliclyTradedPartnership</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for  limited publicly traded partnership.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T027">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubstituteDividendPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for substitute dividend payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T029">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CapitalGainDistributionShortTermRICs</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for short term capital gain distributions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T302">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionDividendCapitalGains</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for dividend or capital gains distribution due to a corporate action.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T041">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USSourceOrdinaryInterest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for U.S. source ordinary interest proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T042">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignBondInterest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for foreign bond interest proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T043">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllStateAndTerritorialMunicipalInterest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for all state and territorial municipal interest proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T044">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllMunicipalBondsSubjectToFederalTax</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for all municipal bonds that are subject to federal tax proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T045">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USGovernmentInterestOnContractsNotesAndMortgages</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for U.S. government interest on contracts Notes &amp; mortgages proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T046">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USGovernmentInterestOnGNMA1And2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for U.S. government interest on GNMA 1 &amp; 2 proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T047">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestOnCollatralizedMortgageObligations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for interest on collateralized mortgage obligations proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T048">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestOnCertificatesOfDeposit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for interests on certificates of deposits proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T049">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USGovernmentInterest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for U.S. government interest proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T050">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USGovernmentInterestOnNotesAndBills</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax Category for US government interest on Notes and Bills.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T051">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PrincipalPaydowns</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for principal pay downs proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T052">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortTermInterest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for Short Term Interest (less than 183 days) proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T053">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">USGovernmentInterestLongerThan183Days</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for U.S. Government Interest (longer that 183 days) proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T054">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestSubstitutePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for interest substitute payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T055">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherSusbtitutePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for other substitute payment that cannot be categorised.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T061">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NRAWithholdingTax</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for NRA withholding tax.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T062">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FederalBackUpDividends</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for federal backup dividends proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T063">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FederalBackUpInterest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for federal backup interest proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T064">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignTaxWithheldAtSourceDividends</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for foreign tax withheld at source dividends proceeds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T065">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ForeignTaxWithheldAtSourceInterest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for foreign tax withheld at source interest proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T070">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CustodyIssues</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for custody issues.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T071">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestOnBalances</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for interest on balances proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T072">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestOnSeriesEOrHBonds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for interest on series E or H bonds proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T073">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RoyaltyPayments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for royalty payments proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T074">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherTaxableIncome</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for other taxable income proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T075">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherNonTaxableIncome</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for other non-taxable income proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T076">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiscellaneousPayments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for miscellaneous payments proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T024">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashInLieuOfFractionalShares</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for Cash-in-Lieu of fractional shares proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T077">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockSplit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for stock split proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T078">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for stock dividend proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T079">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashOnIncreasedShares</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for cash on increased shares proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="T080">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpinOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax category for  spin off proceeds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OptionalDividendAccountQuantitySD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OptionalDividendAccountQuantitySD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding optional dividend election details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account where financial instruments are maintained.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BnfclOwnrQty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficialOwnerQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Beneficial owner quantity to be paid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RateFormat6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RateFormat6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a rate or an unspecified rate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Value is expressed as a rate.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NotSpcfdRate" type="RateValueType7Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NotSpecifiedRate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Value of the rate not specified.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateValueType7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RateValueType7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the value of a rate.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate is unknown by the sender or has not been established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters. It has a pattern ([^/]+/)+([^/]+)|([^/]*) that disables the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxExemptQuantitySD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TaxExemptQuantitySD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Tax exempt election details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CtrlId" type="Max6Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ControlIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax control ID.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Elected quantity. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="USTaxWithholdingSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">USTaxWithholdingSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">US tax withholding election details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NRATaxCd" type="NRATax1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NRATaxCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Non resident alien (NRA) tax code. Each U.S. tax withholding eligible distribution must have a determination of the tax liability. This code is relevant to tax withholding and U.S. IRS reporting. Foreign securities also have an applicable tax code, but all foreign issues have one standard code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="WhldgTaxRate" type="RateFormat6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WithholdingTaxRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage of a cash distribution that will be withheld by a tax authority.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Elected quantity per NRA tax code.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="WireInstructionSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">WireInstructionSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Payment wire instruction details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WireQty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WireQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities concerned in this wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkNm" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkAdr" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Street address of the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkCity" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankCity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">City of the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkCtry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankCountry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country of the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkAttnTo" type="Max105Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankAttentionTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Responsible person in the recipient back for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BkCmnts" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BankComments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notes or comments for the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BnfcryAcct" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account type at the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BnfcryAcctId" type="RestrictedFINMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account identification at the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BnfcryAcctCmnts" type="Max140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BeneficiaryAccountComments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notes or comments for the beneficiary account at the recipient bank for the wire.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
