WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.013.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:33, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.013.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.013.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl. Identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID). Identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification  (UID).  Identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected.  The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsARNIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number. Identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemMemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identifiers for a clearing system member, as assigned by the clearing system. In some clearing systems, the accounts of the clearing system members are also assigned an identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="USCHU" type="CHIPSUniversalIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSUniversalIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payments System (CHIPS) Universal Identification (UID) - identifies entities that own accounts at CHIPS participating financial institutions, through which CHIPS payments are effected. The CHIPS UID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NZNCC" type="NewZealandNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code - identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IENSC" type="IrishNSCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code - identifies Irish financial institutions on the Irish national clearing system. The code is assigned by the Irish Payments Services Organisation (IPSO).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code - identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USCH" type="CHIPSParticipantIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CHIPSParticipantIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">(United States) Clearing House Interbank Payment System (CHIPS) Participant Identifier (ID) - identifies financial institutions participating on CHIPS. The CHIPS Participant ID is assigned by the New York Clearing House.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHBC" type="SwissBCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissBCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code - identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="USFW" type="FedwireRoutingNumberIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number - identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PTNCC" type="PortugueseNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code - identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code - identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ITNCC" type="ItalianDomesticIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentificationCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code - identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustrianBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Austrian Bankleitzahl - identifies Austrian financial institutions on the Austrian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CanadianPaymentsAssociationRoutingNumberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Canadian Payments Association Routing Number - identifies Canadian financial institutions on the Canadian national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CHSIC" type="SwissSICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SwissSICIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code - identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl - identifies German financial institutions on the German national clearing systems.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code - identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC) - identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="HKNCC" type="HongKongBankIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">HongKongBankCode</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code - identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianExtensiveBranchNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AUBSBs" type="SmallNetworkIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AustralianSmallNetworkIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions , as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetMmb" type="GetMemberV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExtensiveBranchNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The extensive branch network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FedwireRoutingNumberIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Fedwire Routing Number. Identifies financial institutions, in the US, on the FedWire system. The routing number is assigned by the American Bankers Association (ABA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GermanBankleitzahlIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">German Bankleitzahl. Identifies German financial institutions on the German national clearing systems.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GetMemberV02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetMemberV02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The GetMember message is sent by a member to the transaction administrator.&#13;
It is used to request information on static data maintained by the transaction administrator and related to the participants in the system and their membership status vis-a-vis this system.&#13;
Usage&#13;
The transaction administrator is in charge of providing the members with business information. The term business information covers all information related to the management of the system, that is, not related to the transactions entered into the system. The type of business information available can vary depending on the system. Among other things, it can refer to information about the membership of the system.&#13;
At any time during the operating hours of the system, the member can query the transaction administrator to get information about the static data related to the members of the system.&#13;
The member can request information based on the following elements:&#13;
- identification of the member within the system&#13;
- membership status&#13;
- type of member&#13;
- contact details for the member: name, address&#13;
- account number of the member&#13;
- identification of contact persons for the member&#13;
This message will be replied to by a ReturnMember message.&#13;
Additional information on the generic design of the Get/Return messages can be found in the MDR Part 1 section How to Use the Cash Management Messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MmbQryDef" type="MemberQueryDefinition2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Definition of the member query.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HongKongBankIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Hong Kong Bank Code. Identifies Hong Kong financial institutions on the Hong Kong local clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IrishNSCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Irish National Sorting Code. Identifies Irish financial institutions on the Irish national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ItalianDomesticIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Italian Domestic Identification Code. Identifies Italian financial institutions on the Italian national clearing system. The code is assigned by the Associazione Bancaria Italiana (ABI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemberCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for a member and to report on the member. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewQueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query defined by the search criteria and return criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SchCrit" type="MemberSearchCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria based on which the information is extracted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RtrCrit" type="MemberReturnCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReturnCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the expected report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberCriteriaDefinitionChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberCriteriaDefinitionChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="QryNm" type="Max35Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">QueryName</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Recalls the criteria (search and return criteria) defined in a preceding query.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NewCrit" type="MemberCriteria">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Defines the criteria based on which the information is extracted.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberIdentificationChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberIdentificationChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between BIC and clearing system member identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BIC" type="BICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentificationChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a clearing system member, as assigned by the system or system administrator.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberQueryDefinition2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberQueryDefinition2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="QueryType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of matching items to be returned in the response to the query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MmbCrit" type="MemberCriteriaDefinitionChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the member query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberReturnCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberReturnCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to report on a member.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the member name is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MmbRtrAdrInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberReturnAddressIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the member return address is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the member account is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TpInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TypeIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the member type is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the member status is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctRefInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContactReferenceIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the contact references are requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ComAdrInd" type="RequestedIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CommunicationAddressIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the communication addresses are requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MemberSearchCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberSearchCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for a member.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Id" type="MemberIdentificationChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a member within a system, assigned using the member identification scheme of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tp" type="MemberType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the relationship a member has with a system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sts" type="MemberStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of a member in a system, eg, enabled or deleted.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MemberStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the live status of a member of a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENBL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Enabled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is live on the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSBL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Disabled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is temporarily not live on the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is no longer live on the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="JOIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Joining</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is joining and will soon be enabled on the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MemberType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the membership of a party in a system. A system may recognise different types of membership, with different related rights and obligations.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Direct</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member has full rights in the system. In principle, this membership status entails financial responsibility for its own operations and sponsored members' operations submitted to the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDRT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Indirect</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member has limited rights in the system specifications. In principle, this membership status entails no financial responsibility for its operations submitted to the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RMTE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Remote</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member has access to the system from a remote location or through remote technical means.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EURO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EURO1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is entitled to access the Euro1 system of the Euro Banking Association (EBA).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STEP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">STEP1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Member is entitled to access the Step1 system of the Euro Banking Association (EBA).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for a message, as assigned by the Sender. This unique identifier can be used for cross-referencing purposes in subsequent messages.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies a message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NewZealandNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New Zealand Bank/Branch Code. Identifies New Zealand institutions on the New Zealand national clearing system. The code is assigned by the New Zealand Bankers' Association (NZBA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PortugueseNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Portuguese National Clearing Code. Identifies Portuguese financial institutions on the Portuguese national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifyies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">All</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that all matching items be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Changed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only new matching items since the last similar query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MODF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Modified</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that only items that have changed since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the query requests that items that have been deleted since the last query be returned.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RequestedIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestedIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates if requested or not.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RussianCentralBankIdentificationCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Russian Central Bank Identification Code. Identifies Russian financial institutions on the Russian national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SmallNetworkIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The small network list of the Australian Bank State Branch (BSB) Code. The codes are used for identifying Australian financial institutions, as assigned by the Australian Payments Clearing Association (APCA).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SouthAfricanNCCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">South African National Clearing Code (NCC). Identifies South African financial institutions on the South African national clearing system. The code is assigned by the South African Bankers Services Company Ltd. (BankServ).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SpanishDomesticInterbankingIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Spanish Domestic Interbanking Code. Identifies Spanish financial institutions on the Spanish national clearing system. The code is assigned by the Centro de Cooperacion Interbancaria (CCI).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissBCIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Bank Code. Identifies Swiss institutions on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SwissSICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Swiss Interbank Clearing (SIC) Code. Identifies Swiss financial institutions domestically, on the Swiss national clearing system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UKDomesticSortCodeIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">United Kingdom (UK) Sort Code. Identifies British financial institutions on the British national clearing systems. The sort code is assigned by the Association for Payments and Clearing Services (APACS).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
