WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seev.038.002.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:46, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:seev.038.002.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:seev.038.002.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides account identification information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IdCd" type="SafekeepingAccountIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Standard code to specify that announcement applies to all safekeeping accounts that own underlying financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification10Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification10Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between all accounts (GENR - General in ISO 15022) or one or more selected accounts and balance information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ForAllAccts" type="AccountIdentification10">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ForAllAccounts</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">All safekeeping accounts that own underlying financial instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctsListAndBalDtls" type="AccountIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AccountsListAndBalanceDetails</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Selected safekeeping accounts list (and optionally balance information) to which the corporate action event applies.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides account identification information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgAcct" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account where financial instruments are maintained.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification18Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Location where the financial instruments are/will be safekept.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ConfdBal" type="BalanceFormat2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance to which the payment applies (less or equal to the total eligible balance).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AlternateIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AlternateIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Alternate identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IdSrc" type="IdentificationSource2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IdentificationSource</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Source of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceFormat2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceFormat2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between balance, eligible balance and not eligible balance formats.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Bal" type="SignedQuantityFormat3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Balance</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides information about balance related to a corporate action.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ElgblBal" type="SignedQuantityFormat4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EligibleBalance</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provide eligible balance information in different formats.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NotElgblBal" type="SignedQuantityFormat4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NotEligibleBalance</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provide not eligible balance information in different formats.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CopyDuplicate1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COPY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionGeneralInformation18">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation18</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General information about the corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned by the account servicer to unambiguously identify a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfficialCorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Official and unique reference assigned by the official central body/entity within each market at the beginning of a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NrrtvTp" type="CorporateActionNarrative2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NarrativeType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of narrative related to the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative.002V01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNarrative.002V01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The CorporateActionNarrative message is sent between an account servicer and an account owner or its designated agent to cater for tax reclaims, restrictions, documentation requirements. This message is bi-directional.&#13;
Usage&#13;
The message may also be used to:&#13;
- re-send a message previously sent (the sub-function of the message is Duplicate),&#13;
- provide a third party with a copy of a message for information (the sub-function of the message is Copy),&#13;
- re-send to a third party a copy of a message for information (the sub-function of the message is Copy Duplicate).
ISO 15022 - 20022 COEXISTENCE SUBSET
This message definition is a subset of an ISO 20022 message that was reversed engineered from ISO 15022. A subset is a message definition that is compatible with another definition, but is more restrictive.
The ISO 15022 and ISO 20022 standards will coexist for a number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. These
restrictions, which are described by textual usage rules in the ISO 20022 message, have been made mandatory in this subset.
NOTE: The ISO 20022 message coexistence textual rules have been kept in the subset to explain why specific data types have been restricted. These textual rules are identified as follows: CoexistenceXxxxRule.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification16">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that unambiguously identifies a CorporateActionNarrative message as know by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctDtls" type="AccountIdentification10Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the safekeeping account and the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UndrlygScty" type="UnderlyingSecurity2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnderlyingSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information about the securitised right for entitlement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation18">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddtlInf" type="UpdatedAdditionalInformation4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgOrgtr" type="PartyIdentification16Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageOriginator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that originated the message, if other than the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgRcpt" type="PartyIdentification16Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageRecipient</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that is the final destination of the message, if other than the receiver.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Xtnsn" type="Extension2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Extension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionNarrative1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNarrative1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the narrative type of a corporate action.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAXE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxationConditions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides taxation conditions that cannot be included within the structured fields of this message.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REGI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RegistrationDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information required for the registration.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WTRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WithholdingTaxReliefCertification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certification process for withholding tax reduction or exemption based on the tax status of the holder.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RFMC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ICSDRefusalOfMarkUpDownConfirmation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">In the context of  a corporate action, an International Central Securities Depository (ICSD)  refuses a mark-up/mark-down confirmation sent by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PAUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ChasingOfPriorAuthorization</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Central Securities Depository (ICSD) chases the authorisation from the account servicer in order to process the exchange from global temporary to global permanent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConfirmationOfHoldingTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Confirmation of transfer of interests between International Central Securities Depositories (ICSDs) following a corporate actions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionNarrative2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNarrative2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a standard code or a proprietary code to specify the narrative type of corporate action.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionNarrative1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the narrative type of the message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification25">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the narrative type of the message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnNrrtv" type="CorporateActionNarrative.002V01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification16">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification16</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the document (message) was created by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Extension2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Extension2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name qualifying the information provided in the Text field, and place where this information should be inserted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XtnsnEnvlp" type="ExtensionEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExtensionEnvelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExtensionEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExtensionEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated extension information. This technical envelope allows to segregate the extension information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExtensionContents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the extension.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity15Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification24">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification24</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification25">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification25</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification26">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification26</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification expressed as a proprietary type and narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name or number assigned by an entity to enable recognition of that entity, eg, account identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of proprietary or domestic identification scheme that uniquely identifies a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dmst" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Domestic</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country of the proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="RestrictedFINExact2Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Entity that issues the proprietary identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress12">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress12</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification16Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification16Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification24">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress12">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification18Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification18Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification24">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryQuantity4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryQuantity4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary quantity format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Qty" type="RestrictedFINDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the proprietary quantity with a decimal number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QtyTp" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the type of proprietary quantity reported.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information related to issuer in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity7Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity7Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different quantity of security formats.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity of security.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryQty" type="ProprietaryQuantity4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryQuantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary quantity of security format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINExact2Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 2 characters that must has a pattern XX|TS.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax30Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 30 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax31Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 31 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINZMax8000Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINZMax8000Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 8000 characters limited to character set Z, that is, a-z A-Z / - ? : ( ) . ,  += !  % &amp; * &lt; &gt; ; @ #  .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z!&quot;%&amp;\*;&lt;&gt; \.,\(\)\n\r/='\+:\?@#\{\-_]{1,8000}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="8000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingAccountIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the account identification via a code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">General</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Announcement applies to all safekeeping accounts that own underlying financial instrument.  (Used for general or preliminary announcements.)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtLocalCustodian</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at a local custodian.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtICSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at an International Central Securities Depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldAtNCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments held at a National Central Securities Depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldElsewhere</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used for certain financial instruments, for example, US mutual funds, where settlement is internal only, that is, there is no external movement of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlace2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesHeldElsewhere</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Used for certain financial instruments, for example, US mutual funds, where settlement is internal only, that is, there is no external movement of securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ALLP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AllPlaces</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">All places of safekeeping where the financial instrument is held.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat5Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceFormat5Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Id" type="SafekeepingPlaceTypeAndText5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed as a code and a narrative description.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a country code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TypeAndIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a type and identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification26">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping expressed with a propriety identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceTypeAndAnyBICIdentifier1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Place identification of the place of safekeeping expressed as a code and a BIC.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Id" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceTypeAndText5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the place of safekeeping expressed as a code and a narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingPlaceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place of safekeeping as a code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the place of safekeeping.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification12">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification12</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="SecurityIdentification12Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification12Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification12Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ISIN and an alternative format for the identification of a security. ISIN is the preferred format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ISIN" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrId" type="AlternateIdentification2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ShortLong1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the securities position is short or long, that is, wether the balance is a negative or positive balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Short</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is short, that is, the balance is negative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LONG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Long</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is long, that is, the balance is positive.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignedQuantityFormat3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Signed quantity of security formats.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sign of the quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QtyChc" type="Quantity7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityChoice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice between different quantity of security formats.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SignedQuantityFormat4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignedQuantityFormat4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Signed quantity of security formats.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sign of the quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnderlyingSecurity2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UnderlyingSecurity2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Securitised right for entitlement, for example, equity or bond.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SctyId" type="SecurityIdentification12">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdatedAdditionalInformation4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdatedAdditionalInformation4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information with update description and date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDesc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateDescription</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the amendments made to the narrative since the last message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date at which the narrative has been updated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AddtlInf" type="RestrictedFINZMax8000Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional textual information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
