WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.023.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 20 09:13:59, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2014.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.023.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.023.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Amount2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Amount2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an amount with or without the currency. </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmountWithoutCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtWthCcy" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmountWithCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is explicit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BackupPaymentV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BackupPaymentV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The BackupPayment message is sent by a member to the transaction administrator.&#13;
It is used to request a liquidity transfer from the member to another participant in the system when the user is in recovery mode.&#13;
Usage&#13;
Under very specific circumstances, the transaction administrator can accept direct input of transactions as part of its cash management functionalities. This possibility is available only when a declared incident has been reported to the transaction administrator This could be the case, for example, when the internal systems of the member are having problems sending out payments or when the continuity of the whole system is put at risk.&#13;
The purpose of the BackupPayment message is to prevent the consequences of a specific failure affecting not only the member experiencing problems but also its counterparties. Members can therefore input transactions directly in order to ensure the stability of the system and smooth exchanges.&#13;
At any time during the operating hours of the system, and under the agreed circumstances, the member can request a backup payment to be effected.&#13;
The member can request the transfer by identifying the following elements:&#13;
- party (account owner) that will receive the funds&#13;
- the financial institution that will receive the funds on behalf of the account owner&#13;
Based on the criteria received within the BackupPayment message, the transaction administrator will execute or reject the requested funds transfer.&#13;
The transaction administrator may send a Receipt message as a reply to the BackupPayment request.&#13;
To verify the outcome of the request, the member may submit a GetTransaction or GetAccount message with the appropriate search criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message business identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlMsgId" type="MessageHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalMessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the original message identification.
This was formerly the PaymentInstructionReference</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrInf" type="PaymentInstruction13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstructionInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the execution and type of payment contained in the instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrfdAmt" type="Amount2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransferredAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of cash that the transaction administrator transfers from one account to another.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cdtr" type="SystemMember2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Creditor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that receives an amount of money from the debtor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="SystemMember2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution that receives the payment transaction on behalf of an account owner, or other nominated party, and credits the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtrAgt" type="SystemMember2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DebtorAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial institution that receives the payment transaction from the account owner, or other authorised party, and processes the instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a clearing system, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification code for a clearing system, that has not yet been identified in the list of clearing systems.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BckpPmt" type="BackupPaymentV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalClearingSystemIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the clearing system identification code, as published in an external clearing system identification code list.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstitutionIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial institution identification scheme name code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalMarketInfrastructure1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalMarketInfrastructure1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification, as published in an external market infrastructure code list.
This is a synonym of the external cash clearing system code list, extended outside the pure cash domains.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialIdentificationSchemeName1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the organisation identification scheme.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericFinancialIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketInfrastructureIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalMarketInfrastructure1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure through which the payment instruction is processed, as published in an external clearing system identification code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing system identification in a proprietary form.
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MemberIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MemberIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="GenericFinancialIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MessageHeader1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.&#13;
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstruction13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstruction13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Instruction to pay an amount of money to an ultimate beneficiary, on behalf of an originator. This instruction may have to be forwarded several times to complete the settlement chain.
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdExctnDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestedExecutionDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date at which the initiating party requests that the payment instruction be processed. 
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTp" type="PaymentType4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type, or nature, of the payment, for example an express payment.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type, or nature, of the payment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossBorderPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment has an origin in one country, a destination in another, and is made in the currency of either the origin or destination country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BCK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BackUp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made under the recovery procedure to move liquidity to/from the settlement account of a member according to the specifications of the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceRetail</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a payment offsetting the net cash balance owed/due in a retail payment system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CLSPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is linked to CLS activities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralBankOperation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made to settle an operation made with the central bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CBH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossBorderHighValuePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a high value payment that has an origin in one country and a destination in another country and is made in the currency of either the origin or destination country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CBP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossBorderPriorityPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a priority payment that has an origin in one country and a destination in another and is made in the currency of either the origin or destination country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DVPGross</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gross cash payment offsetting the amount owed/due for a securities transaction settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DVPNet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net payment offsetting the cash balance due/owed for a series of securities transactions settlement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpressPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a payment that is processed whenever liquidity is available on the settlement account of a member of the RTGSPlus system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdCurrencyHighValuePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a high value payment that is made in a third currency to the origin and destination countries. The origin and destination countries may be one and the same country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a payment that is processed when the pool of liquidity exceeds the minimum value reserved for an express payment in the RTGSPlus system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made to transfer liquidity to/from the settlement account of a member, to/from the current account held at the central institution or any other institution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DomesticPriorityPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a priority payment that has an origin and a destination in the same country and is made in the currency of that country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DomesticHighValuePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a high value payment that has an origin and a destination in the same country and is made in the currency of that country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DomesticPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment has an origin and a destination in the same country, and is made in the currency of that country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingFacilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is linked to overnight deposits and the marginal lending facility.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TRP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TreasuryStatePayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is linked to the Treasury State.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdCurrencyPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is a payment that is made in a third currency to the origin and destination countries. The origin and destination countries may be one and the same country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Loan</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is the payment of a specific amount of money lent by a creditor/lender.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LoanRepayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is an amount of money transferred in repayment of loan.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ThirdCurrencyPriorityPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made in a third currency to the origin and destination countries. The origin and destination countries may be the same country.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OvernightDeposit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is linked to an overnight deposit</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MGL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarginalLending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is linked to the marginal lending facility.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentType4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentType4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a payment type from a predefined list and a proprietary payment type.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="PaymentType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type, or nature, of the payment, such as express payment.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment type that is not included in a predefined list.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country in which the system is located.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SystemMember2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemMember2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details about a system and about a member of a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysId" type="SystemIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a particular cash clearing system. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MmbId" type="MemberIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a member within a system, assigned using the member identification scheme of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
