WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seev.032.002.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:26, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:seev.032.002.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:seev.032.002.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="CorporateActionEventProcessingStatusAdvice002V03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventProcessingStatusAdvice002V03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An account servicer sends the CorporateActionEventProcessingStatusAdvice message to an account owner or its designated agent to report processing status of a corporate action event.&#13;
The account servicer uses this message to provide a reason as to why a corporate action event has not been completed by the announced payment dates.&#13;
Usage&#13;
The message may also be used to:&#13;
- re-send a message previously sent (the sub-function of the message is Duplicate),&#13;
- provide a third party with a copy of a message for information (the sub-function of the message is Copy),&#13;
- re-send to a third party a copy of a message for information (the sub-function of the message is Copy Duplicate),&#13;
using the relevant elements in the business application header (BAH).
ISO 15022 - 20022 COEXISTENCE SUBSET
This message definition is a subset of an ISO 20022 message that was reversed engineered from ISO 15022. A subset is a message definition that is compatible with another definition, but is more restrictive
The ISO 15022 and ISO 20022 standards will coexist for a number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. These restrictions, which are described by textual usage rules in the ISO 20022 message, have been made mandatory in this subset.  
NOTE: The ISO 20022 message coexistence textual rules have been kept in the subset to explain why specific data types have been restricted. These textual rules are identified as follows:  CoexistenceXxxxRule.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnId" type="DocumentIdentification17">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotificationIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a previously sent notification document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrDocId" type="DocumentIdentification21">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherDocumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of other documents as well as the document number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CorpActnGnlInf" type="CorporateActionGeneralInformation42">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information about the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="EvtPrcgSts" type="EventProcessingStatus2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information about the status of a corporate action.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateActionNarrative19">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CorporateActionEventType8Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventType8Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of a corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActiveTradingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading in security has commenced or security has been re-activated after a suspension in trading.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ATTI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Attachment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Combination of different security types to create a unit. Units are usually comprised of warrants and bonds or warrants and equities. Securities may be combined at the request of the security holder or based on market convention.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIDS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepurchaseOffer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Repurchase offer/Issuer bid/ Reverse rights. Offer to existing shareholders by the issuing company to repurchase equity or other securities convertible into equity. The objective of the offer is to reduce the number of outstanding equities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BONU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BonusIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a bonus issue or scrip issue or capitalisation issue. Security holders are awarded additional assets free of payment from the issuer in proportion to their holding. A bonus issue is typically represented by shares, rights or warrants. Nominal value doesn't change. Holder may be offered choice of form.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BPUT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PutRedemption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Redemption in part before the scheduled final maturity date of a security. Drawing is distinct from partial call since drawn bonds are chosen by lottery and with no reduction in nominal value.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRUP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bankruptcy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal status of a company unable to pay creditors. Bankruptcy usually involves a formal court ruling. Securities may become valueless.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAPG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CapitalGainsDistribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is the distribution of profits resulting from the sale of securities. Shareholders of mutual funds, unit trusts, or Sicavs are recipients of capital gains distributions and are often reinvested in additional shares of the fund.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAPI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Capitalisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Increase of the current principal of a debt instrument without increasing the nominal value. It normally arises from the incorporation of due but unpaid interest into the principal. This is commonly done by increasing the pool factor value, eg, capitalisation, and negative amortisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CERT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonUSTEFRADCertification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Non-US beneficial owner certification requirement for exchange of temporary to permanent notes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Change</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information regarding a change further described in the corporate action details.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CLSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassActionProposedSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Situation where interested parties seek restitution for financial loss. The security holder may be offered the opportunity to join a class action proceeding and would need to respond with an instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Consent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Procedure that aims to obtain consent of holder  to a proposal by the issuer or a third party intended to progress an event to the next stage. This procedure is not required to be linked to the organisation of a formal meeting. For example, consent to approve a plan of reorganisation for a bankruptcy proceeding.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CONV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Conversion</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Conversion of securities ( generally convertible bonds or preferred shares) into another form of securities ( usually common shares) at a pre-stated price/ratio.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompanyOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A Company Option may be granted by the company, allowing the holder to take up shares at some future date(s) at a pre arranged price in the company. A company may not grant options which enable the holder to take up unissued shares at a time which is five or more years from the date of the grant. Option holders are not members of a company. They are contingent creditors of a company and hence may, in some instances, be entitled to vote on and be bound by a scheme of arrangement between the creditors and the company. As many options have multiple exercise periods a company option will either lapse or carry on to the next expiry date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DECR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DecreaseInValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reduction of face value of a single share or the value of fund assets. The number of circulating shares/units remains unchanged. This event may include a cash payout to holders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DETI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Detachment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Separation of components that comprise a security, eg, usually units comprised of warrants and bond or warrants and equity . Units may be broken up at the request of the security holder or based on market convention.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DFLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BondDefault</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Failure by the company to perform obligations defined as default events under the bond agreement and that have not been remedied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingStatusDelisted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security is no longer able to comply with the listing requirements of a stock exchange and is removed from official board quotation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRAW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Drawing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Redemption in part before the scheduled final maturity date of a security. Drawing is distinct from partial call since drawn bonds are chosen by lottery and with no reduction in nominal value.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRIP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendReinvestment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a dividend payment type where cash dividend is rolled over into additional shares in the issuing company.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Disclosure</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requirement for holders or beneficial owners to disclose their name, location and holdings of any issue to the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DTCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DutchAuction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An action by a party wishing to acquire a security. Holders of the security are invited to make an offer to sell, within a specific price range. The acquiring party will buy from the holder with lowest offer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution of cash to shareholders, in proportion to their equity holding. Ordinary dividends are recurring and regular. Shareholder must take cash and may be offered a choice of currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DividendOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a distribution of a dividend to shareholders with the choice of payment method. The shareholder must choose the form of payment - stock, cash, or both.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVSC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ScripDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Scrip Dividend/Payment. Dividend or interest paid in the form of scrip.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DVSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a dividend paid to shareholders in the form of shares of stock in the issuing company or in another company. The shareholder must take stock and is not offered a choice in the form of distribution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXOF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Exchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange of holdings for other securities and/or cash. The exchange can be either mandatory or voluntary involving the exchange of outstanding securities for different securities and/or cash. For example "exchange offer", "capital reorganisation" or "funds separation" .</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXRI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallOnIntermediateSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Call or exercise on nil paid securities or intermediate securities resulting from an intermediate securities distribution (RHDI). This code is used for the second event, when an intermediate securities' issue (rights/coupons) is composed of two events, the first event being the distribution of intermediate securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXTM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaturityExtension</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">As stipulated in a bond's Terms and Conditions, the issuer or the bond-holder may prolong the maturity date of a bond. After extension, the security may differ from original issue (new rate or maturity date). May be subject to bondholder's approval.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXWA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WarrantExercise</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Option offered to holders to buy (call warrant) or to sell (put warrant) a specific amount of stock, cash, or commodity, at a predetermined price, during a predetermined period of time (which usually corresponds to the life of the issue).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CAPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CapitalDistribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The Corporate event pays shareholders an amount in cash issued from the Capital account. There is no reduction to the face value of a single share (or the share has no par value). The number of circulating shares remains unchanged.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INCR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncreaseInValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Increase in the face value of a single security. The number of circulating securities remains unchanged .</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Regular interest payment distributed to holders of an interest bearing asset.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIQU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidationDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A distribution of cash, assets or both. Debt may be paid in order of priority based on preferred claims to assets specified by the security.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MCAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FullCall</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The redemption of an entire issue outstanding of securities, eg, bonds, preferred equity, funds, by the issuer or its agent, eg, asset manager,before final maturity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MRGR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merger</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a mandatory or voluntary exchange of outstanding securities as the result of two or more companies combining assets. Cash payments may accompany share exchange.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ODLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OddLotSalePurchase</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Odd Lot Sale/Purchase . Sale or purchase of odd-lots to/from the issuing company, initiated either by the holder of the security or through an offer made by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherEvent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other event, use only when no other event type applies, eg, a new event type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PariPassu</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Occurs when securities with different characteristics, eg, shares with different entitlements to dividend or voting rights, become identical in all respects, eg , pari-passu or assimilation. May be scheduled in advance, eg, shares resulting from a bonus may become fungible after a pre-set period of time, or may result from outside events, eg, merger, reorganisation, issue of supplementary tranches, etc.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialRedemptionWithNominalValueReduction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities are redeemed in part before their scheduled final maturity date with reduction of the nominal value of the shares. The outstanding amount of securities will be reduced proportionally.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PDEF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Prefunding</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Also called partial defeasance. Issuer has money set aside to redeem a portion of an issue and the indenture states that the securities could be called earlier than the stated maturity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PINK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PayInKind</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Interest payment, in any kind except cash, distributed to holders of an interest bearing asset.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfIncorporation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Changes in the state of incorporation for US companies and changes in the place of incorporation for foreign companies. Where shares need to be registered following the incorporation change, the holder(s) may have to elect the registrar.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InstalmentCall</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An instalment towards the purchase of equity capital, subject to an agreement between an issuer and a purchaser.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRED">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialRedemptionWithoutNominalValueReduction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities are redeemed in part before their scheduled final maturity date without reduction of the nominal value of the shares. This is commonly done by pool factor reduction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRII">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterestPaymentWithPrincipal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An event which consists of two components, the decrease of the amortized value of a pool factor security and an interest payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRIO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriorityIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Form of open or public offer where, due to a limited amount of securities available, priority is given to existing shareholders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinalMaturity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The redemption of an entire issue outstanding of securities, eg, bonds, preferred equity, funds, by the issuer or its agent, eg, asset manager, at final maturity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REDO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Redenomination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event by which the unit (currency and/or nominal) of a security is restated, eg, nominal/par value of security in a national currency is restated in another currency.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REMK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RemarketingAgreement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purchase and sale of remarketed preferred equities/bonds through the negotiation of interest rate between the issuers and the holders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RHDI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediateSecuritiesDistribution</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The distribution of intermediate securities or privilege that gives the holder the right to take part in a future event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RHTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RightsIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rights Issue/ Subscription Rights/ Rights Offer. Distribution of a security or privilege that gives the holder an entitlement or right to take part in a future event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SHPR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SharesPremiumDividend</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">This corporate event pays shareholders an amount in cash issued from the shares premium reserve. It is similar to a dividend but with different tax implications.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SmallestNegotiableUnit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Modification of the smallest negotiable unit of shares in order to obtain a new negotiable unit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SOFF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpinOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a demerger or distribution or an unbundling. It is a distribution of subsidiary stock to the shareholders of the parent company without a surrender of shares. A spin-off represents a form of divestiture resulting in an independent company. Normally this is without cost to the parent issue shareholder.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockSplit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a change in nominal value, a subdivision. It is an increase in a corporation's number of outstanding shares of stock without any change in the shareholder's equity or the aggregate market value at the time of the split. Stock price and nominal value are reduced accordingly.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReverseStockSplit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is a change in nominal value, a consolidation. It is a decrease in number of outstanding shares of stock without any change in the shareholder's equity or the aggregate market value at the time of the split. Stock price and nominal value are reduced accordingly.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingStatusSuspended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trading in the security has been suspended.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Tender</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event is an acquisition or take-over or offre publique de retrait (FR) or purchase offer or buy-back. It is an offer made to shareholders requesting them to sell (tender) their shares for a specified price usually at a premium over prevailing market price. Generally, the objective of a tender offer is to take control of the target company.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TREC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxReclaim</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event related to tax reclaim activities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WRTH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Worthless</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Booking out of valueless securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WTRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WithholdingTaxReliefCertification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Certification process for withholding tax reduction or exemption based on the tax status of the holder.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CREV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditEvent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An occurrence of credit derivative for which the issuer of one or several underlying securities is unable to fulfill his financial obligations (as defined in terms and conditions).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DRCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashDistributionFromNonEligibleSecuritiesSales</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Distribution to shareholders of cash resulting from the selling of non-eligible securities, for example, in the frame of a depositary receipt program.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionEventType9Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionEventType9Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats to express the corporate event type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CorporateActionEventType8Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Event types expressed as a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification25">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Event types expressed as a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionGeneralInformation42">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation42</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">General information about the corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CorpActnEvtId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned by the account servicer to unambiguously identify a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OffclCorpActnEvtId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfficialCorporateActionEventIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Official and unique reference assigned by the official central body/entity within each market at the beginning of a corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssActnNb" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassActionNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference assigned by a court to a class action.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EvtTp" type="CorporateActionEventType9Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionNarrative19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNarrative19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information such as the information conditions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlTxt" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalText</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information or specifies in more detail the content of a message. This field may only be used when the information to be transmitted, cannot be coded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PtyCtctNrrtv" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyContactNarrative</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding the party, for example, the contact unit or person responsible for the transaction identified in the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CorpActnEvtPrcgStsAdvc" type="CorporateActionEventProcessingStatusAdvice002V03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification17">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification17</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies a document by a unique identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification21">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification21</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a document as well as the document number.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned either by the account servicer or the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DocNb" type="DocumentNumber2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DocumentNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the type of document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a document identification provided either by the account owner or by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AcctSvcrDocId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AccountServicerDocumentIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the document asigned by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AcctOwnrDocId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AccountOwnerDocumentIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the document asigned by the account owner.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentNumber2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a short document number, a long document number or a proprietary document number.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ShrtNb" type="Exact3NumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ShortNumber</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Message type number of the document referenced.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">LongNumber</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">MX Message identifier of the referenced document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryNb" type="GenericIdentification23">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryNumber</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary document identification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventProcessingStatus2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventProcessingStatus2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information about the status of a corporate action or the status of a payment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cmplt" type="NoSpecifiedReason1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies that a corporate action event processing has been completed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Rcncld" type="NoSpecifiedReason1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reconciled</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Corporate action event processing specifying that the funds paid have been reconciled with the funds received from the agent (meaning that there is no more risk of payment to be reversed).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Pdg" type="PendingStatus5Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies that a corporate action event processing has not been fully completed and is therefore pending.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtrySts" type="ProprietaryStatusAndReason2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryStatus</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary status related to the event processing.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification23">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification23</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification25">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification25</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISO20022MessageIdentificationText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">ISO 20022 Message identifier of an MX message.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoReasonCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that there is no reason available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No reason to report or no reason available to report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NoSpecifiedReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">No specified reason available for the status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the reason why the instruction/event has a pending status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotDelivered</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments have not been delivered by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPAY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment has not been made by issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AUTH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SentToTaxAuthorities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax reclaim has been sent to the tax authorities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VLDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidForTaxAuthorities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">For tax reclaim, the event is pending, the tax reclaim is valid for the tax authorities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason5Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason5Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a standard code and a proprietary code to specify the reason why the instruction/event has a pending status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason4Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Standard code to specify the reason why the instruction/event has a pending status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification25">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason why the instruction/event has a pending status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingStatus5Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingStatus5Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a reason or no reason for the corporate action event processing pending status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason not specified.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingStatusReason3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the pending status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingStatusReason3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingStatusReason3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies reasons for the pending status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RsnCd" type="PendingReason5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction's processing is pending.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information about the processed instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryReason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="GenericIdentification25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional information about the processed instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryStatusAndReason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryStatusAndReason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the proprietary status and reason of an instruction or an instruction cancellation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PrtrySts" type="GenericIdentification25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the status related to an instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrtryRsn" type="ProprietaryReason2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProprietaryReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a proprietary status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax30Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 30 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
