WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.010.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2015 Feb 16 15:57:15, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2015.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.010.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.010.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionGeneralInformationSD17">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformationSD17</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action general information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctyId" type="SecurityIdentification15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecurityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account where financial instruments are maintained.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UallctdDtls" type="CorporateActionUnallocatedDetailsSD3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnallocatedDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information about the corporate action event.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionSD9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionSD9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcrdDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecordDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date at which positions are stuck at the end of the day to note which parties will receive the relevant amount of entitlement, due to be distributed on payment date. DTC  (The Depository Trust Corporation) and its Participants may use this as a reference </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat28Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which the movement was due to take place (cash and/or securities).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LtryDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotteryDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time on which the lottery is run and applied to the holder's positions. This is also applicable to partial calls.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LtryTp" type="LotteryType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotteryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of lottery announced.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionUnallocatedBalanceSD1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionUnallocatedBalanceSD1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Balance types related to an unallocated redemption payment.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlElgblBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalEligibleBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AfctdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AffectedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The quantity that has been determined to be redeemed if the participant had&#13;
position in a redemption security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UafctdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnaffectedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Positions balance remaining after lottery is run.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OblgtdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ObligatedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position that account holders should return to the account servicer to participate in the event or to fulfill their obligation for the event to be complete, for example, return of securities for late announced drawing.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OrgnlBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position held in a security as of the day prior to publication date. This position is subject to a redemption lottery call when this is the first lottery. This balance will not be adjusted for the supplemental or concurrent lotteries and will remain constant to report the original position.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PldgdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PledgedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Portion of the Original Balance position held in DTC General Free account as of day prior to Publication Date. Position held in this account is subject to redemption lottery call.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UpldgdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnpledgedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Portion of the Original Balance position held in DTC General Free account as of day prior to Publication Date. Position held in this account is subject to redemption lottery call.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtPldgdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentPledgedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Portion of the Original Balance position held in DTC Investment account as of day prior to Publication Date. Position held in this account is subject to redemption lottery call and must be released to allow allocation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtUpldgdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestmentUnpledgedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Portion of the Original Balance position held in DTC Segregated account as of day prior to Publication Date. Position held in this account is subject to redemption lottery call and must be released to allow allocation.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionUnallocatedBalanceSD2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionUnallocatedBalanceSD2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice amongst various balance types related to unallocated payment.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="TtlElgblBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalEligibleBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BrrwdBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BorrowedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CollInBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralInBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CollOutBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CollateralOutBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OnLnBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnLoanBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PdgDlvryBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingDeliveryBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PdgRctBal" type="SignedQuantityFormat4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingReceiptBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CorporateActionUnallocatedCashTransactionDetailsSD3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionUnallocatedCashTransactionDetailsSD3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Breakdown of unallocated cash transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the value is a debit or a credit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RsnCd" type="DTCAdjustmentPaymentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmt" type="RestrictedFINActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Resulting cash amount concerned in this transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UallctdRsnCd" type="DTCUnallocatedAdjustmentReason2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnallocatedReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the unallocation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ContraPtcptNb" type="Max8Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContraParticipantNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction contra participant identification when shares are distributed / delivered to / from another participant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat28Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarliestPaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which the movement was due to take place (cash and/or securities).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionUnallocatedDetailsSD3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionUnallocatedDetailsSD3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding the corporate action event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UallctdDstrbtnBal" type="CorporateActionUnallocatedBalanceSD2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnallocatedDistributionBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of Participants positions distribution balance concerned in unallocated payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UallctdRedBal" type="CorporateActionUnallocatedBalanceSD1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnallocatedRedemptionBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of Participants positions redemption balance concerned in unallocated payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UallctdSctiesTxDtls" type="CorporateActionUnallocatedSecuritiesTransactionDetailsSD4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnallocatedSecuritiesTransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the securities transactions concerned in unallocated payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UallctdCshTxDtls" type="CorporateActionUnallocatedCashTransactionDetailsSD3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnallocatedCashTransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the cash transactions concerned in unallocated payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateActionUnallocatedSecuritiesTransactionDetailsSD4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionUnallocatedSecuritiesTransactionDetailsSD4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Breakdown of unallocated securities transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the value is a debit or a credit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RsnCd" type="DTCAdjustmentPaymentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction reason.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxQty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Resulting quantity of securities concerned in this transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UallctdRsnCd" type="DTCUnallocatedAdjustmentReason2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnallocatedReasonCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the unallocation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ContraPtcptNb" type="Max8Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContraParticipantNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction contra participant identification when shares are distributed / delivered to / from another participant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstPmtDt" type="DateFormat28Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarliestPaymentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which the movement was due to take place (cash and/or securities).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DTCAdjustmentPaymentType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCAdjustmentPaymentType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specified the type of the payment adjustment.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="STOK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StockLoanPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Stock loan transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RepoPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">REPO (repurchase agreement) transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FailPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FAIL (undelivered securities) transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MiscellaneousPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Miscellaneous (adjustment) transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DTCCCAPSSD1V03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCAPSSD1V03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCAPSSD1 message extends ISO corporate action event processing status advice message with DTCC corporate action elements not covered in the standard message. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnGnlInf" type="CorporateActionGeneralInformationSD17">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionGeneralInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Extension block for the information to be extended as corporate action general information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CorpActnDtls" type="CorporateActionSD9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information to be extended as supplementary data to corporate action details.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DTCUnallocatedAdjustmentReason2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCUnallocatedAdjustmentReason2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">DTC Unallocated reason codes for payment adjustments.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANNG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BadAnnouncement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Incorrect announcement.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BDPD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BadPayableDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Incorrect payable date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashRateUnknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash rate for allocation is zero.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSHU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashRateZero</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash rate for allocation is zero.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConditionalPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is conditional and conditions have not been met yet.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DFLT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Default</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issue is in default.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HICO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HolidayInCountryOfOrigin</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Holiday  in country of origin.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MASF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsufficientFundsReceivedFromAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient funds  were received from the agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISNF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssueNotFunded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issue was not funded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NMAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssueNotMaturing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issue is not maturing.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LFID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AfterCycleCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issues funded and/or identified after the cycle cut off.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ItemIsPending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Item is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ANFI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundsNotReceivedByAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Funds were not received by the agent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIQD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Liquidation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Issue is being liquidated.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotionalBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notional balance pincipal will not be paid.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reserved for new user defined reason codes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCHK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaidUponReceiptOfCheck</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Paid upon receipt of check.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RRFX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingConversionOfFunds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pending conversion of funds. </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RCNF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecapitalizationNotFunded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Recapitalization. Issue not funded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RRNF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RedemptionOfRatesNotYetFunded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Redemption of rates. Issue not funded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RPLG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReleasedPledgePosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Released pledge position.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SANF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SaleOfAssetsNotYetFunded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sale of asset. Issue not funded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SDPC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SameDayPositionCapture</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Same day position capture.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPNF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecialDistributionNotYetFunded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Special distribution. Issue not funded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PUVF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SpecificIssuesSuppressed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific issues have been suppressed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APRR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ApproximateRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Rate is not final. Rate is approximate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SAGA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GracePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Company is taking a 30 day grace period.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MSTK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaturityForStockPaymentOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maturity for stock payment option.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PLEG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PledgedPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pledged Position</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RESC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CallRescinded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Call Rescinded</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERLY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CDAcceleratedMaturity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CD Accelerated Maturity</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHIP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CHIPSPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CHIPS Payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHBD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ChurchBondNotFunded</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Church bond not funded.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FDIC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FDIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Failed Bank, FDIC Assumed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FVDG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FiveDayGracePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Five Day Grace Period</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OFAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FundsHeldAtChaseForOFAC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Funds held at Chase for OFAC.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat28Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateFormat28Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an ISODate or ISODateTime format or a date code.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Dt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date expressed as a calendar date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DtCd" type="DateType8Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of date.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateType8Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateType8Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of dates.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unknown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date is unknown by the sender or has not been established.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONGO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ongoing</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Ongoing basis,  which indicates that the date is determined by "ongoing basis" process, for example "au fil de l'eau".</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCPSSD1" type="DTCCCAPSSD1V03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalFinancialInstrumentIdentificationType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external financial instrument identification type scheme name code in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity15Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AmtsdVal" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AmortisedValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the current amortised face amount of a bond, for example, a periodic reduction/increase of a bond's principal amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IdentificationSource4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between source of identification of a financial instrument.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source, as assigned via a pre-determined code list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="RestrictedFINExact2Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification source using a proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LotteryType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LotteryType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of lottery.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ORIG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalLotteryNotification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original lottery that has been announced for a specific amount and date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUPP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementalLotteryNotification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Supplemental or additional quantity called on a previously announced original lottery.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max8Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 8 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OtherIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Other accepted financial instrument's identification than ISIN.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax31Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Suffix</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the suffix of the security identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="IdentificationSource4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINExact2Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINExact2Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with an exact length of 2 characters that must has a pattern XX|TS.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="XX|TS"/>
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax31Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax31Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 31 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,31}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="31"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification15">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification15</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OtherIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security by proprietary or domestic identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Textual description of a security instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ShortLong1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the securities position is short or long, that is, wether the balance is a negative or positive balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Short</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is short, that is, the balance is negative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LONG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Long</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is long, that is, the balance is positive.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SignedQuantityFormat4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SignedQuantityFormat4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Signed quantity of security formats.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngPos" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sign of the quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
