WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.017.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:16, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:supl.017.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:supl.017.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IBAN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Bank Account Number (IBAN) - identifier used internationally by financial institutions to uniquely identify the account of a customer. Further specifications of the format and content of the IBAN can be found in the standard ISO 13616 "Banking and related financial services - International Bank Account Number (IBAN)" version 1997-10-01, or later revisions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Othr" type="GenericAccountIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountSchemeName1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the identification scheme</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AttendanceContext1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AttendanceContext1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Human attendance at the POI location during the transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Attended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Attended payment, with an attendant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SemiAttended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Semi-attended, including self checkout. An attendant supervises several payment, and could be called to help the cardholder.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UATT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unattended</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unattended payment, no attendant present.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationEntity1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AuthenticationEntity1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity or object in charge of verifying the cardholder authenticity.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ICCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ICC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Application in the chip card (Integrated Circuit Card), for instance an offline PIN verification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AGNT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthorisedAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Authorisation agent of the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant (for example signature verification by the attendant).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AuthenticationMethod1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AuthenticationMethod1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Method used to authenticate a cardholder.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKNW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnknownMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Authentication method is performed unknown.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BYPS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bypass</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Authentication bypassed by the merchant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnLinePIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">On-line PIN  authentication (Personal Identification Number).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FPIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfflinePIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Off-line PIN authentication (Personal Identification Number).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SignatureCapture</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Electronic signature capture (handwritten signature).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PPSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaperSignature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Handwritten paper signature.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MANU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ManualVerification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Manual verification, for example passport or drivers license.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MerchantAuthentication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant-related authentication.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCRT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecureCertificate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Secure electronic transaction with cardholder X.509 certificate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SNCT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecureNoCertificate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Secure electronic transaction without cardholder certificate.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCNL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuredChannel</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Channel-encrypted transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BaseOneRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a decimal, eg, 0.7 is 7/10 and 70%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardAmountAndCurrencyExchange1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardAmountAndCurrencyExchange1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the detailed or original amount and currency.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money to be moved between the debtor and creditor, before deduction of charges, expressed in the currency as ordered by the initiating party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyXchg" type="CurrencyExchange3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrencyExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on currency exchange information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="TypeOfAmount3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification or qualification of the type of amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardDataReading1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardDataReading1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of reading of the card data.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TAGC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Tag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tag reading capabilities (RFID, etc.).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PHYS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Physical</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Keyboard entry or OCR reading of embossing or printed data, either at time of transaction or after the event.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRCD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BarCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bar code.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MGST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MagneticStripe</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Magnetic stripe.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CICC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ICC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ICC  (Integrated Circuit Card) with contact containing software applications conform to ISO 7816.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DFLE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account data on file.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTLS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProximityReader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contactless proximity reader.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECTL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EMVProximityReader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Contactless proximity reader, with application conform to the standard EMV (standard initiated by Europay, Mastercard and Visa).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CardPaymentServiceType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardPaymentServiceType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Service provided by the card payment transaction, in addition to the main service.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGGR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Aggregation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Aggregation of low payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCCV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DCC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dynamic currency conversion (DCC).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GRTT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Gratuity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card payment with gratuity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Instalment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instalment payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LOYT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Loyalty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Loyalty services.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRES">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoShow</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No show after reservation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PUCO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PurchaseCorporate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Purchase and corporate data.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RECP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecurringPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Recurring payment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SOAF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SolicitedAvailableFunds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Solicited available funds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNAF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnsolicitedAvailableFunds</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unsolicited available funds.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VCAU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VoiceAuthorisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Voice authorisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CardPaymentTransactionDetails8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardPaymentTransactionDetails8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of the transaction in the authorisation request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Amt" type="CardAmountAndCurrencyExchange1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amounts associated with the total amount of transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ICCRltdData" type="Max1025Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ICCRelatedData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data related to an integrated circuit card application.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtCntxt" type="PaymentContext3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentContext</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Context of the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MrchntCtgyCd" type="Min3Max4Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MerchantCategoryCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Local date and time of the transaction assigned by the POI (Point Of Interaction).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SaleRefNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SaleReferenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a sale transaction assigned by the sale system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RePresntmntRsn" type="ExternalRePresentmentReason1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RePresentmentReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for representment of a card transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlSvc" type="CardPaymentServiceType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalService</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service in addition to the main service.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxRef" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction that has to be unique for a time period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CardholderAuthentication2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardholderAuthentication2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Data related to the authentication of the cardholder.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AuthntcnMtd" type="AuthenticationMethod1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticationMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Method used to authenticate the cardholder.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AuthntcnNtty" type="AuthenticationEntity1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticationEntity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity or object in charge of verifying the cardholder authenticity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CardholderVerificationCapability1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CardholderVerificationCapability1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Cardholder verification capabilities of the POI (Personal Identification Number) performing the transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MNSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ManualSignature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Manual signature verification.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnLinePIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Online PIN (Personal Identification Number).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FCPN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfflinePINClear</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Offline PIN in clear (Personal Identification Number).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FEPN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfflinePINEncrypted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Offline PIN encrypted (Personal Identification Number).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FDSG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfflineDigitalSignature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Offline digital signature analysis .</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FBIO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfflineBiometrics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Offline biometrics.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MNVR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ManualVerification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other manual verification, e.g. passport or drivers license.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FBIG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OfflineBiographics</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Offline biographics.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="APKI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountDigitalSignature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account based digital signature.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PKIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PKISignature</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PKI (Public Key Infrastructure) based digital signature.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardholderData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cardholder authentication data.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCEC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecureElectronicCommerce</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Three domain secure (three domain secure authentication of the cardholder).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount24">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount24</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the currency in which the account is held. 

Usage: Currency should only be used in case one and the same account number covers several currencies
and the initiating party needs to identify which currency needs to be used for settlement on the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the account, as assigned by the account servicing institution, in agreement with the account owner in order to provide an additional means of identification of the account.

Usage: The account name is different from the account owner name. The account name is used in certain user communities to provide a means of identifying the account, in addition to the account owner's identity and the account number.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account type, in a coded form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Prtry" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyExchange3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyExchange3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information needed to process a currency exchange or conversion.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SrcCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SourceCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency of the amount to be converted in a currency conversion.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TrgtCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TargetCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency into which an amount is to be converted in a currency conversion.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnitCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which the rate of exchange is expressed in a currency exchange. In the example 1GBP = xxxCUR, the unit currency is GBP.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XchgRate" type="BaseOneRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExchangeRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Factor used for the conversion of an amount from one currency into another. This reflects the price at which one currency was bought with another currency.

Usage: ExchangeRate expresses the ratio between UnitCurrency and QuotedCurrency (ExchangeRate = UnitCurrency/QuotedCurrency).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ContractIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier of the foreign exchange contract.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QtnDt" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuotationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which an exchange rate is quoted.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DisplayCapabilities1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DisplayCapabilities1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The capabilities of the display components performing the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DispTp" type="UserInterface2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisplayType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of display (for example merchant or cardholder).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NbOfLines" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfLines</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of lines of the display component.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LineWidth" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LineWidth</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of columns of the display component.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PmtSD1" type="PaymentSD1V01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalAccountIdentification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external account identification scheme name code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalCashAccountType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use, of the cash account in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalRePresentmentReason1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExternalRePresentmentReason1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the external representment reason code in the format of character string with a maximum length of 4 characters. The list of valid codes is an external code list published separately.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification32">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification32</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PartyType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of identified entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="PartyType4Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity assigning the identification  (for example merchant, acceptor, acquirer, or tax authority).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the entity.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IBAN2007Identifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">An identifier used internationally by financial institutions to uniquely identify the account of a customer at a financial institution, as described in the latest edition of the international standard ISO 13616:2007 - "Banking and related financial services - International Bank Account Number (IBAN)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISO2ALanguageCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the language name according to the ISO 639-1 codes. The type is validated by the list of values coded with two alphabetic characters, defined in the standard.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISOYearMonth">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOYearMonth</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Month within a particular calendar year represented by YYYY-MM (ISO 8601).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:gYearMonth"/>
    </xs:simpleType>
    <xs:simpleType name="Max1025Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max1025Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1025 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min2Max3NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min2Max3NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a minimum length of 2 digits, and a maximum length of 3 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min3Max4Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min3Max4Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a minimum length of 3 characters, and a maximum length of4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Min8Max28NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Min8Max28NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a minimum length of 8 digits, and a maximum length of 28 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,28}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OnLineCapability1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OnLineCapability1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">On-line and off-line capabilities of the POI (Point Of Interaction).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OFLN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OffLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Off-line only capable.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ONLN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">On-line only capable.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SMON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SemiOffLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Off-line capable with possible on-line requests to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="POIComponentType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">POIComponentType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Generic component type belonging to a POI (Point of Interaction) Terminal.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOFT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Soft</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment or other software application.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EMVK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EMVKernel</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">EMV application kernel  (EMV is the chip card specifications initially defined by Eurocard, Mastercard and Visa).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EMVO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EMVLevel1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">EMV physical interface (EMV is the chip card specifications initially defined by Eurocard, Mastercard and Visa).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MRIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MerchantInterface</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant interface.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardholderInterface</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cardholder Interface.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecureModule</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Security module.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEDV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PINEntryDevice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Personal identification number (or PIN) entry device (PED).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of the type of entity involved in a transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OPOI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginatingPOI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point Of Interaction initiating the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that issues cards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DelegateIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party to whom the card issuer delagates to authorise card payment transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PartyType4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyType4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Entity assigning an identification  (for example merchant, acceptor, acquirer, tax authority, etc.).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant providing goods and service in the card payment transaction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acceptor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card acceptor, party accepting the card and presenting transaction data to the acquirer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITAG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntermediaryAgent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party acting on behalf of other parties to process or forward data to other parties.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACQR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Acquirer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Bank of the Merchant providing goods and services</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CISS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardIssuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that issues cards.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TAXH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TaxAuthority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Tax authority.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentContext3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentContext3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Payment context in which the transaction is performed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardPres" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardPresent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the transaction has been initiated by a card physically present or not.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CrdhldrPres" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardholderPresent</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the transaction has been initiated in presence of the cardholder or not.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCntxt" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnLineContext</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">On-line or off-line context of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCntxt" type="AttendanceContext1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttendanceContext</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Human attendance at the POI location during the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxEnvt" type="TransactionEnvironment1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionEnvironment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the environment of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxChanl" type="TransactionChannel1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionChannel</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the type of the communication channels used by the cardholder to the acceptor system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntMsgCpbl" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttendantMessageCapable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether a message can be sent or not on an attendant display (attendant display present or not).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndntLang" type="ISO2ALanguageCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AttendantLanguage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Language used to display messages to the attendant.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CardDataNtryMd" type="CardDataReading1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardDataEntryMode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entry mode of the card data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FllbckInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FallbackIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicator of a card entry mode fallback.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AuthntcnMtd" type="CardholderAuthentication2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AuthenticationMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Method used to authenticate a cardholder.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentSD1V01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentSD1V01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Supplementary data for payment message definitions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CardRmtInf" type="TransactionData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardRemittanceInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Structured card remittance information supplied in a payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlainCardData3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PlainCardData3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Sensible data associated with the payment card performing the transaction provided for verification in response.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PAN" type="Min8Max28NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PAN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Primary Account Number (PAN) of the card, or card number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CardSeqNb" type="Min2Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardSequenceNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identify a card inside a set of cards with the same card number (PAN).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvDt" type="ISOYearMonth">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectiveDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date as from which the card can be used.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="XpryDt" type="ISOYearMonth">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpiryDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Expiry date of the card.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteraction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PointOfInteraction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Point of interaction (POI) performing the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="GenericIdentification32">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the POI (Point Of Interaction) for the acquirer or its agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common name assigned by the acquirer to the POI system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="GrpId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GroupIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier assigned by the merchant identifying a set of POI terminals performing some categories of transactions.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Cpblties" type="PointOfInteractionCapabilities1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Capabilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Capabilities of the POI performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cmpnt" type="PointOfInteractionComponent1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Component</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Data related to a component of the POI performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionCapabilities1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PointOfInteractionCapabilities1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Capabilities of the POI performing the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CardRdngCpblties" type="CardDataReading1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardReadingCapabilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card reading capabilities of the POI performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CrdhldrVrfctnCpblties" type="CardholderVerificationCapability1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardholderVerificationCapabilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cardholder verification capabilities of the POI performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OnLineCpblties" type="OnLineCapability1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OnLineCapabilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">On-line and off-line capabilities of the POI.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DispCpblties" type="DisplayCapabilities1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DisplayCapabilities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Capabilities of the display components performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtLineWidth" type="Max3NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PrintLineWidth</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of columns of the printer component.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PointOfInteractionComponent1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PointOfInteractionComponent1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Data related to a component of the POI performing the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="POICmpntTp" type="POIComponentType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POIComponentType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of component belonging to a POI Terminal.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ManfctrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ManufacturerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the software, hardware or system provider of the POI component.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Mdl" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Model</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a model of POI component for a given manufacturer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VrsnNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VersionNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Version of component belonging to a given model.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SrlNb" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SerialNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Serial number of a component.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ApprvlNb" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ApprovalNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique approval number for a component, delivered by a certification body.&#13;
Usage: More than one approval number could be present, when assigned by different bodies. The certification body identification must be provided within the approval number (for example at the beginning of the value).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionChannel1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionChannel1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the type of the communication channels used by the cardholder to the acceptor system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Mail order.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TLPH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TelephoneOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Telephone order.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECOM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ElectronicCommerce</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Electronic commerce.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TVPY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TelevisionPayment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment on television.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransactionData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Card transaction information to be transferred.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CardBrnd" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardBrand</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Brand name of the card.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CardData" type="PlainCardData3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Card data associated with the card performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PtOfIntractn" type="PointOfInteraction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PointOfInteraction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point of interaction (POI) performing the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDtls" type="CardPaymentTransactionDetails8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrePdAcct" type="CashAccount24">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PrePaidAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">PrePaid Account for funds transfer or loading.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionEnvironment1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionEnvironment1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the environment of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MERC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Merchant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant environment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PRIV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Private</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Private environment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PUBL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Public</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Public environment.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfAmount3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TypeOfAmount3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification or qualification of the type of amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSHB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cashback</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash-back amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GRTY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Gratuity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Gratuity amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SRVF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ServiceFee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Service fee.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INTC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterchangeFee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Interchange fee.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ORIG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Original</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Original amount authorised during the real-time authorisation process.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SRCH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Surcharge</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Extra fee for a purchase or a withdrawal.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UserInterface2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UserInterface2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of interface to display a message.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MDSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MerchantDisplay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Merchant display or interface.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CDSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CardholderDisplay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cardholder display or interface.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
