WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.supl.005.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:35:04, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:supl.005.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:supl.005.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CorporateActionNotificationSD2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CorporateActionNotificationSD2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding corporate action notification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">xPath to the element that is being extended.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DerivWorkflwSts" type="DerivativeWorkflowStatus1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivativeWorkflowStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of a notice of change.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DerivXchg" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivativeExchange</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Exchange where the derivative is traded.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivPblctnDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivativePublicationDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date when the notice of change to the derivative is published by the exchange.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DerivAdjstmntDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivativeAdjustmentDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Effective date of the adjustment to the derivative contract.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivClctnMtd" type="Max1025Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivativeCalculationMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Method (usually a formula) that will be used to calculate the adjustment factor that will be applied to the derivative to account for the impact of a corporate action event on the underlying equity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DerivFctr" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DerivativeFactor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Adjustment factor to be applied to the derivative contract to account for the impact of a corporate action event on the underlying equity. Derived by using the calculation method. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LotSzChngFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotSizeChangeFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the deliverable stock amount on the derivative contract will be changed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LotAdjstmntMtd" type="Max1025Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotAdjustmentMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Method that is used to calculate the new stock deliverable on the derivative contract. Usually multiplication or division by a stated figure but may include explanatory text and examples. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPricChngFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StrikePriceChangeFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is a new strike price for the change of the derivative contract as a result of the corporate action.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrkPricRndgMtd" type="Max500Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StrikePriceRoundingMethod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Method that will be used to adjust the strike price. May include the number of decimal places and rounding rules, example up or down.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RsdlCshFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResidualCashFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether a residual cash is paid on the derivative contract. For example, this may be a cash element that is included in the terms of a takeover that the underlying equity is subject to.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPric" type="DecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferencePrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price of the security to be used in factor calculations. Usually the closing price of the underlying equity on the effective date of the contract adjustment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefPricCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferencePriceCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency associated with the reference price.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ApprvdFlg" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ApprovedFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the derivative data has/hasn't been approved by a validation service.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DTCCCANODerivativeSD1V03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DTCCCANODerivativeSD1V03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The DTCCCANODerivativeSD1 message extends ISO corporate action notification (CANO) message with DTCC corporate action derivative notice elements not covered in the standard message. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CorpActnNtfctn" type="CorporateActionNotificationSD2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionNotification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Extension block for the information to be extended as corporate action notification details.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, eg, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DerivativeWorkflowStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DerivativeWorkflowStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of exchange's notice of change on a derivative.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PREL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Preliminary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notice is an advance warning that an adjustment may be applied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ADJU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adjustment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notice confirms that an adjustment will be applied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoAction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Notice confirms that no adjustment will be applied.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UCON">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unconfirmed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">GCA VS (Global Corporate Actions Validation Service) is unable to confirm that there is a corporate action corresponding to this notice.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Deleted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details were entered in error. All data should be ignored.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DTCCCANODerivSD1" type="DTCCCANODerivativeSD1V03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="Max1025Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max1025Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 1025 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max500Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max500Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 500 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
