WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.camt.027.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:34:20, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:swift:xsd:camt.027.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:camt.027.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Case">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information identifying a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique id assigned by the case creator.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Cretr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Creator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that created the case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReopCaseIndctn" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReopenCaseIndication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set to yes if the case was closed and needs to be re-opened.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CaseAssignment">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CaseAssignment</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Represents the assignment of a case to a party. Assignment is a step in the overall process of managing a case.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of an assignment within a case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgnr" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assigner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that assigns the case to another party. This is also the sender of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Assgne" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that the case is assigned to. This is also the receiver of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the assignment was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency, where the unit of currency is explicit and compliant with ISO 4217.  The decimal separator is a dot.
Note: A zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="camt.027.001.01" type="camt.027.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MissingCover">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MissingCover</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates that the claim for non receipt is effectively a missing cover.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MssngCoverIndctn" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingCoverIndication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether or not the claim is related to a missing cover.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstructionExtract">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstructionExtract</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of a payment instruction. The information contained in this component is sufficient to retrieve a payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AssgnrInstrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssignerInstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the payment instruction (eg, field 20 of an MT 103) when meaningful to the case assigner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AssgneInstrId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AssigneeInstructionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the payment instruction (eg, field 20 of an MT 103) when meaningful to the case assignee.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CcyAmt" type="CurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrencyAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of the payment. Depending on the context it can be either the amount settled (UnableToApply) or the instructed amount (RequestToCancel, RequestToModify, ClaimNonReceipt).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value date of the payment.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="camt.027.001.01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClaimNonReceipt</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope
The Claim Non Receipt message is sent by a case creator/case assigner to a case assignee.
This message allows to initiate an investigation in case the beneficiary of a payment has not received an expected payment.
Usage
Note 1: Although there are cases where a creditor would contact the creditor's bank when claiming non-receipt, the activity only retained the scenario where the beneficiary claims non-receipt with its debtor, the debtor in its turn contacting the first agent. Therefore the investigation follows the same route as the original instruction.
Note 2: This message is also used to report a missing cover. The rationale behind this is that the beneficiary of the cover (receiver of the payment instruction) missing the cover would be in the very same position as a beneficiary expecting a credit to its account and would therefore trigger the same processes.
In case of a Missing cover, the case will be assigned to the sender of the payment instruction, before following the route of the payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Assgnmt" type="CaseAssignment">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Assignment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an assignment.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Case" type="Case">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Case</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a case.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Undrlyg" type="PaymentInstructionExtract">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Underlying</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the payment instruction for which the Creditor has not received the funds.
Note: 
In case of a missing cover, it must be the Field 20 of the received MT103.
In case of a claim non receipt initiated by the Debtor, it must be the identification of the instruction (Field 20 of MT103, Instruction Identification of the Payment Initiation or the Bulk Credit Transfer).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MssngCover" type="MissingCover">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MissingCover</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates if the claim non receipt is a missing cover. The absence of the component means that the message is not for a missing cover. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
