WmFIN/pub/resources/SDK_MX_Schema_Library/enriched.seti.013.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.0.3) on 2013 Oct 29 18:36:05, ISO 20022 version : 2004-->
<!--Copyright (c) SWIFT scrl, 2013.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seti.013.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seti.013.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyAnd13DecimalAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active or a historic currency where the unit of currency is explicit and compliant with ISO 4217. The number of fractional digits (or minor unit of currency) is not checked as per ISO 4217: It must be lesser than or equal to 13.
Note: The decimal separator is a dot.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AddressType2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of address.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Postal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the complete postal address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PBOX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">POBox</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is a postal office (PO) box.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HOME">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Residential</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the home address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BIZZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Business</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the business address.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MLTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MailTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which mail is sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DLVY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveryTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Address is the address to which delivery is to take place.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountOrRate1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountOrRate1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an amount or a rate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Amt" type="ActiveCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount expressed as an amount of money.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Rate" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Amount expressed as a rate.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Bid3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Bid3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an attempt to buy or sell a large number of financial instruments contained in or comprising a portfolio.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BidId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the bid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClntBidId" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientBidIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier for a Bid Request as assigned by institution. Uniqueness must be guaranteed within a single trading day.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BidRspnPricDtls" type="BidResponsePrice2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidResponsePriceDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proposition of price for a financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BidResponsePrice2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BidResponsePrice2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details for negotiating and trading a large number of securities contained in or comprising a portfolio. 

One example is index arbitrage, which consists in the purchase or sale of a basket of stocks in conjunction with the sale or purchase of
a derivative product (for example index futures) to profit from price differences between the basket and the derivative product. 

Other examples include liquidation of EFP (Exchange for Physical) stock positions, portfolio realignment and portfolio liquidation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Comssn" type="Commission2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Commission</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money due to a party as compensation for a service.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GrssInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GrossIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the price is gross of commission and tax.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pric" type="Price1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Price</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proposition of price for a financial instrument.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sd" type="Side1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Side</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the side of the bid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NonDscldBidDtls" type="NonDisclosedBid2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonDisclosedBidDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">List trading by which the buy-side provides details to the sell-side information about the sector, country, index and potential market impact of the financial instrument to be bought or sold. Using this information, the sell-side firms bid for the trade.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Commission2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Commission2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amount of money due to a party as compensation for a service.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Comssn" type="AmountOrRate1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Commission</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Commission expressed as an amount of money or a rate.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcptId" type="PartyIdentification23">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RecipientIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CommissionType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the commission type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommissionType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CommissionType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code or a data source scheme to determine the commission type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CommissionValueType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Commission type is identified using a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Commission type is defined using a data source scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CommissionValueType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CommissionValueType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a type of value of the commission.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PEUN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PerUnit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed per unit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABSO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Absolute</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is expressed as absolute.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CopyDuplicate1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COPY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DUPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a code and or a data source scheme to determine the settlement date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementDate2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date identified using a code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date identified using a data source scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="NonDscldBidRspn" type="NonDisclosedBidResponse"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the document (message) was created by the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max128Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max128Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 128 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Postal address of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonDisclosedBid2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NonDisclosedBid2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">List trading by which the buy-side provides details to the sell-side information about the sector, country, index and potential market impact of the financial instrument to be bought or sold. Using this information, the sell-side firms bid for the trade.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BidByCcy" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidByCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of bid based on a common characteristic (the currency) of all securities of a list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BidBySctr" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidBySector</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of bid based on a common characteristic (the sector) of all securities of a list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BidByIndx" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidByIndex</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of bid based on a common characteristic (the index) of all securities of a list.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FairVal" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FairValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Difference between the value of a future and the value of the underlying equities after allowing for the discounted cash flows associated with the underlying stocks.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NonDisclosedBidResponse">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NonDisclosedBidResponse</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An executing party, eg, a broker, sends the NonDisclosedBidResponse message to an instructing party, eg, an investment manager, to notify a bid based on the information provided in the NonDisclosedBidRequest message.&#13;
Usage&#13;
In the "Non disclosed" convention, the bidding process is done by exchanging the NonDisclosedBidRequest and the NonDisclosedBidResponse messages. The ListOrder message enumerates the financial instruments, the quantities and the direction for the trade. This message may contain pre-allocation information and is sent after the bidding process has been completed (by telephone or electronically).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the identification and creation date of a document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BidDtls1" type="Bid3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BidDetails1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details about the bid (Contains the Bid and ClientBidIdentification).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSsnDtls" type="TradingSession1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSessionDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details about the trading session.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmDtls" type="SecuritiesSettlement2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details about the securities settlement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification23">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification23</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by providing a BIC or a proprietary code.&#13;
Optionally, the client account number can also be provided.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BICOrBEI" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BICOrBEI</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="NmAndAdr" type="NameAndAddress5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the nature of the postal address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AddressLine</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country eg, state, region, county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Price1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Price1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amount of money for which goods or services are offered, sold, or bought.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ValTp" type="PriceValueType3Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of value in which the price is expressed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="PriceRateOrAmountChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the price, eg, as a currency and value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PricTp" type="TypeOfPrice1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PriceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type and information about a price.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriceRateOrAmountChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of formats for the price.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Rate" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Price expressed as a rate, ie, percentage.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Price expressed as a currency and value.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PriceValueType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriceValueType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a type of value of the price.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Discount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a number of percentage points below par, eg, a discount price of 2.0% equals a price of 98 when par is 100.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PREM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Premium</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a number of percentage points above par, eg, a premium price of 2.0% equals a price of 102 when par is 100.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Par</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is the face amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="YIEL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Yield</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed as a yield.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Spread</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Difference between a market maker's bid and asked price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PEUN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PerUnit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price expressed per unit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ABSO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Absolute</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is expressed as absolute.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TEDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TEDPrice</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is expressed as Treasury Euro Dollar price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TEDY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TEDYield</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is expressed as Treasury Euro Dollar yield.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FICT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FixedCabinetTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cabinet trades are used to indicate prices that trade at a price lower than that available on an exchange and they can be fixed or variable (primarily used for listed futures and options).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VACT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">VariableCabinetTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cabinet trades are used to indicate prices that trade at a price lower than that available on an exchange and they can be fixed or variable (primarily used for listed futures and options).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesSettlement2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlement2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Parameters applied to the settlement of a security transfer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be delivered or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DtCd" type="DateType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the date of settlement in coded form or using a data source scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfSttlm" type="PartyIdentification23">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceOfSettlement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Place where settlement of the securities takes place.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementDate2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDate2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the date of settlement in coded form.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REGU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Regular</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place under the standard rules applicable to the market and instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CASH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cash</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NXTD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NextDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the day after trade date.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TONE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusOne</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus one business day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TTWO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusTwo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus two business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TTRE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusThree</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus three business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TFOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusFour</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus four business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TFIV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TPlusFive</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus five business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SELL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellersOption</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place at the choice/option of the seller.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FUTU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Future</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place on the trade date plus six or more business days.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ASAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AsSoonAsPossible</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer is to be effected as soon as possible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENDC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AtEndOfContract</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transfer is to be effected at the end of the contract.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WHIF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WhenAndIfIssued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place when the financial instrument is issued by the issuer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WDIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WhenDistributed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place when the financial instrument is distributed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WHID">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">WhenIssuedOrDistributed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place when the financial instrument is issued or distributed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TBAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToBeAnnouncedTrade</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place as a result of a "to be announced" trade.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MONT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfMonth</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement takes place at the end of the month.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Side1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Side1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates the side of the quote request, from the buy-side perspective.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Buy</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is buy driven.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SELL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Sell</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Order is sell driven.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TWOS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TwoSided</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the side refers to both buys and sells.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BUMI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuyMinus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A round-lot market order to buy minus is an order to buy a stated amount of a stock provided that its price is:
- not higher than the last sale if the last sale was a minus or zero minus tick and
- not higher than the last sale minus the minimum fractional change in the stock if the last sale was a plus or zero plus tick.
A limit price order to buy minus also states the highest price at which it can be executed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEPL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellPlus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A round-lot market order to sell plus is an order to sell a stated amount of a stock provided that its price is:
- not lower than the last sale if the last sale was a plus or zero plus tick and
- not lower than the last sale minus the minimum fractional change in the stock if the last sale was a minus or zero minus tick.
A limit-price order to sell plus also states the lowest price at which it can be executed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SESH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellShort</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">An order to sell a security that the seller does not own; a sale effected by delivering a security borrowed by, or for the account of, the seller. Can only be executed on a plus or zero plus tick.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSEX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SellShortExempt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short sale exempt from short-sale rules.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CROS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cross</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies an order for which a broker wishes to take the other side and cross with the client.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRSH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossShort</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of order for which a broker wants to cross with the client in the case a client wants to establish a short position, and sends a Sell Short order to the broker. Many exchanges have tick rules needing to be enforced, and the order getting converted from Sell Short to Cross (instead of Cross Short) could result in an illegal short sell.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSHE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CrossShortExempt</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a type of order for which a broker wants to cross with the client in the case a client wants to establish a short position and is exempt from the uptick restriction. Used as audit trail on exchanges.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEFI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AsDefined</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates, in the case of a multileg instrument,that the sides of the legs are the same as defined at the creation of the multileg instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OPPO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Opposite</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates, in the case of a multileg instrument,that the sides of the legs are the opposite of their definition at the creation of the multileg instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNDI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Undisclosed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The side of the indication of interest is not disclosed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingSession1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradingSession1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The details of a specific trading session.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSsnId" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSessionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a specific execution time bracket code through its trading session name or description.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgSsnSubId" type="Max128Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradingSessionSubIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Optional market assigned sub identifier for a trading session. Usage is determined by market or counterparties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPrice1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TypeOfPrice1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of price and information about the price.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AVER">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Average</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is an average execution price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="AVOV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AverageOverride</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is an override of the average price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Combined</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is composed of the combined expenses (used in the UK market).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GREX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GrossOfAll</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is a gross execution price. The price is an all inclusive price, ie, including all charges, fees, and taxes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIMI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Limit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is the limit price of a limit order, eg, a customer might put in a limit order to sell financial instruments at 67 or to buy at 60.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NET2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Net</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is a net price, ie, net only of local broker's commission, local fees and local taxes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NDIS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetDisclosed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is net to the disclosed client.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NET1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetOfAll</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is a net price, ie, net of all charges, fees and taxes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NUND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetUndisclosed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is net to the client undisclosed (used in the UK market).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOGR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotionalGross</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is notional gross (used in the UK market).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ParValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is equal to the nominal or face value of the instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RDAV">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RoundedAverage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price  is a rounded average price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Stop</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Price is a stop price used in an order to buy.  The order becomes a market order when the financial instrument trades at or above the stop price after the order is submitted.  In an order to sell the order becomes a market order when the financial instrument trades at or below the stop price.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
