WmHL7/data/xsd/wm.ip.hl7.docType/v21/datatypes.xsd

<?xml version ="1.0" encoding="UTF-8"?>
<!--
    v2.xml Message Definitions Version v2.1  - data types
    HL7® Version 2.1, © Health Level Seven, Inc.  All rights reserved.  HL7 and Health Level Seven are registered trademarks of Health Level Seven, Inc.
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:hl7-org:v21xml"
    xmlns:hl7="urn:com.sun:encoder-hl7-1.0"
    targetNamespace="urn:hl7-org:v21xml" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

    <xsd:annotation>
        <xsd:appinfo source="urn:com.sun:encoder">
            <encoding xmlns="urn:com.sun:encoder" name="HL7 v2 Encoding" namespace="urn:com.sun:encoder-hl7-1.0" style="hl7encoder-1.0"/>
        </xsd:appinfo>
    </xsd:annotation>

    <!--
        COMPOSITE DATATYPE AD
    -->
    <!-- [ WmHL7 ] -->
    <xsd:complexType name="AD">
        <xsd:sequence>
            <xsd:element ref="AD.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="AD.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="AD.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="AD.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="AD.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="AD.6" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--
        COMPONENT AD.1
    -->
    <xsd:attributeGroup name="AD.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="street address"/>
    </xsd:attributeGroup>
    <xsd:complexType name="AD.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">street address</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>street address</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="AD.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.1" type="AD.1.CONTENT"/>
    <!--
        COMPONENT AD.2
    -->
    <xsd:attributeGroup name="AD.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="other designation"/>
    </xsd:attributeGroup>
    <xsd:complexType name="AD.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">other designation</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>other designation</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="AD.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.2" type="AD.2.CONTENT"/>
    <!--
        COMPONENT AD.3
    -->
    <xsd:attributeGroup name="AD.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="city"/>
    </xsd:attributeGroup>
    <xsd:complexType name="AD.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">city</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>city</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="AD.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.3" type="AD.3.CONTENT"/>
    <!--
        COMPONENT AD.4
    -->
    <xsd:attributeGroup name="AD.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="state or province"/>
    </xsd:attributeGroup>
    <xsd:complexType name="AD.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">state or province</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>state or province</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="AD.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.4" type="AD.4.CONTENT"/>
    <!--
        COMPONENT AD.5
    -->
    <xsd:attributeGroup name="AD.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="zip or postal code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="AD.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">zip or postal code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>zip or postal code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="AD.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.5" type="AD.5.CONTENT"/>
    <!--
        COMPONENT AD.6
    -->
    <xsd:attributeGroup name="AD.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="country"/>
    </xsd:attributeGroup>
    <xsd:complexType name="AD.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">country</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>country</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="AD.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AD.6" type="AD.6.CONTENT"/>
    
    <!--
        COMPOSITE DATATYPE CE
    -->
    <xsd:complexType name="CE">
        <xsd:sequence>
            <xsd:element ref="CE.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.6" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
	<!-- [ WmHL7 ] -->
    <!--
        COMPOSITE DATATYPE CK
    -->
    <xsd:complexType name="CK">
        <xsd:sequence>
            <xsd:element ref="CK.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CK.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CK.3" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--
        COMPONENT CK.1
    -->
    <xsd:attributeGroup name="CK.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="ID number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CK.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">ID number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="CK.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.1" type="CK.1.CONTENT"/>
    <!--
        COMPONENT CK.2
    -->
    <xsd:attributeGroup name="CK.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="check digit"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CK.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">check digit</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="CK.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.2" type="CK.2.CONTENT"/>
    <!--
        COMPONENT CK.3
    -->
    <xsd:attributeGroup name="CK.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="code identifying check digit scheme employed"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CK.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">code identifying check digit scheme employed</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CK.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CK.3" type="CK.3.CONTENT"/>
    
    <!--
        PRIMITIVE DATATYPE CM
    -->
    <xsd:simpleType name="CM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE CM_UNDEFINED
    -->
    <xsd:simpleType name="CM_UNDEFINED">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

	<!-- [ WmHL7 ] -->
    <!--
        COMPOSITE DATATYPE CN
    -->
    <xsd:complexType name="CN">
        <xsd:sequence>
            <xsd:element ref="CN.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CN.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CN.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CN.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CN.5" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--
        COMPONENT CN.1
    -->
    <xsd:attributeGroup name="CN.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="ID number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CN.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">ID number</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CN.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.1" type="CN.1.CONTENT"/>
    <!--
        COMPONENT CN.2
    -->
    <xsd:attributeGroup name="CN.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="familiy name"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CN.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">familiy name</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CN.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.2" type="CN.2.CONTENT"/>
    <!--
        COMPONENT CN.3
    -->
    <xsd:attributeGroup name="CN.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="given name"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CN.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">given name</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CN.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.3" type="CN.3.CONTENT"/>
    <!--
        COMPONENT CN.4
    -->
    <xsd:attributeGroup name="CN.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="middle initial or name"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CN.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">middle initial or name</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CN.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.4" type="CN.4.CONTENT"/>
    <!--
        COMPONENT CN.5
    -->
    <xsd:attributeGroup name="CN.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="suffix (e.g. JR or III)"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CN.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">suffix (e.g. JR or III)</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CN.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CN.5" type="CN.5.CONTENT"/>
	

    <!--
        PRIMITIVE DATATYPE COMP_ID_DIGIT
    -->
    <xsd:simpleType name="COMP_ID_DIGIT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE COMP_ID_NAME
    -->
    <xsd:simpleType name="COMP_ID_NAME">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE COMP_QUANT
    -->
    <xsd:simpleType name="COMP_QUANT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <!-- [ WmHL7 ] -->
	<!--
		COMPOSITE DATATYPE CQ
	-->
	<xsd:complexType name="CQ">
		<xsd:sequence>
			<xsd:element ref="CQ.1" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="CQ.2" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
    <!--
        COMPONENT CQ.1
    -->
    <xsd:attributeGroup name="CQ.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="quantity"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CQ.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">quantity</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="CQ.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CQ.1" type="CQ.1.CONTENT"/>
    <!--
        COMPONENT CQ.2
    -->
    <xsd:attributeGroup name="CQ.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="units"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CQ.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">units</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CQ.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CQ.2" type="CQ.2.CONTENT"/>

    <!--
        PRIMITIVE DATATYPE DT
    -->
    <xsd:simpleType name="DT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE FT
    -->
    <!-- [ WmHL7 -->
    <xsd:complexType name="FT" mixed="true">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
    </xsd:complexType>
    <!--
        PRIMITIVE DATATYPE ID
    -->
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE NM
    -->
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    
    <!-- [ WmHL7 ] -->
    <!--
        COMPOSITE DATATYPE PN
    -->
    <xsd:complexType name="PN">
        <xsd:sequence>
            <xsd:element ref="PN.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="PN.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="PN.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="PN.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="PN.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="PN.6" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--
        COMPONENT PN.1
    -->
    <xsd:attributeGroup name="PN.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="familiy name"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PN.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">familiy name</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>family name</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="PN.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.1" type="PN.1.CONTENT"/>
    <!--
        COMPONENT PN.2
    -->
    <xsd:attributeGroup name="PN.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="given name"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PN.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">given name</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>given name</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="PN.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.2" type="PN.2.CONTENT"/>
    <!--
        COMPONENT PN.3
    -->
    <xsd:attributeGroup name="PN.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="middle initial or name"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PN.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">middle initial or name</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>middle initial or name</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="PN.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.3" type="PN.3.CONTENT"/>
    <!--
        COMPONENT PN.4
    -->
    <xsd:attributeGroup name="PN.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="suffix (e.g. JR or III)"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PN.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">suffix (e.g. JR or III)</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>suffix (e.g. JR or III)</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="PN.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.4" type="PN.4.CONTENT"/>
    <!--
        COMPONENT PN.5
    -->
    <xsd:attributeGroup name="PN.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="prefix (e.g. DR)"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PN.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">prefix (e.g. DR)</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>prefix (e.g. DR)</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="PN.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.5" type="PN.5.CONTENT"/>
    <!--
        COMPONENT PN.6
    -->
    <xsd:attributeGroup name="PN.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="degree (e.g. MD)"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PN.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">degree (e.g. MD)</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>degree (e.g. MD)</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="PN.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PN.6" type="PN.6.CONTENT"/>

    
    <!--
        PRIMITIVE DATATYPE SET_ID
    -->
    <xsd:simpleType name="SET_ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE SI
    -->
    <xsd:simpleType name="SI">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE ST
    -->
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE TM
    -->
    <xsd:simpleType name="TM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE TN
    -->
    <xsd:simpleType name="TN">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE TS
    -->
    <xsd:simpleType name="TS">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE TX
    -->
    <!-- [ WmHL7 ] -->
    <xsd:complexType name="TX" mixed="true">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
    </xsd:complexType>
    <!--
        COMPONENT CE.1
    -->
    <xsd:attributeGroup name="CE.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CE.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.1" type="CE.1.CONTENT"/>
    <!--
        COMPONENT CE.2
    -->
    <xsd:attributeGroup name="CE.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.2" type="CE.2.CONTENT"/>
    <!--
        COMPONENT CE.3
    -->
    <xsd:attributeGroup name="CE.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="name of coding system"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">name of coding system</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>name of coding system</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.3" type="CE.3.CONTENT"/>
    <!--
        COMPONENT CE.4
    -->
    <xsd:attributeGroup name="CE.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="alternate identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">alternate identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>alternate identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.4" type="CE.4.CONTENT"/>
    <!--
        COMPONENT CE.5
    -->
    <xsd:attributeGroup name="CE.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="alternate text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">alternate text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>alternate text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.5" type="CE.5.CONTENT"/>
    <!--
        COMPONENT CE.6
    -->
    <xsd:attributeGroup name="CE.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="name of alternate coding system"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">name of alternate coding system</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>name of alternate coding system</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.6" type="CE.6.CONTENT"/>
</xsd:schema>
