WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2013/fin.701.2013.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2013. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.5.0.3) on 2013 Jun 12 17:17:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.701.2013" targetNamespace="urn:swift:xsd:fin.701.2013" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT701" type="MT701_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Issue of a Documentary Credit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by the issuing bank to the advising bank.
It is used to indicate the terms and conditions of a documentary credit which has been originated by the Sender (issuing bank).
This message is sent in addition to an MT 700 Issue of a Documentary Credit, when the information in the documentary credit exceeds the maximum input message length of the MT 700.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT701_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F27a" type="MT701_F27a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sequence of Total</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the number of this message in the series of messages sent for a documentary credit, and the total number of messages in the series.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="MT701_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Documentary Credit Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the documentary credit number which has been assigned by the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F45a" type="MT701_F45a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Description of Goods and/or Services</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains a description of the goods and/or services.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F46a" type="MT701_F46a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Documents Required</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains a description of any documents required.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F47a" type="MT701_F47a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Conditions</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains a description of further conditions of the documentary credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT701_F27a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F27" type="F27_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="27"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number - Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT701_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT701_F45a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F45B" type="F45B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="45B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT701_F46a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F46B" type="F46B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="46B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT701_F47a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F47B" type="F47B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="47B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F27_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Number" type="Quantity_FIN_1En_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total" type="Quantity_FIN_1En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F45B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_100M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F46B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_100M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F47B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_100M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Quantity_FIN_1En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="1!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_100M65x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_65x_Type" maxOccurs="100">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_65x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="65x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="65"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,65}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
