WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2013/fin.646.2013.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2013. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.5.0.3) on 2013 Jun 12 17:17:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.646.2013" targetNamespace="urn:swift:xsd:fin.646.2013" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT646" type="MT646_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Payment of Principal and/or of Interest</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message type is sent by the agent of a facility to the providers of funds.
It provides advice of payments and/or prepayments of principal and/or payment of interest on the same value date, which are not related to any subsequent drawing or renewal. It specifies, to the Receiver, amounts with respect to principal and/or interest.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT646_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification of the Facility</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Calculation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Principal Payment/Sum of Interest Due</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the loan reference number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Further Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the type of transaction contained in the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F29a_1" type="SeqA_F29a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the specific location from which the message has been sent within the sending financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F29a_2" type="SeqA_F29a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">To the Attention of</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the specific location for which the message is intended within the receiving financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F88a" type="SeqA_F88a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Borrower(s)</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the borrower(s).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqA_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Original Facility Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date of the syndicated agreement, followed by the original currency code and total amount of the facility.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a" type="SeqA_F26a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Drawing Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the existing drawing within a tranche, or the overall facility.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F31a" type="SeqB_F31a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Period</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start and end dates of the interest period on which the interest amount in this sequence is calculated. It also specifies the interest rate origin.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="SeqB_F33a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Computation Base Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency code and amount of the Receiver's participation, on which the interest calculation is based.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F34a" type="SeqB_F34a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date, currency and interest amount which is due to the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F37a" type="SeqB_F37a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the interest rate used to calculate the interest amount due to the Receiver, the method to be used in calculation of the interest amount, and the interest payment period(s).
The field tag letter option specifies the method of interest computation, as follows:
Tag option
Month of
Year of
A
30 days
360 days
B
28-31 days
360 days
C
28/31 days
365/6 days
D
30 days
365/6 days
E
28-31 days
365 days
F
30 days
365 days</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqB_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field is used to provide further information about the interest amount in this particular sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F32a_1" type="SeqC_F32a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total Principal Amount Repaid/Prepaid</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date, currency code and total principal requested to be repaid/prepaid by the borrower(s), to the providers of funds, expressed in the currency of the existing drawing.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a_2" type="SeqC_F32a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Principal Amount Due to Receiver</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date, currency code and amount of the drawing, or portion of the drawing, which is to be paid to the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="SeqC_F33a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Gross Interest Amount Due to Receiver</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date, currency code and gross amount of interest to be paid to the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F34a_1" type="SeqC_F34a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Net Interest Amount Due to Receiver</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date, currency code and amount of interest due to the Receiver after all deductions, for example, withholding taxes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F34a_2" type="SeqC_F34a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total Amount Transferred</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the value date, currency code and amount to be paid to (option P) or received from (option R) the provider of funds as a result of adjustments to principal and/or payment of interest.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqC_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the financial institution at which the interest and/or principal amount will be paid to the Receiver by the Sender, or, if a negative amount, to the Sender by the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="SeqC_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details of Adjustments</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains an explanation of any adjustments which have been made to the interest amount (field 33a).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqC_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field is used to provide additional details about the principal payment or sum of interest due.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23" type="F23_48_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F29a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F29A" type="F29A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="29A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F29a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F29B" type="F29B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="29B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F88a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F88D" type="F88D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="88D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32A" type="F32A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26P" type="F26P_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F31a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31F" type="F31F_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Start Date - End Date - Origin</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33B" type="F33B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F34a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F34N" type="F34N_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34N"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Sign - Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F37a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F37A" type="F37A_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="37A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate - End Date - Period - Number - Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F37B" type="F37B_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="37B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate - End Date - Period - Number - Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F37C" type="F37C_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="37C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate - End Date - Period - Number - Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F37D" type="F37D_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="37D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate - End Date - Period - Number - Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F37E" type="F37E_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="37E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate - End Date - Period - Number - Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F37F" type="F37F_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="37F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate - End Date - Period - Number - Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_144_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F32a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32A" type="F32A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F32a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32N" type="F32N_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32N"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Sign - Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33N" type="F33N_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33N"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Sign - Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F34a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F34N" type="F34N_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34N"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Sign - Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F34a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F34P" type="F34P_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F34R" type="F34R_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57B" type="F57B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71C" type="F71C_20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_146_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F23_48_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F29A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F29B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F88D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F26P_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Identification" type="Text_FIN_4x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F31F_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="StartDate" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndDate" type="DateTime_YYMMDD_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">End Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Origin" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Origin</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F34N_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Sign" type="Text_Sign_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F37A_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="InterestRate" type="Rate_FIN_12d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End Date - Period - Number</xs:documentation>
						</xs:annotation>
						<xs:element name="EndDate" type="DateTime_YYMMDD_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">End Date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Period" type="Code_1Ea_58_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Period</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Number" type="Quantity_FIN_3n_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="Information" type="Text_FIN_16x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F37B_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="InterestRate" type="Rate_FIN_12d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End Date - Period - Number</xs:documentation>
						</xs:annotation>
						<xs:element name="EndDate" type="DateTime_YYMMDD_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">End Date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Period" type="Code_1Ea_58_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Period</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Number" type="Quantity_FIN_3n_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="Information" type="Text_FIN_16x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F37C_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="InterestRate" type="Rate_FIN_12d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End Date - Period - Number</xs:documentation>
						</xs:annotation>
						<xs:element name="EndDate" type="DateTime_YYMMDD_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">End Date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Period" type="Code_1Ea_58_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Period</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Number" type="Quantity_FIN_3n_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="Information" type="Text_FIN_16x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F37D_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="InterestRate" type="Rate_FIN_12d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End Date - Period - Number</xs:documentation>
						</xs:annotation>
						<xs:element name="EndDate" type="DateTime_YYMMDD_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">End Date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Period" type="Code_1Ea_58_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Period</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Number" type="Quantity_FIN_3n_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="Information" type="Text_FIN_16x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F37E_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="InterestRate" type="Rate_FIN_12d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End Date - Period - Number</xs:documentation>
						</xs:annotation>
						<xs:element name="EndDate" type="DateTime_YYMMDD_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">End Date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Period" type="Code_1Ea_58_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Period</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Number" type="Quantity_FIN_3n_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="Information" type="Text_FIN_16x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F37F_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="InterestRate" type="Rate_FIN_12d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End Date - Period - Number</xs:documentation>
						</xs:annotation>
						<xs:element name="EndDate" type="DateTime_YYMMDD_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">End Date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Period" type="Code_1Ea_58_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Period</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Number" type="Quantity_FIN_3n_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:element name="Information" type="Text_FIN_16x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_144_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32N_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Sign" type="Text_Sign_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33N_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Sign" type="Text_Sign_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F34P_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F34R_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71C_20_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_146_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_4x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Sign_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="N"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rate_FIN_12d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Rate"/>
				<info:FinFormat value="12d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_58_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Number of days</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Number of months</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_3n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="3n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
