WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2013/fin.607.2013.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2013. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.5.0.3) on 2013 Jun 12 17:17:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.607.2013" targetNamespace="urn:swift:xsd:fin.607.2013" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT607" type="MT607_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Commodity Credit Advice</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by the commodity account servicing institution to the account owner or its authorised agent.
It is used to advise the Receiver of an entry which has been credited to its account or an account for which the Receiver is an authorised agent.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT607_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F20a" type="MT607_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the Sender's reference to the commodity transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="MT607_F21a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the reference to the related message or transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a_1" type="MT607_F26a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification of the Commodity and the Commodity Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the commodity to which this message relates and the commodity account serviced by the Sender for the Receiver or the party for which the Receiver is an authorised agent, which is credited with the amount of the commodity advised by this message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F25a" type="MT607_F25a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Further Account Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains further identification information about the commodity account which has been credited.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a_2" type="MT607_F26a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Certificate Number(s) and/or Bar Number(s)</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field lists the certificate and/or bar number(s) of the commodity which has been credited.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="MT607_F30a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Value Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date on which the specified commodity was credited.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="MT607_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Quantity of the Commodity</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the type of unit and the quantity of commodity which has been credited to the commodity account.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F82a" type="MT607_F82a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instructing Party</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the instructing party which originated the transaction, if different from the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F86a" type="MT607_F86a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the intermediary institution for the transfer of the commodity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87a" type="MT607_F87a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Deliverer of the Commodity</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the party from which the commodity was received.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F88a" type="MT607_F88a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary of the Commodity</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Where applicable, this field identifies the party for which the Sender is the authorised agent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="MT607_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F26a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26C" type="F26C_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Delivery Details - Delivery Location - Allocation - Type - Denomination - Form</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F25a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F25" type="F25_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="25"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F26a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26D" type="F26D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32F" type="F32F_3_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Unit - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F82a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F82A" type="F82A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="82A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F82D" type="F82D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="82D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F86a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F86A" type="F86A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="86A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F86B" type="F86B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="86B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F86D" type="F86D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="86D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F87a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F87A" type="F87A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87D" type="F87D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F88a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F88A" type="F88A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="88A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F88B" type="F88B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="88B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F88D" type="F88D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="88D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT607_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_140_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F26C_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DeliveryDetails" type="Code_3Ea_32_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivery Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeliveryLocation" type="Text_FIN_15x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="/[A-Z]{5}[A-Z]{4}([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,4})?(//[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8})?$"/>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Delivery Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Allocation" type="Code_5Ea_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Allocation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="DTRestriction_26C_4_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Denomination" type="Text_FIN_4x_noDoubleSlash_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="(//[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8})?$"/>
								<info:MatchUntilPattern value="//|$"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Denomination</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Form" type="Text_FIN_8x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Form</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F25_1_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F26D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_30M65x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F30_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F32F_3_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Unit" type="Code_3Ea_33_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Quantity_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F82A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F82D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F86A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F86B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F86D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87A_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F88A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F88B_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F88D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_140_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ea_32_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="CFR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Cost and Freight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Cost, Insurance, and Freight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Carriage and Insurance Paid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CPT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Carriage Paid To</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DAF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered At Frontier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DDP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Duty Paid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DDU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Duty Unpaid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEQ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Ex Quay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DES">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Ex Ship</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DTD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Door To Door</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXW">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">EX Works</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free Alongside Ship</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FCA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free Carrier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOB">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free On Board</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">LOCO London</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_15x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="15x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_5Ea_2_Type">
		<xs:restriction base="Text_5Ea_Type">
			<xs:enumeration value="ALLOC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the commodity is allocated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNALL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the commodity is unallocated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DTRestriction_26C_4_Type">
		<xs:restriction base="Text_4Ea_1_Type">
			<xs:enumeration value="ALUM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Aluminium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Copper</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GOLD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gold</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IRID">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Iridium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEAD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Lead</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NICK">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Nickel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OSMI">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Osmium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PALL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Palladium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLAT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Platinum</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POIL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Palm Oil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RHOD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Rhodium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RUTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Ruthenium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SILV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Silver</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STEE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Steel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TINA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TITA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Titanium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZINC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Zinc</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AMEG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AMERICAN EAGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANUG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AUSTRALIAN NUGGET</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BRIT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">BRITANNIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COIN">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">OTHER COINS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORO">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AUSTRIAN CORONA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUCA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">DUCAT FOURFOLD SINGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FRFR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">FRENCH FRANCS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GECU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">GOLDEN ECU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KRUG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">KRUGER RAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LBTY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">LIBERTY DOLLAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAPL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">MAPLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MEXP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">MEXICAN PESO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NBUF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NEW BUFFALO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOBL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NOBLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NSOV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NEW SOVEREIGN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OSOV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">OLD SOVEREIGN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAEG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">SILVER AMERICAN EAGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SECU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">SILVER ECU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STAT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">STATUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VREN">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">VRENELI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_4x_noDoubleSlash_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,4}(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{1,2})?(/)?[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_8x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="8x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_30M65x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_65x_Type" maxOccurs="30">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ea_33_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="FOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Fine Troy Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gross Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GRM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gramme</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KLO">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Kilo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Litre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Lot</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PND">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Pound</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tael</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tola</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TON">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Metric Tonne</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Troy Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_5Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="5!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[A-Z]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ea_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_65x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="65x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="65"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,65}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
