WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2013/fin.104.2013.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2013. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.5.0.3) on 2013 Jun 12 17:17:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.104.2013" targetNamespace="urn:swift:xsd:fin.104.2013" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT104" type="MT104_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Direct Debit and Request for Debit Transfer Message</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
The MT 104 is used to convey customer direct debit instructions and can be:
sent by a non-financial institution account owner, or a party authorised by the account owner, to a financial institution to request the direct debit of the debtor's account with the receiver or with another financial institution, and subsequently to credit the creditor's account maintained by the receiver or one of its branches.
sent by the creditor's bank, or another financial institution, to the debtor's bank, or another financial institution, on behalf of the creditor/instructing party to order the debit of the debtor's account and to collect payment from this account.
sent by a non-financial institution account owner, or a party authorised by the account owner, to a forwarding financial institution to request the direct debit of the debtor's account and subsequently to credit the creditor's account serviced by a financial institution in another country.
sent between two financial institutions on behalf of a creditor/instructing party to request the direct debit of the debtor's account in the Receiver's country and subsequently to credit the creditor's account maintained by the Receiver or one of its branches.
For use of messages in the corporate to bank environment, see the MT message implementation guide for corporate customers available on www.swift.com.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT104_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Settlement Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_1" type="SeqA_F21a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Customer Specified Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference to the entire message assigned by either the:
instructing party, when present or
ordering customer, when the instructing party is not present.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instruction Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the type of the direct debit instructions contained in the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_2" type="SeqA_F21a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Registration Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the registration reference authorising a creditor to take part in a direct debit scheme.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="SeqA_F30a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Requested Execution Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the requested execution date valid for all transactions contained in the MT 104. The requested execution date is the date on which the Sender requests the Receiver to execute all transactions contained in sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51a" type="SeqA_F51a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sending Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the Sender of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a_1" type="SeqA_F50a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instructing Party</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the customer which is authorised by the creditor/account servicing institution to order all the transactions in the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a_2" type="SeqA_F50a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Creditor</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the creditor whose account is to be credited with all transactions in sequence B. In case the MT 104 is used under the request for Direct Debit scenario, this account is held at the Receiver. In all other cases, the account is maintained at the Sender or the account servicing institution specified in field 52a.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a" type="SeqA_F52a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Creditor's Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the creditor's bank, even if field 50A or 50K contain an IBAN, which orders all transactions in the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a" type="SeqA_F26a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Type Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the nature of, purpose of, and/or reason for all transactions in the message, for example, invoices, subscriptions, instalment payments.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F77a" type="SeqA_F77a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Regulatory Reporting</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the codes for the statutory and/or regulatory information required by the authorities in the country of the Receiver and/or the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="SeqA_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details of Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies which party will bear the charges:
under the Direct Debit scenario, for all transactions in the message.
under the Request for Direct Debit scenario, for all subsequent direct debits contained in the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqA_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver, that is, Sender of the original message regarding the reason for a return, that is, reversal, rejection or revocal.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F21a_1" type="SeqB_F21a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the unique reference for the individual transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqB_F23a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instruction Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies or further specifies the type of direct debit instruction in the same occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_2" type="SeqB_F21a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Mandate Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the reference of the direct debit mandate which has been agreed upon between the creditor and the debtor.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_3" type="SeqB_F21a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Direct Debit Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field further identifies the direct debit transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_4" type="SeqB_F21a_4_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Registration Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the registration reference authorising a creditor to take part in a direct debit scheme.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqB_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency and Transaction Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the amount to be debited from the debtor's account, subject to addition of charges if field 71A equals BEN or SHA. The debtor's account is identified in field 59a of the same occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a_1" type="SeqB_F50a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instructing Party</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the customer which is authorised by the creditor/account servicing institution to order the direct debit transaction in this particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a_2" type="SeqB_F50a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Creditor</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the creditor whose account is to be credited with the direct debit transaction in this particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a" type="SeqB_F52a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Creditor's Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the creditor's bank, even if field 50A or 50K contain an IBAN, which orders the transaction in the particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqB_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Debtor's Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the bank which holds the account(s) of the debtor and which will execute the associated transaction in this occurrence of sequence B. This is applicable even if field 59A or 59 contains an IBAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F59a" type="SeqB_F59a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Debtor</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the debtor whose account will be debited according to the direct debit instruction specified in this occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqB_F70a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Remittance Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies details of the individual direct debit which are to be transmitted to the debtor.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a" type="SeqB_F26a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Type Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the nature of, purpose of, and/or reason for the transaction in the particular occurrence of sequence B, for example, invoices, subscriptions, instalment payments.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F77a" type="SeqB_F77a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Regulatory Reporting</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the codes for the statutory and/or regulatory information required by the authorities in the country of the Receiver and/or the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="SeqB_F33a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency/Original Ordered Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the original currency and amount as ordered by the creditor when different from the transaction currency and amount specified in field 32B of the same occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_1" type="SeqB_F71a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details of Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies which party will bear the charges:
under the Direct Debit scenario, for the direct debit transaction in this particular occurrence of sequence B.
under the Request for Direct Debit scenario, for the subsequent direct debit transaction in this particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_2" type="SeqB_F71a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount of the charges due to the Sender for the individual transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_3" type="SeqB_F71a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiver's Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount of the charges due to the Receiver for the individual transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F36a" type="SeqB_F36a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Exchange Rate</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the exchange rate used to convert the original ordered amount specified in field 33B into the currency of the transaction amount (field 32B) in this occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F32a" type="SeqC_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency and Settlement Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the total settlement amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F19a" type="SeqC_F19a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sum of Amounts</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the sum of all transaction amounts appearing in field 32B in each occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_1" type="SeqC_F71a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sum of Sender's Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the total amount of the charges due to the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_2" type="SeqC_F71a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sum of Receiver's Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the total amount of the charges due to the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="SeqC_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Correspondent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies, where required, the account or branch of the Sender through which the Sender wants to be reimbursed by the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21R" type="F21R_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23E" type="F23E_17_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type - Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21E" type="F21E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21E"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F51a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F51A" type="F51A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F50a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50C" type="F50C_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50L" type="F50L_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50L"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F50a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50A" type="F50A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50K" type="F50K_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50K"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F52a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52A" type="F52A_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52C" type="F52C_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52D" type="F52D_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26T" type="F26T_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26T"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F77a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F77B" type="F77B_23_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="77B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71A" type="F71A_11_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_91_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative Structured Format</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23E" type="F23E_18_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type - Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21C" type="F21C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21C"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21D" type="F21D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21D"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_4_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21E" type="F21E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21E"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F50a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50C" type="F50C_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50L" type="F50L_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50L"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F50a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50A" type="F50A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50K" type="F50K_3_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50K"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F52a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52A" type="F52A_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52C" type="F52C_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52D" type="F52D_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57C" type="F57C_14_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_13_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F59a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F59" type="F59_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="59"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F59A" type="F59A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="59A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F70a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F70" type="F70_7_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26T" type="F26T_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26T"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F77a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F77B" type="F77B_23_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="77B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33B" type="F33B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71A" type="F71A_11_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71F" type="F71F_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71G" type="F71G_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F36a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F36" type="F36_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="36"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F19a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F19" type="F19_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="19"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F71a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71F" type="F71F_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F71a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71G" type="F71G_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53B" type="F53B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21R_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F23E_17_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Type" type="Code_4Ec_214_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalInformation" type="Text_FIN_30x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F21E_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F30_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F51A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BIC_Format_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F50C_1_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Identifier_BICFIOrNonFI_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F50L_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F50A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F50K_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52A_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F52C_9_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F52D_8_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F26T_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_3Ec_Type"/>
	</xs:simpleType>
	<xs:complexType name="F77B_23_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_3M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F71A_11_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code_3Ea_28_Type"/>
	</xs:simpleType>
	<xs:complexType name="F72_91_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="NarrativeStructuredFormat" type="F72_91_NarrativeStructuredFormat_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative Structured Format</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F23E_18_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Type" type="Code_4Ec_215_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalInformation" type="Text_FIN_30x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F21C_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21D_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F50K_3_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F57C_14_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F57D_13_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F59_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F59A_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F70_7_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71F_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71G_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F36_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Rate_FIN_12d_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F19_1_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Amount_FIN_17d_Type"/>
	</xs:simpleType>
	<xs:complexType name="F53A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_214_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="AUTH">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Pre-authorised direct debit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This message contains pre-authorised direct debit instructions to be processed according to the terms and conditions of the direct debit contract and/or mandate.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NAUT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Non pre-authorised</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This message contains non pre-authorised direct debit instructions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Used for bilaterally agreed codes/information. The actual bilateral code/information will be specified in the second subfield.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RFDD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Request for Direct Debit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This message contains request for direct debit instructions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RTND">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Returned</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">A previously sent MT 104 is being returned, that is, rejected, reversed or revoked.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BIC_Format_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_3Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_3M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="3">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_3Ea_28_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="BEN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Debtor</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">All transaction charges are to be borne by the debtor.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OUR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Our customer charged</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">All transaction charges are to be borne by the creditor.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SHA">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Shared charges</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Under the Direct Debit scenario, the following definition applies: Transaction charges on the Sender's side are to be borne by the creditor, transaction charges on the Receiver's side are to be borne by the debtor. The Sender and the Receiver should be understood as the Sender and the Receiver of the MT 104. Under the Request for Direct Debit scenario, the following definition applies: All transaction charges other than the charges of the Receiver servicing the creditor's account are borne by the debtor. Receiver should be understood as Receiver of the MT 104 (RFDD).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F72_91_NarrativeStructuredFormat_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line 1 - Line 2-6</xs:documentation>
					</xs:annotation>
					<xs:element name="Line1" type="Complex_Code_Narrative_47_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Line2to6" type="Choice_Narrative_Code_Narrative_Type" minOccurs="0" maxOccurs="5">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line 2-6</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_215_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="AUTH">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Pre-authorised direct debit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This message contains pre-authorised direct debit instructions to be processed according to the terms and conditions of the direct debit contract and/or mandate.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NAUT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Non pre-authorised</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This occurrence of sequence B contains a non pre-authorised direct debit instruction.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Used for bilaterally agreed codes/information. The actual bilateral code/information will be specified in the second subfield.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rate_FIN_12d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Rate"/>
				<info:FinFormat value="12d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_17d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="17d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Complex_Code_Narrative_47_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Code - Narrative</xs:documentation>
					</xs:annotation>
					<xs:element name="Code" type="Code_8c_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="Text_Unlimited_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice_Narrative_Code_Narrative_Type">
		<xs:complexContent>
			<xs:extension base="ChoiceDataType">
				<xs:choice>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative1</xs:documentation>
						</xs:annotation>
						<xs:element name="Narrative1" type="Text_Unlimited_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Narrative1</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Code - Narrative2</xs:documentation>
						</xs:annotation>
						<xs:element name="Code" type="Text_FIN_8c_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="/"/>
									<info:SepSuffix value="/"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Narrative2" type="Text_Unlimited_1_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Narrative2</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_8c_2_Type">
		<xs:restriction base="Text_8c_Type">
			<xs:enumeration value="REJT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Instruction rejected.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RETN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Return</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Return.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Unlimited_1_Type">
		<xs:annotation>
			<xs:documentation source="Definition" xml:lang="EN">To represent Narrative parts described as 'Additional information', 'Continuation of additional information' etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,32})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Unlimited_Type">
		<xs:annotation>
			<xs:documentation source="Definition" xml:lang="EN">To represent Narrative parts described as 'Additional information', 'Continuation of additional information' etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="33"/>
			<xs:pattern value="([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,33})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
