WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2012/fin.370.2012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.31.1) on 2012 Apr 24 11:44:45-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.370.2012" targetNamespace="urn:swift:xsd:fin.370.2012" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT370" type="MT370_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Netting Position Advice</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
The MT 370 Netting Position Advice message is sent by a financial or non-financial institution to another financial or non-financial institution.
It is used to advise the netting position of a currency resulting from foreign exchange, non deliverable forward (NDF), options and other trades. It also specifies the settlement information for the currency.Flow 1 - Financial Institution 1 is owed money
PEFICHZZ sends an MT 370 Netting Position Advice message to BDAPGB22 to advise the THB that BDAPGB22 must pay. PEFICHZZ wants the THB paid to its account at JANITHBK.
BDAPGB22 sends an MT 370 Netting Position Advice message to PEFICHZZ to advise the THB that it must pay to PEFICHZZ. BDAPGB22 will pay the THB to PEFI's account at JANITHBK.
BDAPGB22 generates, for example, an MT 202 to its THB correspondent, WWYMTHBK instructing the payment of the THB to JANITHBK in favour of the account of PEFICHZZ.
Flow 2 - Financial Institution 1 owes money
PEFICHZZ sends an MT 370 Netting Position Advice message to BDAPGB22 to advise the THB that PEFICHZZ must pay, specifying it will pay PEFI's account at JANITHBK.
BDAPGB22 sends an MT 370 Netting Position Advice message to PEFICHZZ to advise the THB that PEFICHZZ must pay. BDAPGB22 wants the THB paid to its account at WWYMTHBK.
PEFICHZZ generates, for example, an MT 202 to its THB correspondent, JANITHBK instructing the payment of the THB to WWYMTHBK in favour of the account of BDAPGB22.
Flow 3 - Amendment
PEFICHZZ sends an MT 370 Netting Position Advice message to BDAPGB22 to advise the THB that BDAPGB22 must pay. PEFICHZZ wants the THB paid to its account at JANITHBK.
BDAPGB22 sends an MT 370 Netting Position Advice message to PEFICHZZ to advise the THB that it must pay to PEFICHZZ. BDAPGB22 will pay the THB to PEFI's account at JANITHBK.
As the net amount does not match, PEFICHZZ contacts BDAPGB22 by telephone and requests that BDAPGB22 sends the MT 370 Netting Position Advice message as an amendment.
BDAPGB22 duly sends an MT 370 Netting Position Advice message amendment.
BDAPGB22 generates, for example, an MT 202 to its THB correspondent, WWYMTHBK instructing the payment of the THB to JANITHBK in favour of the account of PEFICHZZ.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT370_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Message">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Netting Position Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Function of the Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98a" type="SeqA_F98a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqA1" type="SeqA1_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a_1" type="SeqA_F95a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a_2" type="SeqA_F95a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_GENL_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeginBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_GENL_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqB_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98a_1" type="SeqB_F98a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date/Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F97a" type="SeqB_F97a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F19a" type="SeqB_F19a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a_1" type="SeqB_F22a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98a_2" type="SeqB_F98a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F99a" type="SeqB_F99a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a_2" type="SeqB_F22a_2_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqB_F70a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB1" type="SeqB1_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Cash Parties</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_NETPOS_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_NETPOS_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="NETPOS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_NETPOS_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_NETPOS_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="NETPOS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SEME" type="SeqA_F20a_SEME_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23G" type="F23G_85_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Function - Subfunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F98a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PREP" type="SeqA_F98a_PREP_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Preparation Date Time</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Date and time at which message was prepared.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA1_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_LINK_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_LINK_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F95a_1_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PTYA" type="SeqA_F95a_1_PTYA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party A</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that is advising the net position, unless the message is sent by a central netting system, in this case, the party A is being advised of the net position.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_2_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PTYB" type="SeqA_F95a_2_PTYB_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party B</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that is being advised of the net position.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="NETT" type="SeqB_F20a_NETT_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Netting Position Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference assigned to identify the netting operation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_1_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="NETT" type="SeqB_F98a_1_NETT_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Netting Date/Time</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Date/time at which netting was completed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F97a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="CASH" type="SeqB_F97a_CASH_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Internal Account Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party A's internal reference for the counterparty.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F19a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="NETT" type="SeqB_F19a_NETT_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Netting Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Currency and amount of the position.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_1_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="RECP" type="SeqB_F22a_1_RECP_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receive Pay Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Indicates whether the netting amount is to be received or paid by Party A.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_2_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="VALU" type="SeqB_F98a_2_VALU_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Value Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Settlement date of the netted position.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F99a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="TRAD" type="SeqB_F99a_TRAD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number of Trades</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Total number of transactions taken into account in the calculation of the netting position amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_2_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="TRAN" type="SeqB_F22a_2_TRAN_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type of Underlying Trades</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Type of underlying trades taken into account in the calculation of the netting position amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F70a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="ADTX" type="SeqB_F70a_ADTX_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Text Narrative</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Provides additional information regarding the netting position advice.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqB1_F95a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F97a" type="SeqB1_F97a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_CSHPRTY_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_CSHPRTY_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="CSHPRTY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_CSHPRTY_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_CSHPRTY_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="CSHPRTY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F20a_SEME_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F23G_85_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Function" type="Code_4Ec_379_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Subfunction" type="Code_4Ec_270_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Subfunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F98a_PREP_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98C" type="F98C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date - Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98E" type="F98E_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date - Time - Decimals - UTC Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="RELA" type="SeqA1_F20a_RELA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message reference of a related message previously received.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PREV" type="SeqA1_F20a_PREV_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Previous Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message reference of a previously sent Net Position Advice message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_1_PTYA_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F95a_2_PTYB_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F20a_NETT_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_1_NETT_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98C" type="F98C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date - Time</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F97a_CASH_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F97A" type="F97A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="97A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F19a_NETT_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F19A" type="F19A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="19A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Sign - Currency Code - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_1_RECP_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22H" type="F22H_58_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22H"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F98a_2_VALU_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F99a_TRAD_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F99A" type="F99A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="99A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Sign - Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_2_TRAN_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22F" type="F22F_263_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F70a_ADTX_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F70E" type="F70E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="BENM" type="SeqB1_F95a_BENM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party to which the payment amount must be ultimately delivered. In some cases, this may be a fund.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ACCW" type="SeqB1_F95a_ACCW_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Financial institution that services the cash account of the beneficiary. Also known as receiving agent. Party where the payment amount must be ultimately delivered on behalf of the beneficiary, that is, the party where the beneficiary has its account.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="INT1" type="SeqB1_F95a_INT1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Intermediary party.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="INT2" type="SeqB1_F95a_INT2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Second Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Second intermediary.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F97a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="CASH" type="SeqB1_F97a_CASH_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Cash Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Account in which cash is maintained.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F20C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Reference" type="Text_FIN_16x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_379_Type">
		<xs:restriction base="Text_4Ec_1_Type">
			<xs:enumeration value="AMND">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Amended Netting Position Advice message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Cancelled Netting Position Advice message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NEWM">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">New</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">New Netting Position Advice message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_270_Type">
		<xs:restriction base="Text_4Ec_1_Type">
			<xs:enumeration value="CODU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is a copy and a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPY">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is a copy.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F98A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Time" type="DateTime_HHMMSS_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98E_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Time" type="DateTime_HHMMSS_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Decimals" type="Quantity_FIN_3n_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value=","/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Decimals</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTCIndicator" type="DateTime_UTCIndicator_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">UTC Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_RELA_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_PREV_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95P_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F97A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="AccountNumber" type="Identifier_FIN_35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F19A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="//"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Sign" type="Text_Sign_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="[A-Z]{3}"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyCode" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22H_58_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Indicator" type="Code_4Ec_271_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F99A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="//"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Sign" type="Text_Sign_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sign</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Number" type="Quantity_FIN_3En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22F_263_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Indicator" type="OptionalCode_4Ec_431_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F70E_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Narrative" type="Text_FIN_10M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_BENM_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Data Source Scheme represents a clearing system. Proprietary Code specifies a local national code identifying the party at that clearing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_ACCW_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_13_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Data Source Scheme represents a clearing system. Proprietary Code specifies a local national code identifying the party at that clearing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_INT1_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_13_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Data Source Scheme represents a clearing system. Proprietary Code specifies a local national code identifying the party at that clearing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_INT2_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_13_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Data Source Scheme represents a clearing system. Proprietary Code specifies a local national code identifying the party at that clearing system.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F97a_CASH_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F97A" type="F97A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="97A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ec_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYYYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYYYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_HHMMSS_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="HHMMSS"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_3n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="3n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_UTCIndicator_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="[N]HH[MM]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="(N)?[0-9]{2}([0-9]{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Sign_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="N"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_271_Type">
		<xs:restriction base="Text_4Ec_1_Type">
			<xs:enumeration value="NOPA">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">No Payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Money will not be paid.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAYO">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Pay Out</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Money is to be paid by Party A to Party B.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RECE">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Receive</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Money is to be received by Party A and paid by Party B.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_3En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="3!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalCode_4Ec_431_Type">
		<xs:restriction base="Text_4Ec_1_Type"/>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_10M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="10">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95P_12_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95Q_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95R_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProprietaryCode" type="Text_FIN_34x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Proprietary Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95P_13_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
