WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2012/fin.574.W8BENO.2012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.31.1) on 2012 Apr 24 11:44:45-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.574.W8BENO.2012" targetNamespace="urn:swift:xsd:fin.574.W8BENO.2012" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT574_W8BENO" type="MT574_W8BENO_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">IRS 1441 NRA</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
The appropriate format validation of the IRS Form W8-BEN of the MT 574 IRS 1441 NRA is triggered by the code W8BENO in field 119 ({3:{119:W8BENO}}) of the user header of the message (block 3).
Form W8-BEN: Scope
This message is sent once per year by every Non-Qualified Intermediary (NQI) to their Withholding Qualified Intermediary (QI) for each customer who owns a U.S. security. If a Form W8-BEN contains a tax identification number, it is valid forever; if not, it is valid for a period of 3 years unless there is a change in information.
This message is used to certify the foreign status of a beneficial owner for United States Tax Withholding. Foreign persons are subject to U.S. tax at a 30% rate on income they receive from U.S. sources that consists of: interest (including certain original issue discount(OID)); dividends; rents; royalties; premiums; annuities; compensation for, or in expectation of, services performed; substitute payments in a securities lending transaction or other fixed or determinable annual or periodical gains, profits or income.
More generally, this message can be sent to provide beneficial owner information required to process withholding tax reclaims and applications for relief at source.
If you receive certain types of income, you must provide Form W8-BEN to:
establish that you are a foreign person,
claim that you are the beneficial owner of the income for which Form W8-BEN is being provided,
if applicable, claim a reduced rate of, or exemption from, withholding as a resident of a foreign country with which the United States has an income tax treaty.
You may also be required to submit Form W8-BEN to claim an exception from domestic information reporting and backup withholding at a 31% rate, including for certain types of income that are not subject to foreign-person withholding.
You may also use Form W8-BEN to certify that income from a notional principal contract is not effectively connected with the conduct of a trade or business in the United States.
Provide Form W8-BEN to the withholding agent or payer before income is paid or credited to you. Failure to provide a Form W8-BEN when requested may lead to withholding of a 30% or 31% amount from the payment.
This message may also be used to:
request the cancellation of a previously sent Form W8-BEN,
replace a previously sent Form W8-BEN if a change in circumstances makes any information about the Form W8-BEN you have submitted incorrect (you must notify the withholding agent or payer within 30 days of the change in circumstances and you must file a new Form W8-BEN or other appropriate form).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT574_W8BENO_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Message">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficial Owner Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F28a" type="SeqA_F28a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Page Number/Continuation Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field provides the page number of the message (within a statement) and a continuation indicator to indicate that the statement is to continue or that the message is the last page of the statement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Function of the Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98a" type="SeqA_F98a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date/Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqA1" type="SeqA1_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_GENL_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BeginBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_GENL_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_GENL_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="GENL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EndBlock_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:FinFormat value="16c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9A-Z]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F97a" type="SeqB_F97a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a" type="SeqB_F22a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB1" type="SeqB1_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB2" type="SeqB2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Claim of Tax Treaty Benefits</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB3" type="SeqB3_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Notional Principal Contracts</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB4" type="SeqB4_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Certified Signature</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_BENODET_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_BENODET_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="BENODET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_BENODET_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_BENODET_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="BENODET"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqC_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqC_F95a_Type" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqC_F70a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqC_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_ADDINFO_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_ADDINFO_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="ADDINFO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqC_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_ADDINFO_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_ADDINFO_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="ADDINFO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA_F28a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F28E" type="F28E_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="28E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Page Number - Continuation Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SEME" type="SeqA_F20a_SEME_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23G" type="F23G_81_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Function - Subfunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F98a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PREP" type="SeqA_F98a_PREP_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Preparation Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Date on which the message was prepared.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqA1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F13a" type="SeqA1_F13a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA1_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqA1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_LINK_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqA1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_LINK_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_LINK_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="LINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_F97a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="SAFE" type="SeqB_F97a_SAFE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Safekeeping Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Safekeeping account for which the beneficial owner details are applicable.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="BENT" type="SeqB_F22a_BENT_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type of Beneficial Owner</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Specifies the type of beneficial owner.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB1_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a" type="SeqB1_F17a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqB1_F95a_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F94a" type="SeqB1_F94a_Type" minOccurs="3" maxOccurs="5">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Place</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F13a" type="SeqB1_F13a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB1_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_ADDRESS_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_ADDRESS_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="ADDRESS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB1_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_ADDRESS_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_ADDRESS_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="ADDRESS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB2_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F94a" type="SeqB2_F94a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Place</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a" type="SeqB2_F17a_Type" minOccurs="0" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqB2_F70a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB2_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_TREATBENF_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_TREATBENF_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="TREATBENF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB2_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_TREATBENF_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_TREATBENF_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="TREATBENF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB3_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB3_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a" type="SeqB3_F17a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB3_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB3_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_NOPRINC_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_NOPRINC_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="NOPRINC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB3_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_NOPRINC_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_NOPRINC_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="NOPRINC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB4_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F16a_1" type="SeqB4_F16a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95a" type="SeqB4_F95a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F16a_2" type="SeqB4_F16a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">End of Block</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the end of a block and the name of that block.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB4_F16a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16R" type="F16R_CERTSIGN_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:MatchContent value="true"/>
								<info:Tag value="16R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16R_CERTSIGN_Type">
		<xs:restriction base="BeginBlock_Type">
			<xs:enumeration value="CERTSIGN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB4_F16a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F16S" type="F16S_CERTSIGN_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="16S"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F16S_CERTSIGN_Type">
		<xs:restriction base="EndBlock_Type">
			<xs:enumeration value="CERTSIGN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqC_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="MEOR" type="SeqC_F95a_MEOR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Originator of Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that originated the message, if other than the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MERE" type="SeqC_F95a_MERE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Recipient of Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that is the final destination of the message, if other than the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F70a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="ADTX" type="SeqC_F70a_ADTX_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Text</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Provides additional information or specifies in more detail the content of a message. This field may only be used when the information to be transmitted, cannot be coded.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F28E_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PageNumber" type="Quantity_FIN_5n_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Page Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContinuationIndicator" type="Code_4Ec_297_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Continuation Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_SEME_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F23G_81_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Function" type="Code_4Ec_366_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Subfunction" type="Code_4Ec_279_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Subfunction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F98a_PREP_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F98A" type="F98A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98C" type="F98C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date - Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F98E" type="F98E_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="98E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Date - Time - Decimals - UTC Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F13a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="LINK" type="SeqA1_F13a_LINK_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Linked Message</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message type number/message identifier of the message referenced in the linkage sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PREV" type="SeqA1_F20a_PREV_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Previous Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message reference of the linked message which was previously sent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RELA" type="SeqA1_F20a_RELA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Message reference of the linked message which was previously received.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F97a_SAFE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F97A" type="F97A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="97A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F22a_BENT_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F22F" type="F22F_455_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F17a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="PERM" type="SeqB1_F17a_PERM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Permanent Address</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Indicates whether the address is a permanent address.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MAIL" type="SeqB1_F17a_MAIL_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Mailing Address</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Indicates whether the address is a mailing address.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="OWND" type="SeqB1_F95a_OWND_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficial Owner</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Party that is the beneficial owner.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ALTE" type="SeqB1_F95a_ALTE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Alternate ID</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Alternate identification for a party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F94a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="ADDR" type="SeqB1_F94a_ADDR_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Permanent residence address of the beneficial owner.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CITY" type="SeqB1_F94a_CITY_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">City</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">City or town of the beneficial owner.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LOCA" type="SeqB1_F94a_LOCA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Location, State or Province identification.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RESI" type="SeqB1_F94a_RESI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Country of Residence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Country of residence of the beneficial owner.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="COUN" type="SeqB1_F94a_COUN_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Country of Incorporation or Organisation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Country of incorporation for corporations. Country of organisation under whose laws you are created, organised, or governed. This is not applicable for individuals.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F13a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="POST" type="SeqB1_F13a_POST_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Postal Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Number identifying the postal code in a mailing address.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F94a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="RESI" type="SeqB2_F94a_RESI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Country of Residence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Country where you claim to be a resident for income tax treaty purposes.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F17a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="UTIN" type="SeqB2_F17a_UTIN_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">U.S. Tax Identification Flag</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Indicates whether the US Tax identification number is stated.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BOTB" type="SeqB2_F17a_BOTB_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficial Owner Treaty Benefits</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Indicates that the beneficial owner is not an individual, derives the income for which the treaty benefits are claimed and, if applicable, meets the requirements of the treaty article dealing with limitation on benefits.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BOBD" type="SeqB2_F17a_BOBD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficial Owner Treaty Benefits for Dividends</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Indicates that the beneficial owner is not an individual, is claiming treaty benefits for dividends received from a foreign corporation or interest from a US trade or business of a foreign corporation, and meets qualified resident status.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BORE" type="SeqB2_F17a_BORE_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficial Owner Related Treaty Benefits</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Indicates that the beneficial owner is related to the person obligated to pay the income within the meaning of section 267(b) or 707(b), and will file form 8833 if the amount subject to withholding received during a calendar year exceeds USD 500,000.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F70a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="COMP" type="SeqB2_F70a_COMP_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Information to be Complied With</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Provides information conditions to the account owner that are to be complied with, for example, not open to US/Canadian residents, QIB or SIL to be provided.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB3_F17a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="NPCC" type="SeqB3_F17a_NPCC_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Notional Principal Contracts Flag</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Indicates that the beneficial owner will provide a statement that identifies those notional principal contracts from which the income is not effectively connected with the conduct of a trade or business in the US and the beneficial owner agrees to update.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB4_F95a_Type">
		<xs:complexContent>
			<xs:extension base="ISO15022Field">
				<xs:choice>
					<xs:element name="CERT" type="SeqB4_F95a_CERT_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Certifying Party Signature</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Certifying party signature.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F95a_MEOR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Proprietary Code specifies a local national code or market segment code identifying the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F95a_MERE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95P" type="F95P_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Identifier Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Identifier Code specifies a BIC. For more details, see the Standards MT General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95Q" type="F95Q_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F95R" type="F95R_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Proprietary Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Proprietary Code specifies a local national code or market segment code identifying the party.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F70a_ADTX_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F70E" type="F70E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Quantity_FIN_5n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="5n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_297_Type">
		<xs:restriction base="Text_4Ec_1_Type">
			<xs:enumeration value="LAST">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Last Page</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Last page of a statement with more than one page.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MORE">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Intermediate Page</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Intermediate page of a statement which contains additional pages.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ONLY">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Only Page</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Only page of the statement.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F20C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Reference" type="Text_FIN_16x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_4Ec_366_Type">
		<xs:restriction base="Text_4Ec_1_Type">
			<xs:enumeration value="CANC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Cancellation Request</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message requesting the cancellation of a previously sent message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NEWM">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">New</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">New message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Replacement</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message replacing a previously sent message.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_279_Type">
		<xs:restriction base="Text_4Ec_1_Type">
			<xs:enumeration value="CODU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is a copy to a party other than the account owner/account servicer, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPY">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is a copy to a party other than the account owner/account servicer, for information purposes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F98A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Time" type="DateTime_HHMMSS_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F98E_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Time" type="DateTime_HHMMSS_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Decimals" type="Quantity_FIN_3n_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value=","/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Decimals</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTCIndicator" type="DateTime_UTCIndicator_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">UTC Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F13a_LINK_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F13A" type="F13A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="13A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Number Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F13B" type="F13B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="13B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_PREV_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA1_F20a_RELA_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F20C" type="F20C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F97A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="AccountNumber" type="Identifier_FIN_35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F22F_455_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Indicator" type="OptionalCode_4Ec_752_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F17a_PERM_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F17B" type="F17B_16_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F17a_MAIL_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F17B" type="F17B_16_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_OWND_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95T" type="F95T_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95T"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Name</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F95a_ALTE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95S" type="F95S_22_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95S"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Type of ID - Country Code - Alternate ID</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Type of ID specifies the type of alternate identification which can be used to give an alternate identification of the party identified in the sequence.
Country Code specifies the country for which the alternate identification is relevant.
Alternate ID specifies an alternate identification of the party identified in the same sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F94a_ADDR_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F94G" type="F94G_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F94a_CITY_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F94D" type="F94D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Country Code - Place</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F94a_LOCA_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F94D" type="F94D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Country Code - Place</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F94a_RESI_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F94C" type="F94C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Country Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F94a_COUN_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F94C" type="F94C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Country Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F13a_POST_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F13B" type="F13B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="13B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Data Source Scheme - Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F94a_RESI_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F94C" type="F94C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Country Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F17a_UTIN_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F17B" type="F17B_15_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F17a_BOTB_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F17B" type="F17B_15_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F17a_BOBD_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F17B" type="F17B_15_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F17a_BORE_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F17B" type="F17B_15_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F70a_COMP_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F70E" type="F70E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB3_F17a_NPCC_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F17B" type="F17B_15_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB4_F95a_CERT_Type">
		<xs:complexContent>
			<xs:extension base="Qualifier">
				<xs:choice>
					<xs:element name="F95Q" type="F95Q_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="95Q"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Qualifier - Signature</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95P_12_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95Q_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95R_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProprietaryCode" type="Text_FIN_34x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Proprietary Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F70E_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Narrative" type="Text_FIN_10M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_4Ec_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYYYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYYYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_HHMMSS_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="HHMMSS"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_3n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="3n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_UTCIndicator_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="[N]HH[MM]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="(N)?[0-9]{2}([0-9]{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F13A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="NumberId" type="Identifier_FIN_3Ec_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number Id</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F13B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Number" type="Identifier_FIN_30x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OptionalCode_4Ec_752_Type">
		<xs:restriction base="Text_4Ec_1_Type"/>
	</xs:simpleType>
	<xs:complexType name="F17B_16_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Flag" type="Indicator_1Ea_53_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95T_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Name" type="Text_FIN_2M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95S_22_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="DataSourceScheme" type="Identifier_FIN_8c_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Data Source Scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TypeOfID" type="OptionalCode_4Ec_753_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type of ID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CountryCode" type="Country_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Country Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AlternateID" type="Text_FIN_30x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Alternate ID</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F94G_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Address" type="Text_FIN_2M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F94D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="//"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="CountryCode" type="Country_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Country Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Place" type="Text_FIN_35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Place</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F94C_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="CountryCode" type="Country_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Country Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F17B_15_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Flag" type="Indicator_1Ea_52_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F95Q_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Qualifier>
								<info:SepPrefix value=":"/>
								<info:SepSuffix value="/"/>
							</info:Qualifier>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="Signature" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Signature</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_10M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="10">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_FIN_3Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_53_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Yes</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Yes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_2M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="2">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="OptionalCode_4Ec_753_Type">
		<xs:restriction base="Text_4Ec_1_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Country_Type">
		<xs:restriction base="Text_2Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_52_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">No</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">No.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Yes</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Yes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Indicator"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_2Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="2!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
