WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2012/fin.742.2012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.31.1) on 2012 Apr 24 11:44:45-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.742.2012" targetNamespace="urn:swift:xsd:fin.742.2012" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT742" type="MT742_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Reimbursement Claim</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by the paying/negotiating bank to the bank authorised to reimburse the Sender for its payments/negotiations.
It is used to claim reimbursement of payment(s) or negotiation(s) under a documentary credit, as relevant to the reimbursing bank.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT742_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F20a" type="MT742_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Claiming Bank's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the reference which has been assigned to the transaction by the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="MT742_F21a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Documentary Credit Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the documentary credit number which has been assigned by the bank which issued the authorisation to reimburse (issuing bank).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F31a" type="MT742_F31a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date of Issue</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date on which the issuing bank considers the documentary credit as being issued.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a" type="MT742_F52a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Issuing Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the bank which has given the authorisation to reimburse.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="MT742_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Principal Amount Claimed</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the currency code and amount of principal claimed by the Sender of the message. It is the amount which is to be deducted from the outstanding balance of the documentary credit.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="MT742_F33a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Additional Amount Claimed as Allowed for in Excess of Principal Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies any additional amount(s) paid/negotiated on the strength of special authorisation, such as specifications provided in field 39C of the MT 700.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="MT742_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field is used to identify charges which have been added or deducted by the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F34a" type="MT742_F34a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total Amount Claimed</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency code and total amount claimed from the reimbursing bank. The date, if present, will represent the value date of the claimed amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="MT742_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the bank, if different from the Receiver, at which the Receiver is requested to remit the total amount claimed, in favour of the Sender of this message, or its branch or affiliate bank, as specified in field 58a.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58a" type="MT742_F58a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the branch or affiliate bank of the Sender, in favour of which the total amount claimed is to be transferred.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="MT742_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains instructions or additional information for the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F31a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31C" type="F31C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F52a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52A" type="F52A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52D" type="F52D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33B" type="F33B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71B" type="F71B_22_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F34a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F34A" type="F34A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F34B" type="F34B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57B" type="F57B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F58a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F58A" type="F58A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58D" type="F58D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT742_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_154_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F31C_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F52A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71B_22_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F34A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F34B_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_154_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
