WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2012/fin.304.2012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<!--Generated by SWIFTStandards Workstation (build:R7.1.31.1) on 2012 Apr 24 11:44:45-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.304.2012" targetNamespace="urn:swift:xsd:fin.304.2012" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT304" type="MT304_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Advice/Instruction of a Third Party Deal</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by a fund manager to a custodian bank as an advice of/instruction to settle a third party foreign exchange deal.
The definition of third party must be agreed up front between the fund manager and the custodian relative to deals executed by the custodians' treasury area on behalf of the fund manager.
It is used to:
provide details about a new deal
provide a settlement notification
amend a previously sent message
cancel a previously sent message.
This message may also be sent to the member of a centralised settlement system or directly to the centralised settlement system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT304_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Forex Transaction Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Optional General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqD" type="SeqD_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Accounting Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqE" type="SeqE_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Net Amount to be Settled</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqA_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of mandatory sequence A General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference number assigned by the Sender to unambiguously identify the instruction, that is, the number uniquely identifying the deal to the fund manager.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the identification of the instruction to which the current message is related.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F22a" type="SeqA_F22a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type of Operation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F94a" type="SeqA_F94a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Scope of Operation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the scope of the message, that is, the type of foreign exchange contract.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a_1" type="SeqA_F17a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Open Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether the instruction is for the opening of an FCC or for the closing of an FCC.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a_2" type="SeqA_F17a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Final Close Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether the instruction is for the final close or the partial close of an FCC.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a_3" type="SeqA_F17a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Net Settlement Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether the total amount is settled net or gross.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F83a" type="SeqA_F83a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Fund</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the fund, that is, the client for which the transaction was executed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F82a" type="SeqA_F82a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Fund Manager</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the fund manager.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87a" type="SeqA_F87a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Executing Broker</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the executing broker.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F77a" type="SeqA_F77a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type, Date, Version of the Agreement</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the type of the agreement covering the transaction. It is followed by the date on which the agreement was signed and the version of the agreement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F14a" type="SeqA_F14a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Year of Definitions</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the year of the version of the Agreement's Definitions applicable to the MT 304 Advice/Instruction of a Third Party Deal.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15A" type="F15A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15A"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15A_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:simpleType name="NULL_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqB_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of mandatory sequence B Forex Transaction Details.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a_1" type="SeqB_F30a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Trade Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date the transaction was agreed between the fund manager and the executing broker.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a_2" type="SeqB_F30a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Value Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the value date of the transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F36a" type="SeqB_F36a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Exchange Rate</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the agreed exchange rate of the transaction. It is the rate as the deal was struck.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB1" type="SeqB1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount Bought</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB2" type="SeqB2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount Sold</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15B" type="F15B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15B"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15B_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqC_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of optional sequence C Optional General Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_1" type="SeqC_F21a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference to the Associated Trade</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference to the underlying securities deal, that is, the identification of the securities transaction at the origin of the hedge.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_2" type="SeqC_F21a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Executing Broker's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the broker's reference, that is, the reference number given by the executing broker to the trade.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F29a" type="SeqC_F29a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Contact Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the contact name and/or telephone number the Receiver may contact for any queries concerning this transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqC_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver and applies to the whole message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15C" type="F15C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15C"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15C_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqD_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqD_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of optional sequence D Accounting Information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqD_F21a_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reference to Previous Deals</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference of the deals closed by this MT 304, that is, it contains the reference of the original transactions (Open(s), Partial Close(s)) leading to this instruction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a" type="SeqD_F17a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Gain (Loss) Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether the close represents a gain or a loss.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqD_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency, Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the gain or loss currency and amount at a partial or final close.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqD_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15D" type="F15D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15D"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15D_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqE_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F15a" type="SeqE_F15a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Sequence</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start of optional sequence E Net Amount to be Settled.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F17a" type="SeqE_F17a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Gain (Loss) Indicator</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies whether the net amount represents a gain (amount received) or a loss (amount to be paid).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqE_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency, Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the net currency and amount to be settled.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="SeqE_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivery Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution from which the payer will transfer the net amount to be settled.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56a" type="SeqE_F56a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the intermediary institution for transfer of the funds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqE_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiving Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution and account where the payee will receive the net amount to be settled.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58a" type="SeqE_F58a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the institution in favour of which the payment is done.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqE_F15a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F15E" type="F15E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="15E"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F15E_Type">
		<xs:restriction base="NULL_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F22a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F22A" type="F22A_17_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="22A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F94a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F94A" type="F94A_13_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="94A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Scope</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F17a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F17O" type="F17O_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17O"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F17a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F17F" type="F17F_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F17a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F17N" type="F17N_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17N"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F83a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F83A" type="F83A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="83A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F83D" type="F83D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="83D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F83J" type="F83J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="83J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F82a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F82A" type="F82A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="82A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F82D" type="F82D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="82D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F82J" type="F82J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="82J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F87a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F87A" type="F87A_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87D" type="F87D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F87J" type="F87J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="87J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F77a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F77H" type="F77H_11_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="77H"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Type of Agreement - Date - Version</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F14a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F14C" type="F14C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="14C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Year</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F30a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30T" type="F30T_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30T"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F30a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30V" type="F30V_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30V"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F36a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F36" type="F36_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="36"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F32a" type="SeqB1_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency, Amount Bought</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount bought.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="SeqB1_F53a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivery Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution from which the payer will transfer the amount bought.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56a" type="SeqB1_F56a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the intermediary for the transfer of the funds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqB1_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiving Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution and account where the payee will receive the amount bought.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F33a" type="SeqB2_F33a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency, Amount Sold</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and amount sold.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="SeqB2_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivery Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution from which the payer will transfer the amount sold.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56a" type="SeqB2_F56a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the intermediary institution for the transfer of the funds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqB2_F57a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiving Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution and account where the payee will receive the amount sold.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58a" type="SeqB2_F58a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the institution in favour of which the payment is done.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F21a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21A" type="F21A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21A"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F21a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21G" type="F21G_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21G"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F29a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F29A" type="F29A_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="29A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_110_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqD_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21P" type="F21P_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21P"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqD_F17a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F17G" type="F17G_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqD_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32G" type="F32G_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqE_F17a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F17G" type="F17G_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="17G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqE_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32G" type="F32G_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqE_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53J" type="F53J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqE_F56a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F56A" type="F56A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56D" type="F56D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56J" type="F56J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqE_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_18_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57J" type="F57J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqE_F58a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F58A" type="F58A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58D" type="F58D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58J" type="F58J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F22A_17_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Function</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code_4Ec_226_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F94A_13_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Scope</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code_4Ec_227_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F17O_2_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Indicator_1Ea_39_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F17F_8_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Indicator_1Ea_40_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F17N_2_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Indicator_1Ea_41_Type"/>
	</xs:simpleType>
	<xs:complexType name="F83A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F83D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F83J_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F82A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F82D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F82J_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87A_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F87J_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F77H_11_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="TypeOfAgreement" type="Code_6a_11_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type of Agreement</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYYYMMDD_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="DateTime_YYYY_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Version</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F14C_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Year</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYYY_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F30T_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYYYMMDD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F30V_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYYYMMDD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F36_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Rate_FIN_12d_Type"/>
	</xs:simpleType>
	<xs:complexType name="SeqB1_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53J" type="F53J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F56a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F56A" type="F56A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56D" type="F56D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56J" type="F56J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB1_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_18_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57J" type="F57J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33B" type="F33B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53J" type="F53J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F56a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F56A" type="F56A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56D" type="F56D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56J" type="F56J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_18_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57J" type="F57J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB2_F58a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F58A" type="F58A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58D" type="F58D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58J" type="F58J_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F21A_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21G_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F29A_6_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_110_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="F72_110_Narrative_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F21P_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F17G_2_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Indicator_1Ea_42_Type"/>
	</xs:simpleType>
	<xs:complexType name="F32G_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53J_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56J_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57D_18_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57J_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58A_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58J_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentification" type="Complex_5M40x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_226_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="AMND">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amendment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Replaces a previously sent instruction with the amended one contained in this message.
Used to add settlement agents to an MT 304 previously sent or to correct error(s) in an MT 304 previously sent or to add optional sequences/fields to an MT 304 previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Cancels a previously sent instruction.
Used to cancel an MT 304 previously sent or to cancel an MT 304 which contains erroneous information.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Duplicates a previously sent instruction.
Used to inform the custodian that an instruction was already sent by telex, fax or SWIFT.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NEWT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">New Advice/Instruction</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Used to send an instruction for the first time or to send a corrected MT 304 when the erroneous one was cancelled using an MT 304 with function CANC.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_227_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="AFWD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Forward Currency Contract (FCC) or Hedge</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Indicates that the foreign exchange is a forward/hedge executed for a future date at a set price.
The contract is opened and closed for the same value date resulting in a gain or loss. The result can be settled by netting the local base or both currencies, or by settling the gross/principal amounts.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASET">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Settlement Contract</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Indicates that the foreign exchange is a physical settlement in which both the buy and sell currencies will move on the settlement (value) day.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_39_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The partial or final close of an FCC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The opening of an FCC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_40_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The partial close of an FCC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The final close of an FCC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_41_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gross settlement of an FCC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Net settlement of an FCC</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Complex_5M40x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_40x_Type" maxOccurs="5">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_6a_11_Type">
		<xs:restriction base="Text_6a_Type">
			<xs:enumeration value="AFB">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AFB Master Agreement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DERV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Deutscher Rahmenvertrag fr Finanztermingeschfte</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FBF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Fdration Bancaire Franaise Master Agreement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FEOMA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">FEOMA Master Agreement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ICOM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">ICOM Master Agreement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IFEMA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">IFEMA Master Agreement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ISDA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">ISDA Master Agreement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHER">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Another type of bilateral agreement signed up front between party A and party B. The agreement must be specified in field 72.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYYYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYYYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYYY_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYYY"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYYY_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="4!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rate_FIN_12d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Rate"/>
				<info:FinFormat value="12d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_110_Narrative_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line 1 - Line 2-6</xs:documentation>
					</xs:annotation>
					<xs:element name="Line1" type="Complex_Code_Narrative_56_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Line2to6" type="Choice_Narrative_Code_Narrative_47_Type" minOccurs="0" maxOccurs="5">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line 2-6</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Indicator_1Ea_42_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Loss/Amount paid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gain/Amount received</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Indicator"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_40x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="40x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,40}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_6a_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="6a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[A-Z]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Complex_Code_Narrative_56_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Code - Narrative</xs:documentation>
					</xs:annotation>
					<xs:element name="Code" type="Text_FIN_8c_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="Text_Unlimited_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice_Narrative_Code_Narrative_47_Type">
		<xs:complexContent>
			<xs:extension base="ChoiceDataType">
				<xs:choice>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative1</xs:documentation>
						</xs:annotation>
						<xs:element name="Narrative1" type="Text_Unlimited_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="//"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Narrative1</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Code - Narrative2</xs:documentation>
						</xs:annotation>
						<xs:element name="Code" type="Text_FIN_8c_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="/"/>
									<info:SepSuffix value="/"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Narrative2" type="Text_Unlimited_1_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Narrative2</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_8c_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="8c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9A-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Unlimited_1_Type">
		<xs:annotation>
			<xs:documentation source="Definition" xml:lang="EN">To represent Narrative parts described as 'Additional information', 'Continuation of additional information' etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
			<xs:pattern value="([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,32})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_Unlimited_Type">
		<xs:annotation>
			<xs:documentation source="Definition" xml:lang="EN">To represent Narrative parts described as 'Additional information', 'Continuation of additional information' etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="33"/>
			<xs:pattern value="([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,33})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
