WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2014/fin.824.2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jan 29 09:28:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.824.2014" targetNamespace="urn:swift:xsd:fin.824.2014" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT824" type="MT824_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">T/C Inventory Destruction/Cancellation Notice</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message type is sent by, or on behalf of, a selling agent to an issuer of travellers cheques.
It is used to notify the issuer of the destruction/cancellation of travellers cheque inventory held by that selling agent.
The message may also be sent by an issuer to a selling agent, or to the Receiver to forward to a selling agent, to request the selling agent to destroy/cancel travellers cheque inventory which is held by the selling agent.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT824_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F20a" type="MT824_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="MT824_F30a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date Destroyed/Cancelled</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the date that the inventory was destroyed/cancelled.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51a" type="MT824_F51a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Selling Agent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the selling agent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Loop1" type="Loop1_Type" maxOccurs="unbounded"/>
					<xs:element name="F77a" type="MT824_F77a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reason for Destruction/Cancellation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field is used to indicate the reason the referenced inventory has been or is to be destroyed/cancelled.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="MT824_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field is used to provide additional information to the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT824_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT824_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT824_F51a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F51A" type="F51A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51C" type="F51C_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="Loop2" type="Loop2_Type" maxOccurs="unbounded"/>
					<xs:element name="F19a" type="Loop1_F19a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total Face Value of Currency</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the total face value of the cheques which have been or are to be destroyed/cancelled in a particular currency (that is, this currency details sequence).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT824_F77a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F77B" type="F77B_30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="77B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT824_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_122_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F30_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:complexType name="F51A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F51C_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="Loop2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F68a" type="Loop2_F68a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details of Cheques</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the details of the destruction/cancellation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a" type="Loop2_F26a_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Serial Numbers</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the serial number sequences of the travellers cheques which have been or are to be destroyed/cancelled relating to the preceding field 68A.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F19a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F19" type="F19_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="19"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F77B_30_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_3M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_122_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Loop2_F68a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F68A" type="F68A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="68A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number - Currency - Denomination - Mode - Amount - Product Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop2_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26B" type="F26B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number 1 - Number 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F19_1_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Amount_FIN_17d_Type"/>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_3M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="3">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F68A_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Number" type="Quantity_FIN_6n_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Denomination" type="Text_FIN_6n_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Denomination</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Mode" type="Text_FIN_2n_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Mode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ProductCode" type="Text_FIN_10x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Product Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F26B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Number1" type="Text_FIN_16x_noSlash_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Number2" type="Text_FIN_16x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Amount_FIN_17d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="17d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_6n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="6n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_6n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="6n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_2n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="2n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_10x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="10x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_noSlash_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
