WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2014/fin.023.2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jan 29 09:28:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.023.2014" targetNamespace="urn:swift:xsd:fin.023.2014" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT023" type="MT023_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Retrieved Message (History)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT023_Type">
		<xs:complexContent>
			<xs:extension base="SystemMessage">
				<xs:sequence>
					<xs:element name="Seq1" type="Seq1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Report Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Choice1" type="Choice1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Information on the Retrieved Messages</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F202a" type="Seq1_F202a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">section number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F203a" type="Seq1_F203a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">total sections</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice1_Type">
		<xs:complexContent>
			<xs:extension base="Choice">
				<xs:choice>
					<xs:element name="Seq2" type="Seq2_Type"/>
					<xs:element name="F421a" type="Choice1_F421a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">rtv error code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq1_F202a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F202" type="F202_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="202"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">SectionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq1_F203a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F203" type="F203_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="203"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">TotalSections</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="Loop1" type="Loop1_Type" maxOccurs="unbounded"/>
					<xs:element name="Choice2" type="Choice2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Next retrieval criteria</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice1_F421a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F421" type="F421_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="421"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">RtvErrorCode</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F202_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SectionNumber</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_4En_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F203_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">TotalSections</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_4En_Type"/>
	</xs:simpleType>
	<xs:complexType name="Loop1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F280a" type="Loop1_F280a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">input history</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F108a" type="Loop1_F108a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">mur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F431a" type="Loop1_F431a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">msg status</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F281a" type="Loop1_F281a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">delivery history</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice2_Type">
		<xs:complexContent>
			<xs:extension base="Choice">
				<xs:choice>
					<xs:element name="F252a" type="Choice2_F252a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">mir range</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F254a" type="Choice2_F254a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">mor range</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Seq3" type="Seq3_Type"/>
					<xs:element name="Seq4" type="Seq4_Type"/>
					<xs:element name="Seq5" type="Seq5_Type"/>
					<xs:element name="Seq6" type="Seq6_Type"/>
					<xs:element name="Seq7" type="Seq7_Type"/>
					<xs:element name="Seq8" type="Seq8_Type"/>
					<xs:element name="Seq9" type="Seq9_Type"/>
					<xs:element name="Seq10" type="Seq10_Type"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F421_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RtvErrorCode</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_3Ec_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Text_4En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Loop1_F280a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F280" type="F280_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="280"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Time - MIR - Acceptance - ErrorCode - LineTag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F108a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F108" type="F108_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="108"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">MUR</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F431a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F431" type="F431_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="431"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">MsgStatus</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F281a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F281" type="F281_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="281"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Time - MOR - DeliveryResult - ErrorCode</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice2_F252a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F252" type="F252_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="252"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date1 - LTIdentifier1 - BranchCode1 - SessionNumber1 - ISN1 - Date2 - LTIdentifier2 - BranchCode2 - SessionNumber2 - ISN2 - TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice2_F254a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F254" type="F254_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="254"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date1 - LTIdentifier1 - BranchCode1 - SessionNumber1 - OSN1 - Date2 - LTIdentifier2 - BranchCode2 - SessionNumber2 - OSN2 - TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq3_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F255a" type="Seq3_F255a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">msg input type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F152a" type="Seq3_F152a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">1st isn</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq4_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F256a" type="Seq4_F256a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">cat input type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F152a" type="Seq4_F152a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">1st isn</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq5_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F257a" type="Seq5_F257a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">input time range</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F152a" type="Seq5_F152a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">1st isn</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq6_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F258a" type="Seq6_F258a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">msg output type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F153a" type="Seq6_F153a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">1st osn</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq7_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F259a" type="Seq7_F259a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">cat output type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F153a" type="Seq7_F153a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">1st osn</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq8_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F260a" type="Seq8_F260a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">output time range</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F153a" type="Seq8_F153a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">1st osn</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq9_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F421a" type="Seq9_F421a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">rtv error code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F152a" type="Seq9_F152a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">1st isn</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq10_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F421a" type="Seq10_F421a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">rtv error code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F153a" type="Seq10_F153a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">1st osn</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_3Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F280_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Time" type="DateTime_HHMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MIR" type="Text_FIN_28Ec_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">MIR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Acceptance" type="Indicator_1Ea_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Acceptance</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:sequence minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:Separator value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">ErrorCode - LineTag</xs:documentation>
						</xs:annotation>
						<xs:element name="ErrorCode" type="Text_FIN_3En_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">ErrorCode</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LineTag" type="Text_FIN_3En_Type" minOccurs="0">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">LineTag</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F108_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MUR</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F431_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MsgStatus</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_2En_Type"/>
	</xs:simpleType>
	<xs:complexType name="F281_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Time" type="DateTime_HHMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MOR" type="Text_FIN_28Ec_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">MOR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeliveryResult" type="Indicator_1Ea_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">DeliveryResult</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ErrorCode" type="Text_FIN_3Ec_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">ErrorCode</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F252_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date1" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LTIdentifier1" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode1" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber1" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ISN1" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">ISN1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date2" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LTIdentifier2" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode2" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber2" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ISN2" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">ISN2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F254_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date1" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LTIdentifier1" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode1" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber1" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OSN1" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">OSN1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date2" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LTIdentifier2" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode2" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber2" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OSN2" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">OSN2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq3_F255a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F255" type="F255_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="255"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier - BranchCode - SessionNumber - MsgType - Date - TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq3_F152a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F152" type="F152_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="152"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">FirstISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq4_F256a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F256" type="F256_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="256"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier - BranchCode - SessionNumber - MsgCategory - Date - TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq4_F152a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F152" type="F152_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="152"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">FirstISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq5_F257a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F257" type="F257_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="257"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier - BranchCode - Date - TimeRange - SessionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq5_F152a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F152" type="F152_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="152"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">FirstISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq6_F258a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F258" type="F258_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="258"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier - BranchCode - SessionNumber - MsgType - Date - TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq6_F153a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F153" type="F153_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="153"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">FirstOSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq7_F259a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F259" type="F259_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="259"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier - BranchCode - SessionNumber - MsgCategory - Date - TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq7_F153a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F153" type="F153_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="153"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">FirstOSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq8_F260a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F260" type="F260_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="260"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier - BranchCode - Date - TimeRange - SessionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq8_F153a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F153" type="F153_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="153"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">FirstOSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq9_F421a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F421" type="F421_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="421"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">RtvErrorCode</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq9_F152a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F152" type="F152_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="152"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">FirstISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq10_F421a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F421" type="F421_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="421"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">RtvErrorCode</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq10_F153a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F153" type="F153_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="153"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">FirstOSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DateTime_HHMM_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="HHMM"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_28Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="28!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="28"/>
			<xs:maxLength value="28"/>
			<xs:pattern value="[0-9A-Z]{28}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_1_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">No</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">No.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Y">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Yes</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Yes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_3En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="3!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_2En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="2!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_LTIdentifier_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c1!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}[0-9A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ec_9_Type">
		<xs:restriction base="Text_3Ec_Type">
			<xs:enumeration value="XXX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_4En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_6En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="6!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_HHMMHHMM_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="HHMMHHMM"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F255_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MsgType" type="Text_FIN_3En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">MsgType</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F152_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FirstISN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Identifier_FIN_6En_Type"/>
	</xs:simpleType>
	<xs:complexType name="F256_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MsgCategory" type="Text_FIN_1En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">MsgCategory</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F257_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F258_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MsgType" type="Text_FIN_3En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">MsgType</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F153_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FirstOSN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Identifier_FIN_6En_Type"/>
	</xs:simpleType>
	<xs:complexType name="F259_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MsgCategory" type="Text_FIN_1En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">MsgCategory</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F260_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LTIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">LTIdentifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">BranchCode</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">TimeRange</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SessionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Indicator"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_1En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="1!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
