WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2014/fin.608.2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jan 29 09:28:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.608.2014" targetNamespace="urn:swift:xsd:fin.608.2014" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT608" type="MT608_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Statement of a Commodity Account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by a commodity account servicing institution to the commodity account owner or its authorised agent.
It is used to advise the Receiver of transactions booked to a commodity account.
This statement message contains all bookings present in the account, whether caused by a message received via SWIFT or by some other means.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT608_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F20a" type="MT608_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the Sender's reference to the commodity statement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F26a" type="MT608_F26a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification of the Commodity and the Commodity Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the commodity account, serviced by the Sender for the Receiver or the party for which the Receiver is an authorised agent, to which this statement relates.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F25a" type="MT608_F25a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Further Account Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains further identification information about the commodity account to which this statement relates.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F28a" type="MT608_F28a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Statement Number/Sequence Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the sequential number of the statement followed by the sequence number of the message within that statement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F60a" type="MT608_F60a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Opening Balance</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies, for the (intermediate) opening balance, whether it is a debit or credit balance, the date, the unit of the commodity and amount of the balance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F61a" type="MT608_F61a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Statement Line</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the details of each transaction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F62a" type="MT608_F62a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Closing Balance</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies, for the (intermediate) closing balance, whether it is a debit or credit balance, the date, the unit of the commodity and amount of the balance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F64a" type="MT608_F64a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Closing Available Balance</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies, for the available closing balance, whether it is a debit or credit balance, the date, the unit of the commodity and amount of the balance.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F65a" type="MT608_F65a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Forward Available Balance</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies, for the forward available balance, whether it is a debit or credit balance, the date, the unit of the commodity and amount of the balance.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26C" type="F26C_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Delivery Details - Delivery Location - Allocation - Type - Denomination - Form</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F25a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F25" type="F25_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="25"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F28a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F28" type="F28_3_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="28"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Statement Number - Sequence Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F60a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F60F" type="F60F_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="60F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Unit - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F60M" type="F60M_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="60M"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Unit - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F61a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F61" type="F61_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="61"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Entry Date - Debit/Credit Mark - Funds Code - Amount - Transaction Type - Identification Code - Reference for the Account Owner - Reference of the Account Servicing Institution - Supplementary Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F62a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F62F" type="F62F_7_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="62F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Unit - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F62M" type="F62M_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="62M"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Unit - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F64a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F64" type="F64_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="64"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Unit - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT608_F65a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F65" type="F65_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="65"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark - Date - Unit - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F26C_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DeliveryDetails" type="Code_3Ea_32_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Delivery Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeliveryLocation" type="Text_FIN_15x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="/[A-Z]{5}[A-Z]{4}([0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,4})?(//[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8})?$"/>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Delivery Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Allocation" type="Code_5Ea_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Allocation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="DTRestriction_26C_4_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Denomination" type="Text_FIN_4x_noDoubleSlash_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="(//[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8})?$"/>
								<info:MatchUntilPattern value="//|$"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Denomination</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Form" type="Text_FIN_8x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Form</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F25_1_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F28_3_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="StatementNumber" type="Quantity_FIN_5n_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Statement Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SequenceNumber" type="Quantity_FIN_2n_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Sequence Number</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F60F_6_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DCMark" type="Code_1Ea_51_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unit" type="Code_3Ea_34_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F60M_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DCMark" type="Code_1Ea_51_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unit" type="Code_3Ea_34_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F61_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EntryDate" type="DateTime_MMDD_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Entry Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DebitCreditMark" type="Code_2a_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="([A-Z])?"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Debit/Credit Mark</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FundsCode" type="Text_FIN_1Ea_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Funds Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Quantity_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionType" type="Code_1Ea_52_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentificationCode" type="Text_FIN_3Ec_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReferenceForTheAccountOwner" type="Text_FIN_16x_noDoubleSlash_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:LookAheadPattern value="(//[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16})?(&#x0d;&#x0a;[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34})?$"/>
								<info:MatchUntilPattern value="//|&#x0d;&#x0a;|$"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference for the Account Owner</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReferenceOfTheAccountServicingInstitution" type="Text_FIN_16x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Reference of the Account Servicing Institution</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupplementaryDetails" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Supplementary Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F62F_7_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DCMark" type="Code_1Ea_53_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unit" type="Code_3Ea_34_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F62M_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DCMark" type="Code_1Ea_53_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unit" type="Code_3Ea_34_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F64_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DCMark" type="Code_1Ea_54_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unit" type="Code_3Ea_33_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F65_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DCMark" type="Code_1Ea_55_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">D/C Mark</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Unit" type="Code_3Ea_33_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ea_32_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="CFR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Cost and Freight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Cost, Insurance, and Freight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Carriage and Insurance Paid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CPT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Carriage Paid To</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DAF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered At Frontier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DDP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Duty Paid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DDU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Duty Unpaid</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEQ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Ex Quay</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DES">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Delivered Ex Ship</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DTD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Door To Door</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EXW">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">EX Works</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAS">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free Alongside Ship</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FCA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free Carrier</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOB">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Free On Board</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">LOCO London</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_15x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="15x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_5Ea_2_Type">
		<xs:restriction base="Text_5Ea_Type">
			<xs:enumeration value="ALLOC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the commodity is allocated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNALL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the commodity is unallocated</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DTRestriction_26C_4_Type">
		<xs:restriction base="Text_4Ea_1_Type">
			<xs:enumeration value="ALUM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Aluminium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Copper</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GOLD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gold</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IRID">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Iridium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LEAD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Lead</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NICK">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Nickel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OSMI">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Osmium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PALL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Palladium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLAT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Platinum</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="POIL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Palm Oil</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RHOD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Rhodium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RUTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Ruthenium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SILV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Silver</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STEE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Steel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TINA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tin</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TITA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Titanium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZINC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Zinc</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AMEG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AMERICAN EAGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ANUG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AUSTRALIAN NUGGET</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BRIT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">BRITANNIA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COIN">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">OTHER COINS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORO">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">AUSTRIAN CORONA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUCA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">DUCAT FOURFOLD SINGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FRFR">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">FRENCH FRANCS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GECU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">GOLDEN ECU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KRUG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">KRUGER RAND</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LBTY">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">LIBERTY DOLLAR</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MAPL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">MAPLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MEXP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">MEXICAN PESO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NBUF">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NEW BUFFALO</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOBL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NOBLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NSOV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">NEW SOVEREIGN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OSOV">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">OLD SOVEREIGN</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAEG">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">SILVER AMERICAN EAGLE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SECU">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">SILVER ECU</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STAT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">STATUE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VREN">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">VRENELI</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_4x_noDoubleSlash_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,4}(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{1,2})?(/)?[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_8x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="8x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_5n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="5n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_2n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="2n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_51_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The (intermediate) opening balance is a credit balance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The (intermediate) opening balance is a debit balance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ea_34_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="FOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Fine Troy Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gross Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GRM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gramme</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KLO">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Kilo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Litre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Lot</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PND">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Pound</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tael</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tola</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TON">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Metric Tonne</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Troy Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_MMDD_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="MMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_2a_4_Type">
		<xs:restriction base="Text_2a_Type">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Credit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Debit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_52_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SWIFT transfer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">For entries related to SWIFT transfer instructions and subsequent charge messages.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Non-SWIFT transfer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">For entries related to payment and transfer instructions, including related charges messages, not sent through SWIFT or where an alpha description is preferred.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">First advice</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">For entries being first advised by the statement (items originated by the account servicing institution).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_3Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_noDoubleSlash_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,16}(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{1,14}){0,7}(/)?[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]{0,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_53_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The (intermediate) closing balance is a credit balance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The (intermediate) closing balance is a debit balance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_54_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The available closing balance is a credit balance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The available closing balance is a debit balance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ea_33_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="FOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Fine Troy Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gross Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GRM">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Gramme</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KLO">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Kilo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Litre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Lot</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTH">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Other</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PND">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Pound</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TAL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tael</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOL">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Tola</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TON">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Metric Tonne</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOZ">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Troy Ounce</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNT">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">Unit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_55_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The forward available balance is a credit balance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">The forward available balance is a debit balance</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_5Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="5!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[A-Z]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ea_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_2a_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="2a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
