WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2014/fin.256.2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jan 29 09:28:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.256.2014" targetNamespace="urn:swift:xsd:fin.256.2014" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT256" type="MT256_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Advice of Non-Payment of Cheques</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is sent by the Receiver of one or more cheque truncation messages. It is used to inform the Sender of (a) previously sent cheque truncation message(s) of the non-payment of specified truncated cheques.
This message may only be used to specify dishonoured items that result in reversing a previous payment settlement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT256_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Common Elements</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Cheque Details</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Settlement Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the instruction.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the Sender's reference of the previously received cheque truncation message.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F44a" type="SeqB_F44a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the transaction reference number of the previously received cheque truncation message, generated by the beneficiary's financial institution, which identifies the transaction that this dishonoured cheque represents.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_1" type="SeqB_F21a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Message Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the Sender's reference of the previously received cheque truncation message in case this MT 256 is informing of the non-payment of cheques in the same currency that were included in different MTs 256.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_2" type="SeqB_F21a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Cheque Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the number of the cheque that has been dishonoured, normally inserted on the cheque by the issuer's financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_3" type="SeqB_F21a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Cheque Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the reference of the cheque, as generated by the beneficiary's financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqB_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Reason for Non-Payment/Dishonour</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field indicates why a cheque was dishonoured.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqB_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Cheque Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the amount specified on the dishonoured cheque.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F37a" type="SeqB_F37a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Rate</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the interest rate to be collected from the Sender of the cheque truncation message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_1" type="SeqB_F71a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the interest charges due to the Sender of the MT 256.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_2" type="SeqB_F71a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the charges due to the Sender of the MT 256, if different from the issuer's financial institution, for the above specified reason.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_3" type="SeqB_F71a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Issuer's Financial Institution Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the charges due to the issuer's financial institution, for the above specified reason.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F32a" type="SeqC_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Value Date, Currency Code and Total Amount Claimed</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date when the recovery of funds is expected to take place, followed by the currency and the total amount to be claimed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="SeqC_F30a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Original Value Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the value date that appeared on the related cheque truncation message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F19a" type="SeqC_F19a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total Cheque Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the sum of all occurrences of field 32J in sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_1" type="SeqC_F71a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sum of Interest Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the sum of all occurrences of field 71G in sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_2" type="SeqC_F71a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sum of Sender's Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the sum of all occurrences of field 71F in sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a_3" type="SeqC_F71a_3_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sum of Issuer's Financial Institution Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the sum of all occurrences of field 71H in sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqC_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Institution (for Settlement)</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the account with institution at which the Sender wants to have the funds (re)credited.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58a" type="SeqC_F58a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary Institution's Account (for Settlement)</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the account number of the financial institution which is the ultimate recipient of the funds being (re)transferred (that is the receiver of the cheque truncation message).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F44a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F44A" type="F44A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="44A"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21D" type="F21D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21D"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21E" type="F21E_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21E"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23E" type="F23E_21_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Code - Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32J" type="F32J_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F37a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F37J" type="F37J_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="37J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71G" type="F71G_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71F" type="F71F_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71H" type="F71H_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71H"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32A" type="F32A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F19a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F19" type="F19_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="19"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F71a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71J" type="F71J_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71J"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F71a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71L" type="F71L_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71L"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F71a_3_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71K" type="F71K_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71K"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_15_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57C" type="F57C_18_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_17_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F58a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F58B" type="F58B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F44A_Type">
		<xs:restriction base="Text_FIN_65x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21D_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21E_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F23E_21_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Code" type="Code_4Ec_218_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Narrative" type="Text_FIN_30x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F32J_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Amount_FIN_15d_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F37J_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Rate_FIN_12d_Type"/>
	</xs:simpleType>
	<xs:complexType name="F71G_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71F_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71H_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F30_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F19_1_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Amount_FIN_17d_Type"/>
	</xs:simpleType>
	<xs:complexType name="F71J_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71L_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71K_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_15_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F57C_18_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F57D_17_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58B_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_65x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="65x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="65"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,65}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_218_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="AMAM">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amount exceeds limit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Amount exceeds the amount limit allowed for this account.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AMTL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amount exceeds limit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Amount exceeds the truncation limit as defined in the bilateral agreement (min. or max. amount).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CLOS">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Closed account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The account specified is closed.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COLN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code line</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Error in code line.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DRAW">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Drawer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Refer to drawer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Duplicate cheque information.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FRAU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Fraudulent cheque</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Fraudulent cheque.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FROZ">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Frozen account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">(Legally) Frozen account.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FRWD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Forward</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Forward dated cheque.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INCH">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Invalid cheque number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The cheque number is invalid.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INSF">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Insufficient funds</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Insufficient funds.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INSI">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Insufficient information</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Insufficient information.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INVA">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Invalid</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Account number is invalid.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NELI">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Not Eligible</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Cheques not eligible for truncation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NMAT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Non-Match</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Currency and account do not match.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Other followed by a bilaterally agreed code to specify a reason which is not covered by the above.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REVO">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Revocation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Revocation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Stale</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Stale cheque, that is, deposited too late relative to the issue date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STOP">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Stop payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Stop payment of a cheque.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rate_FIN_12d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Rate"/>
				<info:FinFormat value="12d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_17d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="17d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
