WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2014/fin.101.2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jan 29 09:28:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.101.2014" targetNamespace="urn:swift:xsd:fin.101.2014" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT101" type="MT101_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Request for Transfer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message is:
sent by a financial institution on behalf of a non-financial institution account owner, to an account servicing financial institution or to a forwarding financial institution for further transmission to the account servicing institution.
sent by a non-financial institution account owner, or a party authorised by the account owner, to an account servicing financial institution or to a forwarding financial institution for further transmission to the account servicing institution.
It is used to move funds from the ordering customer's account(s) serviced at the receiving financial institution or at the account servicing institution, or from an account(s) owned by the ordering customer which the instructing customer has explicit authority to debit, for example, a subsidiary account.
The MT 101 can be used to order the movement of funds:
between ordering customer accounts, or
in favour of a third party, either domestically or internationally.
For use of messages in the corporate to bank environment, see the MT message implementation guide for corporate customers available on www.swift.com.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT101_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">General Information</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Customer Specified Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference to the entire message assigned by either the:
instructing party, when present or
ordering customer, when the instructing party is not present.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F28a" type="SeqA_F28a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Index/Total</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field chains different messages by specifying the sequence number in the total number of messages.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a_1" type="SeqA_F50a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instructing Party</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the customer which is authorised by the account owner/account servicing institution to order all the transactions in the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a_2" type="SeqA_F50a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Ordering Customer</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the account owner whose account is to be debited with all transactions in sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a" type="SeqA_F52a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account Servicing Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the account servicing institution - when other than the Receiver - which services the account of the account owner to be debited. This is applicable even if field 50a Ordering Customer contains an IBAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F51a" type="SeqA_F51a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sending Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the Sender of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F30a" type="SeqA_F30a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Requested Execution Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date on which all subsequent transactions should be initiated by the executing bank.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F25a" type="SeqA_F25a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Authorisation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional security provisions, for example, a digital signature, between the ordering customer/instructing party and the account servicing financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F21a_1" type="SeqB_F21a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the unique reference for the individual transaction contained in a particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a_2" type="SeqB_F21a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">F/X Deal Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the foreign exchange contract reference between the ordering customer and the account servicing financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqB_F23a_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instruction Code</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies instructions to be used between the ordering customer and the account servicer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqB_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency/Transaction Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency and the amount of the subsequent transfer to be executed by the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a_1" type="SeqB_F50a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instructing Party</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the customer which is authorised by the account owner/account servicing institution to order the transactions in this particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50a_2" type="SeqB_F50a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Ordering Customer</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the ordering customer which is the account owner ordering the transaction in the same occurrence of the sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a" type="SeqB_F52a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account Servicing Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the account servicing institution - when other than the Receiver - which services the account of the account owner to be debited. This is applicable even if field 50a Ordering Customer contains an IBAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56a" type="SeqB_F56a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Intermediary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the financial institution through which the transaction must pass to reach the account with institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqB_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the financial institution which services the account for the beneficiary customer. This is applicable even if field 59 or 59A contains an IBAN.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F59a" type="SeqB_F59a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the beneficiary of the subsequent operation from the particular occurrence of sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F70a" type="SeqB_F70a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Remittance Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies details of the individual transactions which are to be transmitted to the beneficiary customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F77a" type="SeqB_F77a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Regulatory Reporting</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the codes for the statutory and/or regulatory information required by the authorities in the country of the Receiver or the Sender/originating customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="SeqB_F33a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency/Original Ordered Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the original currency and amount as specified by the ordering customer.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="SeqB_F71a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details of Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies which party will bear the applicable charges for the subsequent transfer of funds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F25a" type="SeqB_F25a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Charges Account</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the ordering customer's account number to which applicable transaction charges should be separately applied.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F36a" type="SeqB_F36a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Exchange Rate</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the exchange rate applied by the ordering customer/instructing party when converting the original ordered amount to the transaction amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21R" type="F21R_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21R"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F28a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F28D" type="F28D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="28D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Message Index - Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F50a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50C" type="F50C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50L" type="F50L_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50L"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F50a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50F" type="F50F_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50G" type="F50G_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50H" type="F50H_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50H"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F52a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52A" type="F52A_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52C" type="F52C_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F51a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F51A" type="F51A_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="51A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F30a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F30" type="F30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="30"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F25a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F25" type="F25_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="25"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F21a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21F" type="F21F_2_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21F"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23E" type="F23E_14_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Instruction Code - Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F50a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50C" type="F50C_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50L" type="F50L_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50L"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F50a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F50F" type="F50F_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50G" type="F50G_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50G"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F50H" type="F50H_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="50H"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F52a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52A" type="F52A_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52C" type="F52C_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F56a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F56A" type="F56A_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56C" type="F56C_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F56D" type="F56D_12_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="56D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_10_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57C" type="F57C_14_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_13_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F59a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F59" type="F59_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="59"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F59A" type="F59A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="59A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F70a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F70" type="F70_5_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="70"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F77a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F77B" type="F77B_17_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="77B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33B" type="F33B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71A" type="F71A_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F25a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F25A" type="F25A_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="25A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F36a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F36" type="F36_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="36"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21R_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F28D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="MessageIndex" type="Quantity_FIN_5n_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Message Index</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total" type="Quantity_FIN_5n_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F50C_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Identifier_BICNonFI_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F50L_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F50F_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="F50F_10_PartyIdentifier_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="F50F_10_NameAndAddress_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F50G_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F50H_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52A_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F52C_8_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F51A_2_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BIC_Format_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F30_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="DateTime_YYMMDD_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F25_1_Type">
		<xs:restriction base="Text_FIN_35x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21F_2_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F23E_14_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="InstructionCode" type="Code_4Ec_210_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Instruction Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalInformation" type="Text_FIN_30x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Additional Information</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F56A_8_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F56C_8_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F56D_12_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_10_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F57C_14_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F57D_13_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F59_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F59A_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Account" type="Text_FIN_34x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFIOrNonFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F70_5_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F77B_17_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_3M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F71A_8_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code_3Ea_25_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F25A_1_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:SepPrefix value="/"/>
			</xs:appinfo>
			<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_34x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F36_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Rate</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Rate_FIN_12d_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_5n_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="5n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F50F_10_PartyIdentifier_Type">
		<xs:complexContent>
			<xs:extension base="ChoiceDataType">
				<xs:choice>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
						</xs:annotation>
						<xs:element name="Account" type="Identifier_FIN_34x_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepPrefix value="/"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:sequence>
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Code - Country Code - Identifier</xs:documentation>
						</xs:annotation>
						<xs:element name="Code" type="Code_4Ea_13_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepSuffix value="/"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CountryCode" type="Country_Type">
							<xs:annotation>
								<xs:appinfo>
									<info:SepSuffix value="/"/>
								</xs:appinfo>
								<xs:documentation source="Name" xml:lang="EN">Country Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Identifier" type="Identifier_FIN_27x_Type">
							<xs:annotation>
								<xs:documentation source="Name" xml:lang="EN">Identifier</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F50F_10_NameAndAddress_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line 2-5</xs:documentation>
					</xs:annotation>
					<xs:element name="Line2to5" type="Complex_Number_Details_2_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line 2-5</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BIC_Format_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ec_210_Type">
		<xs:restriction base="Text_4Ec_Type">
			<xs:enumeration value="CHQB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Cheque</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Pay beneficiary customer by cheque only. The optional account number line in field 59 must not be used.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CMSW">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Sweep the account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a cash management instruction, requesting to sweep the account of the ordering customer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CMTO">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Top the account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a cash management instruction, requesting to top the account of the ordering customer above a certain floor amount. The floor amount, if not pre-agreed by the parties involved, may be specified after the code.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CMZB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Zero balance the account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a cash management instruction, requesting to zero balance the account of the ordering customer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CORT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Corporate Trade</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Payment is made in settlement of a trade, for example, foreign exchange deal, securities transaction.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EQUI">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Equivalent Amount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains an instruction requesting to pay the beneficiary customer an amount in one currency, equivalent to an instructed amount in a different currency.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INTC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Intra-Company Payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">A payment between two companies belonging to the same group.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NETS">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Net Settlement System</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a payment that should be settled via a net settlement system, if available.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Used for bilaterally agreed codes/information. The actual bilateral code/information needs to be specified in Additional Information.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PHON">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Telephone</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction requires the beneficiary to be contacted by telephone and should be followed by the appropriate telephone number. This code is meant for the last financial institution in the chain.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPA">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Related Payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Payment has a related e-Payments reference.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RTGS">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RTGS Payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a payment that should be settled via a real time gross settlement system, if available.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="URGP">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Urgent Payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">This transaction contains a time-sensitive payment which should be executed in an expeditious manner.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_30x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="30x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFIOrNonFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_3M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="3">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Code_3Ea_25_Type">
		<xs:restriction base="Text_3Ea_Type">
			<xs:enumeration value="BEN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Beneficiary</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">All transaction charges, including the charges of the financial institution servicing the ordering customer's account, for the subsequent credit transfer(s) are to be borne by the beneficiary customer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OUR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Our customer charged</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">All transaction charges for the subsequent credit transfer are to be borne by the ordering customer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SHA">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Shared charges</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">All transaction charges other than the charges of the financial institution servicing the ordering customer account are borne by the beneficiary customer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Rate_FIN_12d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Rate"/>
				<info:FinFormat value="12d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_34x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="34x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_4Ea_13_Type">
		<xs:restriction base="Text_4Ea_Type">
			<xs:enumeration value="ARNU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Alien Registration Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The code followed by a slash, '/' must be followed by the ISO country code, a slash, '/' and the Alien Registration Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCPT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Passport Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The code followed by a slash, '/' must be followed by the ISO country code, a slash, '/' and the Passport Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CUST">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Customer Identification Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The code followed by a slash, '/' must be followed by the ISO country code of the issuer of the number, a slash, '/', the issuer of the number, a slash, '/' and the Customer Identification Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DRLC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Driver's Licence Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The code followed by a slash, '/' must be followed by the ISO country code of the issuing authority, a slash, '/', the issuing authority, a slash, '/' and the Driver's Licence Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EMPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Employer Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The code followed by a slash, '/' must be followed by the ISO country code of the registration authority, a slash, '/', the registration authority, a slash, '/' and the Employer Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NIDN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">National Identity Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The code followed by a slash, '/' must be followed by the ISO country code, a slash, '/' and the National Identity Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SOSE">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Social Security Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The code followed by a slash, '/' must be followed by the ISO country code, a slash, '/' and the Social Security Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TXID">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Tax Identification Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The code followed by a slash, '/' must be followed by the ISO country code, a slash, '/' and the Tax Identification Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Country_Type">
		<xs:restriction base="Text_2Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_27x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="27x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="27"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,27}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Complex_Number_Details_2_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Number - Details</xs:documentation>
					</xs:annotation>
					<xs:element name="Number" type="Code_1En_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Details" type="Text_FIN_33x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_4Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_4Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="4!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[A-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_2Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="2!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1En_6_Type">
		<xs:restriction base="Text_1En_Type">
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Name of the Ordering Customer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The number followed by a slash, '/' must be followed by the name of the ordering customer (where it is recommended that the surname precedes given name(s)).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Address Line</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The number followed by a slash, '/' must be followed by an Address Line (Address Line can be used to provide for example, street name and number, or building name).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Country and Town</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The number followed by a slash, '/' must be followed by the ISO country code, a slash '/' and Town (Town can be complemented by postal code (for example zip), country subdivision (for example state, province, or county).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Date of Birth</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The number followed by a slash, '/' must be followed by the Date of Birth in the YYYYMMDD format.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Place of Birth</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The number followed by a slash, '/' must be followed by the ISO country code, a slash '/' and the Place of Birth.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="6">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Customer Identification Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The number followed by a slash, '/' must be followed by the ISO country code of the issuer of the number, a slash, '/', the issuer of the number, a slash, '/' and the Customer Identification Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="7">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">National Identity Number</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The number followed by a slash, '/' must be followed by the ISO country code, a slash, '/' and the National Identity Number.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Additional Information</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">The number followed by a slash, '/' is followed by information completing one of the following:
the Identifier provided in subfield 1 (Party Identifier) used with the (Code)(Country Code)(Identifier) format.
the Customer Identification Number provided in subfield 2 (Name and Address) with number 6.
the National Identity Number provided in subfield 2 (Name and Address) with number 7.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_33x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="33x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="33"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,33}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="1!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
