WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2014/fin.643.2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jan 29 09:28:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.643.2014" targetNamespace="urn:swift:xsd:fin.643.2014" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT643" type="MT643_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Notice of Drawdown/Renewal</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message type is sent by the agent of the facility to the providers of funds.
It gives notice of the borrower(s)' request for drawdown(s)/renewal(s) on a given date. This request may require the provision of new funds or the reborrowing of previously disbursed funds.
The MT 643 allows for the handling of drawdown(s)/renewal(s) with differing characteristics. It specifies the currency(ies), amount(s), period(s) and interest rate origin(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT643_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="SeqA" type="SeqA_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification of the Facility</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqB" type="SeqB_Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Existing Drawings</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqC" type="SeqC_Type" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">New Drawing(s)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F20a" type="SeqA_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Transaction Reference Number</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the reference assigned by the Sender to unambiguously identify the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="SeqA_F21a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the loan reference number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F23a" type="SeqA_F23a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Further Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field further identifies the type of transaction and the function of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F27a" type="SeqA_F27a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sequence of Total</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the number of this message in the series and the total number of SWIFT messages in the series.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F29a_1" type="SeqA_F29a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the specific location from which the message has been sent within the sending financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F29a_2" type="SeqA_F29a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">To the Attention of</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the specific location for which the message is intended within the receiving financial institution.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F88a" type="SeqA_F88a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Borrower(s)</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the borrower(s).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqA_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Original Facility Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date of the syndicated agreement, followed by the original currency code and total amount of the facility.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F26a" type="SeqB_F26a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Drawing Identification</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies an existing drawing within a tranche.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F31a" type="SeqB_F31a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Drawdown Period</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start date of the past or current drawdown period (that is, existing), the end date of the past or current drawdown period and, optionally, the interest rate origin.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="SeqB_F32a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Repayment of Principal</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date, currency and amount of the maturing drawing which is to be paid back to the Receiver, that is, the participating bank.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="SeqB_F33a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Interest Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the date, currency and interest amount, before any deductions, payable to (option P) or by (option R) the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="SeqB_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details of Adjustments</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains an explanation of any adjustments which have been made to the interest amount in field 33a.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F34a" type="SeqB_F34a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Net Interest Amount</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the date, currency and interest amount, after any adjustments (field 33a less field 71C), due to (option P) or from (option R) the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqB_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution at which the interest and/or principal amount will be paid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqB_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver relative to sequence B.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F26a" type="SeqC_F26a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Drawing Identification (New)</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies a new drawing within a tranche.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a_1" type="SeqC_F32a_1_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Selected Currency</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency code of the currency selected for the drawdown or renewal.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F31a_1" type="SeqC_F31a_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Drawdown Period</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the start date of the new drawdown, the end date of the new interest period and, optionally, the new interest rate origin.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F31a_2" type="SeqC_F31a_2_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Rate Fixing Date</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the dates on which the new interest rate will be fixed and notified. It also specifies the exchange rate fixing date, if different from the interest rate fixing date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a_2" type="SeqC_F32a_2_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount of Drawdown</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency code and total amount of the drawdown.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="SeqC_F33a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiver's Participation</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the currency code and amount of the Receiver's share in the currency of the drawing specified in field 32B.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="SeqC_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Institution</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the financial institution at which the Receiver's participation is to be paid.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="SeqC_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver relative to this sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_8_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F23a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F23" type="F23_47_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="23"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F27a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F27" type="F27_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="27"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number - Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F29a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F29A" type="F29A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="29A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F29a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F29B" type="F29B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="29B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F88a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F88D" type="F88D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="88D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqA_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32A" type="F32A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26P" type="F26P_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F31a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31F" type="F31F_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Start Date - End Date - Origin</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32P" type="F32P_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33P" type="F33P_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33R" type="F33R_4_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71C" type="F71C_24_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71C"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F34a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F34P" type="F34P_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34P"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F34R" type="F34R_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="34R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57B" type="F57B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqB_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_144_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F26a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F26N" type="F26N_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="26N"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F32a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32E" type="F32E_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32E"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F31a_1_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31F" type="F31F_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31F"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Start Date - End Date - Origin</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F31a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F31R" type="F31R_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="31R"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date 1 - Date 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F32a_2_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33B" type="F33B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57B" type="F57B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SeqC_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_144_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_8_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F23_47_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F27_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Number" type="Quantity_FIN_1En_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total" type="Quantity_FIN_1En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Total</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F29A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F29B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F88D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F26P_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Identification" type="Text_FIN_4x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F31F_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="StartDate" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Start Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndDate" type="DateTime_YYMMDD_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">End Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Origin" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="//"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Origin</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32P_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33P_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33R_4_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71C_24_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F34P_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F34R_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_144_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F26N_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Identification" type="Text_FIN_4x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F32E_1_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Currency_Type"/>
	</xs:simpleType>
	<xs:complexType name="F31R_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date1" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date2" type="DateTime_YYMMDD_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepPrefix value="/"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date 2</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_1En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="1!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_4x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
