WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2014/fin.400.2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jan 29 09:28:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.400.2014" targetNamespace="urn:swift:xsd:fin.400.2014" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT400" type="MT400_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Advice of Payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Scope
This message type is sent by the collecting bank to the remitting bank.
It may also be sent:
on behalf of the collecting bank by its branch/affiliate bank to the remitting bank or branch/affiliate of that bank
by a collecting bank to another collecting bank
It is used to advise a payment under a collection or a part thereof and may also be used for the settlement of proceeds. The account relationship between the Sender and the Receiver is used, unless expressly stated otherwise in the message.
This message must never be sent to a bank acting solely as a reimbursement bank. In this case, the appropriate message type is an MT 202 Financial Institution Transfer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT400_Type">
		<xs:complexContent>
			<xs:extension base="MTMessage">
				<xs:sequence>
					<xs:element name="F20a" type="MT400_F20a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sending Bank's TRN</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the collection number which has been assigned by the Sender of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F21a" type="MT400_F21a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Related Reference</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the collection number of the Receiver of the message.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32a" type="MT400_F32a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount Collected</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field contains the maturity date as indicated in the collection instruction, followed by the currency code and the amount of principal paid or to be paid by the drawee.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F33a" type="MT400_F33a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Proceeds Remitted</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the value date, currency code and the amount remitted.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52a" type="MT400_F52a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Ordering Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the collecting branch or affiliate bank on behalf of which the message was sent. It must specify a branch or an affiliate of the Sender.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53a" type="MT400_F53a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender's Correspondent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Where required, this field identifies the account or branch of the Sender, or another bank, through which the Sender will provide the proceeds of the collection to the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F54a" type="MT400_F54a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Receiver's Correspondent</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">Where required, this field specifies the branch of the Receiver, or another bank, at which the proceeds of the collection will be made available to the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57a" type="MT400_F57a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Account With Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the account with bank.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58a" type="MT400_F58a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Beneficiary Bank</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field identifies the Receiver's branch or affiliate that initiated the collection. It is the party which is to be credited with the proceeds of the collection.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F71a" type="MT400_F71a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details of Charges</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the deductions made from the total amount collected (field 32a).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F72a" type="MT400_F72a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Sender to Receiver Information</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies additional information for the Receiver.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F73a" type="MT400_F73a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Details of Amounts Added</xs:documentation>
							<xs:documentation source="Definition" xml:lang="EN">This field specifies the details of amounts added to the amount of principal.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F20a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F20" type="F20_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="20"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F21a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F21" type="F21_11_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="21"/>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F32a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F32A" type="F32A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32B" type="F32B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F32K" type="F32K_6_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="32K"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Day/Month - Number of Days/Months - Code - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F33a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F33A" type="F33A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="33A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Currency - Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F52a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F52A" type="F52A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F52D" type="F52D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="52D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F53a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F53A" type="F53A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53B" type="F53B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F53D" type="F53D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="53D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F54a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F54A" type="F54A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="54A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F54B" type="F54B_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="54B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F54D" type="F54D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="54D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F57a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F57A" type="F57A_9_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F57D" type="F57D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="57D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F58a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F58A" type="F58A_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58A"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58B" type="F58B_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Location</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F58D" type="F58D_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="58D"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier - Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F71a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F71B" type="F71B_30_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="71B"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F72a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F72" type="F72_117_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="72"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT400_F73a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F73" type="F73_17_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="73"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F20_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F21_11_Type">
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F32A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F32K_6_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DayMonth" type="Code_1Ea_45_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Day/Month</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NumberOfDaysMonths" type="Quantity_FIN_3En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Number of Days/Months</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Code" type="Code_2Ea_29_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F33A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Currency" type="Currency_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Amount" type="Amount_FIN_15d_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F52D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F53D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F54A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F54B_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F54D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57A_9_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F57D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58A_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentifierCode" type="Identifier_BICFI_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Identifier Code</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58B_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Location" type="Text_FIN_35x_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Location</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F58D_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="PartyIdentifier" type="Text_PartyId_Type" minOccurs="0">
						<xs:annotation>
							<xs:appinfo>
								<info:SepSuffix value="&#x0d;&#x0a;"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Party Identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameAndAddress" type="Text_FIN_4M35x_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Name and Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F71B_30_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F72_117_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F73_17_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Narrative" type="Text_FIN_6M35x_1_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Narrative</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency_Type">
		<xs:restriction base="Text_3Ea_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Amount_FIN_15d_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Amount"/>
				<info:FinFormat value="15d"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9]+,[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ea_45_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Days</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Period is expressed as a number of days.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Months</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Period is expressed as a number of months.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Quantity_FIN_3En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Quantity"/>
				<info:FinFormat value="3!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_2Ea_29_Type">
		<xs:restriction base="Text_2Ea_Type">
			<xs:enumeration value="BE">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After the date of the bill of exchange.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CC">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After customs clearance of goods.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After goods pass food and drug administration.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FP">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">First presentation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GA">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After arrival of goods.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After invoice date.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After sight.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TD">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">After date of transport documents.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XX">
				<xs:annotation>
					<xs:documentation source="Definition" xml:lang="EN">See field 72 for specification.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_PartyId_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="[/1!a][/34x]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="37"/>
			<xs:pattern value="/(C/|D/)?[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_BICFI_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c[3!c]"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_4M35x_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="4">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_FIN_35x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="35x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text_FIN_6M35x_1_Type">
		<xs:complexContent>
			<xs:extension base="ComplexDataType">
				<xs:sequence>
					<xs:annotation>
						<xs:appinfo>
							<info:Separator value="&#x0d;&#x0a;"/>
						</xs:appinfo>
						<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
					</xs:annotation>
					<xs:element name="Line" type="Text_FIN_35x_Type" maxOccurs="6">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Line</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_3Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_2Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="2!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
