WmFIN/pub/resources/SDK_MT_XML_Schema_Library/2014/fin.061.2014.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.

-->
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Jan 29 09:28:23-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.061.2014" targetNamespace="urn:swift:xsd:fin.061.2014" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="QualifierGroup" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT061" type="MT061_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Select Status Report for FIN</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT061_Type">
		<xs:complexContent>
			<xs:extension base="SystemMessage">
				<xs:sequence>
					<xs:element name="F202a" type="MT061_F202a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">section number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F203a" type="MT061_F203a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">total sections</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F206a" type="MT061_F206a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">value date ordering</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F348a" type="MT061_F348a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">subset sharing</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Loop1" type="Loop1_Type" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT061_F202a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F202" type="F202_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="202"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">SectionNumber</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT061_F203a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F203" type="F203_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="203"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">TotalSections</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT061_F206a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F206" type="F206_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="206"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">ValueDateOrdering</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT061_F348a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F348" type="F348_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="348"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">SubsetsSharing</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F305a" type="Loop1_F305a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">lt code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F337a" type="Loop1_F337a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">lt select status</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F208a" type="Loop1_F208a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">lt directed queue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F338a" type="Loop1_F338a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">delivery subset list</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F116a" type="Loop1_F116a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">value date today</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F118a" type="Loop1_F118a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">lt subsets shared flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F202_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SectionNumber</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_4En_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F203_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">TotalSections</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_4En_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F206_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ValueDateOrdering</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Indicator_1Ea_6_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F348_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SubsetsSharing</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code_1Ec_1_Type"/>
	</xs:simpleType>
	<xs:complexType name="Loop1_F305a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F305" type="F305_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="305"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTCode</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F337a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F337" type="F337_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="337"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTSelectStatus</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F208a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F208" type="F208_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="208"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTDirectedQueue</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F338a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F338" type="F338_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="338"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">DeliverySubsetName</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F116a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F116" type="F116_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="116"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">ValueDateToday</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Loop1_F118a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F118" type="F118_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="118"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">LTSubsetsSharedFlag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_4En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="4!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_6_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_1Ec_1_Type">
		<xs:restriction base="Text_1Ec_Type">
			<xs:enumeration value="N"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="L"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="F305_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LTCode</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_1Ec_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F337_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LTSelectStatus</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code_2Ea_3_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F208_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LTDirectedQueue</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Indicator_1Ea_6_Type"/>
	</xs:simpleType>
	<xs:complexType name="F338_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DeliverySubsetName" type="Text_FIN_6Ec_Type" maxOccurs="30">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">DeliverySubsetName</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F116_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ValueDateToday</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Indicator_1Ea_6_Type"/>
	</xs:simpleType>
	<xs:simpleType name="F118_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LTSubsetsSharedFlag</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Indicator_1Ea_34_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Indicator"/>
				<info:FinFormat value="1!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_1Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="1!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_1Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="1!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_2Ea_3_Type">
		<xs:restriction base="Text_2Ea_Type">
			<xs:enumeration value="YN"/>
			<xs:enumeration value="NY"/>
			<xs:enumeration value="YY"/>
			<xs:enumeration value="NN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_6Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="6!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9A-Z]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Indicator_1Ea_34_Type">
		<xs:restriction base="Text_1Ea_Type">
			<xs:enumeration value="Y"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_2Ea_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="2!a"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="2"/>
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
