WmHL7/data/xsd/wm.ip.hl7.docType/v231/MFN_M08.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v231  - MFN_M08    Copyright (c) 1999-2003, Health Level Seven. All rights reserved.--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v231xml" targetNamespace="urn:hl7-org:v231xml">	<!-- include segment definitions for version v231 -->	<xsd:include schemaLocation="segments.xsd"/>	<!--    MESSAGE MFN_M08-->	<!-- .. groups used in message MFN_M08 -->	<xsd:complexType name="MFN_M08.MF_TEST_NUMERIC.CONTENT">		<xsd:sequence>			<xsd:element ref="MFE" minOccurs="1" maxOccurs="1" />			<xsd:element ref="OM1" minOccurs="0" maxOccurs="1" />			<xsd:element ref="MFN_M08.MF_NUMERIC_OBSERVATION" minOccurs="0" maxOccurs="1" />		</xsd:sequence>	</xsd:complexType>	<xsd:element name="MFN_M08.MF_TEST_NUMERIC" type="MFN_M08.MF_TEST_NUMERIC.CONTENT"/>	<xsd:complexType name="MFN_M08.MF_NUMERIC_OBSERVATION.CONTENT">		<xsd:sequence>			<xsd:element ref="OM2" minOccurs="0" maxOccurs="1" />			<xsd:element ref="OM3" minOccurs="0" maxOccurs="1" />			<xsd:element ref="OM4" minOccurs="0" maxOccurs="1" />		</xsd:sequence>	</xsd:complexType>	<xsd:element name="MFN_M08.MF_NUMERIC_OBSERVATION" type="MFN_M08.MF_NUMERIC_OBSERVATION.CONTENT"/>	<!-- .. message definition MFN_M08 -->	<xsd:complexType name="MFN_M08.CONTENT">		<xsd:sequence>			<xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />			<xsd:element ref="MFI" minOccurs="1" maxOccurs="1" />			<xsd:element ref="MFN_M08.MF_TEST_NUMERIC" minOccurs="1" maxOccurs="unbounded" />		</xsd:sequence>	</xsd:complexType>	<xsd:element name="MFN_M08" type="MFN_M08.CONTENT"/></xsd:schema>